<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>
    <body class="film-location film-details">
        <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
<![endif]-->
        <noscript>
            <h3>Please enable JavaScript in order to view this site properly.</h3>
        </noscript>
        <%- include(`${partials}/nav`); -%>
        <main class="mb-4 mt-5">
            <div class="container px-4 px-lg-5">
                     <%- include(`${partials}/autocomplete`); -%>
                <div class="row align-items-md-stretch">
                    <div class="col-md-12">
                        <div class="card mb-3" id="film-details">
                            <div class="row g-0">
                                <div class="col-md-8 px-3 py-3">
                                    <div class="card-body">
                                        <h3 class="card-title">Saving Private Ryan</h3>
                                        <p class="card-text mb-0">
                                            <span id="mainPlotContent">Following the Normandy Landings, a group of U.S. soldiers go behind enemy lines to retrieve a paratrooper whose brothers have been killed in action. Opening with the Allied invasion of Normandy on 6 June 1944, members of the 2nd Ranger Battalion under Cpt. Miller fight ashore to secure a beachhead. Amidst the fighting, two brothers are killed in action. Earlier in New Guinea, a third brother is KIA. Their mother, Mrs. Ryan, is to receive all three of the grave telegrams on the same day. The United States Army Chief of Staff, George C. Marshall, is given an opportunity to alleviate some of her grief when he learns of a fourth brother, Private James Ryan, and decides to send out 8 men (Cpt. Miller and select members from 2nd Rangers) to find ...</span>
                                                
                                                    <div class="collapse" id="movieLocationCollapsible">
                                                        <div id = "module"></div>
                                                        <span id="metaPlotContent"class="additional-information">him and bring him back home to his mother... J.Zelman After the invasion of fortress Europe on June 6th 1944, Cpt. Miller leads his squad from the 2nd Ranger Battalion of the 29th Infantry Division, on a mission to find and bring home Private James Francis Ryan after the death of his brothers. The mission takes them through Nazi occupied territory to establish contact with Ryan's unit, an element of the 101st Airborne Division. This exciting war thriller brings the reality of history's bloodiest war into the homes of ordinary people, but also brings to light the reality of broken and lost families in a time of total and encompassing war. Pvt. Maher, HHC 29th Aviation Brigade, 29th Infantry Division, Aberdeen Proving Grounds, MD The film opens with the Allied invasion on the Normandy beach on June 6, 1944. Cpt. Miller and members of the 2nd Ranger Battalion fight to secure the beachhead. During the invasion, two brothers are killed in action. Earlier, the third brother was killed in New Guinea. The mother of the brothers is about to recieve the grave telegrams at the same day. The United States Army Chief of Staff, George C. Marshall, is given an opportunity to alleviate some of her grief when he finds out that there was also a fourth brother, Private James Ryan, who went missing somewhere in France. He sends Cpt. Miller and seven other people from the 2nd Ranger Battalion to go look for him and bring him back to his mother. ahmetkozan During WWII, Chief of Staff, General Marshall is informed that three of a woman's sons have been killed and that she's going to receive the notifications of their demise at the same time. And when he learns that a fourth son is still unaccounted for, the General decides to send a unit to find him and bring him back, despite being told that it's highly unlikely that he is still alive and the area that he was known to be at is very dangerous. So the unit consisting of 8 men are sent to find him but as stated it's very dangerous and one by one, they are picked off. Will they find him and how many of them will still be alive? rcs0411@yahoo.com Following the Allied invasion of Normandy, two brothers lay dead in the wake of the onslaught. Meanwhile, in New Guinea, a third brother has been killed fighting the Japanese. After the Army General Staff learns that a fourth brother is missing in the French countryside, a rescue mission is ordered to find the young soldier and return him safely home. The mission is mounted by a veteran Ranger Captain commanding a squad of men who have mixed feelings about risking their lives to  Save Private Ryan . Anthony Hughes <husnock31@hotmail.com></span>
                                                    </div>
                                                    <p>
                                                        <a class="btn btn-link show-more-less collapsed"
                                                               id="myCollapsibleBtn"
                                                      
                                                           role="button"
                                                       >
                                                        </a>
                                                    </p>
                                                
                                            </p>
                                    </div>
                                </div>
                                <div class="col-md-4 justify-self-end">
                                        <img src="https://m.media-amazon.com/images/M/MV5BZjhkMDM4MWItZTVjOC00ZDRhLThmYTAtM2I5NzBmNmNlMzI1XkEyXkFqcGdeQXVyNDYyMDk5MTU@.jpg"
                                             class="img-fluid rounded-start"
                                             alt="Saving Private Ryan"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="map-container">
                        <div id="map"></div>
                        <div id="loader">
                            <div class="spinner-border" role="status">
                                <span class="sr-only d-none">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr class="table__header">
                        <th class="table__cell">Location</th>
                        <th class="table__cell">Coordiantes</th>
                    </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Curracloe Beach, Ravens Point, Ardcolm, Wexford Y21, Ireland</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">52.387879</span>, <span class="lon">-6.368052</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Hatfield Business Park, Hatfield, England AL10 9AX, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.765464</span>, <span class="lon">-0.244137</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Wexford, Ireland</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">52.5</span>, <span class="lon">-6.66667</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Hatfield, Hertfordshire, England, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.763468</span>, <span class="lon">-0.225874</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Thame Park Road, Thame, OX9 3JA, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.732321</span>, <span class="lon">-0.9749103</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Calvados, France</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">49.03333</span>, <span class="lon">0.25</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">London, Greater London, England, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.515618</span>, <span class="lon">-0.091998</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">England, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">52.38145972</span>, <span class="lon">-0.676181762467007</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">54.2379333607472</span>, <span class="lon">-2.36966957036279</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Ireland</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">53.3054943871234</span>, <span class="lon">-7.73764888796793</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">France</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">47.8249046208979</span>, <span class="lon">2.61878695312962</span></a>
                            </td>
                        </tr>
                    </tr>
            </table>
        </div>
    </div>
</main>
    <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>

<script type="text/javascript">
var locations =[{"bbox": [[51.732321, -0.9749103], [51.763468, -0.225874], [51.765464, -0.244137]], "data": [{"lat": 52.387879, "lon": -6.368052, "name": "Curracloe Beach, Ravens Point, Ardcolm, Wexford Y21, Ireland"}, {"lat": 51.765464, "lon": -0.244137, "name": "Hatfield Business Park, Hatfield, England AL10 9AX, United Kingdom"}, {"lat": 52.5, "lon": -6.66667, "name": "Wexford, Ireland"}, {"lat": 51.763468, "lon": -0.225874, "name": "Hatfield, Hertfordshire, England, United Kingdom"}, {"lat": 51.732321, "lon": -0.9749103, "name": "Thame Park Road, Thame, OX9 3JA, United Kingdom"}, {"lat": 49.03333, "lon": 0.25, "name": "Calvados, France"}, {"lat": 51.515618, "lon": -0.091998, "name": "London, Greater London, England, United Kingdom"}, {"lat": 52.38145972, "lon": -0.676181762467007, "name": "England, United Kingdom"}, {"lat": 54.2379333607472, "lon": -2.36966957036279, "name": "United Kingdom"}, {"lat": 53.3054943871234, "lon": -7.73764888796793, "name": "Ireland"}, {"lat": 47.8249046208979, "lon": 2.61878695312962, "name": "France"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
</body>
</html>