<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>
    <body class="film-location film-details">
        <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
<![endif]-->
        <noscript>
            <h3>Please enable JavaScript in order to view this site properly.</h3>
        </noscript>
        <%- include(`${partials}/nav`); -%>
        <main class="mb-4 mt-5">
            <div class="container px-4 px-lg-5">
                <%- include(`${partials}/autocomplete`); -%>
                <div class="row align-items-md-stretch">
                    <div class="col-md-12">
                        <div class="card mb-3" id="film-details">
                            <div class="row g-0">
                                <div class="col-md-8 px-3 py-3">
                                    <div class="card-body">
                                        <h3 class="card-title">Jurassic Park</h3>
                                        <p class="card-text mb-0">
                                            <span id="mainPlotContent"> A pragmatic paleontologist touring an almost complete theme park on an island in Central America is tasked with protecting a couple of kids after a power failure causes the park's cloned dinosaurs to run loose. Huge advancements in scientific technology have enabled a mogul to create an island full of living dinosaurs. John Hammond has invited four individuals, along with his two grandchildren, to join him at Jurassic Park. But will everything go according to plan? A park employee attempts to steal dinosaur embryos, critical security systems are shut down and it now becomes a race for survival with dinosaurs roaming freely over the island. Film_Fan On Isla Nublar, a new park has just been built with genetically engineered dinosaurs. Tragedy... </span>
                                                
                                                    <div class="collapse" id="movieLocationCollapsible">
                                                        <span id="metaPlotContent"class="additional-information">  strikes when one of the workers is killed by a velociraptor. The founder of the park, John Hammond, (Sir Richard Attenborough) requests Paleontologist Dr. Alan Grant (Sam Neill) and his assistant, Dr. Ellie Sattler (Laura Dern) to come to the park and ensure that it is safe. Also joining them are Hammond's lawyer Donald Gennaro (Martin Ferrero) and chaotician Dr. Ian Malcolm (Jeff Goldblum). When they reach the island, they are amazed to discover that Hammond has created living dinosaurs. However, at the same time, they all have their doubts. Later, Hammond's grandchildren Lex and Tim (Ariana Richards and Joseph Mazzello) join the group in a tour of the park. Sattler leaves the tour to take care of an ill triceratops. Soon the power in the park is shut down by computer systems geek Dennis Nedry (Wayne Knight), who wishes to steal embryos from the park to sell to a secret buyer. In the process, many dinosaurs escape their paddocks, including the deadly Tyrannosaurus Rex, who, during a thunderstorm, escapes his paddock and attacks the children, and eats Gennaro. Malcolm is injured and Grant and the children are then lost in the park. Meanwhile, Hammond, Sattler, and the rest of the operations team learn that Nedry (who in the meantime has been killed) has locked up the computer system to cover his tracks. They attempt to get power back in the park in order to escape the island. After shutting down the system, then restoring it, the group realizes that velociraptors are also on the loose, and are now on the hunt for the visitors. ahmetkozan Paleontologists Alan Grant and Ellie Sattler and mathematician Ian Malcolm are among a select group chosen to tour an island theme park populated by dinosaurs created from prehistoric DNA. While the park's mastermind, billionaire John Hammond, assures everyone that the facility is safe, they find out otherwise when various ferocious predators break free and go on the hunt. Jwelch5742 In high hopes of putting the investors' minds at ease, John Hammond--the visionary billionaire entrepreneur, and founder of the bio-engineering company, InGen--calls in three experts to witness the wonders of the first-ever dinosaur preserve. There, in the isolated island of Isla Nublar, the visitors' wide-eyed excitement will soon turn into pure horror, when the palaeontologist, Dr Alan Grant, the palaeobotanist, Dr Ellie Sattler, and the cynical mathematician, Dr Ian Malcolm, come face-to-face with ferocious primaeval reptiles on the loose, after a devastating malfunction. Now, the ultimate apex-predator, the Tyrannosaurus Rex, is on the hunt for fresh meat. Can they escape from the terrors of Jurassic Park? Nick Riganas On a remote island, a wealthy entrepreneur secretly creates a theme park featuring living dinosaurs drawn from prehistoric DNA. Before opening the attraction to the public, he invites a top paleontologist, a paleobotanist, a mathematician/theorist, and his two eager grandchildren to experience the park, and help calm anxious investors. However, their park visit is anything but tranquil as the park's security system breaks down, the prehistoric creatures break out, and the excitement builds to surprising results. Robert Lynch  </span>
                                                    </div>
                                                    <p>
                                                        <a class="btn btn-link show-more-less collapsed"
                                                           id="myCollapsibleBtn"
                                                           role="button"></a>
                                                    </p>
                                                
                                            </p>
                                    </div>
                                </div>
                                <div class="col-md-4 justify-self-end">
                                        <img src="https://m.media-amazon.com/images/M/MV5BMjM2MDgxMDg0Nl5BMl5BanBnXkFtZTgwNTM2OTM5NDE@.jpg"
                                             class="img-fluid rounded-start"
                                             alt="Jurassic Park"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="map-container">
                        <div id="map"></div>
                        <div id="loader">
                            <div class="spinner-border" role="status">
                                <span class="sr-only d-none">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr class="table__header">
                        <th class="table__cell">Location</th>
                        <th class="table__cell">Coordiantes</th>
                    </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Tehachapi Pass, Highway 58, Tehachapi, California 93561, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">35.121946</span>, <span class="lon">-118.402764</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Hanapepe, Hawaii, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">21.911361</span>, <span class="lon">-159.586997</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Kamehameha Highway, Kaaawa, Hawaii 96730, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">21.52675</span>, <span class="lon">-157.834535878378</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Kilauea, Hawaii, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">22.208782</span>, <span class="lon">-159.407764</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Burbank, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.181648</span>, <span class="lon">-118.325855</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Kauai County, Hawaii, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">22.06667</span>, <span class="lon">-159.65</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Universal City Plz, Universal City, California 91608, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.1379</span>, <span class="lon">-118.3613</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Red Rock Canyon State Park, 37749 Abbott Dr., Cantil, California 93519, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">35.380933</span>, <span class="lon">-117.982006</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Olokele, Hawaii, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">21.919754</span>, <span class="lon">-159.624547</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Lawai, Hawaii, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">21.924276</span>, <span class="lon">-159.502362</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Universal City Plz, Universal City, California 91608, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.1379</span>, <span class="lon">-118.3613</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">National Tropical Botanical Garden, 4425 Lāwa'i Road, Koloa, Hawaii 96756, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">21.886876</span>, <span class="lon">-159.492789</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Griffith, Los Angeles, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.112044</span>, <span class="lon">-118.260871</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Universal City Plz, Universal City, California 91608, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.1379</span>, <span class="lon">-118.3613</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Universal City Plz, Universal City, California 91608, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.1379</span>, <span class="lon">-118.3613</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">37.0743595873</span>, <span class="lon">-119.699375153073</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Hawaii, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">21.31139</span>, <span class="lon">-157.79639</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Ho'opi'i Falls, End of Kapahi rd, Kapaa, Hawaii 96746, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">22.106353499999997</span>, <span class="lon">-159.343707</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Kauai County, Hawaii, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">22.06667</span>, <span class="lon">-159.65</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Kauai County, Hawaii, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">22.06667</span>, <span class="lon">-159.65</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Universal City Plz, Universal City, California 91608, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.1379</span>, <span class="lon">-118.3613</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">4000 Warner Boulevard, Burbank, California 91522, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.150955</span>, <span class="lon">-118.339232</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">4000 Warner Boulevard, Burbank, California 91522, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.150955</span>, <span class="lon">-118.339232</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">39.3812661305678</span>, <span class="lon">-97.9222112121185</span></a>
                            </td>
                        </tr>
                    </table>
            </div>
        </main>
        <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>
        <script type="text/javascript">
var locations =[{"bbox": [[21.886876, -159.492789], [21.911361, -159.586997], [21.919754, -159.624547]], "data": [{"lat": 35.121946, "lon": -118.402764, "name": "Tehachapi Pass, Highway 58, Tehachapi, California 93561, United States"}, {"lat": 21.911361, "lon": -159.586997, "name": "Hanapepe, Hawaii, United States"}, {"lat": 21.52675, "lon": -157.834535878378, "name": "Kamehameha Highway, Kaaawa, Hawaii 96730, United States"}, {"lat": 22.208782, "lon": -159.407764, "name": "Kilauea, Hawaii, United States"}, {"lat": 34.181648, "lon": -118.325855, "name": "Burbank, California, United States"}, {"lat": 22.06667, "lon": -159.65, "name": "Kauai County, Hawaii, United States"}, {"lat": 34.1379, "lon": -118.3613, "name": "Universal City Plz, Universal City, California 91608, United States"}, {"lat": 35.380933, "lon": -117.982006, "name": "Red Rock Canyon State Park, 37749 Abbott Dr., Cantil, California 93519, United States"}, {"lat": 21.919754, "lon": -159.624547, "name": "Olokele, Hawaii, United States"}, {"lat": 21.924276, "lon": -159.502362, "name": "Lawai, Hawaii, United States"}, {"lat": 34.1379, "lon": -118.3613, "name": "Universal City Plz, Universal City, California 91608, United States"}, {"lat": 21.886876, "lon": -159.492789, "name": "National Tropical Botanical Garden, 4425 L\u0101wa\u0027i Road, Koloa, Hawaii 96756, United States"}, {"lat": 34.112044, "lon": -118.260871, "name": "Griffith, Los Angeles, California, United States"}, {"lat": 34.1379, "lon": -118.3613, "name": "Universal City Plz, Universal City, California 91608, United States"}, {"lat": 34.1379, "lon": -118.3613, "name": "Universal City Plz, Universal City, California 91608, United States"}, {"lat": 37.0743595873, "lon": -119.699375153073, "name": "California, United States"}, {"lat": 21.31139, "lon": -157.79639, "name": "Hawaii, United States"}, {"lat": 22.106353499999997, "lon": -159.343707, "name": "Ho\u0027opi\u0027i Falls, End of Kapahi rd, Kapaa, Hawaii 96746, United States"}, {"lat": 22.06667, "lon": -159.65, "name": "Kauai County, Hawaii, United States"}, {"lat": 22.06667, "lon": -159.65, "name": "Kauai County, Hawaii, United States"}, {"lat": 34.1379, "lon": -118.3613, "name": "Universal City Plz, Universal City, California 91608, United States"}, {"lat": 34.150955, "lon": -118.339232, "name": "4000 Warner Boulevard, Burbank, California 91522, United States"}, {"lat": 34.150955, "lon": -118.339232, "name": "4000 Warner Boulevard, Burbank, California 91522, United States"}, {"lat": 39.3812661305678, "lon": -97.9222112121185, "name": "United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                          
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
        </script>
    </body>
</html>