<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>
    <body class="film-location film-details">
        <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
<![endif]-->
        <noscript>
            <h3>Please enable JavaScript in order to view this site properly.</h3>
        </noscript>
        <%- include(`${partials}/nav`); -%>
        <main class="mb-4 mt-5">
            <div class="container px-4 px-lg-5">
                     <%- include(`${partials}/autocomplete`); -%>
                <div class="row align-items-md-stretch">
                    <div class="col-md-12">
                        <div class="card mb-3" id="film-details">
                            <div class="row g-0">
                                <div class="col-md-8 px-3 py-3">
                                    <div class="card-body">
                                        <h3 class="card-title">Amadeus</h3>
                                        <p class="card-text mb-0">
                                            <span id="mainPlotContent">The life, success and troubles of Wolfgang Amadeus Mozart, as told by Antonio Salieri, the contemporaneous composer who was insanely jealous of Mozart's talent and claimed to have murdered him. Antonio Salieri believes that Wolfgang Amadeus Mozart's music is divine and miraculous. He wishes he was himself as good a musician as Mozart so that he can praise the Lord through composing. He began his career as a devout man who believes his success and talent as a composer are God's rewards for his piety. He's also content as the respected, financially well-off, court composer of Austrian Emperor Joseph II. But he's shocked to learn that Mozart is such a vulgar creature, and can't understand why God favored Mozart to be his instrument. Salieri's ...</span>
                                                
                                                    <div class="collapse" id="movieLocationCollapsible">
                                                        <div id = "module"></div>
                                                        <span id="metaPlotContent"class="additional-information">envy has made him an enemy of God whose greatness was evident in Mozart. He is ready to take revenge against God and Mozart for his own musical mediocrity. Khaled Salem Claiming to have murdered the composer Wolfgang Amadeus Mozart, the elderly Antonio Salieri recounts to a priest his dealings with the brilliant composer. Salieri was court composer to Austrian Emperor Joseph II when Mozart and he first met. The Emperor, a major patron of the arts, immediately commissioned Mozart to write an opera in German, rather than the customary Italian. Mozart is childish, arrogant, annoying and brilliant all at once and Salieri is simultaneously in awe and green with envy at his genius. Salieri uses Mozart's difficult relationship with his father and his guilt over being a bad son to drive him slightly mad and into a downward spiral of ill health, leading to his death. garykmcd It is the early 19th century. An old man is thrown into an insane asylum after trying to commit suicide. He is Antonio Salieri and in the asylum he is visited by a priest, to whom he confesses that he killed Mozart. He then recounts his time as court composer to Emperor Joseph II of Austria. Mozart appears at the court and is hired by the Emperor to produce an opera. His genius is quite evident. Salieri is a devout Christian man and believes all musical talent and inspiration is given by God. Mozart's personal life and extracurricular activities appall Salieri. He cannot reconcile Mozart's talent and his lifestyle and sets out to drive him from the court. Initially his aim is to undermine him but over time his intentions turn deadlier. grantss Wolfgang Amadeus Mozart is a remarkably talented young Viennese composer who unwittingly finds a fierce rival in the disciplined and determined Antonio Salieri. Resenting Mozart for both his hedonistic lifestyle and his undeniable talent, the highly religious Salieri is gradually consumed by his jealousy and becomes obsessed with Mozart's downfall, leading to a devious scheme that has dire consequences for both men. Jwelch5742</span>
                                                    </div>
                                                    <p>
                                                        <a class="btn btn-link show-more-less collapsed"
                                                               id="myCollapsibleBtn"
                                                      
                                                           role="button"
                                                       >
                                                        </a>
                                                    </p>
                                                
                                            </p>
                                    </div>
                                </div>
                                <div class="col-md-4 justify-self-end">
                                        <img src="https://m.media-amazon.com/images/M/MV5BNWJlNzUzNGMtYTAwMS00ZjI2LWFmNWQtODcxNWUxODA5YmU1XkEyXkFqcGdeQXVyNTIzOTk5ODM@.jpg"
                                             class="img-fluid rounded-start"
                                             alt="Amadeus"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="map-container">
                        <div id="map"></div>
                        <div id="loader">
                            <div class="spinner-border" role="status">
                                <span class="sr-only d-none">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr class="table__header">
                        <th class="table__cell">Location</th>
                        <th class="table__cell">Coordiantes</th>
                    </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Barrandov Studio, Kříženeckého nám. 322/5, Praha, Prague 152 00, Czech Republic</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">50.030452</span>, <span class="lon">14.389362</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Hradčany, 118 00 Praha, Prague, Czech Republic</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">50.092523</span>, <span class="lon">14.399833</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Wiedner Gürtel 1, 1030 Landstraße, Austria</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">48.188391</span>, <span class="lon">16.381205</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Papírna Plzeň, Zahradní 173, Plzeň, Plzeň 326 00, Czech Republic</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">49.736389</span>, <span class="lon">13.38549</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Hradčanské Náměstí, 118 00 Praha, Prague, Czech Republic</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">50.0892588</span>, <span class="lon">14.3977872</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Ovocný Trh, 110 00 Praha, Prague, Czech Republic</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">50.0866138</span>, <span class="lon">14.4245461</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Hradčany, 289 05 Hradčany, Central Bohemian, Czech Republic</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">50.158221</span>, <span class="lon">15.270099</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Praha, Prague, Czech Republic</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">50.087465</span>, <span class="lon">14.421253</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Praha, Prague, Czech Republic</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">50.087465</span>, <span class="lon">14.421253</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Praha, Prague, Czech Republic</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">50.087465</span>, <span class="lon">14.421253</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Monte Argentario, Grosseto, Italy</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">42.407352</span>, <span class="lon">11.150384</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Zámek Ratibořice, Ratibořice 1, Česká Skalice, Hradec Králové 552 03, Czech Republic</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">50.415659</span>, <span class="lon">16.051871</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Praha, Prague, Czech Republic</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">50.087465</span>, <span class="lon">14.421253</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Malá Strana, 118 00 Praha, Prague, Czech Republic</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">50.08732</span>, <span class="lon">14.406851</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Château de Guermantes, Château de Guermantes, Guermantes, Seine-et-Marne 77600, France</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">48.852973500000004</span>, <span class="lon">2.6978355</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Kroměříž, Zlín, Czech Republic</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">49.298419</span>, <span class="lon">17.39298</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">France</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">47.8249046208979</span>, <span class="lon">2.61878695312962</span></a>
                            </td>
                        </tr>
                    </tr>
            </table>
        </div>
    </div>
</main>
    <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>

<script type="text/javascript">
var locations =[{"bbox": [[50.030452, 14.389362], [50.0866138, 14.4245461], [50.08732, 14.406851]], "data": [{"lat": 50.030452, "lon": 14.389362, "name": "Barrandov Studio, K\u0159\u00ed\u017eeneck\u00e9ho n\u00e1m. 322/5, Praha, Prague 152 00, Czech Republic"}, {"lat": 50.092523, "lon": 14.399833, "name": "Hrad\u010dany, 118 00 Praha, Prague, Czech Republic"}, {"lat": 48.188391, "lon": 16.381205, "name": "Wiedner G\u00fcrtel 1, 1030 Landstra\u00dfe, Austria"}, {"lat": 49.736389, "lon": 13.38549, "name": "Pap\u00edrna Plze\u0148, Zahradn\u00ed 173, Plze\u0148, Plze\u0148 326 00, Czech Republic"}, {"lat": 50.0892588, "lon": 14.3977872, "name": "Hrad\u010dansk\u00e9 N\u00e1m\u011bst\u00ed, 118 00 Praha, Prague, Czech Republic"}, {"lat": 50.0866138, "lon": 14.4245461, "name": "Ovocn\u00fd Trh, 110 00 Praha, Prague, Czech Republic"}, {"lat": 50.158221, "lon": 15.270099, "name": "Hrad\u010dany, 289 05 Hrad\u010dany, Central Bohemian, Czech Republic"}, {"lat": 50.087465, "lon": 14.421253, "name": "Praha, Prague, Czech Republic"}, {"lat": 50.087465, "lon": 14.421253, "name": "Praha, Prague, Czech Republic"}, {"lat": 50.087465, "lon": 14.421253, "name": "Praha, Prague, Czech Republic"}, {"lat": 42.407352, "lon": 11.150384, "name": "Monte Argentario, Grosseto, Italy"}, {"lat": 50.415659, "lon": 16.051871, "name": "Z\u00e1mek Ratibo\u0159ice, Ratibo\u0159ice 1, \u010cesk\u00e1 Skalice, Hradec Kr\u00e1lov\u00e9 552 03, Czech Republic"}, {"lat": 50.087465, "lon": 14.421253, "name": "Praha, Prague, Czech Republic"}, {"lat": 50.08732, "lon": 14.406851, "name": "Mal\u00e1 Strana, 118 00 Praha, Prague, Czech Republic"}, {"lat": 48.852973500000004, "lon": 2.6978355, "name": "Ch\u00e2teau de Guermantes, Ch\u00e2teau de Guermantes, Guermantes, Seine-et-Marne 77600, France"}, {"lat": 49.298419, "lon": 17.39298, "name": "Krom\u011b\u0159\u00ed\u017e, Zl\u00edn, Czech Republic"}, {"lat": 47.8249046208979, "lon": 2.61878695312962, "name": "France"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
</body>
</html>