<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/head`, {pageTitle: 'page'}); -%>

<body>
  <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
  <noscript>
    <h3>Please enable JavaScript in order to view this site properly.</h3>
  </noscript>
  <%- include(`${partials}/nav`); -%>
  <!--   !! MAIN -------------------------->
  <main class="flex-shrink-0 mt-5">
    <div class="container px-3">
      <div class="row g-3 ">
        <div class="col-md-4">
          <%- include(`${partials}/general/header`, {title: 'Weather ', subtitle: 'Lookup up the weather for any location'}); -%>
          <%- include(`${partials}/form/inputs`,{
                  inputName: [
                    { name: 'Address',  type: 'search' },
                  ], 
                formid: "findWeatherForm",
                button: {name: 'Find', type: 'submit' },
                output: null
                }); -%>
           
          <%- include(`${partials}/form/inputs`,{
                  inputName: [
                    { name: 'Latitude',  type: 'number' },
                     { name: 'Longitude',  type: 'number' },
                  ], 
                formid: "latlonForm",
                button: {name: 'Find', type: 'submit' },
                output: null
                }); -%>

                <div class="row mb-3">
                  <div
                    id="liveAlertPlaceholder"
                    class="weather-alert-placeholder"
                  >
  
                <div class="alerts mt-1">
  
  
  
                </div>
                </div>
                </div>
        </div>
        <%- include(`${partials}/map/map-Container.ejs`); -%>
      </div>
      <%- include(`${partials}/comment-section.ejs`); -%>
    </div>
  </main>

  <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/weather-scripts`); -%>
</body>

</html>
<!-- IE needs 512+ bytes: http://blogs.msdn.com/b/ieinternals/archive/2010/08/19/http-error-pages-in-internet-explorer.aspx -->