<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>
    <body class="film-location film-details">
        <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
<![endif]-->
        <noscript>
            <h3>Please enable JavaScript in order to view this site properly.</h3>
        </noscript>
        <%- include(`${partials}/nav`); -%>
        <main class="mb-4 mt-5">
            <div class="container px-4 px-lg-5">
                <%- include(`${partials}/autocomplete`); -%>
                <div class="row align-items-md-stretch">
                    <div class="col-md-12">
                        <div class="card mb-3" id="film-details">
                            <div class="row g-0">
                                <div class="col-md-8 px-3 py-3">
                                    <div class="card-body">
                                        <h3 class="card-title">Amélie</h3>
                                        <p class="card-text mb-0">
                                            <span id="mainPlotContent"> Amélie is an innocent and naive girl in Paris with her own sense of justice. She decides to help those around her and, along the way, discovers love. Amélie is a story about a girl named Amélie whose childhood was suppressed by her Father's mistaken concerns of a heart defect. With these concerns Amélie gets hardly any real-life contact with other people. This leads Amélie to resort to her own fantastical world and dreams of love and beauty. She later on becomes a young woman and moves to the central part of Paris as a waitress. After finding a lost treasure belonging to the former occupant of her apartment, she decides to return it to him. After seeing his reaction and his new found perspective - she decides to devote her life to the peopl... </span>
                                                
                                                    <div class="collapse" id="movieLocationCollapsible">
                                                        <span id="metaPlotContent"class="additional-information"> e around her. Such as, her father who is obsessed with his garden-gnome, a failed writer, a hypochondriac, a man who stalks his ex girlfriends, the  ghost,  a suppressed young soul, the love of her life and a man whose bones are as brittle as glass. But after consuming herself with these escapades - she finds out that she is disregarding her own life and damaging her quest for love. Amélie then discovers she must become more aggressive and take a hold of her life and capture the beauty of love she has always dreamed of. spragg_s Young Amélie Poulain works in a Paris café, lives alone and helps people, surreptitiously. Whether it's secretly returning the childhood treasures of a middle aged man, to matchmaking for the lovelorn, Amélie gives fate a helping hand. When Nino enters her world, her life takes a new and exciting turn. Amélie is a shy waitress in a Montmartre café. After returning a long-lost childhood treasure to a former occupant of her apartment, and seeing the effect it has on him, she decides to set out on a mission to make others happy and in the meantime pursues a quirky guy who collects discarded photo booth pictures. Anonymous Amélie is looking for love, and perhaps for the meaning of life in general. We see her grow up in an original if slightly dysfunctional family. Now a waitress in central Paris, she interacts curiously with her neighbors and customers, as well as a mysterious Photomaton-image collector and one of his even more mysterious photo subjects. Little by little, Amélie realizes that the way to happiness (and yet more subtle humor) requires her to take her own initiative and reach out to others.  In 1974, in Enghien in the northern suburbs of Paris, the girl Amélie Poulain was born and raised alone by her cold-hearted father and her stressed mother due to a mistake of her father's evaluation of her heart conditions. Her mother dies in a weird accident and, when the shy and daydreamer Amélie Poulain becomes a young woman, she moves to central Paris and works as waitress in the café Deux Moulins in Montmartre. On 30 August 1997, Amélie finds a childhood treasure hidden behind the wall that belonged to a dweller from the '50s, and she decides to anonymously return it to the owner. He seeks out the man and when she witnesses his happiness, she decides to become the  godmother of the rejected,  anonymously helping people that are her acquaintances using her fantasy and little tricks. She convinces her father to travel abroad using his garden gnome; she helps her neighbor that is an outcast and lonely painter and the super that misses her unfaithful husband; she also helps her hypochondriac colleague that works in the tobacco shop and the man that stalks the other waitress acting like cupid; she plays pranks to an employer that mistreats his employee with abusive relationship. When Amélie finds the album of photos of an intriguing collector that collects rejected photos in the Photomaton of the Gare de l'Est, she seeks him out and falls in love with him. On 28 September 1997, Amélie Poulain finds love. Claudio Carvalho, Rio de Janeiro, Brazil </span>
                                                    </div>
                                                    <p>
                                                        <a class="btn btn-link show-more-less collapsed"
                                                           id="myCollapsibleBtn"
                                                           role="button"></a>
                                                    </p>
                                                
                                            </p>
                                    </div>
                                </div>
                                <div class="col-md-4 justify-self-end">
                                        <img src="https://m.media-amazon.com/images/M/MV5BNDg4NjM1YjMtYmNhZC00MjM0LWFiZmYtNGY1YjA3MzZmODc5XkEyXkFqcGdeQXVyNDk3NzU2MTQ@.jpg"
                                             class="img-fluid rounded-start"
                                             alt="Amélie"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="map-container">
                        <div id="map"></div>
                        <div id="loader">
                            <div class="spinner-border" role="status">
                                <span class="sr-only d-none">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr class="table__header">
                        <th class="table__cell">Location</th>
                        <th class="table__cell">Coordiantes</th>
                    </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">France</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">47.8249046208979</span>, <span class="lon">2.61878695312962</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Paris, France</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">48.85658</span>, <span class="lon">2.35183</span></a>
                            </td>
                        </tr>
                    </table>
            </div>
        </main>
        <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>
        <script type="text/javascript">
var locations =[{"bbox": null, "data": [{"lat": 47.8249046208979, "lon": 2.61878695312962, "name": "France"}, {"lat": 48.85658, "lon": 2.35183, "name": "Paris, France"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                          
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
        </script>
    </body>
</html>