<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>
    <body class="film-location film-details">
        <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
<![endif]-->
        <noscript>
            <h3>Please enable JavaScript in order to view this site properly.</h3>
        </noscript>
        <%- include(`${partials}/nav`); -%>
        <main class="mb-4 mt-5">
            <div class="container px-4 px-lg-5">
                <%- include(`${partials}/autocomplete`); -%>
                <div class="row align-items-md-stretch">
                    <div class="col-md-12">
                        <div class="card mb-3" id="film-details">
                            <div class="row g-0">
                                <div class="col-md-8 px-3 py-3">
                                    <div class="card-body">
                                        <h3 class="card-title">Casino</h3>
                                        <p class="card-text mb-0">
                                            <span id="mainPlotContent"> A tale of greed, deception, money, power, and murder occur between two best friends: a mafia enforcer and a casino executive compete against each other over a gambling empire, and over a fast-living and fast-loving socialite. This Martin Scorsese film depicts the Janus-like quality of Las Vegas--it has a glittering, glamorous face, as well as a brutal, cruel one. Ace Rothstein and Nicky Santoro, mobsters who move to Las Vegas to make their mark, live and work in this paradoxical world. Seen through their eyes, each as a foil to the other, the details of mob involvement in the casinos of the 1970s and '80s are revealed. Ace is the smooth operator of the Tangiers casino, while Nicky is his boyhood friend and tough strongman, robbing and shaki... </span>
                                                
                                                    <div class="collapse" id="movieLocationCollapsible">
                                                        <span id="metaPlotContent"class="additional-information"> ng down the locals. However, they each have a tragic flaw--Ace falls in love with a hustler, Ginger, and Nicky falls into an ever-deepening spiral of drugs and violence. Tad Dibbern  </span>
                                                    </div>
                                                    <p>
                                                        <a class="btn btn-link show-more-less collapsed"
                                                           id="myCollapsibleBtn"
                                                           role="button"></a>
                                                    </p>
                                                
                                            </p>
                                    </div>
                                </div>
                                <div class="col-md-4 justify-self-end">
                                        <img src="https://m.media-amazon.com/images/M/MV5BMTcxOWYzNDYtYmM4YS00N2NkLTk0NTAtNjg1ODgwZjAxYzI3XkEyXkFqcGdeQXVyNTA4NzY1MzY@.jpg"
                                             class="img-fluid rounded-start"
                                             alt="Casino"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="map-container">
                        <div id="map"></div>
                        <div id="loader">
                            <div class="spinner-border" role="status">
                                <span class="sr-only d-none">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr class="table__header">
                        <th class="table__cell">Location</th>
                        <th class="table__cell">Coordiantes</th>
                    </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">2901 South Las Vegas Boulevard, Las Vegas, Nevada 89109, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">36.136131</span>, <span class="lon">-115.162415</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Paradise, Nevada, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">36.115086</span>, <span class="lon">-115.173414</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Hanford, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">36.32745</span>, <span class="lon">-119.645684</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">357 E Desert Inn Rd, Paradise, Nevada 89169, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">36.12627</span>, <span class="lon">-115.15068</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">4613 South Las Vegas Boulevard, Las Vegas, Nevada 89119, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">36.08682</span>, <span class="lon">-115.17207</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Main Street Station Parking, 301 North Main St., Las Vegas, Nevada 89101, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">36.173705</span>, <span class="lon">-115.143676</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Baker, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">35.265381</span>, <span class="lon">-116.074956</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">3645 South Las Vegas Boulevard, Las Vegas, Nevada 89109, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">36.11344</span>, <span class="lon">-115.16855</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Overton, Nevada, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">36.540734</span>, <span class="lon">-114.442989</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Fireside Lounge, 2985 Las Vegas Blvd S, Las Vegas, Nevada 89109, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">36.133776</span>, <span class="lon">-115.163154</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">3515 Cochise Lane, Las Vegas, Nevada 89169, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">36.125965</span>, <span class="lon">-115.12381</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Dry Lake, Nevada, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">36.454979</span>, <span class="lon">-114.845735</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">3010 South Valley View Boulevard, Las Vegas, Nevada 89102, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">36.13606</span>, <span class="lon">-115.18989</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">520 South 4th Street, Las Vegas, Nevada 89101, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">36.16456</span>, <span class="lon">-115.14559</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">721 North Main Street, Las Vegas, Nevada 89101, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">36.17932</span>, <span class="lon">-115.14232</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Paradise, Nevada, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">36.115086</span>, <span class="lon">-115.173414</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Las Vegas National Golf Club, 1911 E Desert Inn Rd, Las Vegas, Nevada 89169, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">36.128418</span>, <span class="lon">-115.125209</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">W Oakey Blvd, Las Vegas, Nevada 89146, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">36.18803</span>, <span class="lon">-115.01731</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Mojave Desert, Cima, California 92323, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">35.0096785</span>, <span class="lon">-115.4742205</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Las Vegas, Nevada, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">36.167256</span>, <span class="lon">-115.148516</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Park Paseo, Las Vegas, Nevada 89104, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">36.15751</span>, <span class="lon">-115.14493</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">355 Convention Center Drive, Las Vegas, Nevada 89109, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">36.13185</span>, <span class="lon">-115.15595</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">784 North Main Street, Las Vegas, Nevada 89101, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">36.179849</span>, <span class="lon">-115.14102</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">2901 South Las Vegas Boulevard, Las Vegas, Nevada 89109, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">36.136131</span>, <span class="lon">-115.162415</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Las Vegas, Nevada, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">36.167256</span>, <span class="lon">-115.148516</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Henderson, Nevada, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">36.030113</span>, <span class="lon">-114.982619</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Sandy Valley, Nevada, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">35.816923</span>, <span class="lon">-115.632233</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">W Sahara Ave, Las Vegas, Nevada 89102, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">36.00838</span>, <span class="lon">-115.20632</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">2955 South Las Vegas Boulevard, Las Vegas, Nevada 89109, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">36.13418</span>, <span class="lon">-115.16204</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Las Vegas Freeway, Las Vegas, Nevada 89027, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">36.36498</span>, <span class="lon">-114.87964</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Our Lady of Las Vegas Catholic Church, 3050 Alta Dr, Las Vegas, Nevada 89107, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">36.166687</span>, <span class="lon">-115.18277</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Las Vegas, Nevada, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">36.167256</span>, <span class="lon">-115.148516</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">The Jockey Club Pool, Las Vegas, Nevada 89109, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">36.110207</span>, <span class="lon">-115.175053</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Overton, Nevada, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">36.540734</span>, <span class="lon">-114.442989</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">5757 Wayne Newton Blvd, Las Vegas, Nevada 89111, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">36.08452</span>, <span class="lon">-115.13218</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Las Vegas, Nevada, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">36.167256</span>, <span class="lon">-115.148516</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">1130 East Desert Inn Road, Las Vegas, Nevada 89109, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">36.13032</span>, <span class="lon">-115.13957</span></a>
                            </td>
                        </tr>
                    </table>
            </div>
        </main>
        <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>
        <script type="text/javascript">
var locations =[{"bbox": [[35.0096785, -115.4742205], [35.265381, -116.074956], [35.816923, -115.632233]], "data": [{"lat": 36.136131, "lon": -115.162415, "name": "2901 South Las Vegas Boulevard, Las Vegas, Nevada 89109, United States"}, {"lat": 36.115086, "lon": -115.173414, "name": "Paradise, Nevada, United States"}, {"lat": 36.32745, "lon": -119.645684, "name": "Hanford, California, United States"}, {"lat": 36.12627, "lon": -115.15068, "name": "357 E Desert Inn Rd, Paradise, Nevada 89169, United States"}, {"lat": 36.08682, "lon": -115.17207, "name": "4613 South Las Vegas Boulevard, Las Vegas, Nevada 89119, United States"}, {"lat": 36.173705, "lon": -115.143676, "name": "Main Street Station Parking, 301 North Main St., Las Vegas, Nevada 89101, United States"}, {"lat": 35.265381, "lon": -116.074956, "name": "Baker, California, United States"}, {"lat": 36.11344, "lon": -115.16855, "name": "3645 South Las Vegas Boulevard, Las Vegas, Nevada 89109, United States"}, {"lat": 36.540734, "lon": -114.442989, "name": "Overton, Nevada, United States"}, {"lat": 36.133776, "lon": -115.163154, "name": "Fireside Lounge, 2985 Las Vegas Blvd S, Las Vegas, Nevada 89109, United States"}, {"lat": 36.125965, "lon": -115.12381, "name": "3515 Cochise Lane, Las Vegas, Nevada 89169, United States"}, {"lat": 36.454979, "lon": -114.845735, "name": "Dry Lake, Nevada, United States"}, {"lat": 36.13606, "lon": -115.18989, "name": "3010 South Valley View Boulevard, Las Vegas, Nevada 89102, United States"}, {"lat": 36.16456, "lon": -115.14559, "name": "520 South 4th Street, Las Vegas, Nevada 89101, United States"}, {"lat": 36.17932, "lon": -115.14232, "name": "721 North Main Street, Las Vegas, Nevada 89101, United States"}, {"lat": 36.115086, "lon": -115.173414, "name": "Paradise, Nevada, United States"}, {"lat": 36.128418, "lon": -115.125209, "name": "Las Vegas National Golf Club, 1911 E Desert Inn Rd, Las Vegas, Nevada 89169, United States"}, {"lat": 36.18803, "lon": -115.01731, "name": "W Oakey Blvd, Las Vegas, Nevada 89146, United States"}, {"lat": 35.0096785, "lon": -115.4742205, "name": "Mojave Desert, Cima, California 92323, United States"}, {"lat": 36.167256, "lon": -115.148516, "name": "Las Vegas, Nevada, United States"}, {"lat": 36.15751, "lon": -115.14493, "name": "Park Paseo, Las Vegas, Nevada 89104, United States"}, {"lat": 36.13185, "lon": -115.15595, "name": "355 Convention Center Drive, Las Vegas, Nevada 89109, United States"}, {"lat": 36.179849, "lon": -115.14102, "name": "784 North Main Street, Las Vegas, Nevada 89101, United States"}, {"lat": 36.136131, "lon": -115.162415, "name": "2901 South Las Vegas Boulevard, Las Vegas, Nevada 89109, United States"}, {"lat": 36.167256, "lon": -115.148516, "name": "Las Vegas, Nevada, United States"}, {"lat": 36.030113, "lon": -114.982619, "name": "Henderson, Nevada, United States"}, {"lat": 35.816923, "lon": -115.632233, "name": "Sandy Valley, Nevada, United States"}, {"lat": 36.00838, "lon": -115.20632, "name": "W Sahara Ave, Las Vegas, Nevada 89102, United States"}, {"lat": 36.13418, "lon": -115.16204, "name": "2955 South Las Vegas Boulevard, Las Vegas, Nevada 89109, United States"}, {"lat": 36.36498, "lon": -114.87964, "name": "Las Vegas Freeway, Las Vegas, Nevada 89027, United States"}, {"lat": 36.166687, "lon": -115.18277, "name": "Our Lady of Las Vegas Catholic Church, 3050 Alta Dr, Las Vegas, Nevada 89107, United States"}, {"lat": 36.167256, "lon": -115.148516, "name": "Las Vegas, Nevada, United States"}, {"lat": 36.110207, "lon": -115.175053, "name": "The Jockey Club Pool, Las Vegas, Nevada 89109, United States"}, {"lat": 36.540734, "lon": -114.442989, "name": "Overton, Nevada, United States"}, {"lat": 36.08452, "lon": -115.13218, "name": "5757 Wayne Newton Blvd, Las Vegas, Nevada 89111, United States"}, {"lat": 36.167256, "lon": -115.148516, "name": "Las Vegas, Nevada, United States"}, {"lat": 36.13032, "lon": -115.13957, "name": "1130 East Desert Inn Road, Las Vegas, Nevada 89109, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                          
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
        </script>
    </body>
</html>