<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>
    <body class="film-location film-details">
        <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
<![endif]-->
        <noscript>
            <h3>Please enable JavaScript in order to view this site properly.</h3>
        </noscript>
        <%- include(`${partials}/nav`); -%>
        <main class="mb-4 mt-5">
            <div class="container px-4 px-lg-5">
                     <%- include(`${partials}/autocomplete`); -%>
                <div class="row align-items-md-stretch">
                    <div class="col-md-12">
                        <div class="card mb-3" id="film-details">
                            <div class="row g-0">
                                <div class="col-md-8 px-3 py-3">
                                    <div class="card-body">
                                        <h3 class="card-title">City Lights</h3>
                                        <p class="card-text mb-0">
                                            <span id="mainPlotContent">With the aid of a wealthy erratic tippler, a dewy-eyed tramp who has fallen in love with a sightless flower girl accumulates money to be able to help her medically. A tramp falls in love with a beautiful blind girl. Her family is in financial trouble. The tramp's on-and-off friendship with a wealthy man allows him to be the girl's benefactor and suitor. John J. Magee <magee@helix.mgh.harvard.edu> Charmingly simple story of The Little Tramp who meets a lovely blind girl selling flowers on the sidewalk who mistakes him for a wealthy duke. When he learns that an operation may restore her sight, he sets off to earn the money she needs to have the surgery. In a series of comedy adventures that only Chaplin could pull off, he eventually succeeds,...</span>
                                                
                                                    <div class="collapse" id="movieLocationCollapsible">
                                                        <div id = "module"></div>
                                                        <span id="metaPlotContent"class="additional-information"> even though his efforts land him in jail. While he is there, the girl has the operation and afterwards yearns to meet her benefactor. The tear-inducing closing scene, in which she discovers that he is not a wealthy duke but only The Little Tramp, is one of the highest moments in movies. alfiehitchie A little tramp living in the big city has a profound effect on two people he meets. The first is a wealthy man, who the tramp saves from killing himself during the wealthy man's drunken stupor. However, the relationship between the wealthy man and the tramp continually changes depending on the drunken or sober state of the wealthy man. The second is a poor blind flower girl, who lives with her destitute grandmother. The kindness of the tramp toward her makes her fall in love with him, as he is with her. By circumstance, she believes that he is a wealthy man. When he learns that an expensive operation can restore her eyesight, the tramp does whatever he can to earn the money to pay for the operation, even if the result is that she will find out that he is not the wealthy man she believes and which by association may make her change her blind opinion of him. Huggo The Little Tramp meets and falls in love with a young blind girl who sells flowers on the street corner. He also befriends an eccentric millionaire who drinks too much and only recognizes him when he is drunk. The Little Tramp gives the girl a ride home in the millionaire's car and she thinks he is rich. After a boisterous party at the millionaire's house, the rich man wakes up and has no idea who the Little Tramp is or why he is there and so throws him out on his ear. When the blind girl and her grandmother fall behind in the rent and face eviction, he tries working and even enters a boxing competition to raise the money they need, but nothing works out. He gets the money from the millionaire but is accused of theft and ends up in jail, but not before getting her enough money to not only pay the rent but to also seek treatment for her blindness. When he's released from jail, they meet again. garykmcd This classic story of love, tragedy and hope centers around a homeless tramp whom meets and instantly falls in love with a beautiful, albeit blind, flower seller. The tramp, desperate to win her love over, convinces the woman that he is a millionaire and can pay for her to get her sight back. We then follow the ebbs and flows of The Little Tramp's adventures in his pursuit to make good on his promise to The Flower Girl. Kyle Perez</span>
                                                    </div>
                                                    <p>
                                                        <a class="btn btn-link show-more-less collapsed"
                                                               id="myCollapsibleBtn"
                                                      
                                                           role="button"
                                                       >
                                                        </a>
                                                    </p>
                                                
                                            </p>
                                    </div>
                                </div>
                                <div class="col-md-4 justify-self-end">
                                        <img src="https://m.media-amazon.com/images/M/MV5BY2I4MmM1N2EtM2YzOS00OWUzLTkzYzctNDc5NDg2N2IyODJmXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                             class="img-fluid rounded-start"
                                             alt="City Lights"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="map-container">
                        <div id="map"></div>
                        <div id="loader">
                            <div class="spinner-border" role="status">
                                <span class="sr-only d-none">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr class="table__header">
                        <th class="table__cell">Location</th>
                        <th class="table__cell">Coordiantes</th>
                    </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">1416 La Brea Avenue, Los Angeles, California 90019, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.04724</span>, <span class="lon">-118.34451</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">7200 Santa Monica Boulevard, West Hollywood, California 90025, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.090713</span>, <span class="lon">-118.346243</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">2959 Wilshire Boulevard, Los Angeles, California 90010, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.061821</span>, <span class="lon">-118.285924</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Los Angeles, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.053691</span>, <span class="lon">-118.242766</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">East 7th Street, Los Angeles, California 90021, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.034175</span>, <span class="lon">-118.22238</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Wilshire Blvd, Glendale, California 90048, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.14728</span>, <span class="lon">-118.2096</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">The Standard, 8300 W Sunset Blvd, Los Angeles, California 90069, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.095892</span>, <span class="lon">-118.37094</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Los Angeles, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.053691</span>, <span class="lon">-118.242766</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">37.0743595873</span>, <span class="lon">-119.699375153073</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">39.3812661305678</span>, <span class="lon">-97.9222112121185</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Los Angeles, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.053691</span>, <span class="lon">-118.242766</span></a>
                            </td>
                        </tr>
                    </tr>
            </table>
        </div>
    </div>
</main>
    <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>

<script type="text/javascript">
var locations =[{"bbox": [[34.034175, -118.22238], [34.04724, -118.34451], [34.053691, -118.242766]], "data": [{"lat": 34.04724, "lon": -118.34451, "name": "1416 La Brea Avenue, Los Angeles, California 90019, United States"}, {"lat": 34.090713, "lon": -118.346243, "name": "7200 Santa Monica Boulevard, West Hollywood, California 90025, United States"}, {"lat": 34.061821, "lon": -118.285924, "name": "2959 Wilshire Boulevard, Los Angeles, California 90010, United States"}, {"lat": 34.053691, "lon": -118.242766, "name": "Los Angeles, California, United States"}, {"lat": 34.034175, "lon": -118.22238, "name": "East 7th Street, Los Angeles, California 90021, United States"}, {"lat": 34.14728, "lon": -118.2096, "name": "Wilshire Blvd, Glendale, California 90048, United States"}, {"lat": 34.095892, "lon": -118.37094, "name": "The Standard, 8300 W Sunset Blvd, Los Angeles, California 90069, United States"}, {"lat": 34.053691, "lon": -118.242766, "name": "Los Angeles, California, United States"}, {"lat": 37.0743595873, "lon": -119.699375153073, "name": "California, United States"}, {"lat": 39.3812661305678, "lon": -97.9222112121185, "name": "United States"}, {"lat": 34.053691, "lon": -118.242766, "name": "Los Angeles, California, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
</body>
</html>