<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>
    <body class="film-location film-details">
        <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
<![endif]-->
        <noscript>
            <h3>Please enable JavaScript in order to view this site properly.</h3>
        </noscript>
        <%- include(`${partials}/nav`); -%>
        <main class="mb-4 mt-5">
            <div class="container px-4 px-lg-5">
                     <%- include(`${partials}/autocomplete`); -%>
                <div class="row align-items-md-stretch">
                    <div class="col-md-12">
                        <div class="card mb-3" id="film-details">
                            <div class="row g-0">
                                <div class="col-md-8 px-3 py-3">
                                    <div class="card-body">
                                        <h3 class="card-title">In the Name of the Father</h3>
                                        <p class="card-text mb-0">
                                            <span id="mainPlotContent">A man's coerced confession to an I.R.A. bombing he did not commit results in the imprisonment of his father as well. An English lawyer fights to free them. Young Belfastian Gerry Conlon (Daniel Day-Lewis) admits that he was in London at the time of the incident. He also admits that he is not a model citizen, having committed a petty robbery while in London. He does however profess his innocence when it comes to the bombing of the Guildford Pub in London in 1974, the event which killed several people inside. A self-professed non-political person, he and his three co-accused, dubbed the Guildford Four, are thought to be provisional members of the I.R.A. Their self-professed innocence is despite each having signed a statement of guilt which th...</span>
                                                
                                                    <div class="collapse" id="movieLocationCollapsible">
                                                        <div id = "module"></div>
                                                        <span id="metaPlotContent"class="additional-information">ey claim were signed under duress. Their case includes having provable alibis for the time frame of the bombing. And eventually, Joe McAndrew (Don Baker), a known I.R.A. member, admits to the bombing. Dubbed the Maguire Seven, seven others, primarily members of Gerry's extended family including his father Giuseppe (Pete Postlethwaite), are accused of being accessories to the bombing. Following on the work initiated by Giuseppe, Gerry works on a campaign to prove their collective innocence, this work with the assistance of compassionate lawyer Gareth Peirce (Dame Emma Thompson). As Gareth works on this campaign, she is faced with obstacle after obstacle placed by Robert Dixon (Corin Redgrave), who led the initial investigation and questioning of the four accused on behalf of the Police. Huggo Based on the true story of Gerry Conlon (Daniel Day-Lewis), a Belfast youth who - along with family members and friends - was wrongly convicted of bombing two pubs outside of London. A story about the relationship between a father and his son who fought for justice to clear his father's name. Harald Mayr <marvin@bike.augusta.de></span>
                                                    </div>
                                                    <p>
                                                        <a class="btn btn-link show-more-less collapsed"
                                                               id="myCollapsibleBtn"
                                                      
                                                           role="button"
                                                       >
                                                        </a>
                                                    </p>
                                                
                                            </p>
                                    </div>
                                </div>
                                <div class="col-md-4 justify-self-end">
                                        <img src="https://m.media-amazon.com/images/M/MV5BMmYyOTgwYWItYmU3Ny00M2E2LTk0NWMtMDVlNmQ0MWZiMTMxXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                             class="img-fluid rounded-start"
                                             alt="In the Name of the Father"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="map-container">
                        <div id="map"></div>
                        <div id="loader">
                            <div class="spinner-border" role="status">
                                <span class="sr-only d-none">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr class="table__header">
                        <th class="table__cell">Location</th>
                        <th class="table__cell">Coordiantes</th>
                    </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Cloverhlll Prison, Clondalkin, County Dublin D22, Ireland</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">53.342054</span>, <span class="lon">-6.387231</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Bray, Wicklow, Ireland</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">53.20146</span>, <span class="lon">-6.110505</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Dublin, County Dublin, Ireland</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">53.403421</span>, <span class="lon">-6.248119</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Liverpool, Merseyside, England, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">53.407199</span>, <span class="lon">-2.99168</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Upper Thames Street, City of London, London, EC4V 3EH, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.5101591</span>, <span class="lon">-0.0896137</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">100 Huskisson Street, Liverpool, L8 7LS, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">53.397741</span>, <span class="lon">-2.963969</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">London, Greater London, England, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.515618</span>, <span class="lon">-0.091998</span></a>
                            </td>
                        </tr>
                    </tr>
            </table>
        </div>
    </div>
</main>
    <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>

<script type="text/javascript">
var locations =[{"bbox": null, "data": [{"lat": 53.342054, "lon": -6.387231, "name": "Cloverhlll Prison, Clondalkin, County Dublin D22, Ireland"}, {"lat": 53.20146, "lon": -6.110505, "name": "Bray, Wicklow, Ireland"}, {"lat": 53.403421, "lon": -6.248119, "name": "Dublin, County Dublin, Ireland"}, {"lat": 53.407199, "lon": -2.99168, "name": "Liverpool, Merseyside, England, United Kingdom"}, {"lat": 51.5101591, "lon": -0.0896137, "name": "Upper Thames Street, City of London, London, EC4V 3EH, United Kingdom"}, {"lat": 53.397741, "lon": -2.963969, "name": "100 Huskisson Street, Liverpool, L8 7LS, United Kingdom"}, {"lat": 51.515618, "lon": -0.091998, "name": "London, Greater London, England, United Kingdom"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
</body>
</html>