<!DOCTYPE html>
<html lang="en" dir="ltr">

   <%- include(`${partials}/homeHead`, {pageTitle: 'Movies'}); -%>


<body>
  <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

  <noscript>
    <h3>Please enable JavaScript in order to view this site properly.</h3>
  </noscript>
    <%- include(`${partials}/nav`); -%>

    <main class="mb-4 mt-5">
      <div class="container px-4 px-lg-5">
            <%- include(`${partials}/autocomplete`); -%>
   

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 text-center g-3">
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0114369" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BOTUwODM5MTctZjczMi00OTk4LTg3NWUtNmVhMTAzNTNjYjcyXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg" class="card-img-top" alt="Se7en" />
              <div class="card-body">
                <a href="/movie-locations/se7en-0114369" class="stretched-link">
                  <p class="card-text text-center">
                    Se7en
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0047478" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BNWQ3OTM4ZGItMWEwZi00MjI5LWI3YzgtNTYwNWRkNmIzMGI5XkEyXkFqcGdeQXVyNDY2MTk1ODk@.jpg" class="card-img-top" alt="Seven Samurai" />
              <div class="card-body">
                <a href="/movie-locations/seven-samurai-0047478" class="stretched-link">
                  <p class="card-text text-center">
                    Seven Samurai
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0038650" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BZjc4NDZhZWMtNGEzYS00ZWU2LThlM2ItNTA0YzQ0OTExMTE2XkEyXkFqcGdeQXVyNjUwMzI2NzU@.jpg" class="card-img-top" alt="It's a Wonderful Life" />
              <div class="card-body">
                <a href="/movie-locations/it-s-a-wonderful-life-0038650" class="stretched-link">
                  <p class="card-text text-center">
                    It's a Wonderful Life
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0102926" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BNjNhZTk0ZmEtNjJhMi00YzFlLWE1MmEtYzM1M2ZmMGMwMTU4XkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg" class="card-img-top" alt="The Silence of the Lambs" />
              <div class="card-body">
                <a href="/movie-locations/the-silence-of-the-lambs-0102926" class="stretched-link">
                  <p class="card-text text-center">
                    The Silence of the Lambs
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0317248" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BOTMwYjc5ZmItYTFjZC00ZGQ3LTlkNTMtMjZiNTZlMWQzNzI5XkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg" class="card-img-top" alt="City of God" />
              <div class="card-body">
                <a href="/movie-locations/city-of-god-0317248" class="stretched-link">
                  <p class="card-text text-center">
                    City of God
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0120815" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BZjhkMDM4MWItZTVjOC00ZDRhLThmYTAtM2I5NzBmNmNlMzI1XkEyXkFqcGdeQXVyNDYyMDk5MTU@.jpg" class="card-img-top" alt="Saving Private Ryan" />
              <div class="card-body">
                <a href="/movie-locations/saving-private-ryan-0120815" class="stretched-link">
                  <p class="card-text text-center">
                    Saving Private Ryan
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0118799" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BYmJmM2Q4NmMtYThmNC00ZjRlLWEyZmItZTIwOTBlZDQ3NTQ1XkEyXkFqcGdeQXVyMTQxNzMzNDI@.jpg" class="card-img-top" alt="Life Is Beautiful" />
              <div class="card-body">
                <a href="/movie-locations/life-is-beautiful-0118799" class="stretched-link">
                  <p class="card-text text-center">
                    Life Is Beautiful
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0120689" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMTUxMzQyNjA5MF5BMl5BanBnXkFtZTYwOTU2NTY3.jpg" class="card-img-top" alt="The Green Mile" />
              <div class="card-body">
                <a href="/movie-locations/the-green-mile-0120689" class="stretched-link">
                  <p class="card-text text-center">
                    The Green Mile
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0076759" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BNzg4MjQxNTQtZmI5My00YjMwLWJlMjUtMmJlY2U2ZWFlNzY1XkEyXkFqcGdeQXVyODk4OTc3MTY@.jpg" class="card-img-top" alt="Star Wars" />
              <div class="card-body">
                <a href="/movie-locations/star-wars-0076759" class="stretched-link">
                  <p class="card-text text-center">
                    Star Wars
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0816692" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BZjdkOTU3MDktN2IxOS00OGEyLWFmMjktY2FiMmZkNWIyODZiXkEyXkFqcGdeQXVyMTMxODk2OTU@.jpg" class="card-img-top" alt="Interstellar" />
              <div class="card-body">
                <a href="/movie-locations/interstellar-0816692" class="stretched-link">
                  <p class="card-text text-center">
                    Interstellar
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0103064" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMGU2NzRmZjUtOGUxYS00ZjdjLWEwZWItY2NlM2JhNjkxNTFmXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg" class="card-img-top" alt="Terminator 2: Judgment Day" />
              <div class="card-body">
                <a href="/movie-locations/terminator-2-judgment-day-0103064" class="stretched-link">
                  <p class="card-text text-center">
                    Terminator 2: Judgment Day
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0088763" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BZmU0M2Y1OGUtZjIxNi00ZjBkLTg1MjgtOWIyNThiZWIwYjRiXkEyXkFqcGdeQXVyMTQxNzMzNDI@.jpg" class="card-img-top" alt="Back to the Future" />
              <div class="card-body">
                <a href="/movie-locations/back-to-the-future-0088763" class="stretched-link">
                  <p class="card-text text-center">
                    Back to the Future
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0245429" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMjlmZmI5MDctNDE2YS00YWE0LWE5ZWItZDBhYWQ0NTcxNWRhXkEyXkFqcGdeQXVyMTMxODk2OTU@.jpg" class="card-img-top" alt="Spirited Away" />
              <div class="card-body">
                <a href="/movie-locations/spirited-away-0245429" class="stretched-link">
                  <p class="card-text text-center">
                    Spirited Away
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0054215" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BNTQwNDM1YzItNDAxZC00NWY2LTk0M2UtNDIwNWI5OGUyNWUxXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg" class="card-img-top" alt="Psycho" />
              <div class="card-body">
                <a href="/movie-locations/psycho-0054215" class="stretched-link">
                  <p class="card-text text-center">
                    Psycho
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0253474" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BOWRiZDIxZjktMTA1NC00MDQ2LWEzMjUtMTliZmY3NjQ3ODJiXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg" class="card-img-top" alt="The Pianist" />
              <div class="card-body">
                <a href="/movie-locations/the-pianist-0253474" class="stretched-link">
                  <p class="card-text text-center">
                    The Pianist
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0110413" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BODllNWE0MmEtYjUwZi00ZjY3LThmNmQtZjZlMjI2YTZjYmQ0XkEyXkFqcGdeQXVyNTc1NTQxODI@.jpg" class="card-img-top" alt="Léon: The Professional" />
              <div class="card-body">
                <a href="/movie-locations/leon-the-professional-0110413" class="stretched-link">
                  <p class="card-text text-center">
                    Léon: The Professional
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="6751668" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BYWZjMjk3ZTItODQ2ZC00NTY5LWE0ZDYtZTI3MjcwN2Q5NTVkXkEyXkFqcGdeQXVyODk4OTc3MTY@.jpg" class="card-img-top" alt="Parasite" />
              <div class="card-body">
                <a href="/movie-locations/parasite-6751668" class="stretched-link">
                  <p class="card-text text-center">
                    Parasite
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0110357" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BYTYxNGMyZTYtMjE3MS00MzNjLWFjNmYtMDk3N2FmM2JiM2M1XkEyXkFqcGdeQXVyNjY5NDU4NzI@.jpg" class="card-img-top" alt="The Lion King" />
              <div class="card-body">
                <a href="/movie-locations/the-lion-king-0110357" class="stretched-link">
                  <p class="card-text text-center">
                    The Lion King
                  </p>
                </a>
              </div>
            </div>
          </div>
          </div>
             <div class="row justify-content-center mt-3">

          <nav aria-label="Movie Locations Top 250">

            <ul class="pagination justify-content-center">
          
                  
              <li class="page-item">

                <a class="page-link" href="/movie-locations/1" aria-label="Previous">Previous <span
                    aria-hidden="true">&laquo;</span></a>
              </li>
              
            
              
              
              <li class="page-item">
                <a class="page-link" href="/movie-locations/1">1</a>
              </li>
              
         
              
              
              <li class="active page-item">
                <a class="page-link" href="/movie-locations/2">2</a>
              </li>
              
              
         
              
              
              
              <li class="page-item">
                <a class="page-link" href="/movie-locations/3">3</a>
              </li>
              
         
              
              
              
              <li class="page-item">
                <a class="page-link" href="/movie-locations/4">4</a>
              </li>
              
         
              
              
              
              <li class="page-item">
                <a class="page-link" href="/movie-locations/5">5</a>
              </li>
              
         
              
                   
              <li class="page-item">
                <a class="page-link" href="/movie-locations/3" aria-label="Next">Next<span
                    aria-hidden="true">&raquo;</span></a>
              </li>
              
         
            </ul>

          </nav>

        </div>
      </div>
    </main>
 <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>
</body>

</html>