<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>
    <body class="film-location film-details">
        <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
<![endif]-->
        <noscript>
            <h3>Please enable JavaScript in order to view this site properly.</h3>
        </noscript>
        <%- include(`${partials}/nav`); -%>
        <main class="mb-4 mt-5">
            <div class="container px-4 px-lg-5">
                     <%- include(`${partials}/autocomplete`); -%>
                <div class="row align-items-md-stretch">
                    <div class="col-md-12">
                        <div class="card mb-3" id="film-details">
                            <div class="row g-0">
                                <div class="col-md-8 px-3 py-3">
                                    <div class="card-body">
                                        <h3 class="card-title">Lock, Stock and Two Smoking Barrels</h3>
                                        <p class="card-text mb-0">
                                            <span id="mainPlotContent">Eddy persuades his three pals to pool money for a vital poker game against a powerful local mobster, Hatchet Harry. Eddy loses, after which Harry gives him a week to pay back 500,000 pounds. Four Jack-the-lads find themselves heavily - seriously heavily - in debt to an East End hard man and his enforcers after a crooked card game. Overhearing their neighbours in the next flat plotting to hold up a group of out-of-their-depth drug growers, our heroes decide to stitch up the robbers in turn. In a way the confusion really starts when a pair of antique double-barrelled shotguns go missing in a completely different scam. Eddy has been known as a cardsharp since he was young. So he and his three friends Soap, Tom and Bacon all decide to chip in £...</span>
                                                
                                                    <div class="collapse" id="movieLocationCollapsible">
                                                        <div id = "module"></div>
                                                        <span id="metaPlotContent"class="additional-information">25,000 each to allow him to play in an illegal high-roller game run by one of the local villains, Hatchet Harry. However, Eddy didn't realize the game was crooked and he ends up owing Harry £500,000 with dire threats about losing his fingers one at a time if he doesn't pay within a week! Eddy and his friends discuss various completely illegal schemes to obtain the money and eventually decide to rip-off the gang of thieves next door who themselves are planning to raid a clandestine drug growing operation which keeps all of its money in shoe boxes where they grow the cannabis plants. The scheme is simple enough but the best laid plans of mice and men always seems to go awry as does this one. As extreme chaos breaks loose the violence and associated body count spiral out of control, Eddy and his friends realize that they are out of their depth and desperately try to find a way out before they too find themselves among the casualties! Mark Smith <msmith@osi.co.uk> Four Cockney wide-boys are tricked into owing 500,000 nicker to the local gang-land boss and porn king, 'Hatchet' Harry Lonsdale. With the very real threat of finger amputation looming over them the lads come up with a plan to nick the cash from their next-door neighbours: a gang of hardcase drug-dealers... Meanwhile, 'Hatchet' ain't none too pleased when a pair of antique shotguns wot he wants are sold on by a pair of Scouse thieves, to be used in a  job ... The involvement of a conscientious debt-collector, some public school  chemists , a psychotic hash-baron, a lot of guns and knives, ensures that karma is surrealistically resolved (just!) before the end credits roll... Ian Miller <imiller@csd.abdn.ac.uk></span>
                                                    </div>
                                                    <p>
                                                        <a class="btn btn-link show-more-less collapsed"
                                                               id="myCollapsibleBtn"
                                                      
                                                           role="button"
                                                       >
                                                        </a>
                                                    </p>
                                                
                                            </p>
                                    </div>
                                </div>
                                <div class="col-md-4 justify-self-end">
                                        <img src="https://m.media-amazon.com/images/M/MV5BMTAyN2JmZmEtNjAyMy00NzYwLThmY2MtYWQ3OGNhNjExMmM4XkEyXkFqcGdeQXVyNDk3NzU2MTQ@.jpg"
                                             class="img-fluid rounded-start"
                                             alt="Lock, Stock and Two Smoking Barrels"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="map-container">
                        <div id="map"></div>
                        <div id="loader">
                            <div class="spinner-border" role="status">
                                <span class="sr-only d-none">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr class="table__header">
                        <th class="table__cell">Location</th>
                        <th class="table__cell">Coordiantes</th>
                    </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">19 Park Street, Southwark, London, SE1 9EG, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.506978</span>, <span class="lon">-0.09439</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Court Lane, Dorney, Windsor, SL4 6QP, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.5037966</span>, <span class="lon">-0.6681168</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Pedley Street, Tower Hamlets, London, E1 5FQ, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.5230195</span>, <span class="lon">-0.0683018</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">8 Patriot Square, Tower Hamlets, London, E2 9NS, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.530694</span>, <span class="lon">-0.055141</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Bethnal Green, E2 9RD, Tower Hamlets, London, Greater London, England, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.5303456</span>, <span class="lon">-0.0561633</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Hackney, Greater London, England, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.5476</span>, <span class="lon">-0.0558</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">116 Cheshire Street, Tower Hamlets, London, E2 6EH, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.524021</span>, <span class="lon">-0.066058</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Three Mill Lane, Newham, London, E3 3AF, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.5274183</span>, <span class="lon">-0.0062274</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">London, Greater London, England, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.515618</span>, <span class="lon">-0.091998</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Southwark, Greater London, England, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.4881</span>, <span class="lon">-0.0583</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Park Street, Southwark, London, SE1 9EA, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.5069182</span>, <span class="lon">-0.093779</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Camden Town, NW1 9PJ, Camden, London, Greater London, England, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.5423045</span>, <span class="lon">-0.1395604</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Columbia Road, Tower Hamlets, London, E2 7RN, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.5286165</span>, <span class="lon">-0.0707715</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">England, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">52.38145972</span>, <span class="lon">-0.676181762467007</span></a>
                            </td>
                        </tr>
                    </tr>
            </table>
        </div>
    </div>
</main>
    <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>

<script type="text/javascript">
var locations =[{"bbox": [[51.4881, -0.0583], [51.5037966, -0.6681168], [51.5069182, -0.093779]], "data": [{"lat": 51.506978, "lon": -0.09439, "name": "19 Park Street, Southwark, London, SE1 9EG, United Kingdom"}, {"lat": 51.5037966, "lon": -0.6681168, "name": "Court Lane, Dorney, Windsor, SL4 6QP, United Kingdom"}, {"lat": 51.5230195, "lon": -0.0683018, "name": "Pedley Street, Tower Hamlets, London, E1 5FQ, United Kingdom"}, {"lat": 51.530694, "lon": -0.055141, "name": "8 Patriot Square, Tower Hamlets, London, E2 9NS, United Kingdom"}, {"lat": 51.5303456, "lon": -0.0561633, "name": "Bethnal Green, E2 9RD, Tower Hamlets, London, Greater London, England, United Kingdom"}, {"lat": 51.5476, "lon": -0.0558, "name": "Hackney, Greater London, England, United Kingdom"}, {"lat": 51.524021, "lon": -0.066058, "name": "116 Cheshire Street, Tower Hamlets, London, E2 6EH, United Kingdom"}, {"lat": 51.5274183, "lon": -0.0062274, "name": "Three Mill Lane, Newham, London, E3 3AF, United Kingdom"}, {"lat": 51.515618, "lon": -0.091998, "name": "London, Greater London, England, United Kingdom"}, {"lat": 51.4881, "lon": -0.0583, "name": "Southwark, Greater London, England, United Kingdom"}, {"lat": 51.5069182, "lon": -0.093779, "name": "Park Street, Southwark, London, SE1 9EA, United Kingdom"}, {"lat": 51.5423045, "lon": -0.1395604, "name": "Camden Town, NW1 9PJ, Camden, London, Greater London, England, United Kingdom"}, {"lat": 51.5286165, "lon": -0.0707715, "name": "Columbia Road, Tower Hamlets, London, E2 7RN, United Kingdom"}, {"lat": 52.38145972, "lon": -0.676181762467007, "name": "England, United Kingdom"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
</body>
</html>