<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>
    <body class="film-location film-details">
        <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
<![endif]-->
        <noscript>
            <h3>Please enable JavaScript in order to view this site properly.</h3>
        </noscript>
        <%- include(`${partials}/nav`); -%>
        <main class="mb-4 mt-5">
            <div class="container px-4 px-lg-5">
                <%- include(`${partials}/autocomplete`); -%>
                <div class="row align-items-md-stretch">
                    <div class="col-md-12">
                        <div class="card mb-3" id="film-details">
                            <div class="row g-0">
                                <div class="col-md-8 px-3 py-3">
                                    <div class="card-body">
                                        <h3 class="card-title">Memento</h3>
                                        <p class="card-text mb-0">
                                            <span id="mainPlotContent"> A man with short-term memory loss attempts to track down his wife's murderer. Memento chronicles two separate stories of Leonard, an ex-insurance investigator who can no longer build new memories, as he attempts to find the murderer of his wife, which is the last thing he remembers. One story line moves forward in time while the other tells the story backwards revealing more each time. Scion013 A memory inside a memory, Memento is a complicated head spinning adventure. Leonard is determined to avenge his wife's murder. However, unable to remember anything that happens day-to-day due to a condition he sustained, short term memory loss, he has to write himself note after note that still don't mean anything after he falls asleep. The film goes... </span>
                                                
                                                    <div class="collapse" id="movieLocationCollapsible">
                                                        <span id="metaPlotContent"class="additional-information">  back in time to reveal each little bit of the puzzle as he tries to find out the person who killed his wife and makes the audience feel just as confused as he is. The narrative closely follows a phone call Pearce has in which he talks about Sammy Jankis a former client of his who he believed had the same condition. The film takes an unexpected twist as the two characters have a lot more in common than is initially put across. gab_b270@hotmail.com Leonard Shelby has short term memory loss resulting from an injury he sustained which was associated with the murder of his wife. He remembers his life prior to the incident, such as being an insurance claims investigator. He has learned to cope with his memory loss through dealing with a man named Sammy Jankis, a person he investigated professionally who also had short term memory issues. Some of these coping mechanism are to have a system of where to place things, talk to people face-to-face if possible rather than on the telephone as to be able to gauge their true intention, take Polaroids and write copious notes, the most important of those which he tattoos on his body so that they become permanent. Leonard's current mission is to find and kill his wife's murderer, who he believes is a man named John G., a name which is tattooed on his body. Over the course of a day, Leonard is assisted in this mission by a few people seemingly independent of each other, including a man named Teddy and a woman named Natalie. However, each time he meets them, he has no idea who they are, why they are helping him and if indeed they are working toward the same goal as him. Huggo Leonard is an insurance investigator whose memory has been damaged following a head injury he sustained after intervening on his wife's murder. His quality of life has been severely hampered after this event, and he can now only live a comprehendable life by tattooing notes on himself and taking pictures of things with a Polaroid camera. The movie is told in forward flashes of events that are to come that compensate for his unreliable memory, during which he has liaisons with various complex characters. Leonard badly wants revenge for his wife's murder, but, as numerous characters explain, there may be little point if he won't remember it in order to provide closure for him. The movie veers between these future occurrences and a telephone conversation Leonard is having in his motel room in which he compares his current state to that of a client whose claim he once dealt with.  Point blank in the head a man shoots another. In flashbacks, each one earlier in time than what we've just seen, the two men's pasts unfold. Leonard, as a result of a blow to the head during an assault on his wife, has no short-term memory. He's looking for his wife's killer, compensating for his disability by taking Polaroids, annotating them and tattooing important facts on his body. We meet the loquacious Teddy and the seductive Natalie (a barmaid who promises to help) and we glimpse Leonard's wife through memories from before the assault. Leonard also talks about Sammy Jankis, a man he knew with a similar condition. Has Leonard found the killer? Who's manipulating whom?  </span>
                                                    </div>
                                                    <p>
                                                        <a class="btn btn-link show-more-less collapsed"
                                                           id="myCollapsibleBtn"
                                                           role="button"></a>
                                                    </p>
                                                
                                            </p>
                                    </div>
                                </div>
                                <div class="col-md-4 justify-self-end">
                                        <img src="https://m.media-amazon.com/images/M/MV5BZTcyNjk1MjgtOWI3Mi00YzQwLWI5MTktMzY4ZmI2NDAyNzYzXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg"
                                             class="img-fluid rounded-start"
                                             alt="Memento"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="map-container">
                        <div id="map"></div>
                        <div id="loader">
                            <div class="spinner-border" role="status">
                                <span class="sr-only d-none">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr class="table__header">
                        <th class="table__cell">Location</th>
                        <th class="table__cell">Coordiantes</th>
                    </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Burbank, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.181648</span>, <span class="lon">-118.325855</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">W Foothill Blvd, Los Angeles, California 91711, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.09256</span>, <span class="lon">-118.31338</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Glendale, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.146942</span>, <span class="lon">-118.247847</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Sylmar Avenue, Sherman Oaks, California 91423, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.15549</span>, <span class="lon">-118.44672</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">9111 Sepulveda Boulevard, North Hills, California 91343, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.236005</span>, <span class="lon">-118.468085</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Las Vegas, Nevada, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">36.167256</span>, <span class="lon">-115.148516</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Carson, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">33.832204</span>, <span class="lon">-118.251755</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Sunland, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.260822</span>, <span class="lon">-118.313517</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">North Hills, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.242958</span>, <span class="lon">-118.485408</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Altadena, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.186316</span>, <span class="lon">-118.135233</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Los Angeles, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.053691</span>, <span class="lon">-118.242766</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Pasadena, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.147645</span>, <span class="lon">-118.144478</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Tujunga, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.252225</span>, <span class="lon">-118.288411</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">37.0743595873</span>, <span class="lon">-119.699375153073</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Nevada, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">40.0711202976</span>, <span class="lon">-116.598821819119</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">39.3812661305678</span>, <span class="lon">-97.9222112121185</span></a>
                            </td>
                        </tr>
                    </table>
            </div>
        </main>
        <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>
        <script type="text/javascript">
var locations =[{"bbox": [[33.832204, -118.251755], [34.053691, -118.242766], [34.09256, -118.31338]], "data": [{"lat": 34.181648, "lon": -118.325855, "name": "Burbank, California, United States"}, {"lat": 34.09256, "lon": -118.31338, "name": "W Foothill Blvd, Los Angeles, California 91711, United States"}, {"lat": 34.146942, "lon": -118.247847, "name": "Glendale, California, United States"}, {"lat": 34.15549, "lon": -118.44672, "name": "Sylmar Avenue, Sherman Oaks, California 91423, United States"}, {"lat": 34.236005, "lon": -118.468085, "name": "9111 Sepulveda Boulevard, North Hills, California 91343, United States"}, {"lat": 36.167256, "lon": -115.148516, "name": "Las Vegas, Nevada, United States"}, {"lat": 33.832204, "lon": -118.251755, "name": "Carson, California, United States"}, {"lat": 34.260822, "lon": -118.313517, "name": "Sunland, California, United States"}, {"lat": 34.242958, "lon": -118.485408, "name": "North Hills, California, United States"}, {"lat": 34.186316, "lon": -118.135233, "name": "Altadena, California, United States"}, {"lat": 34.053691, "lon": -118.242766, "name": "Los Angeles, California, United States"}, {"lat": 34.147645, "lon": -118.144478, "name": "Pasadena, California, United States"}, {"lat": 34.252225, "lon": -118.288411, "name": "Tujunga, California, United States"}, {"lat": 37.0743595873, "lon": -119.699375153073, "name": "California, United States"}, {"lat": 40.0711202976, "lon": -116.598821819119, "name": "Nevada, United States"}, {"lat": 39.3812661305678, "lon": -97.9222112121185, "name": "United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                          
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
        </script>
    </body>
</html>