<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>
    <body class="film-location film-details">
        <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
<![endif]-->
        <noscript>
            <h3>Please enable JavaScript in order to view this site properly.</h3>
        </noscript>
        <%- include(`${partials}/nav`); -%>
        <main class="mb-4 mt-5">
            <div class="container px-4 px-lg-5">
                <%- include(`${partials}/autocomplete`); -%>
                <div class="row align-items-md-stretch">
                    <div class="col-md-12">
                        <div class="card mb-3" id="film-details">
                            <div class="row g-0">
                                <div class="col-md-8 px-3 py-3">
                                    <div class="card-body">
                                        <h3 class="card-title">The Exorcist</h3>
                                        <p class="card-text mb-0">
                                            <span id="mainPlotContent"> When a 12-year-old girl is possessed by a mysterious entity, her mother seeks the help of two priests to save her. A visiting actress in Washington, D.C., notices dramatic and dangerous changes in the behavior and physical make-up of her 12-year-old daughter. Meanwhile, a young priest at nearby Georgetown University begins to doubt his faith while dealing with his mother's terminal sickness. And, book-ending the story, a frail, elderly priest recognizes the necessity for a show-down with an old demonic enemy. Andrew Harmon  Separated from her actor husband, Hollywood actress Chris MacNeil and her preteen daughter Regan are in Washington DC, where Chris is on an extended location shoot for a movie called  Crash Course . They have rented a br... </span>
                                                
                                                    <div class="collapse" id="movieLocationCollapsible">
                                                        <span id="metaPlotContent"class="additional-information"> ownstone in Georgetown as a place to live during the shoot, after which Chris plans to take Regan to Europe until their new house in Los Angeles is constructed. Chris continually hears noises in the middle of the night emanating from the attic, which she assumes is nothing more than a small infestation of rats. Concurrently, Regan, who had been an even keeled child, is showing periodic signs of unusual behavior, such as hyperactivity, swearing, lying and lack of concentration. The GP, Dr. Klein, who can only surmise the symptoms are a manifestation of stress from the separation and temporary move to DC away from her home, diagnoses her condition, solely based on the symptoms, as hyperkinesia. Despite Dr. Klein and other physicians trying to determine and explain Regan's increasingly abnormal and bizarre behavior with scientific theories, Chris begins to believe that there is more at play, especially as Regan's behavior ultimately includes violence and acts of superhuman strength, which can only be classified as other worldly which Regan herself could not have directly caused on her own, such as the rat-less noises in the attic. Despite having no religious convictions, Chris is convinced that since there is some other worldly force overtaking Regan, a course of action is to have that force - the demon - exorcised from Regan's being. Who contacts her is Father Damien Karras - also an M.D. who acts as a psychiatric counselor for the Catholic church - who Chris for whatever reason had been drawn to as a person she has seen in the neighborhood. Father Karras is facing his own crisis of faith upon the recent death of his mother. He needs not only the permission of the church to proceed but also his own faith that whatever he does will help as opposed to hurt Regan. Who the church also sends is Father Lankester Merrin, who may have a better understanding of what has possessed Regan and why it has chosen her, which is necessary to be able to combat it. The questions become whether Fathers Merrin and Karras have a strong enough faith to exorcise the demon and what they are willing to do to achieve their mission. Huggo More and more, Regan, the otherwise happy twelve-year-old daughter of the successful actress, Chris MacNeil, is showing signs of erratic and disturbing behaviour, after an ill-advised contact with the supernatural. As a result, as the situation is rapidly getting out of hand, with perfectly healthy Regan becoming increasingly violent and obscene, desperate Chris is willing to do everything in her power to keep her child safe, including seeking spiritual help. Now, Chris' only hope rests on the inexperienced Greek-American Catholic priest, Father Damien Karras, and the weary exorcist, Father Lankester Merrin, to perform the intricate purification rite that will rid Regan of the malevolent spirit that is tormenting her. But, can they confront the embodiment of evil? Nick Riganas Accompanied by her 12 year-old daughter Regan, actress Chris McNeil relocates to Washington D.C. where she is filming a movie. Mother and daughter have a good relationship but after a time Regan begins to act strangely. She undergoes various neurological tests but doctors can find nothing to explain her behavior. As Regan's situation reaches crisis proportions - she has to be tied to her bed, swears like a sailor and speaks in tongues - Chris turns to Father Karras, a Roman Catholic priest and psychiatrist to see if an exorcism might be the solution to their problem. Karras is incredulous but the church eventually agrees calling in Father Merrin, who has previously conducted an exorcism and come face to face with the devil. garykmcd A movie actress taking up temporary residence in Washington D.C. has her troubles. The script for the movie she's filming seems inadequate. Her ex, who is also the father of her adolescent daughter, Regan, neglects to call the girl on her birthday. And the attic has rats. Meanwhile, Father Karras, a priest and a psychiatrist, is losing his faith; and he's dealing with a sick mother who needs medical care he hasn't the money to provide. Another priest, the old and ailing Father Merrin, has just returned from Iraq with forebodings of evil. These three persons meet when the sweet and cheerful Regan turns foul-mouthed and violent. But her sickness is beyond the reach of a medical doctor or a psychiatrist. What Regan needs is an exorcist. J. Spurlin </span>
                                                    </div>
                                                    <p>
                                                        <a class="btn btn-link show-more-less collapsed"
                                                           id="myCollapsibleBtn"
                                                           role="button"></a>
                                                    </p>
                                                
                                            </p>
                                    </div>
                                </div>
                                <div class="col-md-4 justify-self-end">
                                        <img src="https://m.media-amazon.com/images/M/MV5BYWFlZGY2NDktY2ZjOS00ZWNkLTg0ZDAtZDY4MTM1ODU4ZjljXkEyXkFqcGdeQXVyMjUzOTY1NTc@.jpg"
                                             class="img-fluid rounded-start"
                                             alt="The Exorcist"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="map-container">
                        <div id="map"></div>
                        <div id="loader">
                            <div class="spinner-border" role="status">
                                <span class="sr-only d-none">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr class="table__header">
                        <th class="table__cell">Location</th>
                        <th class="table__cell">Coordiantes</th>
                    </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">الموصل, Duhok, Iraq</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">36.341584337</span>, <span class="lon">43.129138593</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Iraq</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">33.0480556443919</span>, <span class="lon">43.4047161632042</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">نهر المعسيل, Al-Qādisiyyah, Iraq</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">31.649474621</span>, <span class="lon">44.63285286</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">3600 Prospect Street Northwest, Washington, District of Columbia 20007, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">38.90566</span>, <span class="lon">-77.070395</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Washington, District of Columbia, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">38.895037</span>, <span class="lon">-77.036543</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Healy Hall, 3700 O St NW, Washington, District of Columbia 20057, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">38.907364</span>, <span class="lon">-77.0726945</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">462 South 1st Avenue, Mount Vernon, New York 10550, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">40.900315</span>, <span class="lon">-73.829714</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Washington, District of Columbia, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">38.895037</span>, <span class="lon">-77.036543</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Dahlgren Chapel of the Sacred Heart, 3700 O St NW, Washington, District of Columbia 20057, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">38.907304999999994</span>, <span class="lon">-77.07340149999999</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">West 54th Street, New York, New York 10019, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">40.765295</span>, <span class="lon">-73.98504</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">1226 36th Street Northwest, Washington, District of Columbia 20007, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">38.90611</span>, <span class="lon">-77.0705</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Georgetown University, Center For Eurasian And East E, Washington, District of Columbia 20057, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">38.907701875</span>, <span class="lon">-77.072684</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Dumbarton Bridge, Q St NW, Washington, District of Columbia 20008, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">38.9107975</span>, <span class="lon">-77.05114900000001</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Fordham, New York, New York, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">40.859267</span>, <span class="lon">-73.898469</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Hell's Kitchen, New York, New York, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">40.764423</span>, <span class="lon">-73.992392</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Georgetown, Washington, District of Columbia, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">38.905199</span>, <span class="lon">-77.062785</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Iraq</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">33.0480556443919</span>, <span class="lon">43.4047161632042</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">New York, New York, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">40.7306</span>, <span class="lon">-73.9866</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Brooklyn, New York, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">40.652601</span>, <span class="lon">-73.949721</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Marriott Vacation Club Pulse, 33 West 37th Street, New York, New York 10018, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">40.751296</span>, <span class="lon">-73.984819</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">NYU Stern School of Business, 44 W 4th St, New York, New York 10003, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">40.729364000000004</span>, <span class="lon">-73.995956</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">4000 Warner Boulevard, Burbank, California 91522, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.150955</span>, <span class="lon">-118.339232</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Washington, District of Columbia, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">38.895037</span>, <span class="lon">-77.036543</span></a>
                            </td>
                        </tr>
                    </table>
            </div>
        </main>
        <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>
        <script type="text/javascript">
var locations =[{"bbox": [[38.895037, -77.036543], [38.895037, -77.036543], [38.895037, -77.036543]], "data": [{"lat": 36.341584337, "lon": 43.129138593, "name": "\u0627\u0644\u0645\u0648\u0635\u0644, Duhok, Iraq"}, {"lat": 33.0480556443919, "lon": 43.4047161632042, "name": "Iraq"}, {"lat": 31.649474621, "lon": 44.63285286, "name": "\u0646\u0647\u0631 \u0627\u0644\u0645\u0639\u0633\u064a\u0644, Al-Q\u0101disiyyah, Iraq"}, {"lat": 38.90566, "lon": -77.070395, "name": "3600 Prospect Street Northwest, Washington, District of Columbia 20007, United States"}, {"lat": 38.895037, "lon": -77.036543, "name": "Washington, District of Columbia, United States"}, {"lat": 38.907364, "lon": -77.0726945, "name": "Healy Hall, 3700 O St NW, Washington, District of Columbia 20057, United States"}, {"lat": 40.900315, "lon": -73.829714, "name": "462 South 1st Avenue, Mount Vernon, New York 10550, United States"}, {"lat": 38.895037, "lon": -77.036543, "name": "Washington, District of Columbia, United States"}, {"lat": 38.907304999999994, "lon": -77.07340149999999, "name": "Dahlgren Chapel of the Sacred Heart, 3700 O St NW, Washington, District of Columbia 20057, United States"}, {"lat": 40.765295, "lon": -73.98504, "name": "West 54th Street, New York, New York 10019, United States"}, {"lat": 38.90611, "lon": -77.0705, "name": "1226 36th Street Northwest, Washington, District of Columbia 20007, United States"}, {"lat": 38.907701875, "lon": -77.072684, "name": "Georgetown University, Center For Eurasian And East E, Washington, District of Columbia 20057, United States"}, {"lat": 38.9107975, "lon": -77.05114900000001, "name": "Dumbarton Bridge, Q St NW, Washington, District of Columbia 20008, United States"}, {"lat": 40.859267, "lon": -73.898469, "name": "Fordham, New York, New York, United States"}, {"lat": 40.764423, "lon": -73.992392, "name": "Hell\u0027s Kitchen, New York, New York, United States"}, {"lat": 38.905199, "lon": -77.062785, "name": "Georgetown, Washington, District of Columbia, United States"}, {"lat": 33.0480556443919, "lon": 43.4047161632042, "name": "Iraq"}, {"lat": 40.7306, "lon": -73.9866, "name": "New York, New York, United States"}, {"lat": 40.652601, "lon": -73.949721, "name": "Brooklyn, New York, United States"}, {"lat": 40.751296, "lon": -73.984819, "name": "Marriott Vacation Club Pulse, 33 West 37th Street, New York, New York 10018, United States"}, {"lat": 40.729364000000004, "lon": -73.995956, "name": "NYU Stern School of Business, 44 W 4th St, New York, New York 10003, United States"}, {"lat": 34.150955, "lon": -118.339232, "name": "4000 Warner Boulevard, Burbank, California 91522, United States"}, {"lat": 38.895037, "lon": -77.036543, "name": "Washington, District of Columbia, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                          
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
        </script>
    </body>
</html>