<!DOCTYPE html>
<html lang="en" dir="ltr">

  <%- include(`${partials}/homeHead`, {pageTitle: 'Movies'}); -%>


<body>
  <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

  <noscript>
    <h3>Please enable JavaScript in order to view this site properly.</h3>
  </noscript>
    <%- include(`${partials}/nav`); -%>

    <main class="mb-4 mt-5">
      <div class="container px-4 px-lg-5">
        <%- include(`${partials}/autocomplete`); -%>
        <div class="row justify-content-center">

        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 text-center g-3">
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0172495" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMDliMmNhNDEtODUyOS00MjNlLTgxODEtN2U3NzIxMGVkZTA1L2ltYWdlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg" class="card-img-top" alt="Gladiator" />
              <div class="card-body">
                <a href="/movie-locations/gladiator-0172495" class="stretched-link">
                  <p class="card-text text-center">
                    Gladiator
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0120586" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BZTJhN2FkYWEtMGI0My00YWM4LWI2MjAtM2UwNjY4MTI2ZTQyXkEyXkFqcGdeQXVyNjc3MjQzNTI@.jpg" class="card-img-top" alt="American History X" />
              <div class="card-body">
                <a href="/movie-locations/american-history-x-0120586" class="stretched-link">
                  <p class="card-text text-center">
                    American History X
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0114814" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BYTViNjMyNmUtNDFkNC00ZDRlLThmMDUtZDU2YWE4NGI2ZjVmXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg" class="card-img-top" alt="The Usual Suspects" />
              <div class="card-body">
                <a href="/movie-locations/the-usual-suspects-0114814" class="stretched-link">
                  <p class="card-text text-center">
                    The Usual Suspects
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0407887" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMTI1MTY2OTIxNV5BMl5BanBnXkFtZTYwNjQ4NjY3.jpg" class="card-img-top" alt="The Departed" />
              <div class="card-body">
                <a href="/movie-locations/the-departed-0407887" class="stretched-link">
                  <p class="card-text text-center">
                    The Departed
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0482571" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMjA4NDI0MTIxNF5BMl5BanBnXkFtZTYwNTM0MzY2.jpg" class="card-img-top" alt="The Prestige" />
              <div class="card-body">
                <a href="/movie-locations/the-prestige-0482571" class="stretched-link">
                  <p class="card-text text-center">
                    The Prestige
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0034583" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BY2IzZGY2YmEtYzljNS00NTM5LTgwMzUtMzM1NjQ4NGI0OTk0XkEyXkFqcGdeQXVyNDYyMDk5MTU@.jpg" class="card-img-top" alt="Casablanca" />
              <div class="card-body">
                <a href="/movie-locations/casablanca-0034583" class="stretched-link">
                  <p class="card-text text-center">
                    Casablanca
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="2582802" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BOTA5NDZlZGUtMjAxOS00YTRkLTkwYmMtYWQ0NWEwZDZiNjEzXkEyXkFqcGdeQXVyMTMxODk2OTU@.jpg" class="card-img-top" alt="Whiplash" />
              <div class="card-body">
                <a href="/movie-locations/whiplash-2582802" class="stretched-link">
                  <p class="card-text text-center">
                    Whiplash
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="1675434" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMTYxNDA3MDQwNl5BMl5BanBnXkFtZTcwNTU4Mzc1Nw@@.jpg" class="card-img-top" alt="The Intouchables" />
              <div class="card-body">
                <a href="/movie-locations/the-intouchables-1675434" class="stretched-link">
                  <p class="card-text text-center">
                    The Intouchables
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0027977" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BYjJiZjMzYzktNjU0NS00OTkxLWEwYzItYzdhYWJjN2QzMTRlL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg" class="card-img-top" alt="Modern Times" />
              <div class="card-body">
                <a href="/movie-locations/modern-times-0027977" class="stretched-link">
                  <p class="card-text text-center">
                    Modern Times
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0064116" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BZGI5MjBmYzYtMzJhZi00NGI1LTk3MzItYjBjMzcxM2U3MDdiXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg" class="card-img-top" alt="Once Upon a Time in the West" />
              <div class="card-body">
                <a href="/movie-locations/once-upon-a-time-in-the-west-0064116" class="stretched-link">
                  <p class="card-text text-center">
                    Once Upon a Time in the West
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0078748" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMmQ2MmU3NzktZjAxOC00ZDZhLTk4YzEtMDMyMzcxY2IwMDAyXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg" class="card-img-top" alt="Alien" />
              <div class="card-body">
                <a href="/movie-locations/alien-0078748" class="stretched-link">
                  <p class="card-text text-center">
                    Alien
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0047396" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BNGUxYWM3M2MtMGM3Mi00ZmRiLWE0NGQtZjE5ODI2OTJhNTU0XkEyXkFqcGdeQXVyMTQxNzMzNDI@.jpg" class="card-img-top" alt="Rear Window" />
              <div class="card-body">
                <a href="/movie-locations/rear-window-0047396" class="stretched-link">
                  <p class="card-text text-center">
                    Rear Window
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0021749" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BY2I4MmM1N2EtM2YzOS00OWUzLTkzYzctNDc5NDg2N2IyODJmXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg" class="card-img-top" alt="City Lights" />
              <div class="card-body">
                <a href="/movie-locations/city-lights-0021749" class="stretched-link">
                  <p class="card-text text-center">
                    City Lights
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0209144" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BZTcyNjk1MjgtOWI3Mi00YzQwLWI5MTktMzY4ZmI2NDAyNzYzXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg" class="card-img-top" alt="Memento" />
              <div class="card-body">
                <a href="/movie-locations/memento-0209144" class="stretched-link">
                  <p class="card-text text-center">
                    Memento
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0095765" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BM2FhYjEyYmYtMDI1Yy00YTdlLWI2NWQtYmEzNzAxOGY1NjY2XkEyXkFqcGdeQXVyNTA3NTIyNDg@.jpg" class="card-img-top" alt="Cinema Paradiso" />
              <div class="card-body">
                <a href="/movie-locations/cinema-paradiso-0095765" class="stretched-link">
                  <p class="card-text text-center">
                    Cinema Paradiso
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0078788" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMDdhODg0MjYtYzBiOS00ZmI5LWEwZGYtZDEyNDU4MmQyNzFkXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg" class="card-img-top" alt="Apocalypse Now" />
              <div class="card-body">
                <a href="/movie-locations/apocalypse-now-0078788" class="stretched-link">
                  <p class="card-text text-center">
                    Apocalypse Now
                  </p>
                </a>
              </div>
            </div>
          </div>
</div>
                <div class="row justify-content-center mt-3">

          <nav aria-label="Movie Locations Top 250">

            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a class="page-link" href="/movie-locations/2" aria-label="Previous">Previous <span
                    aria-hidden="true">&laquo;</span></a>
              </li>
              <li class="page-item">
                <a class="page-link" href="/movie-locations/1">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="/movie-locations/2">2</a>
              </li>
              <li class="active page-item">
                <a class="page-link" href="/movie-locations/3">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="/movie-locations/4">4</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="/movie-locations/5">5</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="/movie-locations/4" aria-label="Next">Next<span
                    aria-hidden="true">&raquo;</span></a>
              </li>
            </ul>

          </nav>

        </div>
      </div>
    </main>
 <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>
</body>

</html>
