<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>
    <body class="film-location film-details">
        <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
<![endif]-->
        <noscript>
            <h3>Please enable JavaScript in order to view this site properly.</h3>
        </noscript>
        <%- include(`${partials}/nav`); -%>
        <main class="mb-4 mt-5">
            <div class="container px-4 px-lg-5">
                <%- include(`${partials}/autocomplete`); -%>
                <div class="row align-items-md-stretch">
                    <div class="col-md-12">
                        <div class="card mb-3" id="film-details">
                            <div class="row g-0">
                                <div class="col-md-8 px-3 py-3">
                                    <div class="card-body">
                                        <h3 class="card-title">The Godfather: Part II</h3>
                                        <p class="card-text mb-0">
                                            <span id="mainPlotContent"> The early life and career of Vito Corleone in 1920s New York City is portrayed, while his son, Michael, expands and tightens his grip on the family crime syndicate. The continuing saga of the Corleone crime family tells the story of a young Vito Corleone growing up in Sicily and in 1910s New York; and follows Michael Corleone in the 1950s as he attempts to expand the family business into Las Vegas, Hollywood and Cuba. Keith Loh  The life of Vito Corleone is shown as he becomes from a boy born in Sicily to one of the most respected mafia dons of New York while Micheal attempts to expand his business empire into Las Vegas, Florida and pre-revolution Cuba while facing his own personal problems trying to keep his collapsing marriage and relatio... </span>
                                                
                                                    <div class="collapse" id="movieLocationCollapsible">
                                                        <span id="metaPlotContent"class="additional-information"> nship with his brother intact. ahmetkozan The continuation of the Godfather saga with two focuses: the ongoing story of the Corleone family, and Michael in particular, and Vito Corleone's (Michael's father) backstory. Regarding the ongoing Michael Corleone story, it is about seven years since the events that concluded The Godfather. With the murders of the heads of the other four New York / New Jersey families, the Corleone family has unassailable control in New York. The move to Nevada went smoothly and Michael Corleone controls several hotels and casinos in the state. Frank Pentageli, the man who runs Michael's interests in New York, comes to Michael, asking if he can take out the Rosato Brothers as they are infringing on Pentageli's turf and business interests. However, the Rosatos are backed by Hyman Roth, a business partner of Michael's and a long- time ally of Michael's father, Vito Corleone, and Michael refuses. An attempted assassination attempt is then carried out on Michael's life, in his own home. Michael investigates who is trying to kill him, and suspects that there is a traitor in his family. Meanwhile. Michael and Hyman Roth fly to Cuba to finalise some business deals there. The Cuban trip reveals all. In a story interwoven with the present day, we see the backstory to Vito Corleone. From how his parents and brother were murdered by a Don in their home town of Corleone in Sicily, to his escaping, as a boy, to New York, his adult life and his rise to Don Corleone. grantss The childhood of Vito Corleone and his rise from a petty criminal to the most powerful don in New York City during the early 20th century is depicted, whilst his son Don Michael Corleone succumbs to power, greed, and ruthlessness, all for the sake of pride and keeping the Corleone family intact. goddangwatir </span>
                                                    </div>
                                                    <p>
                                                        <a class="btn btn-link show-more-less collapsed"
                                                           id="myCollapsibleBtn"
                                                           role="button"></a>
                                                    </p>
                                                
                                            </p>
                                    </div>
                                </div>
                                <div class="col-md-4 justify-self-end">
                                        <img src="https://m.media-amazon.com/images/M/MV5BMWMwMGQzZTItY2JlNC00OWZiLWIyMDctNDk2ZDQ2YjRjMWQ0XkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                             class="img-fluid rounded-start"
                                             alt="The Godfather: Part II"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="map-container">
                        <div id="map"></div>
                        <div id="loader">
                            <div class="spinner-border" role="status">
                                <span class="sr-only d-none">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr class="table__header">
                        <th class="table__cell">Location</th>
                        <th class="table__cell">Coordiantes</th>
                    </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">4000 West Lake Boulevard, Homewood, California 96141, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">39.102555</span>, <span class="lon">-120.162215</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">El Embajador, Avenida Sarasota #65, Santo Domingo de Guzmán, Distrito Nacional, Dominican Republic</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">18.455024</span>, <span class="lon">-69.933387</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Via Friuli Venezia Giulia, 73043 Copertino Lecce, Italy</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">40.2654635</span>, <span class="lon">18.0504036</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Santo Domingo, Dominican Republic</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">18.49333</span>, <span class="lon">-69.86667</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Forza d'Agrò, Forza d'Agrò, Messina 98030, Italy</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">37.914901</span>, <span class="lon">15.334347750000001</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Duarte, Santo Domingo Oeste, Santo Domingo, Dominican Republic</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">18.474780815</span>, <span class="lon">-69.973467104</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">The Ritz-Carlton, 13031 Ritz-Carlton Highlands Court, Truckee, California 96161, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">39.267319</span>, <span class="lon">-120.12787</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Via Vecchia Pozzillo, 95024 Acireale Catania, Italy</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">37.661558</span>, <span class="lon">15.173956</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Riva Nazario Sauro, 34123 Trieste Trieste, Italy</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">45.6475128</span>, <span class="lon">13.764207</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Scala to Santa Maria del Monte, Caltagirone, Catania 95041, Italy</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">37.23769</span>, <span class="lon">14.521768</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Regalbuto, Enna, Italy</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">37.653547</span>, <span class="lon">14.639636</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Greenwich Village, New York, New York, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">40.73198</span>, <span class="lon">-73.996566</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Las Vegas, Nevada, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">36.167256</span>, <span class="lon">-115.148516</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">108 Avenue B, New York, New York 10009, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">40.72503</span>, <span class="lon">-73.981435</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">East 6th Street, New York, New York 10009, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">40.724835</span>, <span class="lon">-73.98286</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Mandarin Oriental, 500 Brickell Key Dr, Miami, Florida 33131, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">25.76513515625</span>, <span class="lon">-80.18537321875</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Via Vecchia Pozzillo, 95024 Acireale Catania, Italy</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">37.661558</span>, <span class="lon">15.173956</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">538 East 6th Street, New York, New York 10009, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">40.72458</span>, <span class="lon">-73.982255</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Hospital Padre Billini, Calle Espaillat, Zona Colonial, Santo Domingo de Guzmán, Distrito Nacional, Dominican Republic</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">18.471455</span>, <span class="lon">-69.889124</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Santo Domingo, Dominican Republic</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">18.49333</span>, <span class="lon">-69.86667</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Duarte, Santo Domingo Oeste, Santo Domingo, Dominican Republic</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">18.474780815</span>, <span class="lon">-69.973467104</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Santo Domingo, Dominican Republic</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">18.49333</span>, <span class="lon">-69.86667</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">East Village, New York, New York, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">40.729269</span>, <span class="lon">-73.987361</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">515 15th Street Southeast, Washington, District of Columbia 20003, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">38.882408</span>, <span class="lon">-76.983664</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Prison Ship Martyrs Monument, Fort Greene Park, New York, New York 11201, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">40.68917359673309</span>, <span class="lon">-73.9826731487689</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Marriott Vacation Club Pulse, 33 West 37th Street, New York, New York 10018, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">40.751296</span>, <span class="lon">-73.984819</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">2045 North Hibiscus Drive, North Miami, Florida 33181, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">25.89427</span>, <span class="lon">-80.15653</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Greenwich Village, New York, New York, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">40.73198</span>, <span class="lon">-73.996566</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Parque Independencia, Av. Independencia, Santo Domingo de Guzmán, Distrito Nacional, Dominican Republic</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">18.471916</span>, <span class="lon">-69.892211</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Palacio Nacional, Av. Mexico, Santo Domingo de Guzmán, Distrito Nacional, Dominican Republic</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">18.474473000000003</span>, <span class="lon">-69.89783800000001</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Los Angeles, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.053691</span>, <span class="lon">-118.242766</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Santo Domingo, Dominican Republic</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">18.49333</span>, <span class="lon">-69.86667</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Biblioteca Nacional Pedro Henriquez Ureña, Av. Cesar Nicolas Penson, Santo Domingo de Guzmán, Distrito Nacional, Dominican Republic</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">18.470478</span>, <span class="lon">-69.907842</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Club Náutico de Santo Domingo, C/ San Andrés #6, Andres, Boca Chica, Boca Chica, Santo Domingo, Dominican Republic</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">18.445364</span>, <span class="lon">-69.626091</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Parque Independencia, Av. Independencia, Santo Domingo de Guzmán, Distrito Nacional, Dominican Republic</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">18.471916</span>, <span class="lon">-69.892211</span></a>
                            </td>
                        </tr>
                    </table>
            </div>
        </main>
        <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>
        <script type="text/javascript">
var locations =[{"bbox": [[18.445364, -69.626091], [18.455024, -69.933387], [18.470478, -69.907842]], "data": [{"lat": 39.102555, "lon": -120.162215, "name": "4000 West Lake Boulevard, Homewood, California 96141, United States"}, {"lat": 18.455024, "lon": -69.933387, "name": "El Embajador, Avenida Sarasota #65, Santo Domingo de Guzm\u00e1n, Distrito Nacional, Dominican Republic"}, {"lat": 40.2654635, "lon": 18.0504036, "name": "Via Friuli Venezia Giulia, 73043 Copertino Lecce, Italy"}, {"lat": 18.49333, "lon": -69.86667, "name": "Santo Domingo, Dominican Republic"}, {"lat": 37.914901, "lon": 15.334347750000001, "name": "Forza d\u0027Agr\u00f2, Forza d\u0027Agr\u00f2, Messina 98030, Italy"}, {"lat": 18.474780815, "lon": -69.973467104, "name": "Duarte, Santo Domingo Oeste, Santo Domingo, Dominican Republic"}, {"lat": 39.267319, "lon": -120.12787, "name": "The Ritz-Carlton, 13031 Ritz-Carlton Highlands Court, Truckee, California 96161, United States"}, {"lat": 37.661558, "lon": 15.173956, "name": "Via Vecchia Pozzillo, 95024 Acireale Catania, Italy"}, {"lat": 45.6475128, "lon": 13.764207, "name": "Riva Nazario Sauro, 34123 Trieste Trieste, Italy"}, {"lat": 37.23769, "lon": 14.521768, "name": "Scala to Santa Maria del Monte, Caltagirone, Catania 95041, Italy"}, {"lat": 37.653547, "lon": 14.639636, "name": "Regalbuto, Enna, Italy"}, {"lat": 40.73198, "lon": -73.996566, "name": "Greenwich Village, New York, New York, United States"}, {"lat": 36.167256, "lon": -115.148516, "name": "Las Vegas, Nevada, United States"}, {"lat": 40.72503, "lon": -73.981435, "name": "108 Avenue B, New York, New York 10009, United States"}, {"lat": 40.724835, "lon": -73.98286, "name": "East 6th Street, New York, New York 10009, United States"}, {"lat": 25.76513515625, "lon": -80.18537321875, "name": "Mandarin Oriental, 500 Brickell Key Dr, Miami, Florida 33131, United States"}, {"lat": 37.661558, "lon": 15.173956, "name": "Via Vecchia Pozzillo, 95024 Acireale Catania, Italy"}, {"lat": 40.72458, "lon": -73.982255, "name": "538 East 6th Street, New York, New York 10009, United States"}, {"lat": 18.471455, "lon": -69.889124, "name": "Hospital Padre Billini, Calle Espaillat, Zona Colonial, Santo Domingo de Guzm\u00e1n, Distrito Nacional, Dominican Republic"}, {"lat": 18.49333, "lon": -69.86667, "name": "Santo Domingo, Dominican Republic"}, {"lat": 18.474780815, "lon": -69.973467104, "name": "Duarte, Santo Domingo Oeste, Santo Domingo, Dominican Republic"}, {"lat": 18.49333, "lon": -69.86667, "name": "Santo Domingo, Dominican Republic"}, {"lat": 40.729269, "lon": -73.987361, "name": "East Village, New York, New York, United States"}, {"lat": 38.882408, "lon": -76.983664, "name": "515 15th Street Southeast, Washington, District of Columbia 20003, United States"}, {"lat": 40.68917359673309, "lon": -73.9826731487689, "name": "Prison Ship Martyrs Monument, Fort Greene Park, New York, New York 11201, United States"}, {"lat": 40.751296, "lon": -73.984819, "name": "Marriott Vacation Club Pulse, 33 West 37th Street, New York, New York 10018, United States"}, {"lat": 25.89427, "lon": -80.15653, "name": "2045 North Hibiscus Drive, North Miami, Florida 33181, United States"}, {"lat": 40.73198, "lon": -73.996566, "name": "Greenwich Village, New York, New York, United States"}, {"lat": 18.471916, "lon": -69.892211, "name": "Parque Independencia, Av. Independencia, Santo Domingo de Guzm\u00e1n, Distrito Nacional, Dominican Republic"}, {"lat": 18.474473000000003, "lon": -69.89783800000001, "name": "Palacio Nacional, Av. Mexico, Santo Domingo de Guzm\u00e1n, Distrito Nacional, Dominican Republic"}, {"lat": 34.053691, "lon": -118.242766, "name": "Los Angeles, California, United States"}, {"lat": 18.49333, "lon": -69.86667, "name": "Santo Domingo, Dominican Republic"}, {"lat": 18.470478, "lon": -69.907842, "name": "Biblioteca Nacional Pedro Henriquez Ure\u00f1a, Av. Cesar Nicolas Penson, Santo Domingo de Guzm\u00e1n, Distrito Nacional, Dominican Republic"}, {"lat": 18.445364, "lon": -69.626091, "name": "Club N\u00e1utico de Santo Domingo, C/ San Andr\u00e9s #6, Andres, Boca Chica, Boca Chica, Santo Domingo, Dominican Republic"}, {"lat": 18.471916, "lon": -69.892211, "name": "Parque Independencia, Av. Independencia, Santo Domingo de Guzm\u00e1n, Distrito Nacional, Dominican Republic"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                          
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
        </script>
    </body>
</html>