<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/head`, {pageTitle: 'Home'}); -%> <%-
  include(`${partials}/page-scripts/geocoder-css.ejs`); -%>

<body class="latlon-to-distance">
  <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->
  <noscript>
    <h3>Please enable JavaScript in order to view this site properly.</h3>
  </noscript>

  <main class="flex-shrink-0 mt-5">
    <div class="container px-3">
      <div class="row g-3 ">
        <div class="col-md-4">
          <%- include(`${partials}/general/header`, {title: 'Address Distance Calculator', subtitle: 'Quickly get the distance between two points.'}); -%>
          <%- include(`${partials}/form/inputs`,{
                  inputName: [
                    { name: 'Origin',  type: 'text' },
                      { name: 'Destination',  type: 'text' }
                  ], 
                formid: "getDistanceForm",
                button: {name: 'Find Distance', type: 'submit' },
                output: [{name: 'Distance', type: 'text'}]
                }); -%>
        </div>
        <%- include(`${partials}/map/map-Container.ejs`); -%>
      </div>

    </div>
    <!--  !! COMMENT SECTION FORM MODALS !! -->

<!--  !! BOOKMARK DIALOG MODAL !! -->
<div class="modal fade   py-5" tabindex="-1" role="dialog" id="bookmarkModal">
  <div class="modal-dialog" aria-hidden="true">
    <div class="modal-content rounded-6 shadow">

      <div class="modal-body">
        <div class="row justify-content-end">
          <button type="button" class="btn-close ms-auto me-2 mb-2" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form id="bookmarkForm" autocomplete="off">
          <div class="mb-3">

            <input type="text" class="form-control" id="bookmark-name" placeholder="Enter Bookmark name" required>
          </div>


      </div>
      <div class="modal-footer flex-column border-top-0">
        <button type="submit" class="btn btn-sm btn-primary w-100 mx-0 mb-2">Save changes</button>
        <button type="button" class="btn btn-sm btn-light w-100 mx-0" data-bs-dismiss="modal">Close</button>
      </div>
      </form>
    </div>
  </div>
</div>
  </main>
  <!-- Footer-->
 <%-
    include(`${partials}/page-scripts/address-distance-scripts.ejs`); -%>
</body>

</html>