<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>
    <body class="film-location film-details">
        <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
<![endif]-->
        <noscript>
            <h3>Please enable JavaScript in order to view this site properly.</h3>
        </noscript>
        <%- include(`${partials}/nav`); -%>
        <main class="mb-4 mt-5">
            <div class="container px-4 px-lg-5">
                <%- include(`${partials}/autocomplete`); -%>
                <div class="row align-items-md-stretch">
                    <div class="col-md-12">
                        <div class="card mb-3" id="film-details">
                            <div class="row g-0">
                                <div class="col-md-8 px-3 py-3">
                                    <div class="card-body">
                                        <h3 class="card-title">Platoon</h3>
                                        <p class="card-text mb-0">
                                            <span id="mainPlotContent"> Chris Taylor, a neophyte recruit in Vietnam, finds himself caught in a battle of wills between two sergeants, one good and the other evil. A shrewd examination of the brutality of war and the duality of man in conflict. Chris Taylor is a young, naive American who gives up college and volunteers for combat in Vietnam. Upon arrival, he quickly discovers that his presence is quite nonessential, and is considered insignificant to the other soldiers, as he has not fought for as long as the rest of them and felt the effects of combat. Chris has two non-commissioned officers, the ill-tempered and indestructible Staff Sergeant Robert Barnes and the more pleasant and cooperative Sergeant Elias Grodin. A line is drawn between the two NCOs and a numbe... </span>
                                                
                                                    <div class="collapse" id="movieLocationCollapsible">
                                                        <span id="metaPlotContent"class="additional-information"> r of men in the platoon when an illegal killing occurs during a village raid. As the war continues, Chris himself draws towards psychological meltdown. And as he struggles for survival, he soon realizes he is fighting two battles, the conflict with the enemy and the conflict between the men within his platoon. Jeremy Thomson Chris Taylor leaves his university studies to enlist in combat duty in Vietnam in 1967. Once he's on the ground in the middle of battle, his idealism fades. Infighting in his unit between Staff Sergeant Barnes, who believes nearby villagers are harboring Viet Cong soldiers, and Sergeant Elias, who has a more sympathetic view of the locals, ends up pitting the soldiers against each other as well as against the enemy. Jwelch5742 A gritty and emotional look at the lives of a platoon of American soldiers as they patrol, fight and die in the jungles of Vietnam as seen through the perspective of a young recruit. Two veteran sergeants clash when one of them precipitates a massacre of villagers. Keith Loh  Chris Taylor has arrived in Vietnam in the year 1967. Initially, he is mostly isolated from the rest of his platoon given that he is new to the unit. Over time, after witnessing combat and getting wounded, Taylor becomes more integrated into his unit. At the same time, tensions emerge following a massacre conducted by members of the platoon and Taylor finds himself caught in the crossfire. Sam Freeman </span>
                                                    </div>
                                                    <p>
                                                        <a class="btn btn-link show-more-less collapsed"
                                                           id="myCollapsibleBtn"
                                                           role="button"></a>
                                                    </p>
                                                
                                            </p>
                                    </div>
                                </div>
                                <div class="col-md-4 justify-self-end">
                                        <img src="https://m.media-amazon.com/images/M/MV5BMzRjZjdlMjQtODVkYS00N2YzLWJlYWYtMGVlN2E5MWEwMWQzXkEyXkFqcGdeQXVyMTQxNzMzNDI@.jpg"
                                             class="img-fluid rounded-start"
                                             alt="Platoon"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="map-container">
                        <div id="map"></div>
                        <div id="loader">
                            <div class="spinner-border" role="status">
                                <span class="sr-only d-none">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr class="table__header">
                        <th class="table__cell">Location</th>
                        <th class="table__cell">Coordiantes</th>
                    </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Philippines</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">14.58678841</span>, <span class="lon">120.98177916</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Luzon, Governor Generoso, Davao Oriental, Philippines</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">6.519</span>, <span class="lon">126.0941</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Cavite, Philippines</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">14.26667</span>, <span class="lon">120.86667</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Manila, Philippines</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">14.58333</span>, <span class="lon">121</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Edwards Jet Center, 1691 Aviation Pl, Billings, Montana 59105, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">45.803309</span>, <span class="lon">-108.530808</span></a>
                            </td>
                        </tr>
                    </table>
            </div>
        </main>
        <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>
        <script type="text/javascript">
var locations =[{"bbox": [[14.26667, 120.86667], [14.58333, 121], [14.58678841, 120.98177916]], "data": [{"lat": 14.58678841, "lon": 120.98177916, "name": "Philippines"}, {"lat": 6.519, "lon": 126.0941, "name": "Luzon, Governor Generoso, Davao Oriental, Philippines"}, {"lat": 14.26667, "lon": 120.86667, "name": "Cavite, Philippines"}, {"lat": 14.58333, "lon": 121, "name": "Manila, Philippines"}, {"lat": 45.803309, "lon": -108.530808, "name": "Edwards Jet Center, 1691 Aviation Pl, Billings, Montana 59105, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                          
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
        </script>
    </body>
</html>