<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>
    <body class="film-location film-details">
        <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
<![endif]-->
        <noscript>
            <h3>Please enable JavaScript in order to view this site properly.</h3>
        </noscript>
        <%- include(`${partials}/nav`); -%>
        <main class="mb-4 mt-5">
            <div class="container px-4 px-lg-5">
                <%- include(`${partials}/autocomplete`); -%>
                <div class="row align-items-md-stretch">
                    <div class="col-md-12">
                        <div class="card mb-3" id="film-details">
                            <div class="row g-0">
                                <div class="col-md-8 px-3 py-3">
                                    <div class="card-body">
                                        <h3 class="card-title">The Dark Knight Rises</h3>
                                        <p class="card-text mb-0">
                                            <span id="mainPlotContent"> Eight years after the Joker's reign of anarchy, Batman, with the help of the enigmatic Catwoman, is forced from his exile to save Gotham City from the brutal guerrilla terrorist Bane. Despite his tarnished reputation after the events of The Dark Knight (2008), in which he took the rap for Dent's crimes, Batman feels compelled to intervene to assist the city and its Police force, which is struggling to cope with Bane's plans to destroy the city. WellardRockard Eight years after the events of The Dark Knight (2008) find Gotham at a time of peace. This is due to Batman taking the fall for Harvey Dent's murder. However, a new evil force named Bane has arrived in Gotham and aims to take over the city and expose the truth behind who Harvey Dent r... </span>
                                                
                                                    <div class="collapse" id="movieLocationCollapsible">
                                                        <span id="metaPlotContent"class="additional-information"> eally was. Now that Wayne Manor has been completely rebuilt, Bruce Wayne has become almost reclusive, rarely leaving the estate. And with Bane taking over the city by force, it forces Batman to come out of retirement. But his allies are few and far between. An elusive jewel thief by the name of Selina Kyle could be the key to stopping Bane, but whose side is she on? halo1k Eight years after The Joker's Defeat and Batman took the fall for the murders committed by Harvey Dent, Gotham has a new enemy, Bane, a former member of the League of Shadows. Earlier, with Wayne Manor completely rebuilt, Bruce had become completely reclusive, rarely leaving the estate. Bane plans to continue the work of Ra's al Ghul by destroying Gotham. With allies being few and far between, Batman teams up with elusive jewel thief Selina Kyle, who may also be the key to stopping Bane. But whose side is she really on? srijanarora-152-448595 Batman is forced out of eight years of hiding when a ruthless mercenary called Bane takes control of Gotham's underworld, and makes plans to take over the whole city. With the help of the mysterious Selina Kyle and his butler Alfred, Bruce must protect the citizens of the beloved from their greatest threat yet. ahmetkozan From a far side of the world, a lunatic rises from the darkness, determined to annihilate the city of the Dark Knight, who has been hiding for eight years. Joining forces with old and new allies, Bruce Wayne must put his mask on one last time to finish what he had started and become a hero again. DanEdge </span>
                                                    </div>
                                                    <p>
                                                        <a class="btn btn-link show-more-less collapsed"
                                                           id="myCollapsibleBtn"
                                                           role="button"></a>
                                                    </p>
                                                
                                            </p>
                                    </div>
                                </div>
                                <div class="col-md-4 justify-self-end">
                                        <img src="https://m.media-amazon.com/images/M/MV5BMTk4ODQzNDY3Ml5BMl5BanBnXkFtZTcwODA0NTM4Nw@@.jpg"
                                             class="img-fluid rounded-start"
                                             alt="The Dark Knight Rises"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="map-container">
                        <div id="map"></div>
                        <div id="loader">
                            <div class="spinner-border" role="status">
                                <span class="sr-only d-none">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr class="table__header">
                        <th class="table__cell">Location</th>
                        <th class="table__cell">Coordiantes</th>
                    </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Mehrangarh Fort, Jodhpur, Rajasthan, India</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">26.2975285</span>, <span class="lon">73.020523</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Wollaton Hall Drive, Nottingham, NG8 1AF, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">52.9469507</span>, <span class="lon">-1.1883684</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Pittsburgh, Pennsylvania, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">40.441694</span>, <span class="lon">-79.990086</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Old Royal Naval College, King William Walk, London, England SE10 9JF, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.48305125</span>, <span class="lon">-0.006040749999999999</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">100 Art Rooney Avenue, Pittsburgh, Pennsylvania 15212, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">40.44753</span>, <span class="lon">-80.01634</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Chand Baori, Abhaneri, Jaipur, Rajasthan, India</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">26.901755</span>, <span class="lon">75.851844</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Isleworth, Greater London, England, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.468356</span>, <span class="lon">-0.326311</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Cairngorms National Park, Carrbridge, Scotland PH23 3AY, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">57.290937</span>, <span class="lon">-3.900625</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Croydon, Greater London, England, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.3833</span>, <span class="lon">-0.1</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Scotland, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">56.734282295</span>, <span class="lon">-4.09589210432502</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Downtown, El Monte, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.06784</span>, <span class="lon">-118.034497</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Scotland, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">56.734282295</span>, <span class="lon">-4.09589210432502</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Carnegie Mellon University, 5000 Forbes Ave, Pittsburgh, Pennsylvania 15213, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">40.44288975</span>, <span class="lon">-79.9449435</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Club Quarters Hotel, 52 William St, New York, New York 10005, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">40.707113</span>, <span class="lon">-74.008742</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Ed Koch Queensboro Bridge, Queensboro Bridge, New York, New York, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">40.757533499999994</span>, <span class="lon">-73.9557415</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">London Stansted Airport (STN), Bassingbourn Rd, Stansted, England CM24 1BA, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.887685</span>, <span class="lon">0.2483265</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">550 S Hope St, Los Angeles, California 90071, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.04976</span>, <span class="lon">-118.25618</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Clerkenwell, EC1R 0EA, Islington, London, Greater London, England, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.5237268</span>, <span class="lon">-0.1055555</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Newark, New Jersey, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">40.735657</span>, <span class="lon">-74.172367</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">34 Saint John Street, Islington, London, EC1V 4DE, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.527098</span>, <span class="lon">-0.104408</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">725 5th Avenue, Brooklyn, New York 11220, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">40.660188</span>, <span class="lon">-73.994629</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Sony Pictures Studios, Culver City, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.017168</span>, <span class="lon">-118.40234</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">New York, New York, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">40.7306</span>, <span class="lon">-73.9866</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Airship Hangar, Farnborough, England GU14 7JP, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.28478</span>, <span class="lon">-0.760758</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Los Angeles, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.053691</span>, <span class="lon">-118.242766</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Nottingham Road, Thurgarton, Nottingham, NG14 7AP, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">53.0370329</span>, <span class="lon">-0.9646655</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Los Angeles, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.053691</span>, <span class="lon">-118.242766</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">4000 Warner Boulevard, Burbank, California 91522, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.150955</span>, <span class="lon">-118.339232</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">3rd Street Tunnel, Los Angeles, California 90012, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.056212</span>, <span class="lon">-118.255806</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Crenshaw Boulevard, Torrance, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">33.810996</span>, <span class="lon">-118.327441</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Senate House, University of London, Malet St., London, England WC1E 7HU, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.520851</span>, <span class="lon">-0.128585</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Uzbekistan</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">41.7504367984144</span>, <span class="lon">63.169371992914</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Brecon, Powys, Wales, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.947205</span>, <span class="lon">-3.391696</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Greenwood Lake, New York, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">41.222593</span>, <span class="lon">-74.294318</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">London, Greater London, England, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.515618</span>, <span class="lon">-0.091998</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">10202 Washington Boulevard, Culver City, California 90016, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.024975</span>, <span class="lon">-118.393116</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Marriott Vacation Club Pulse, 33 West 37th Street, New York, New York 10018, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">40.751296</span>, <span class="lon">-73.984819</span></a>
                            </td>
                        </tr>
                    </table>
            </div>
        </main>
        <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>
        <script type="text/javascript">
var locations =[{"bbox": [[33.810996, -118.327441], [34.017168, -118.40234], [34.024975, -118.393116]], "data": [{"lat": 26.2975285, "lon": 73.020523, "name": "Mehrangarh Fort, Jodhpur, Rajasthan, India"}, {"lat": 52.9469507, "lon": -1.1883684, "name": "Wollaton Hall Drive, Nottingham, NG8 1AF, United Kingdom"}, {"lat": 40.441694, "lon": -79.990086, "name": "Pittsburgh, Pennsylvania, United States"}, {"lat": 51.48305125, "lon": -0.006040749999999999, "name": "Old Royal Naval College, King William Walk, London, England SE10 9JF, United Kingdom"}, {"lat": 40.44753, "lon": -80.01634, "name": "100 Art Rooney Avenue, Pittsburgh, Pennsylvania 15212, United States"}, {"lat": 26.901755, "lon": 75.851844, "name": "Chand Baori, Abhaneri, Jaipur, Rajasthan, India"}, {"lat": 51.468356, "lon": -0.326311, "name": "Isleworth, Greater London, England, United Kingdom"}, {"lat": 57.290937, "lon": -3.900625, "name": "Cairngorms National Park, Carrbridge, Scotland PH23 3AY, United Kingdom"}, {"lat": 51.3833, "lon": -0.1, "name": "Croydon, Greater London, England, United Kingdom"}, {"lat": 56.734282295, "lon": -4.09589210432502, "name": "Scotland, United Kingdom"}, {"lat": 34.06784, "lon": -118.034497, "name": "Downtown, El Monte, California, United States"}, {"lat": 56.734282295, "lon": -4.09589210432502, "name": "Scotland, United Kingdom"}, {"lat": 40.44288975, "lon": -79.9449435, "name": "Carnegie Mellon University, 5000 Forbes Ave, Pittsburgh, Pennsylvania 15213, United States"}, {"lat": 40.707113, "lon": -74.008742, "name": "Club Quarters Hotel, 52 William St, New York, New York 10005, United States"}, {"lat": 40.757533499999994, "lon": -73.9557415, "name": "Ed Koch Queensboro Bridge, Queensboro Bridge, New York, New York, United States"}, {"lat": 51.887685, "lon": 0.2483265, "name": "London Stansted Airport (STN), Bassingbourn Rd, Stansted, England CM24 1BA, United Kingdom"}, {"lat": 34.04976, "lon": -118.25618, "name": "550 S Hope St, Los Angeles, California 90071, United States"}, {"lat": 51.5237268, "lon": -0.1055555, "name": "Clerkenwell, EC1R 0EA, Islington, London, Greater London, England, United Kingdom"}, {"lat": 40.735657, "lon": -74.172367, "name": "Newark, New Jersey, United States"}, {"lat": 51.527098, "lon": -0.104408, "name": "34 Saint John Street, Islington, London, EC1V 4DE, United Kingdom"}, {"lat": 40.660188, "lon": -73.994629, "name": "725 5th Avenue, Brooklyn, New York 11220, United States"}, {"lat": 34.017168, "lon": -118.40234, "name": "Sony Pictures Studios, Culver City, California, United States"}, {"lat": 40.7306, "lon": -73.9866, "name": "New York, New York, United States"}, {"lat": 51.28478, "lon": -0.760758, "name": "Airship Hangar, Farnborough, England GU14 7JP, United Kingdom"}, {"lat": 34.053691, "lon": -118.242766, "name": "Los Angeles, California, United States"}, {"lat": 53.0370329, "lon": -0.9646655, "name": "Nottingham Road, Thurgarton, Nottingham, NG14 7AP, United Kingdom"}, {"lat": 34.053691, "lon": -118.242766, "name": "Los Angeles, California, United States"}, {"lat": 34.150955, "lon": -118.339232, "name": "4000 Warner Boulevard, Burbank, California 91522, United States"}, {"lat": 34.056212, "lon": -118.255806, "name": "3rd Street Tunnel, Los Angeles, California 90012, United States"}, {"lat": 33.810996, "lon": -118.327441, "name": "Crenshaw Boulevard, Torrance, California, United States"}, {"lat": 51.520851, "lon": -0.128585, "name": "Senate House, University of London, Malet St., London, England WC1E 7HU, United Kingdom"}, {"lat": 41.7504367984144, "lon": 63.169371992914, "name": "Uzbekistan"}, {"lat": 51.947205, "lon": -3.391696, "name": "Brecon, Powys, Wales, United Kingdom"}, {"lat": 41.222593, "lon": -74.294318, "name": "Greenwood Lake, New York, United States"}, {"lat": 51.515618, "lon": -0.091998, "name": "London, Greater London, England, United Kingdom"}, {"lat": 34.024975, "lon": -118.393116, "name": "10202 Washington Boulevard, Culver City, California 90016, United States"}, {"lat": 40.751296, "lon": -73.984819, "name": "Marriott Vacation Club Pulse, 33 West 37th Street, New York, New York 10018, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                          
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
        </script>
    </body>
</html>