<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>
    <body class="film-location film-details">
        <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
<![endif]-->
        <noscript>
            <h3>Please enable JavaScript in order to view this site properly.</h3>
        </noscript>
        <%- include(`${partials}/nav`); -%>
        <main class="mb-4 mt-5">
            <div class="container px-4 px-lg-5">
                <%- include(`${partials}/autocomplete`); -%>
                <div class="row align-items-md-stretch">
                    <div class="col-md-12">
                        <div class="card mb-3" id="film-details">
                            <div class="row g-0">
                                <div class="col-md-8 px-3 py-3">
                                    <div class="card-body">
                                        <h3 class="card-title">Million Dollar Baby</h3>
                                        <p class="card-text mb-0">
                                            <span id="mainPlotContent"> A determined woman works with a hardened boxing trainer to become a professional. Wanting to learn from the best, aspiring boxer Maggie Fitzgerald (Hilary Swank) wants Frankie Dunn (Clint Eastwood) to train her. At the outset, he flatly refuses saying he has no interest in training a girl. Frankie leads a lonely existence, alienated from his only daughter and having few friends. Maggie's rough around the edges, but shows a lot of grit in the ring and he eventually relents. Maggie not only proves to be the boxer he always dreamed of having under his wing, but a friend who fills the great void he's had in his life. Maggie's career skyrockets, but an accident in the ring leads her to ask Frankie for one last favor. garykmcd Frankie Dunn (Clint... </span>
                                                
                                                    <div class="collapse" id="movieLocationCollapsible">
                                                        <span id="metaPlotContent"class="additional-information">  Eastwood) is a veteran Los Angeles, California boxing trainer who keeps almost everyone at arm's length, except his old friend and associate Eddie  Scrap-Iron  Dupris (Morgan Freeman). When Maggie Fitzgerald (Hilary Swank) arrives in Frankie's gym seeking his expertise, he is reluctant to train the young woman, a transplant from working-class Missouri. Eventually, he relents, and the two form a close bond that will irrevocably change them both. Jwelch5742 Untrained, inexperienced, and above all, too old, the plucky thirty-one-year-old waitress from Missouri, Maggie Fitzgerald, sets foot in the run-down Hit Pit gym of the silver-haired trainer, Frankie Dunn, bent on becoming a professional boxer. But, the cantankerous, coarse, and overly complicated old-school boxing guru has no intention of teaching girls, let alone taking under his wing yet another nobody who would dump him for another manager. Nevertheless, as her determination, and the subtle persuasion of Dunn's closest friend, Eddie, get the best of the reluctant mentor, Frankie finally relents, and almost two years later, Maggie finds herself on the fast track to making her dream come true. Little by little, an unbreakable father/daughter bond develops between them, and for the first time in a long while, both Dunn and Maggie have found a purpose in their lives. Is Maggie, indeed, Frankie's million-dollar baby? Nick Riganas Frankie Dunn (Clint Eastwood) has trained and managed some incredible fighters during a lifetime spent in the ring. The most important lesson he teaches his boxers is the one that rules life: above all, always protect yourself. In the wake of a painful estrangement from his daughter, Frankie has been unwilling to let himself get close to anyone for a very long time. His only friend, Eddie  Scrap-Iron  Dupris (Morgan Freeman), an ex-boxer who looks after Frankie's gym, knows that beneath his gruff exterior is a man who has been seeking, for the past twenty-five years, the forgiveness that somehow continues to elude him. Then Maggie Fitzgerald (Hilary Swank) walks into his gym. Any </span>
                                                    </div>
                                                    <p>
                                                        <a class="btn btn-link show-more-less collapsed"
                                                           id="myCollapsibleBtn"
                                                           role="button"></a>
                                                    </p>
                                                
                                            </p>
                                    </div>
                                </div>
                                <div class="col-md-4 justify-self-end">
                                        <img src="https://m.media-amazon.com/images/M/MV5BMTkxNzA1NDQxOV5BMl5BanBnXkFtZTcwNTkyMTIzMw@@.jpg"
                                             class="img-fluid rounded-start"
                                             alt="Million Dollar Baby"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="map-container">
                        <div id="map"></div>
                        <div id="loader">
                            <div class="spinner-border" role="status">
                                <span class="sr-only d-none">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr class="table__header">
                        <th class="table__cell">Location</th>
                        <th class="table__cell">Coordiantes</th>
                    </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">6525 West Sunset Boulevard, Los Angeles, California 90028, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.09834</span>, <span class="lon">-118.33204</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Los Angeles, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.053691</span>, <span class="lon">-118.242766</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">The Standard, 8300 W Sunset Blvd, Los Angeles, California 90069, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.095892</span>, <span class="lon">-118.37094</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Las Vegas, Nevada, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">36.167256</span>, <span class="lon">-115.148516</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Los Angeles, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.053691</span>, <span class="lon">-118.242766</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">4000 Warner Boulevard, Burbank, California 91522, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.150955</span>, <span class="lon">-118.339232</span></a>
                            </td>
                        </tr>
                    </table>
            </div>
        </main>
        <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>
        <script type="text/javascript">
var locations =[{"bbox": [[34.053691, -118.242766], [34.053691, -118.242766], [34.095892, -118.37094]], "data": [{"lat": 34.09834, "lon": -118.33204, "name": "6525 West Sunset Boulevard, Los Angeles, California 90028, United States"}, {"lat": 34.053691, "lon": -118.242766, "name": "Los Angeles, California, United States"}, {"lat": 34.095892, "lon": -118.37094, "name": "The Standard, 8300 W Sunset Blvd, Los Angeles, California 90069, United States"}, {"lat": 36.167256, "lon": -115.148516, "name": "Las Vegas, Nevada, United States"}, {"lat": 34.053691, "lon": -118.242766, "name": "Los Angeles, California, United States"}, {"lat": 34.150955, "lon": -118.339232, "name": "4000 Warner Boulevard, Burbank, California 91522, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                          
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
        </script>
    </body>
</html>