<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>
    <body class="film-location film-details">
        <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
<![endif]-->
        <noscript>
            <h3>Please enable JavaScript in order to view this site properly.</h3>
        </noscript>
        <%- include(`${partials}/nav`); -%>
        <main class="mb-4 mt-5">
            <div class="container px-4 px-lg-5">
                <%- include(`${partials}/autocomplete`); -%>
                <div class="row align-items-md-stretch">
                    <div class="col-md-12">
                        <div class="card mb-3" id="film-details">
                            <div class="row g-0">
                                <div class="col-md-8 px-3 py-3">
                                    <div class="card-body">
                                        <h3 class="card-title">To Kill a Mockingbird</h3>
                                        <p class="card-text mb-0">
                                            <span id="mainPlotContent"> Atticus Finch, a widowed lawyer in Depression-era Alabama, defends a black man against an undeserved rape charge, and his children against prejudice. Small-town Alabama, 1932. Atticus Finch (played by Gregory Peck) is a lawyer and a widower. He has two young children, Jem and Scout. Atticus Finch is currently defending Tom Robinson, a black man accused of raping a white woman. Meanwhile, Jem and Scout are intrigued by their neighbours, the Radleys, and the mysterious, seldom-seen Boo Radley in particular. grantss Against the backdrop of the Great Depression, and with America struggling to find its feet, the widowed father and fiercely principled lawyer, Atticus Finch, is left all alone to care for his two children: Jem and Scout. When the y... </span>
                                                
                                                    <div class="collapse" id="movieLocationCollapsible">
                                                        <span id="metaPlotContent"class="additional-information"> oung black worker, Tom Robinson, is wrongfully accused of sexually assaulting Mayella Ewell, a white woman living in the small town of Maycomb, Alabama, Atticus decides to take his case and defend him in court, turning his fellow townspeople against him. Suddenly, Atticus and his young children find themselves targeted by the local community, which seems unable to forgive and forget. But, this is a matter of justice and not the colour of one's skin. Will impartiality and reason prevail? Nick Riganas Atticus Finch is an idealistic lawyer in the fictional town of Maycomb, a racially divided Alabama town, set in the early 1930s. Finch agrees to defend a young black man who is accused of raping a white woman. Many of the townspeople try to get Atticus to pull out of the trial, but he decides to go ahead. As one begins observing the reasons that make his defense far from easy, it becomes evident the reason lies in that no one in this town seems willing to believe in the innocence of an accused Negro. How will the trial turn out - and will it effect any changes in racial attitudes in Maycomb? Brian Daly  </span>
                                                    </div>
                                                    <p>
                                                        <a class="btn btn-link show-more-less collapsed"
                                                           id="myCollapsibleBtn"
                                                           role="button"></a>
                                                    </p>
                                                
                                            </p>
                                    </div>
                                </div>
                                <div class="col-md-4 justify-self-end">
                                        <img src="https://m.media-amazon.com/images/M/MV5BNmVmYzcwNzMtMWM1NS00MWIyLThlMDEtYzUwZDgzODE1NmE2XkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                             class="img-fluid rounded-start"
                                             alt="To Kill a Mockingbird"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="map-container">
                        <div id="map"></div>
                        <div id="loader">
                            <div class="spinner-border" role="status">
                                <span class="sr-only d-none">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr class="table__header">
                        <th class="table__cell">Location</th>
                        <th class="table__cell">Coordiantes</th>
                    </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Monroeville, Alabama, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">31.52794</span>, <span class="lon">-87.324708</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Pasadena, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.147645</span>, <span class="lon">-118.144478</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Universal City Plz, Universal City, California 91608, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.1379</span>, <span class="lon">-118.3613</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Universal City Plz, Universal City, California 91608, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.1379</span>, <span class="lon">-118.3613</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Universal City Plz, Universal City, California 91608, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.1379</span>, <span class="lon">-118.3613</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Universal City Plz, Universal City, California 91608, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.1379</span>, <span class="lon">-118.3613</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Universal City Plz, Universal City, California 91608, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.1379</span>, <span class="lon">-118.3613</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Alabama, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">32.828865808</span>, <span class="lon">-86.7892920871389</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">37.0743595873</span>, <span class="lon">-119.699375153073</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">39.3812661305678</span>, <span class="lon">-97.9222112121185</span></a>
                            </td>
                        </tr>
                    </table>
            </div>
        </main>
        <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>
        <script type="text/javascript">
var locations =[{"bbox": [[34.1379, -118.3613], [34.1379, -118.3613], [34.1379, -118.3613]], "data": [{"lat": 31.52794, "lon": -87.324708, "name": "Monroeville, Alabama, United States"}, {"lat": 34.147645, "lon": -118.144478, "name": "Pasadena, California, United States"}, {"lat": 34.1379, "lon": -118.3613, "name": "Universal City Plz, Universal City, California 91608, United States"}, {"lat": 34.1379, "lon": -118.3613, "name": "Universal City Plz, Universal City, California 91608, United States"}, {"lat": 34.1379, "lon": -118.3613, "name": "Universal City Plz, Universal City, California 91608, United States"}, {"lat": 34.1379, "lon": -118.3613, "name": "Universal City Plz, Universal City, California 91608, United States"}, {"lat": 34.1379, "lon": -118.3613, "name": "Universal City Plz, Universal City, California 91608, United States"}, {"lat": 32.828865808, "lon": -86.7892920871389, "name": "Alabama, United States"}, {"lat": 37.0743595873, "lon": -119.699375153073, "name": "California, United States"}, {"lat": 39.3812661305678, "lon": -97.9222112121185, "name": "United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                          
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
        </script>
    </body>
</html>