<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>
    <body class="film-location film-details">
        <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
<![endif]-->
        <noscript>
            <h3>Please enable JavaScript in order to view this site properly.</h3>
        </noscript>
        <%- include(`${partials}/nav`); -%>
        <main class="mb-4 mt-5">
            <div class="container px-4 px-lg-5">
                     <%- include(`${partials}/autocomplete`); -%>
                <div class="row align-items-md-stretch">
                    <div class="col-md-12">
                        <div class="card mb-3" id="film-details">
                            <div class="row g-0">
                                <div class="col-md-8 px-3 py-3">
                                    <div class="card-body">
                                        <h3 class="card-title">It's a Wonderful Life</h3>
                                        <p class="card-text mb-0">
                                            <span id="mainPlotContent">An angel is sent from Heaven to help a desperately frustrated businessman by showing him what life would have been like if he had never existed. George Bailey has spent his entire life giving of himself to the people of Bedford Falls. He has always longed to travel but never had the opportunity in order to prevent rich skinflint Mr. Potter from taking over the entire town. All that prevents him from doing so is George's modest building and loan company, which was founded by his generous father. But on Christmas Eve, George's Uncle Billy loses the business's $8,000 while intending to deposit it in the bank. Potter finds the misplaced money and hides it from Billy. When the bank examiner discovers the shortage later that night, George realize...</span>
                                                
                                                    <div class="collapse" id="movieLocationCollapsible">
                                                        <div id = "module"></div>
                                                        <span id="metaPlotContent"class="additional-information">s that he will be held responsible and sent to jail and the company will collapse, finally allowing Potter to take over the town. Thinking of his wife, their young children, and others he loves will be better off with him dead, he contemplates suicide. But the prayers of his loved ones result in a gentle angel named Clarence coming to earth to help George, with the promise of earning his wings. He shows George what things would have been like if he had never been born. alfiehitchie A young George Bailey, overwhelmed by family obligations and a sense of responsibility toward his community, feels tied down to a company he never had an interest in working for, and a life he never wanted to live. As he ages, he sees his youth, dreams and opportunities pass him by. Unknown to George, all of his friends and family have been praying for him to get through those hard times. Told through the point of view of a group of angels, he is met by his guardian angel Clarence, as he contemplates ending his life. Marielle <msaz.movies@gmail.com> George Bailey never got a chance to fulfill his life's ambitions of exploring the world and building skyscrapers. As he watches his friends and family become success stories he dreads on running his fathers building and loan business, rivaling the grumpy old Mr. Potter. When a financial discrepancy puts George in a difficult position, an angel comes to show him what life would have been like if he had never been born. Eric Johnson George Bailey spends his entire life giving up his big dreams for the good of his town, Bedford Falls, as we see in flashback. But in the present, on Christmas Eve, he is broken and suicidal over the misplacing of an $8000 loan and the machinations of the evil millionaire Mr. Potter. His guardian angel, Clarence, falls to Earth, literally, and shows him how his town, family, and friends would have turned out if he had never been born. George meant so much to so many people; should he really throw it all away? Tommy Peter On the Christmas Eve of Bedford Falls, the guardian angel Clarence is assigned to convince the desperate George Bailey not to commit suicide. George is a good man that sacrificed his dreams and his youth on behalf of the citizens of his small town. He inherited the loan business of his father and he gave up traveling the world and joining University as scheduled. Later he resisted the proposals of the evil banker Mr. Potter, and never sold his business to protect the poor community of Bedford Falls and offer a means to afford to buy their own house. He married his beloved Mary Hatch Bailey and had four children with her and a tough life with his family. When his uncle Billy loses US$ 8,000.00, found and stolen by Mr. Potter, George decides to commit suicide, since he believes he worth more dead than alive. When Clarence sees that he is not able to persuade George to give up his intention, he decides to show the life in town if George had never existed. Claudio Carvalho, Rio de Janeiro, Brazil</span>
                                                    </div>
                                                    <p>
                                                        <a class="btn btn-link show-more-less collapsed"
                                                               id="myCollapsibleBtn"
                                                      
                                                           role="button"
                                                       >
                                                        </a>
                                                    </p>
                                                
                                            </p>
                                    </div>
                                </div>
                                <div class="col-md-4 justify-self-end">
                                        <img src="https://m.media-amazon.com/images/M/MV5BZjc4NDZhZWMtNGEzYS00ZWU2LThlM2ItNTA0YzQ0OTExMTE2XkEyXkFqcGdeQXVyNjUwMzI2NzU@.jpg"
                                             class="img-fluid rounded-start"
                                             alt="It's a Wonderful Life"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="map-container">
                        <div id="map"></div>
                        <div id="loader">
                            <div class="spinner-border" role="status">
                                <span class="sr-only d-none">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr class="table__header">
                        <th class="table__cell">Location</th>
                        <th class="table__cell">Coordiantes</th>
                    </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Burbank, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.181648</span>, <span class="lon">-118.325855</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Beverly Hills High School, 241 S Moreno Dr, Beverly Hills, California 90212, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.0624165</span>, <span class="lon">-118.4114555</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">4587 Viro Road, La Canada Flintridge, California 91011, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.19764</span>, <span class="lon">-118.17919</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">B Street, Culver City, California 90232, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.01589</span>, <span class="lon">-118.40293</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Beverly Hills, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.06965</span>, <span class="lon">-118.396306</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">First Presbyterian Church, 4963 Balboa Blvd, Encino, California 91316, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.1614</span>, <span class="lon">-118.50164</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Culver City, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.021122</span>, <span class="lon">-118.396466</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Los Angeles, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.053691</span>, <span class="lon">-118.242766</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">37.0743595873</span>, <span class="lon">-119.699375153073</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">39.3812661305678</span>, <span class="lon">-97.9222112121185</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Los Angeles County, 500 W Temple St, Los Angeles, California 90012, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.0572885</span>, <span class="lon">-118.24605249999999</span></a>
                            </td>
                        </tr>
                    </tr>
            </table>
        </div>
    </div>
</main>
    <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>

<script type="text/javascript">
var locations =[{"bbox": [[34.01589, -118.40293], [34.021122, -118.396466], [34.053691, -118.242766]], "data": [{"lat": 34.181648, "lon": -118.325855, "name": "Burbank, California, United States"}, {"lat": 34.0624165, "lon": -118.4114555, "name": "Beverly Hills High School, 241 S Moreno Dr, Beverly Hills, California 90212, United States"}, {"lat": 34.19764, "lon": -118.17919, "name": "4587 Viro Road, La Canada Flintridge, California 91011, United States"}, {"lat": 34.01589, "lon": -118.40293, "name": "B Street, Culver City, California 90232, United States"}, {"lat": 34.06965, "lon": -118.396306, "name": "Beverly Hills, California, United States"}, {"lat": 34.1614, "lon": -118.50164, "name": "First Presbyterian Church, 4963 Balboa Blvd, Encino, California 91316, United States"}, {"lat": 34.021122, "lon": -118.396466, "name": "Culver City, California, United States"}, {"lat": 34.053691, "lon": -118.242766, "name": "Los Angeles, California, United States"}, {"lat": 37.0743595873, "lon": -119.699375153073, "name": "California, United States"}, {"lat": 39.3812661305678, "lon": -97.9222112121185, "name": "United States"}, {"lat": 34.0572885, "lon": -118.24605249999999, "name": "Los Angeles County, 500 W Temple St, Los Angeles, California 90012, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
</body>
</html>