<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>
    <body class="film-location film-details">
        <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
<![endif]-->
        <noscript>
            <h3>Please enable JavaScript in order to view this site properly.</h3>
        </noscript>
        <%- include(`${partials}/nav`); -%>
        <main class="mb-4 mt-5">
            <div class="container px-4 px-lg-5">
                     <%- include(`${partials}/autocomplete`); -%>
                <div class="row align-items-md-stretch">
                    <div class="col-md-12">
                        <div class="card mb-3" id="film-details">
                            <div class="row g-0">
                                <div class="col-md-8 px-3 py-3">
                                    <div class="card-body">
                                        <h3 class="card-title">The Usual Suspects</h3>
                                        <p class="card-text mb-0">
                                            <span id="mainPlotContent">A sole survivor tells of the twisty events leading up to a horrific gun battle on a boat, which began when five criminals met at a seemingly random police lineup. Following a truck hijack in New York, five criminals are arrested and brought together for questioning. As none of them are guilty, they plan a revenge operation against the police. The operation goes well, but then the influence of a legendary mastermind criminal called Keyser Söze is felt. It becomes clear that each one of them has wronged Söze at some point and must pay back now. The payback job leaves 27 men dead in a boat explosion, but the real question arises now: Who actually is Keyser Söze? Soumitra After a number of people are killed and a cargo ship set on fire, Roger '...</span>
                                                
                                                    <div class="collapse" id="movieLocationCollapsible">
                                                        <div id = "module"></div>
                                                        <span id="metaPlotContent"class="additional-information">Verbal' Kint is questioned by U.S. Customs Agent Dave Kujan. Reluctant at first, Verbal begins to tell them what happened starting with when he met four men, all criminals, sharing a holding cell for a few hours. Together, they join forces to successfully hijack a jewel shipment and head to Los Angeles to lay low. There they are contacted by a lawyer, Kobayashi, representing the much-feared international criminal Keyser Söze who wants them to do a job for him. The result is the attack on the cargo ship. Verbal refuses to give evidence in the case and is set free. Only then does Kujan realize what's really happened. garykmcd Police investigating an exploded boat on a San Pedro pier discover 27 bodies and $91 million worth of drug money. The only survivors are a severely burned and very scared Hungarian terrorist and Verbal Kint, a crippled con-man. Reluctantly, Kint is pressured into explaining exactly what happened on the boat. His story begins six weeks earlier with five criminals being dragged in by New York police desperate for suspects on a hijacked truck and ends with the possible identification of a criminal mastermind. John Weeks <J.T.Weeks1@Student.derby.ac.uk> After a waterfront explosion, Verbal, an eye-witness and participant tells the story of events leading up to the conflagration. The story begins when five men are rounded up for a line-up, and grilled about a truck hijacking (the usual suspects). Least pleased is Keaton: a crooked cop - exposed, indicted, but now desperately trying to go straight. The cops won't leave him alone, however, and as they wait for their lawyers to post bail, he is talked into doing one more job with the other four. All goes tolerably well until the influence of the legendary, seemingly omnipotent  Keyser Söze  is felt. Although set in the modern day, it has much of the texture of the forties, plus suspense, intrigue (a fairly high body count), and lots of twists in the plot. <Phil.Kilby@dit.csiro.au> This is a film about five men who are hauled into the New York police station because a crime was committed and they are the usual suspects. They all agree to do a job together for a little revenge. However, little do they know that someone else has the strings and that they are all the puppets--all because each of them crossed the wrong person at the wrong time. After the big job, 27 people are dead, and there are two survivors. But the question is...who's the one controlling everything? thexotherxchris</span>
                                                    </div>
                                                    <p>
                                                        <a class="btn btn-link show-more-less collapsed"
                                                               id="myCollapsibleBtn"
                                                      
                                                           role="button"
                                                       >
                                                        </a>
                                                    </p>
                                                
                                            </p>
                                    </div>
                                </div>
                                <div class="col-md-4 justify-self-end">
                                        <img src="https://m.media-amazon.com/images/M/MV5BYTViNjMyNmUtNDFkNC00ZDRlLThmMDUtZDU2YWE4NGI2ZjVmXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg"
                                             class="img-fluid rounded-start"
                                             alt="The Usual Suspects"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="map-container">
                        <div id="map"></div>
                        <div id="loader">
                            <div class="spinner-border" role="status">
                                <span class="sr-only d-none">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr class="table__header">
                        <th class="table__cell">Location</th>
                        <th class="table__cell">Coordiantes</th>
                    </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">N San Pedro St, Los Angeles, California 90012, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.05316</span>, <span class="lon">-118.23942</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">San Pedro, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">33.735852</span>, <span class="lon">-118.292293</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">200 North Spring Street, Los Angeles, California 90012, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.05405</span>, <span class="lon">-118.24317</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">1111 Broadway, Santa Monica, California 90401, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.02085</span>, <span class="lon">-118.48677</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">35000 Pacific Coast Highway, Malibu, California 90265, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.05849</span>, <span class="lon">-118.93208</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Los Angeles Harbor College, 1111 Figueroa Pl, Wilmington, California 90744, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">33.7842845</span>, <span class="lon">-118.283979</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">175 5th Avenue, Brooklyn, New York 11217, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">40.67729</span>, <span class="lon">-73.97971</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">6525 West Sunset Boulevard, Los Angeles, California 90028, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.09834</span>, <span class="lon">-118.33204</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Los Angeles, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.053691</span>, <span class="lon">-118.242766</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">New York, New York, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">40.7306</span>, <span class="lon">-73.9866</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Jackson Heights, New York, New York, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">40.755656</span>, <span class="lon">-73.885776</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Marriott Vacation Club Pulse, 33 West 37th Street, New York, New York 10018, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">40.751296</span>, <span class="lon">-73.984819</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">770 South Normandie Avenue, Los Angeles, California 90005, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.05795</span>, <span class="lon">-118.29964</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">LaGuardia Airport (LGA), Grand Central Pkwy, New York, New York 11371, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">40.775069</span>, <span class="lon">-73.87071</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Verrazano-Narrows Bridge, Brooklyn/Staten Island, New York, New York, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">40.6062035</span>, <span class="lon">-74.0455915</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Adams, Los Angeles, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.03284</span>, <span class="lon">-118.301321</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">638 South Beacon Street, San Pedro, California 90731, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">33.73807</span>, <span class="lon">-118.28029</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">37.0743595873</span>, <span class="lon">-119.699375153073</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">39.3812661305678</span>, <span class="lon">-97.9222112121185</span></a>
                            </td>
                        </tr>
                    </tr>
            </table>
        </div>
    </div>
</main>
    <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>

<script type="text/javascript">
var locations =[{"bbox": [[33.735852, -118.292293], [33.73807, -118.28029], [33.7842845, -118.283979]], "data": [{"lat": 34.05316, "lon": -118.23942, "name": "N San Pedro St, Los Angeles, California 90012, United States"}, {"lat": 33.735852, "lon": -118.292293, "name": "San Pedro, California, United States"}, {"lat": 34.05405, "lon": -118.24317, "name": "200 North Spring Street, Los Angeles, California 90012, United States"}, {"lat": 34.02085, "lon": -118.48677, "name": "1111 Broadway, Santa Monica, California 90401, United States"}, {"lat": 34.05849, "lon": -118.93208, "name": "35000 Pacific Coast Highway, Malibu, California 90265, United States"}, {"lat": 33.7842845, "lon": -118.283979, "name": "Los Angeles Harbor College, 1111 Figueroa Pl, Wilmington, California 90744, United States"}, {"lat": 40.67729, "lon": -73.97971, "name": "175 5th Avenue, Brooklyn, New York 11217, United States"}, {"lat": 34.09834, "lon": -118.33204, "name": "6525 West Sunset Boulevard, Los Angeles, California 90028, United States"}, {"lat": 34.053691, "lon": -118.242766, "name": "Los Angeles, California, United States"}, {"lat": 40.7306, "lon": -73.9866, "name": "New York, New York, United States"}, {"lat": 40.755656, "lon": -73.885776, "name": "Jackson Heights, New York, New York, United States"}, {"lat": 40.751296, "lon": -73.984819, "name": "Marriott Vacation Club Pulse, 33 West 37th Street, New York, New York 10018, United States"}, {"lat": 34.05795, "lon": -118.29964, "name": "770 South Normandie Avenue, Los Angeles, California 90005, United States"}, {"lat": 40.775069, "lon": -73.87071, "name": "LaGuardia Airport (LGA), Grand Central Pkwy, New York, New York 11371, United States"}, {"lat": 40.6062035, "lon": -74.0455915, "name": "Verrazano-Narrows Bridge, Brooklyn/Staten Island, New York, New York, United States"}, {"lat": 34.03284, "lon": -118.301321, "name": "Adams, Los Angeles, California, United States"}, {"lat": 33.73807, "lon": -118.28029, "name": "638 South Beacon Street, San Pedro, California 90731, United States"}, {"lat": 37.0743595873, "lon": -119.699375153073, "name": "California, United States"}, {"lat": 39.3812661305678, "lon": -97.9222112121185, "name": "United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
</body>
</html>