<!DOCTYPE html>
<html lang="en" dir="ltr">

   <%- include(`${partials}/homeHead`, {pageTitle: 'Movies'}); -%>


<body>
  <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

  <noscript>
    <h3>Please enable JavaScript in order to view this site properly.</h3>
  </noscript>
    <%- include(`${partials}/nav`); -%>

    <main class="mb-4 mt-5">
      <div class="container px-4 px-lg-5">
            <%- include(`${partials}/autocomplete`); -%>
   

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 text-center g-3">
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0372784" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BOTY4YjI2N2MtYmFlMC00ZjcyLTg3YjEtMDQyM2ZjYzQ5YWFkXkEyXkFqcGdeQXVyMTQxNzMzNDI@.jpg" class="card-img-top" alt="Batman Begins" />
              <div class="card-body">
                <a href="/movie-locations/batman-begins-0372784" class="stretched-link">
                  <p class="card-text text-center">
                    Batman Begins
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="5074352" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMTQ4MzQzMzM2Nl5BMl5BanBnXkFtZTgwMTQ1NzU3MDI@.jpg" class="card-img-top" alt="Dangal" />
              <div class="card-body">
                <a href="/movie-locations/dangal-5074352" class="stretched-link">
                  <p class="card-text text-center">
                    Dangal
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0012349" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BZjhhMThhNDItNTY2MC00MmU1LTliNDEtNDdhZjdlNTY5ZDQ1XkEyXkFqcGdeQXVyNjc1NTYyMjg@.jpg" class="card-img-top" alt="The Kid" />
              <div class="card-body">
                <a href="/movie-locations/the-kid-0012349" class="stretched-link">
                  <p class="card-text text-center">
                    The Kid
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0053291" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BNzAyOGIxYjAtMGY2NC00ZTgyLWIwMWEtYzY0OWQ4NDFjOTc5XkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg" class="card-img-top" alt="Some Like It Hot" />
              <div class="card-body">
                <a href="/movie-locations/some-like-it-hot-0053291" class="stretched-link">
                  <p class="card-text text-center">
                    Some Like It Hot
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="10272386" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BZGJhNWRiOWQtMjI4OS00ZjcxLTgwMTAtMzQ2ODkxY2JkOTVlXkEyXkFqcGdeQXVyMTkxNjUyNQ@@.jpg" class="card-img-top" alt="The Father" />
              <div class="card-body">
                <a href="/movie-locations/the-father-10272386" class="stretched-link">
                  <p class="card-text text-center">
                    The Father
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0042192" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMTY2MTAzODI5NV5BMl5BanBnXkFtZTgwMjM4NzQ0MjE@.jpg" class="card-img-top" alt="All About Eve" />
              <div class="card-body">
                <a href="/movie-locations/all-about-eve-0042192" class="stretched-link">
                  <p class="card-text text-center">
                    All About Eve
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="6966692" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BYzIzYmJlYTYtNGNiYy00N2EwLTk4ZjItMGYyZTJiOTVkM2RlXkEyXkFqcGdeQXVyODY1NDk1NjE@.jpg" class="card-img-top" alt="Green Book" />
              <div class="card-body">
                <a href="/movie-locations/green-book-6966692" class="stretched-link">
                  <p class="card-text text-center">
                    Green Book
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0993846" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMjIxMjgxNTk0MF5BMl5BanBnXkFtZTgwNjIyOTg2MDE@.jpg" class="card-img-top" alt="The Wolf of Wall Street" />
              <div class="card-body">
                <a href="/movie-locations/the-wolf-of-wall-street-0993846" class="stretched-link">
                  <p class="card-text text-center">
                    The Wolf of Wall Street
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0055031" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BNDc2ODQ5NTE2MV5BMl5BanBnXkFtZTcwODExMjUyNA@@.jpg" class="card-img-top" alt="Judgment at Nuremberg" />
              <div class="card-body">
                <a href="/movie-locations/judgment-at-nuremberg-0055031" class="stretched-link">
                  <p class="card-text text-center">
                    Judgment at Nuremberg
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0105695" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BODM3YWY4NmQtN2Y3Ni00OTg0LWFhZGQtZWE3ZWY4MTJlOWU4XkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg" class="card-img-top" alt="Unforgiven" />
              <div class="card-body">
                <a href="/movie-locations/unforgiven-0105695" class="stretched-link">
                  <p class="card-text text-center">
                    Unforgiven
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0457430" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BYzFjMThiMGItOWRlMC00MDI4LThmOGUtYTNlZGZiYWI1YjMyXkEyXkFqcGdeQXVyMjUzOTY1NTc@.jpg" class="card-img-top" alt="Pan's Labyrinth" />
              <div class="card-body">
                <a href="/movie-locations/pan-s-labyrinth-0457430" class="stretched-link">
                  <p class="card-text text-center">
                    Pan's Labyrinth
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0112641" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMTcxOWYzNDYtYmM4YS00N2NkLTk0NTAtNjg1ODgwZjAxYzI3XkEyXkFqcGdeQXVyNTA4NzY1MzY@.jpg" class="card-img-top" alt="Casino" />
              <div class="card-body">
                <a href="/movie-locations/casino-0112641" class="stretched-link">
                  <p class="card-text text-center">
                    Casino
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0089881" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMmU1NGYwZWYtOWExNi00ZTEyLTgwMmUtM2ZlMDVjNWM4YjVlXkEyXkFqcGdeQXVyMjUzOTY1NTc@.jpg" class="card-img-top" alt="Ran" />
              <div class="card-body">
                <a href="/movie-locations/ran-0089881" class="stretched-link">
                  <p class="card-text text-center">
                    Ran
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0469494" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMjAxODQ4MDU5NV5BMl5BanBnXkFtZTcwMDU4MjU1MQ@@.jpg" class="card-img-top" alt="There Will Be Blood" />
              <div class="card-body">
                <a href="/movie-locations/there-will-be-blood-0469494" class="stretched-link">
                  <p class="card-text text-center">
                    There Will Be Blood
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0071853" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BN2IyNTE4YzUtZWU0Mi00MGIwLTgyMmQtMzQ4YzQxYWNlYWE2XkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg" class="card-img-top" alt="Monty Python and the Holy Grail" />
              <div class="card-body">
                <a href="/movie-locations/monty-python-and-the-holy-grail-0071853" class="stretched-link">
                  <p class="card-text text-center">
                    Monty Python and the Holy Grail
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0268978" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMzcwYWFkYzktZjAzNC00OGY1LWI4YTgtNzc5MzVjMDVmNjY0XkEyXkFqcGdeQXVyMTQxNzMzNDI@.jpg" class="card-img-top" alt="A Beautiful Mind" />
              <div class="card-body">
                <a href="/movie-locations/a-beautiful-mind-0268978" class="stretched-link">
                  <p class="card-text text-center">
                    A Beautiful Mind
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0167404" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMWM4NTFhYjctNzUyNi00NGMwLTk3NTYtMDIyNTZmMzRlYmQyXkEyXkFqcGdeQXVyMTAwMzUyOTc@.jpg" class="card-img-top" alt="The Sixth Sense" />
              <div class="card-body">
                <a href="/movie-locations/the-sixth-sense-0167404" class="stretched-link">
                  <p class="card-text text-center">
                    The Sixth Sense
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0120382" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMDIzODcyY2EtMmY2MC00ZWVlLTgwMzAtMjQwOWUyNmJjNTYyXkEyXkFqcGdeQXVyNDk3NzU2MTQ@.jpg" class="card-img-top" alt="The Truman Show" />
              <div class="card-body">
                <a href="/movie-locations/the-truman-show-0120382" class="stretched-link">
                  <p class="card-text text-center">
                    The Truman Show
                  </p>
                </a>
              </div>
            </div>
          </div>
          </div>
             <div class="row justify-content-center mt-3">

          <nav aria-label="Movie Locations Top 250">

            <ul class="pagination justify-content-center">
          
                  
              <li class="page-item">

                <a class="page-link" href="/movie-locations/7" aria-label="Previous">Previous <span
                    aria-hidden="true">&laquo;</span></a>
              </li>
              
            
              
              
              <li class="page-item">
                <a class="page-link" href="/movie-locations/6">6</a>
              </li>
              
         
              
              
              
              <li class="page-item">
                <a class="page-link" href="/movie-locations/7">7</a>
              </li>
              
         
              
              
              <li class="active page-item">
                <a class="page-link" href="/movie-locations/8">8</a>
              </li>
              
              
         
              
              
              
              <li class="page-item">
                <a class="page-link" href="/movie-locations/9">9</a>
              </li>
              
         
              
              
              
              <li class="page-item">
                <a class="page-link" href="/movie-locations/10">10</a>
              </li>
              
         
              
                   
              <li class="page-item">
                <a class="page-link" href="/movie-locations/9" aria-label="Next">Next<span
                    aria-hidden="true">&raquo;</span></a>
              </li>
              
         
            </ul>

          </nav>

        </div>
      </div>
    </main>
 <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>
</body>

</html>