<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>
    <body class="film-location film-details">
        <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
<![endif]-->
        <noscript>
            <h3>Please enable JavaScript in order to view this site properly.</h3>
        </noscript>
        <%- include(`${partials}/nav`); -%>
        <main class="mb-4 mt-5">
            <div class="container px-4 px-lg-5">
                     <%- include(`${partials}/autocomplete`); -%>
                <div class="row align-items-md-stretch">
                    <div class="col-md-12">
                        <div class="card mb-3" id="film-details">
                            <div class="row g-0">
                                <div class="col-md-8 px-3 py-3">
                                    <div class="card-body">
                                        <h3 class="card-title">The Terminator</h3>
                                        <p class="card-text mb-0">
                                            <span id="mainPlotContent">A human soldier is sent from 2029 to 1984 to stop an almost indestructible cyborg killing machine, sent from the same year, which has been programmed to execute a young woman whose unborn son is the key to humanity's future salvation. Sent back from a dystopian 2029--where the cold machines have conquered the entire world--to 1984 Los Angeles, the indestructible cyborg-assassin known as the  Terminator  commences his deadly mission to kill humankind's most important woman: the unsuspecting Sarah Connor. However, from the same war-torn post-apocalyptic future comes a battle-scarred defender--Kyle Reese, a brave soldier of the human Resistance Army--bent on stopping the cybernetic killer from eliminating the world's last hope. But, the Termin...</span>
                                                
                                                    <div class="collapse" id="movieLocationCollapsible">
                                                        <div id = "module"></div>
                                                        <span id="metaPlotContent"class="additional-information">ator has no feelings, he doesn't sleep, and above all, he won't stop until he carries out his grim task. Does our future lie in our past? Nick Riganas A cyborg is sent from the future on a deadly mission. He has to kill Sarah Connor, a young woman whose life will have a great significance in years to come. Sarah has only one protector - Kyle Reese - also sent from the future. The Terminator uses his exceptional intelligence and strength to find Sarah, but is there any way to stop the seemingly indestructible cyborg ? Colin Tinto <cst@imdb.com> In the future, Skynet, a computer system fights a losing war against the humans who built it and who it nearly exterminated. Just before being destroyed, Skynet sends a Terminator back in time to kill Sarah. The terminator can pass for human, is nearly indestructible, and has only one mission. One soldier is sent back to protect her from the killing machine. He must find Sarah before the Terminator can carry out it's mission. John Vogel <jlvogel@comcast.net> A cyborg assassin called  The Terminator  is sent back through time to 1984 to kill the seemingly innocent Sarah Connor--a significant woman in a bitter future war with a race of machines. If the Terminator succeeds, mankind is doomed. Sarah's only hope is a soldier from that post-apocalyptic war, who has chased the Terminator back through time. The future of the human race depends on which one finds her first. Ed Martin <Yeti67@bookham.demon.co.uk></span>
                                                    </div>
                                                    <p>
                                                        <a class="btn btn-link show-more-less collapsed"
                                                               id="myCollapsibleBtn"
                                                      
                                                           role="button"
                                                       >
                                                        </a>
                                                    </p>
                                                
                                            </p>
                                    </div>
                                </div>
                                <div class="col-md-4 justify-self-end">
                                        <img src="https://m.media-amazon.com/images/M/MV5BYTViNzMxZjEtZGEwNy00MDNiLWIzNGQtZDY2MjQ1OWViZjFmXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                             class="img-fluid rounded-start"
                                             alt="The Terminator"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="map-container">
                        <div id="map"></div>
                        <div id="loader">
                            <div class="spinner-border" role="status">
                                <span class="sr-only d-none">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr class="table__header">
                        <th class="table__cell">Location</th>
                        <th class="table__cell">Coordiantes</th>
                    </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">720 South Hill Street, Los Angeles, California 90014, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.04524</span>, <span class="lon">-118.2548</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">815 Fremont Avenue, South Pasadena, California 91030, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.11621</span>, <span class="lon">-118.15349</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">37202 90th Street East, Littlerock, California 93543, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.55814</span>, <span class="lon">-117.968855</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">6000 Stafford Avenue, Huntington Park, California 90255, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">33.9869</span>, <span class="lon">-118.22104</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Griffith, Los Angeles, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.112044</span>, <span class="lon">-118.260871</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">7301 Santa Fe Avenue, Huntington Park, California 90255, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">33.97374</span>, <span class="lon">-118.23043</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Los Angeles, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.053691</span>, <span class="lon">-118.242766</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">316 West 7th Street, Los Angeles, California 90014, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.04541</span>, <span class="lon">-118.25418</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">14239 Gilmore Street, Van Nuys, California 91401, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.18776</span>, <span class="lon">-118.44356</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">219 East 7th Street, Los Angeles, California 90014, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.04301</span>, <span class="lon">-118.24974</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Los Angeles, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.053691</span>, <span class="lon">-118.242766</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Los Angeles, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.053691</span>, <span class="lon">-118.242766</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">795 Keller Street, Los Angeles, California 90012, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.054514</span>, <span class="lon">-118.228794</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">14329 Victory Boulevard, Van Nuys, California 91401, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.18683</span>, <span class="lon">-118.44541</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">403 East 5th Street, Los Angeles, California 90013, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.04473</span>, <span class="lon">-118.244707</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">4730 Crystal Springs Drive, Los Angeles, California 90027, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.1259</span>, <span class="lon">-118.27416</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">185 Figueroa Street, Los Angeles, California 90037, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.05655</span>, <span class="lon">-118.253137</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">13010 Temple Avenue, City of Industry, California 91744, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.055258</span>, <span class="lon">-118.000317</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">212 West 7th Street, Los Angeles, California 90014, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.04468</span>, <span class="lon">-118.25286</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Los Angeles, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.053691</span>, <span class="lon">-118.242766</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Los Angeles, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.053691</span>, <span class="lon">-118.242766</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">555 Ramirez Street, Los Angeles, California 90012, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.05425</span>, <span class="lon">-118.2309</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Van Nuys, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.186619</span>, <span class="lon">-118.448668</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Los Angeles, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.053691</span>, <span class="lon">-118.242766</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">1646 North Las Palmas Avenue, Los Angeles, California 90028, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.10115</span>, <span class="lon">-118.33601</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">445 S Broadway, Los Angeles, California 90013, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.04884</span>, <span class="lon">-118.25013</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">201 North Occidental Boulevard, Los Angeles, California 90026, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.07228</span>, <span class="lon">-118.27856</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">415 Flower Street, Burbank, California 91502, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.17491</span>, <span class="lon">-118.30875</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">3300 East Slauson Avenue, Vernon, California 90058, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">33.98529</span>, <span class="lon">-118.20752</span></a>
                            </td>
                        </tr>
                    </tr>
            </table>
        </div>
    </div>
</main>
    <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>

<script type="text/javascript">
var locations =[{"bbox": [[33.97374, -118.23043], [33.98529, -118.20752], [33.9869, -118.22104]], "data": [{"lat": 34.04524, "lon": -118.2548, "name": "720 South Hill Street, Los Angeles, California 90014, United States"}, {"lat": 34.11621, "lon": -118.15349, "name": "815 Fremont Avenue, South Pasadena, California 91030, United States"}, {"lat": 34.55814, "lon": -117.968855, "name": "37202 90th Street East, Littlerock, California 93543, United States"}, {"lat": 33.9869, "lon": -118.22104, "name": "6000 Stafford Avenue, Huntington Park, California 90255, United States"}, {"lat": 34.112044, "lon": -118.260871, "name": "Griffith, Los Angeles, California, United States"}, {"lat": 33.97374, "lon": -118.23043, "name": "7301 Santa Fe Avenue, Huntington Park, California 90255, United States"}, {"lat": 34.053691, "lon": -118.242766, "name": "Los Angeles, California, United States"}, {"lat": 34.04541, "lon": -118.25418, "name": "316 West 7th Street, Los Angeles, California 90014, United States"}, {"lat": 34.18776, "lon": -118.44356, "name": "14239 Gilmore Street, Van Nuys, California 91401, United States"}, {"lat": 34.04301, "lon": -118.24974, "name": "219 East 7th Street, Los Angeles, California 90014, United States"}, {"lat": 34.053691, "lon": -118.242766, "name": "Los Angeles, California, United States"}, {"lat": 34.053691, "lon": -118.242766, "name": "Los Angeles, California, United States"}, {"lat": 34.054514, "lon": -118.228794, "name": "795 Keller Street, Los Angeles, California 90012, United States"}, {"lat": 34.18683, "lon": -118.44541, "name": "14329 Victory Boulevard, Van Nuys, California 91401, United States"}, {"lat": 34.04473, "lon": -118.244707, "name": "403 East 5th Street, Los Angeles, California 90013, United States"}, {"lat": 34.1259, "lon": -118.27416, "name": "4730 Crystal Springs Drive, Los Angeles, California 90027, United States"}, {"lat": 34.05655, "lon": -118.253137, "name": "185 Figueroa Street, Los Angeles, California 90037, United States"}, {"lat": 34.055258, "lon": -118.000317, "name": "13010 Temple Avenue, City of Industry, California 91744, United States"}, {"lat": 34.04468, "lon": -118.25286, "name": "212 West 7th Street, Los Angeles, California 90014, United States"}, {"lat": 34.053691, "lon": -118.242766, "name": "Los Angeles, California, United States"}, {"lat": 34.053691, "lon": -118.242766, "name": "Los Angeles, California, United States"}, {"lat": 34.05425, "lon": -118.2309, "name": "555 Ramirez Street, Los Angeles, California 90012, United States"}, {"lat": 34.186619, "lon": -118.448668, "name": "Van Nuys, California, United States"}, {"lat": 34.053691, "lon": -118.242766, "name": "Los Angeles, California, United States"}, {"lat": 34.10115, "lon": -118.33601, "name": "1646 North Las Palmas Avenue, Los Angeles, California 90028, United States"}, {"lat": 34.04884, "lon": -118.25013, "name": "445 S Broadway, Los Angeles, California 90013, United States"}, {"lat": 34.07228, "lon": -118.27856, "name": "201 North Occidental Boulevard, Los Angeles, California 90026, United States"}, {"lat": 34.17491, "lon": -118.30875, "name": "415 Flower Street, Burbank, California 91502, United States"}, {"lat": 33.98529, "lon": -118.20752, "name": "3300 East Slauson Avenue, Vernon, California 90058, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
</body>
</html>