<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>
    <body class="film-location film-details">
        <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
<![endif]-->
        <noscript>
            <h3>Please enable JavaScript in order to view this site properly.</h3>
        </noscript>
        <%- include(`${partials}/nav`); -%>
        <main class="mb-4 mt-5">
            <div class="container px-4 px-lg-5">
                <%- include(`${partials}/autocomplete`); -%>
                <div class="row align-items-md-stretch">
                    <div class="col-md-12">
                        <div class="card mb-3" id="film-details">
                            <div class="row g-0">
                                <div class="col-md-8 px-3 py-3">
                                    <div class="card-body">
                                        <h3 class="card-title">Stand by Me</h3>
                                        <p class="card-text mb-0">
                                            <span id="mainPlotContent"> After the death of one of his friends, a writer recounts a childhood journey with his friends to find the body of a missing boy. It's the summer of 1959 in Castlerock, Oregon and four 12 year-old boys - Gordie, Chris, Teddy and Vern - are fast friends. After learning of the general location of the body of a local boy who has been missing for several days, they set off into the woods to see it. Along the way, they learn about themselves, the meaning of friendship and the need to stand up for what is right. garykmcd Shocked by the death of a dear friend he finds out while reading the local newspaper, the now-late-thirty-something writer, Gordie Lachance, takes a trip down memory lane, when back in Oregon, in the hot summer of 1959, he and his... </span>
                                                
                                                    <div class="collapse" id="movieLocationCollapsible">
                                                        <span id="metaPlotContent"class="additional-information">  three close friends, Chris, Teddy, and Vern, set out on a life-changing adventure. Back then, the news about the death of a missing twelve-year-old boy sparked their interest in following the train tracks, and become heroes by finding first his body. Unfortunately, so did the local tough, Ace Merrill, and his gang of bullies. Indeed, sometimes, growing up can be hard; nevertheless, finding real friends can be even harder. Will life be simpler if you stand by me? Nick Riganas Gordie Lachance, a writer, looks back on his preteen days when he and three close friends went on their own adventure to find the body of a kid their age who had gone missing and presumed dead. The stakes are upped when the bad kids in town are closely tailing - and it becomes a race to see who'll be able to recover the body first. Dismal Angel </span>
                                                    </div>
                                                    <p>
                                                        <a class="btn btn-link show-more-less collapsed"
                                                           id="myCollapsibleBtn"
                                                           role="button"></a>
                                                    </p>
                                                
                                            </p>
                                    </div>
                                </div>
                                <div class="col-md-4 justify-self-end">
                                        <img src="https://m.media-amazon.com/images/M/MV5BODJmY2Y2OGQtMDg2My00N2Q3LWJmZTUtYTc2ODBjZDVlNDlhXkEyXkFqcGdeQXVyMTQxNzMzNDI@.jpg"
                                             class="img-fluid rounded-start"
                                             alt="Stand by Me"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="map-container">
                        <div id="map"></div>
                        <div id="loader">
                            <div class="spinner-border" role="status">
                                <span class="sr-only d-none">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr class="table__header">
                        <th class="table__cell">Location</th>
                        <th class="table__cell">Coordiantes</th>
                    </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Eagle Mountain Ln, Burney, California 96013, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">41.01613</span>, <span class="lon">-121.61633</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">McCloud, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">41.255712</span>, <span class="lon">-122.139449</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Cottage Grove, Oregon, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">43.797473</span>, <span class="lon">-123.058896</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Cottage Grove, Oregon, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">43.797473</span>, <span class="lon">-123.058896</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Yreka Western Railroad, Yreka, California 96097, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">41.7089828</span>, <span class="lon">-122.6364786</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">419 North Main Street, Brownsville, Oregon 97327, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">44.394635</span>, <span class="lon">-122.984712</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">School Avenue, Brownsville, Oregon 97327, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">44.39673</span>, <span class="lon">-122.98224</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Veneta, Oregon, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">44.048881</span>, <span class="lon">-123.351514</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Eugene, Oregon, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">44.050505</span>, <span class="lon">-123.095051</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Cottage Grove, Oregon, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">43.797473</span>, <span class="lon">-123.058896</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Franklin, Oregon, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">44.158402</span>, <span class="lon">-123.30771</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">325 Fisher Street, Brownsville, Oregon 97327, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">44.39407</span>, <span class="lon">-122.98931</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Burney, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">40.882381</span>, <span class="lon">-121.660821</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">North Main Street, Brownsville, Oregon 97327, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">44.395645</span>, <span class="lon">-122.98533</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Brownsville, Oregon, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">44.393457</span>, <span class="lon">-122.984811</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Holloway Heights, Brownsville, Oregon 97327, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">44.39429</span>, <span class="lon">-122.98686</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Territorial Highway and Franklin Road, Junction City, Oregon 97448, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">44.156366</span>, <span class="lon">-123.3077018</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">25850 Tidball Lane, Veneta, Oregon 97487, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">44.04958</span>, <span class="lon">-123.32322</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">1152 Linn Way, Brownsville, Oregon 97327, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">44.401691</span>, <span class="lon">-122.991003</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Brownsville, Oregon, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">44.393457</span>, <span class="lon">-122.984811</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Huston Road, Veneta, Oregon 97487, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">44.04788</span>, <span class="lon">-123.33092</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Royal Avenue, Eugene, Oregon 97402, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">44.06998</span>, <span class="lon">-123.19945</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">North Main Street and E Park Ave, Brownsville, Oregon 97327, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">44.3935154</span>, <span class="lon">-122.9844322</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">380 San Rafael Avenue, Pasadena, California 91105, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.13727</span>, <span class="lon">-118.16959</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Burney, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">40.882381</span>, <span class="lon">-121.660821</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Junction City, Oregon, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">44.219194</span>, <span class="lon">-123.204785</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">McCloud, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">41.255712</span>, <span class="lon">-122.139449</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Yreka, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">41.732616</span>, <span class="lon">-122.637766</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">37.0743595873</span>, <span class="lon">-119.699375153073</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Oregon, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">44.0328841608</span>, <span class="lon">-120.281411696945</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">39.3812661305678</span>, <span class="lon">-97.9222112121185</span></a>
                            </td>
                        </tr>
                    </table>
            </div>
        </main>
        <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>
        <script type="text/javascript">
var locations =[{"bbox": [[40.882381, -121.660821], [40.882381, -121.660821], [41.01613, -121.61633]], "data": [{"lat": 41.01613, "lon": -121.61633, "name": "Eagle Mountain Ln, Burney, California 96013, United States"}, {"lat": 41.255712, "lon": -122.139449, "name": "McCloud, California, United States"}, {"lat": 43.797473, "lon": -123.058896, "name": "Cottage Grove, Oregon, United States"}, {"lat": 43.797473, "lon": -123.058896, "name": "Cottage Grove, Oregon, United States"}, {"lat": 41.7089828, "lon": -122.6364786, "name": "Yreka Western Railroad, Yreka, California 96097, United States"}, {"lat": 44.394635, "lon": -122.984712, "name": "419 North Main Street, Brownsville, Oregon 97327, United States"}, {"lat": 44.39673, "lon": -122.98224, "name": "School Avenue, Brownsville, Oregon 97327, United States"}, {"lat": 44.048881, "lon": -123.351514, "name": "Veneta, Oregon, United States"}, {"lat": 44.050505, "lon": -123.095051, "name": "Eugene, Oregon, United States"}, {"lat": 43.797473, "lon": -123.058896, "name": "Cottage Grove, Oregon, United States"}, {"lat": 44.158402, "lon": -123.30771, "name": "Franklin, Oregon, United States"}, {"lat": 44.39407, "lon": -122.98931, "name": "325 Fisher Street, Brownsville, Oregon 97327, United States"}, {"lat": 40.882381, "lon": -121.660821, "name": "Burney, California, United States"}, {"lat": 44.395645, "lon": -122.98533, "name": "North Main Street, Brownsville, Oregon 97327, United States"}, {"lat": 44.393457, "lon": -122.984811, "name": "Brownsville, Oregon, United States"}, {"lat": 44.39429, "lon": -122.98686, "name": "Holloway Heights, Brownsville, Oregon 97327, United States"}, {"lat": 44.156366, "lon": -123.3077018, "name": "Territorial Highway and Franklin Road, Junction City, Oregon 97448, United States"}, {"lat": 44.04958, "lon": -123.32322, "name": "25850 Tidball Lane, Veneta, Oregon 97487, United States"}, {"lat": 44.401691, "lon": -122.991003, "name": "1152 Linn Way, Brownsville, Oregon 97327, United States"}, {"lat": 44.393457, "lon": -122.984811, "name": "Brownsville, Oregon, United States"}, {"lat": 44.04788, "lon": -123.33092, "name": "Huston Road, Veneta, Oregon 97487, United States"}, {"lat": 44.06998, "lon": -123.19945, "name": "Royal Avenue, Eugene, Oregon 97402, United States"}, {"lat": 44.3935154, "lon": -122.9844322, "name": "North Main Street and E Park Ave, Brownsville, Oregon 97327, United States"}, {"lat": 34.13727, "lon": -118.16959, "name": "380 San Rafael Avenue, Pasadena, California 91105, United States"}, {"lat": 40.882381, "lon": -121.660821, "name": "Burney, California, United States"}, {"lat": 44.219194, "lon": -123.204785, "name": "Junction City, Oregon, United States"}, {"lat": 41.255712, "lon": -122.139449, "name": "McCloud, California, United States"}, {"lat": 41.732616, "lon": -122.637766, "name": "Yreka, California, United States"}, {"lat": 37.0743595873, "lon": -119.699375153073, "name": "California, United States"}, {"lat": 44.0328841608, "lon": -120.281411696945, "name": "Oregon, United States"}, {"lat": 39.3812661305678, "lon": -97.9222112121185, "name": "United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                          
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
        </script>
    </body>
</html>