<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>
    <body class="film-location film-details">
        <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
<![endif]-->
        <noscript>
            <h3>Please enable JavaScript in order to view this site properly.</h3>
        </noscript>
        <%- include(`${partials}/nav`); -%>
        <main class="mb-4 mt-5">
            <div class="container px-4 px-lg-5">
                     <%- include(`${partials}/autocomplete`); -%>
                <div class="row align-items-md-stretch">
                    <div class="col-md-12">
                        <div class="card mb-3" id="film-details">
                            <div class="row g-0">
                                <div class="col-md-8 px-3 py-3">
                                    <div class="card-body">
                                        <h3 class="card-title">The General</h3>
                                        <p class="card-text mb-0">
                                            <span id="mainPlotContent">After being rejected by the Confederate military, not realizing it was due to his crucial civilian role, an engineer must single-handedly recapture his beloved locomotive after it is seized by Union spies and return it through enemy lines. Johnnie loves his train ( The General ) and Annabelle Lee. When the Civil War begins he is turned down for service because he's more valuable as an engineer. Annabelle thinks it's because he's a coward. Union spies capture The General with Annabelle on board. Johnnie must rescue both his loves. Ed Stephan <stephan@cc.wwu.edu> Johnnie Gray is an engineer on his train, The General, on the Western and Atlantic railroad. When war is declared between North and South he does his best to sign up with the Confede...</span>
                                                
                                                    <div class="collapse" id="movieLocationCollapsible">
                                                        <div id = "module"></div>
                                                        <span id="metaPlotContent"class="additional-information">rate army but is refused because he's in a designated occupation. His sweetheart Annabelle and her family don't believe him and she's ashamed, thinking he's shirking his duty. Meanwhile the Union army hatches a plan to steal the General and when it stops in Big Shanty they snatch it and head north. Annabelle Lee is a passenger on the train and Johnnie goes behind enemy lines to rescue his train and his girl. garykmcd 1862, Georgia, USA. The American Civil War is in its second year and Johnnie Gray is barred from enlisting. He is a train engineer and the Confederate Army feel he is more valuable to the Southern cause in his current role than in the army. This frustrates Johnnie and has estranged him from his sweetheart Annabelle, who views him as a coward. Then his beloved engine, The General, is stolen by Union spies and is heading for Union lines. Moreover, Annabelle is on board. Johnnie sets off after the two loves of his life. grantss Jonathan  Johnny , the driver of an engine called  The General  is faced to face with big war striking his town. He must run with his train to survive this disaster and goes on a huge ancient great action-packed slapstick train locomotive railway adventure comedy with train chases, bridge collapses and more. laugh along 'cause it's big fun. Johnnie Gray has two loves in his life: his engine and his girl, Annabelle Lee. The War Between the States begins with an attack on Fort Sumter, and Johnnie is the first in line at the recruitment office. But the enlisting officer rejects him (not telling him the reason: he is more valuable to the South as an engineer). Annabelle believes he didn't even try to enlist, and she refuses to even speak to him until he is in uniform. Time passes and Union spies hatch a plot involving Johnnie's engine, The General. Not only do they steal The General while Johnnie and the passengers are off the train having dinner, but they kidnap Annabelle who was still on board. Johnnie pursues The General in another engine, The Texas. Through various mishaps he becomes the Unionists' sole pursuer. When the Unionists discover the train chasing them has only one man aboard, the long pursuit ends, and Johnnie barely escapes with his life. Johnnie is now behind enemy lines. He wanders the forest during a rainstorm then discovers a house, which he breaks into, grabbing what food he can. It turns out the Unionists who stole The General are using the house as a base of operations. While hiding under the dinner table, Johnnie learns the details of their next plot against the Confederates. More importantly, he discovers they have Annabelle Lee, whom he had never guessed was still on The General when it was taken. Johnnie manages to escape with Annabelle and take back The General. Now the Unionists are pursuing Johnnie, but if he and Annabelle can outrace them they can warn the Confederates of the Union's latest plan. sspurli Union solders have stolen The General, a Confederate train manned by Johnnie Gray, who was unable to enlist in the Confederate army because he is needed as an engineer. The Union plans to use the train to supply its soldiers in a sneak attack against the Confederates. But now it's up to Gray and his love, Annabelle Lee, to reclaim The General, recross enemy lines, and warn the Confederates. <jgp3553@excite.com></span>
                                                    </div>
                                                    <p>
                                                        <a class="btn btn-link show-more-less collapsed"
                                                               id="myCollapsibleBtn"
                                                      
                                                           role="button"
                                                       >
                                                        </a>
                                                    </p>
                                                
                                            </p>
                                    </div>
                                </div>
                                <div class="col-md-4 justify-self-end">
                                        <img src="https://m.media-amazon.com/images/M/MV5BYmRiMDFlYjYtOTMwYy00OGY2LWE0Y2QtYzQxOGNhZmUwNTIxXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                             class="img-fluid rounded-start"
                                             alt="The General"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="map-container">
                        <div id="map"></div>
                        <div id="loader">
                            <div class="spinner-border" role="status">
                                <span class="sr-only d-none">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr class="table__header">
                        <th class="table__cell">Location</th>
                        <th class="table__cell">Coordiantes</th>
                    </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Cottage Grove, Oregon, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">43.797473</span>, <span class="lon">-123.058896</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Eugene, Oregon, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">44.050505</span>, <span class="lon">-123.095051</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">McKenzie River, Eugene, Oregon 97408, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">44.111624</span>, <span class="lon">-123.045701</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Row River Road, Cottage Grove, Oregon 97424, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">43.74838</span>, <span class="lon">-122.89136</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">34560 Row River Road, Cottage Grove, Oregon 97424, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">43.79135</span>, <span class="lon">-122.97944</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Santa Monica, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.01947</span>, <span class="lon">-118.491227</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Oregon, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">44.0328841608</span>, <span class="lon">-120.281411696945</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">37.0743595873</span>, <span class="lon">-119.699375153073</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">39.3812661305678</span>, <span class="lon">-97.9222112121185</span></a>
                            </td>
                        </tr>
                    </tr>
            </table>
        </div>
    </div>
</main>
    <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>

<script type="text/javascript">
var locations =[{"bbox": [[43.74838, -122.89136], [43.79135, -122.97944], [43.797473, -123.058896]], "data": [{"lat": 43.797473, "lon": -123.058896, "name": "Cottage Grove, Oregon, United States"}, {"lat": 44.050505, "lon": -123.095051, "name": "Eugene, Oregon, United States"}, {"lat": 44.111624, "lon": -123.045701, "name": "McKenzie River, Eugene, Oregon 97408, United States"}, {"lat": 43.74838, "lon": -122.89136, "name": "Row River Road, Cottage Grove, Oregon 97424, United States"}, {"lat": 43.79135, "lon": -122.97944, "name": "34560 Row River Road, Cottage Grove, Oregon 97424, United States"}, {"lat": 34.01947, "lon": -118.491227, "name": "Santa Monica, California, United States"}, {"lat": 44.0328841608, "lon": -120.281411696945, "name": "Oregon, United States"}, {"lat": 37.0743595873, "lon": -119.699375153073, "name": "California, United States"}, {"lat": 39.3812661305678, "lon": -97.9222112121185, "name": "United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
</body>
</html>