<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>
    <body class="film-location film-details">
        <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
<![endif]-->
        <noscript>
            <h3>Please enable JavaScript in order to view this site properly.</h3>
        </noscript>
        <%- include(`${partials}/nav`); -%>
        <main class="mb-4 mt-5">
            <div class="container px-4 px-lg-5">
                <%- include(`${partials}/autocomplete`); -%>
                <div class="row align-items-md-stretch">
                    <div class="col-md-12">
                        <div class="card mb-3" id="film-details">
                            <div class="row g-0">
                                <div class="col-md-8 px-3 py-3">
                                    <div class="card-body">
                                        <h3 class="card-title">Judgment at Nuremberg</h3>
                                        <p class="card-text mb-0">
                                            <span id="mainPlotContent"> In 1948, an American court in occupied Germany tries four Nazis judged for war crimes. It has been three years since the most important Nazi leaders had already been tried. This trial is about 4 judges who used their offices to conduct Nazi sterilization and cleansing policies. Retired American judge, Dan Haywood has a daunting task ahead of him. The Cold War is heating up and no one wants any more trials as Germany, and Allied governments, want to forget the past. But is that the right thing to do is the question that the tribunal must decide. Tony Fontana  It's 1948 in Nuremberg, Germany, where the American military is holding a post-WWII tribunal on the activities of individuals within the Nazi Party leading up to and during the war. Dan... </span>
                                                
                                                    <div class="collapse" id="movieLocationCollapsible">
                                                        <span id="metaPlotContent"class="additional-information">  Haywood is the lead judge in a three-man judiciary in one of those trials, where four men, who were involved in judicial matters, are the defendants. The general issues surrounding these four is whether they are guilty of international crimes or were just carrying out the laws of their national government, especially as they did not run or operate concentration camps for example, or purportedly know about what was happening to anyone they sentenced to life at those concentration camps. Of the four on trial, the largest question mark surrounds Dr. Ernst Janning, a globally renowned judge. Haywood, not being a well traveled man outside of the US, tries to get to know life in Germany, both then and now, to get a better perspective of the discussions at the trial. He befriends a Mrs. Bertholt as that conduit into German life. The counsel for the prosecution is led by Col. Tad Lawson, who wants to win at any cost, which includes trotting out the emotional aspects of the genocide at the concentration camps at whatever opportunity, regardless of if it actually applies to the defendants. The counsel for the defense is led by Hans Rolfe, who sees the proceedings as German self-determination on trial. Problems on both sides is getting the German public affected to talk about and thus testify about this emotionally traumatizing period of their past. But another issue in the background of this trial is the current Communist aggression, most specifically in Eastern Europe, and the Americans' need for German support in quashing this aggression, support which would be difficult to obtain if the Americans are putting Germans behind bars. Huggo In 1947, four German judges who served on the bench during the Nazi regime face a military tribunal to answer charges of crimes against humanity. Chief Justice Haywood hears evidence and testimony not only from lead defendant Ernst Janning and his defense attorney Hans Rolfe, but also from the widow of a Nazi general, an idealistic U.S. Army captain and reluctant witness Irene Wallner. Jwelch5742 </span>
                                                    </div>
                                                    <p>
                                                        <a class="btn btn-link show-more-less collapsed"
                                                           id="myCollapsibleBtn"
                                                           role="button"></a>
                                                    </p>
                                                
                                            </p>
                                    </div>
                                </div>
                                <div class="col-md-4 justify-self-end">
                                        <img src="https://m.media-amazon.com/images/M/MV5BNDc2ODQ5NTE2MV5BMl5BanBnXkFtZTcwODExMjUyNA@@.jpg"
                                             class="img-fluid rounded-start"
                                             alt="Judgment at Nuremberg"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="map-container">
                        <div id="map"></div>
                        <div id="loader">
                            <div class="spinner-border" role="status">
                                <span class="sr-only d-none">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr class="table__header">
                        <th class="table__cell">Location</th>
                        <th class="table__cell">Coordiantes</th>
                    </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Nürnberg, Bavaria, Germany</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">49.453872</span>, <span class="lon">11.077298</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">West Berlin, Berlin, Massachusetts, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">42.388148</span>, <span class="lon">-71.660624</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Universal City Plz, Universal City, California 91608, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.1379</span>, <span class="lon">-118.3613</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Nürnberg, Bavaria, Germany</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">49.453872</span>, <span class="lon">11.077298</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Universal City, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.137639</span>, <span class="lon">-118.36053</span></a>
                            </td>
                        </tr>
                    </table>
            </div>
        </main>
        <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>
        <script type="text/javascript">
var locations =[{"bbox": null, "data": [{"lat": 49.453872, "lon": 11.077298, "name": "N\u00fcrnberg, Bavaria, Germany"}, {"lat": 42.388148, "lon": -71.660624, "name": "West Berlin, Berlin, Massachusetts, United States"}, {"lat": 34.1379, "lon": -118.3613, "name": "Universal City Plz, Universal City, California 91608, United States"}, {"lat": 49.453872, "lon": 11.077298, "name": "N\u00fcrnberg, Bavaria, Germany"}, {"lat": 34.137639, "lon": -118.36053, "name": "Universal City, California, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                          
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
        </script>
    </body>
</html>