<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>
    <body class="film-location film-details">
        <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
<![endif]-->
        <noscript>
            <h3>Please enable JavaScript in order to view this site properly.</h3>
        </noscript>
        <%- include(`${partials}/nav`); -%>
        <main class="mb-4 mt-5">
            <div class="container px-4 px-lg-5">
                     <%- include(`${partials}/autocomplete`); -%>
                <div class="row align-items-md-stretch">
                    <div class="col-md-12">
                        <div class="card mb-3" id="film-details">
                            <div class="row g-0">
                                <div class="col-md-8 px-3 py-3">
                                    <div class="card-body">
                                        <h3 class="card-title">Spotlight</h3>
                                        <p class="card-text mb-0">
                                            <span id="mainPlotContent">The true story of how the Boston Globe uncovered the massive scandal of child molestation and cover-up within the local Catholic Archdiocese, shaking the entire Catholic Church to its core. When the Boston Globe's tenacious  Spotlight  team of reporters delves into allegations of abuse in the Catholic Church, their year-long investigation uncovers a decades-long cover-up at the highest levels of Boston's religious, legal, and government establishment, touching off a wave of revelations around the world. Open Road In existence since the 1970s, Spotlight is the investigative reporting unit of the Boston Globe. They can spend months or years on a single story, which they choose amongst themselves. As such, they are somewhat autonomous from the...</span>
                                                
                                                    <div class="collapse" id="movieLocationCollapsible">
                                                        <div id = "module"></div>
                                                        <span id="metaPlotContent"class="additional-information"> rest of the newspaper, only needing to report to their superior. As a rule, they are not to discuss their work with anyone else, whether it be other staff, friends and or family. In 2001, the four person team consisted of its editor Walter Robinson - Robby to his friends - and his team of three investigative journalists, Michael Rezendes, Sacha Pfeiffer and Matt Carroll. Robby reports to the assistant managing editor, Ben Bradlee Jr.. Upon his arrival from his most recent position in Florida, Marty Baron, the newly appointed editor-in-chief. Mr. Baron requests Spotlight to place their current project on hold and dig deeper into a recent story written by fellow Globe reporter and columnist Eileen McNamara, regarding allegations against a Catholic priest of sexual abuse of a minor and what appears to be the subsequent cover-up by the head of the Archdiocese of Boston, Cardinal Bernard Law. They are at first hesitant to work on the story, seeing Baron as an outsider to Boston, he who doesn't understand what is important to locals. Baron's outsider status includes not being born and raised there, and not being Catholic (he being the Globe's first Jewish editor-in-chief). Spotlights first task is to see if they can get some court documents on the case unsealed, which means they will need a court order. The Church and its parishioners could falsely interpret this as The Globe suing the Catholic church. This could have major, negative consequences for The Globe due to the fact that a majority of their subscribers are Catholic. Robby and his team begin by speaking to lawyers who have or are working on alleged sexual abuse cases perpetrated by Catholic priests in and immediately surrounding Boston (those lawyers said including Eric MacLeish and Mitchell Garabedian), known victims (such as Phil Saviano, the head of the Survivors Network of those Abused by Priests (SNAP)) and insiders in the Catholic church. Through this investigation, they get wind that the problem is not contained to a couple of priests and few victims, in essence changing the focus from the priest(s) to the systemic problem of the Archdiocese not only covering up the abuse but in reality doing nothing to stop it and thus condoning it. Their goal is not only the end product of an important story, but making sure that the other major local newspapers, such as the Boston Herald, do not beat them to the scant outline of the story in the public consciousness which the Catholic church could easily quash. Through it all, they may come to some unpleasant realizations that not only the Archdiocese and the Catholic church in general are to blame for what happened. Huggo In 2001, editor Marty Baron of The Boston Globe assigns a team of journalists to investigate allegations against John Geoghan, an unfrocked priest accused of molesting more than 80 boys. Led by editor Walter  Robby  Robinson, reporters Michael Rezendes, Matt Carroll and Sacha Pfeiffer interview victims and try to unseal sensitive documents. The reporters make it their mission to provide proof of a cover-up of sexual abuse within the Roman Catholic Church. Jwelch5742 In 2001, the Jewish editor Marty Baron is hired by The Boston Globe and he asks the Spotlight team to investigate the priest John Geoghan that was accused of abusing children and the lawyer Mitchell Garabedian that has told that Cardinal Law knew what his priest did. Walter 'Robby' Robinson, Mike Rezendes, Sacha Pfeiffer and Matt Carroll are fully supported by Baron and their leader Ben Bradlee, Jr. to set in motion the investigation of the priest and they contact the initially reluctant Garabedian; the lawyer Eric Macleish that has defended many victims; the leader of the victims' rights organization Phil Saviano; and several victims that accept to meet them. After one year investigation, they confirm the names of twenty pedophile priests in Boston and they publish the story showing that Cardinal Law had prior knowledge of the priests' abuse of children Claudio Carvalho, Rio de Janeiro, Brazil The true story of how, in 2001, reporters at the Boston Globe investigated accusations of Catholic priests in Boston molesting children. Following on from leads, interviews with victims, existing court cases and extensive research they reveal decades of abuse. Moreover, they discover that the issue was far wider spread than they at first believed, that senior members of the diocese were aware of the issue and that the church systemically covered up the crimes. grantss In 1976, at a Boston Police station, two policemen discuss the arrest of Catholic priest Fr. John Geoghan for child molestation and a high ranking cleric talks to the mother of the children. The Assistant District Attorney then enters the precinct and tells the policemen not to let the press get wind of what has happened. The arrest is hushed up, and the priest is released. In 2001, The Boston Globe hires a new editor, Marty Baron. Baron meets Walter  Robby  Robinson, the editor of the newspaper's  Spotlight  team, a small group of journalists writing investigative articles that take months to research and publish..</span>
                                                    </div>
                                                    <p>
                                                        <a class="btn btn-link show-more-less collapsed"
                                                               id="myCollapsibleBtn"
                                                      
                                                           role="button"
                                                       >
                                                        </a>
                                                    </p>
                                                
                                            </p>
                                    </div>
                                </div>
                                <div class="col-md-4 justify-self-end">
                                        <img src="https://m.media-amazon.com/images/M/MV5BMjIyOTM5OTIzNV5BMl5BanBnXkFtZTgwMDkzODE2NjE@.jpg"
                                             class="img-fluid rounded-start"
                                             alt="Spotlight"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="map-container">
                        <div id="map"></div>
                        <div id="loader">
                            <div class="spinner-border" role="status">
                                <span class="sr-only d-none">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr class="table__header">
                        <th class="table__cell">Location</th>
                        <th class="table__cell">Coordiantes</th>
                    </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Toronto, Ontario, Canada</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">43.653482</span>, <span class="lon">-79.383935</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Toronto, Ontario, Canada</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">43.653482</span>, <span class="lon">-79.383935</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Toronto, Ontario, Canada</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">43.653482</span>, <span class="lon">-79.383935</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Boston, Massachusetts, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">42.360253</span>, <span class="lon">-71.058291</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">St. Basil's Church, 50 St. Joseph St, Toronto, Ontario M5S 3L5, Canada</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">43.666328500000006</span>, <span class="lon">-79.3889735</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Toronto, Ontario, Canada</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">43.653482</span>, <span class="lon">-79.383935</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Hamilton, Ontario, Canada</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">43.25608</span>, <span class="lon">-79.872858</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Canada</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">55.5859012851966</span>, <span class="lon">-105.750595856519</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Toronto, Ontario, Canada</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">43.653482</span>, <span class="lon">-79.383935</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Scarborough Golf and Country Club, 321 Scarborough Golf Club Rd., Toronto, Ontario M1J 3H2, Canada</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">43.753307500000005</span>, <span class="lon">-79.21132499999999</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">209 Mavety Street, Toronto, Ontario M6P 2M1, Canada</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">43.664595</span>, <span class="lon">-79.465165</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">739 Parker Street, Roxbury, Massachusetts 02120, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">42.33083</span>, <span class="lon">-71.09777</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">39.3812661305678</span>, <span class="lon">-97.9222112121185</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Fenway, Boston, Massachusetts, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">42.343875</span>, <span class="lon">-71.090769</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">135 William T Morrissey Blvd, Dorchester, Massachusetts 02125, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">42.31441</span>, <span class="lon">-71.04769</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">West Roxbury, Massachusetts, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">42.279265</span>, <span class="lon">-71.149497</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">92 State Street, Boston, Massachusetts 02109, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">42.359245</span>, <span class="lon">-71.055332</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">314 Shawmut Avenue, Boston, Massachusetts 02118, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">42.342097</span>, <span class="lon">-71.070293</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">200 West Newton Street, Boston, Massachusetts 02118, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">42.344492</span>, <span class="lon">-71.080442</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Boston Public Library - Connolly Branch, 433 Centre St, Boston, Massachusetts 02130, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">42.3206285</span>, <span class="lon">-71.110975</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">54 Harvest Street, Boston, Massachusetts 02125, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">42.323115</span>, <span class="lon">-71.059152</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">51 Aberdeen Avenue, Hamilton, Ontario L8P 2N7, Canada</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">43.247039</span>, <span class="lon">-79.876788</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Post Office Square, Congress St., Boston, Massachusetts 02110, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">42.35632</span>, <span class="lon">-71.05569299999999</span></a>
                            </td>
                        </tr>
                    </tr>
            </table>
        </div>
    </div>
</main>
    <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>

<script type="text/javascript">
var locations =[{"bbox": [[42.279265, -71.149497], [42.31441, -71.04769], [42.3206285, -71.110975]], "data": [{"lat": 43.653482, "lon": -79.383935, "name": "Toronto, Ontario, Canada"}, {"lat": 43.653482, "lon": -79.383935, "name": "Toronto, Ontario, Canada"}, {"lat": 43.653482, "lon": -79.383935, "name": "Toronto, Ontario, Canada"}, {"lat": 42.360253, "lon": -71.058291, "name": "Boston, Massachusetts, United States"}, {"lat": 43.666328500000006, "lon": -79.3889735, "name": "St. Basil\u0027s Church, 50 St. Joseph St, Toronto, Ontario M5S 3L5, Canada"}, {"lat": 43.653482, "lon": -79.383935, "name": "Toronto, Ontario, Canada"}, {"lat": 43.25608, "lon": -79.872858, "name": "Hamilton, Ontario, Canada"}, {"lat": 55.5859012851966, "lon": -105.750595856519, "name": "Canada"}, {"lat": 43.653482, "lon": -79.383935, "name": "Toronto, Ontario, Canada"}, {"lat": 43.753307500000005, "lon": -79.21132499999999, "name": "Scarborough Golf and Country Club, 321 Scarborough Golf Club Rd., Toronto, Ontario M1J 3H2, Canada"}, {"lat": 43.664595, "lon": -79.465165, "name": "209 Mavety Street, Toronto, Ontario M6P 2M1, Canada"}, {"lat": 42.33083, "lon": -71.09777, "name": "739 Parker Street, Roxbury, Massachusetts 02120, United States"}, {"lat": 39.3812661305678, "lon": -97.9222112121185, "name": "United States"}, {"lat": 42.343875, "lon": -71.090769, "name": "Fenway, Boston, Massachusetts, United States"}, {"lat": 42.31441, "lon": -71.04769, "name": "135 William T Morrissey Blvd, Dorchester, Massachusetts 02125, United States"}, {"lat": 42.279265, "lon": -71.149497, "name": "West Roxbury, Massachusetts, United States"}, {"lat": 42.359245, "lon": -71.055332, "name": "92 State Street, Boston, Massachusetts 02109, United States"}, {"lat": 42.342097, "lon": -71.070293, "name": "314 Shawmut Avenue, Boston, Massachusetts 02118, United States"}, {"lat": 42.344492, "lon": -71.080442, "name": "200 West Newton Street, Boston, Massachusetts 02118, United States"}, {"lat": 42.3206285, "lon": -71.110975, "name": "Boston Public Library - Connolly Branch, 433 Centre St, Boston, Massachusetts 02130, United States"}, {"lat": 42.323115, "lon": -71.059152, "name": "54 Harvest Street, Boston, Massachusetts 02125, United States"}, {"lat": 43.247039, "lon": -79.876788, "name": "51 Aberdeen Avenue, Hamilton, Ontario L8P 2N7, Canada"}, {"lat": 42.35632, "lon": -71.05569299999999, "name": "Post Office Square, Congress St., Boston, Massachusetts 02110, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
</body>
</html>