<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>
  <body class="d-flex flex-column">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->
    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>
    <%- include(`${partials}/nav`); -%>

    <!-- Main Content-->

    <main class="flex-shrink-0 mt-2" style="min-height: 80vh;">
      <div class="container px-4 px-lg-5 pb-5">
         <div class="row mb-5">
  <div class="col-xl-4 col-lg-6 col-md-12 col-12 mb-3 d-flex align-items-stretch">
                  <!-- card -->
                  <div class="card text-center">
                    <!-- card body -->
                    <div class="card-body p-8 border">
                      <!-- text -->
                      <div class="text-wrapper mx-0 my-7">
                      <a href="address-to-latlon/" class="stretched-link">
                         <h3 class="mb-3">
                    Address to Latitude and Longitude
                  </h3>
                  </a>
                  
                      <p class="mb-0">
                   
                  Find latitude and logitude of a place
                
                  
                      </p>
                      </div>
                   
                 
                      <!-- button -->
                    </div>
                    <!-- card body -->
                 
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-12 col-12 mb-3 d-flex align-items-stretch">
                  <!-- card -->
                  <div class="card text-center">
                    <!-- card body -->
                    <div class="card-body p-8 border">
                      <!-- text -->
                      <div class="text-wrapper mx-0 my-7">

                      <a href="lat-lon-to-address/" class="stretched-link">
                         <h3 class="mb-3">
                    Latitude and Longitude to Address
                  </h3>
                  
                  </a>
                      <p class="mb-0">
                
                
                  Find the address from the lat and long
                
                  
                  
                      </p>
                      </div>
                   
                 
                      <!-- button -->
                    </div>
                    <!-- card body -->
                 
                  </div>
                </div>
                  <div class="col-xl-4 col-lg-6 col-md-12 col-12 mb-3 d-flex align-items-stretch">
                  <!-- card -->
                  <div class="card text-center">
                    <!-- card body -->
                    <div class="card-body p-8 border">
                      <!-- text -->
                      <div class="text-wrapper mx-0 my-7">

                      <a href="latlon-to-dms/" class="stretched-link">
                  <h3 class="mb-3">Latitude and Longitude to DMS</h3>
                  
                  
                  </a>
                      
                      <p class="mb-0">
                    Latitude and Longitude to DMS
                  
                      </p>
                      </div>
                   
                 
                      <!-- button -->
                    </div>
                    <!-- card body -->
                 
                  </div>
                </div>
        </div>
            <div class="row mb-5">
  <div class="col-xl-4 col-lg-6 col-md-12 col-12 mb-3 d-flex align-items-stretch">
                  <!-- card -->
                  <div class="card text-center">
                    <!-- card body -->
                    <div class="card-body p-8 border">
                      <!-- text -->
                      <div class="text-wrapper mx-0 my-7">

                      <a href="dms-to-latlon/" class="stretched-link">
                  <h3 class="mb-3">
                    DMS to Latitude and Longitude
                  </h3></a>
                        
                      <p class="mb-0">
          
                  Identify travel time from two sets of longitude and latitude
                
                  
                      </p>
                      </div>
                   
                 
                      <!-- button -->
                    </div>
                    <!-- card body -->
                 
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-12 col-12 mb-3 d-flex align-items-stretch">
                  <!-- card -->
                  <div class="card text-center">
                    <!-- card body -->
                    <div class="card-body p-8 border">
                      <!-- text -->


                      <div class="text-wrapper mx-0 my-7">
                      <a href="address-distance/" class="stretched-link">
                 <h3 class="mb-3">
                    Address Distance
                  </h3></a>
                     
                      <p class="mb-0">
                
                  Find distance between two locations
                
                  
                      </p>
                      </div>
                   
                 
                      <!-- button -->
                    </div>
                    <!-- card body -->
                 
                  </div>
                </div>
                  <div class="col-xl-4 col-lg-6 col-md-12 col-12 mb-3 d-flex align-items-stretch">
                  <!-- card -->
                  <div class="card text-center">
                    <!-- card body -->
                    <div class="card-body p-8 border">
                  
                       <!-- text -->
                      <div class="text-wrapper mx-0 my-7">

  <a href="lat-lon-distance/" class="stretched-link">
                         <h3 class="mb-3">
                    Latitude and Longitude Distance
                  </h3>    </a>
                      <p class="mb-0">
                    
                  Calculate the distance between coordinates.
                
                  
                      </p>
                      </div>
               
           
              
                   
                 
                      <!-- button -->
                    </div>
                    <!-- card body -->
                 
                  </div>
                </div>
        </div>
 
    
      </div>

               <%- include(`${partials}/modal.ejs`); -%>



    </main>

    <%- include(`${partials}/footer`); -%> <%- include(`${partials}/scripts`);
    -%>


  </body>
</html>
