<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>
  <body class="d-flex flex-column">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->
    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>
    <%- include(`${partials}/nav`); -%>

    <!-- Main Content-->

    <main class="flex-shrink-0 mt-5" style="min-height: 80vh;">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-4 mb-4">
            <div
              class="lc-block text-center rounded shadow px-4 py-5 bg-light position-relative"
              style="min-height: 30vh;"
            >
              <h3 class="mb-3 fw-normal">
                Address to Latitude and Longitude
              </h3>

         
                <p class="mb-0 fs-5 text-muted my-3">
                  Find latitude and logitude of a place
                </p>
                <a href="address-to-latlon/" class="stretched-link">  </a>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
            <div
              class="lc-block text-center rounded shadow px-4 py-5 bg-light position-relative"
              style="min-height: 30vh;"
            >
              <h3 class="mb-3 fw-normal">
                Latitude and Longitude to Address
              </h3>

              <a href="lat-lon-to-address/" class="stretched-link">
                <p class="mb-0 fs-5 text-muted my-3">
                  Find the address from the lat and long
                </p>
              </a>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
            <div
              class="lc-block text-center rounded shadow px-4 py-5 bg-light position-relative"
              style="min-height: 30vh;"
            >
              <h3 class="mb-3 fw-normal">
                Latitude and Longitude to DMS
              </h3>

              <a href="latlon-to-dms/" class="stretched-link">
                <p class="mb-0 fs-5 text-muted my-3">
                  Latitude and Longitude to DMS
                </p>
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 mb-4">
            <div
              class="lc-block text-center rounded shadow px-4 py-5 bg-light position-relative"
              style="min-height: 30vh;"
            >
              <h3 class="mb-3 fw-normal">
                DMS to Latitude and Longitude
              </h3>

         
                <p class="mb-0 fs-5 text-muted my-3">
                  Identify travel time from two sets of longitude and latitude
                </p>
                <a href="dms-to-latlon/" class="stretched-link">  </a>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
            <div
              class="lc-block text-center rounded shadow px-4 py-5 bg-light position-relative"
              style="min-height: 30vh;"
            >
              <h3 class="mb-3 fw-normal">
                Address Distance
              </h3>

              <a href="address-distance/" class="stretched-link">
                <p class="mb-0 fs-5 text-muted my-3">
                  Find distance between two locations
                </p>
              </a>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
            <div
              class="lc-block text-center rounded shadow px-4 py-5 bg-light position-relative"
              style="min-height: 30vh;"
            >
              <h3 class="mb-3 fw-normal">
                Latitude and Longitude Distance
              </h3>

              <a href="lat-lon-distance/" class="stretched-link">
                <p class="mb-0 fs-5 text-muted my-3">
                  Calculate the distance between coordinates.
                </p>
              </a>
            </div>
          </div>
        </div>
      </div>

      <%- include(`${partials}/modal.ejs`); -%>
    </main>

    <%- include(`${partials}/footer`); -%> <%- include(`${partials}/scripts`);
    -%>
  </body>
</html>
