<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>
    <body class="film-location film-details">
        <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
<![endif]-->
        <noscript>
            <h3>Please enable JavaScript in order to view this site properly.</h3>
        </noscript>
        <%- include(`${partials}/nav`); -%>
        <main class="mb-4 mt-5">
            <div class="container px-4 px-lg-5">
                <%- include(`${partials}/autocomplete`); -%>
                <div class="row align-items-md-stretch">
                    <div class="col-md-12">
                        <div class="card mb-3" id="film-details">
                            <div class="row g-0">
                                <div class="col-md-8 px-3 py-3">
                                    <div class="card-body">
                                        <h3 class="card-title">Fight Club</h3>
                                        <p class="card-text mb-0">
                                            <span id="mainPlotContent"> An insomniac office worker and a devil-may-care soap maker form an underground fight club that evolves into much more. A nameless first person narrator (Edward Norton) attends support groups in attempt to subdue his emotional state and relieve his insomniac state. When he meets Marla (Helena Bonham Carter), another fake attendee of support groups, his life seems to become a little more bearable. However when he associates himself with Tyler (Brad Pitt) he is dragged into an underground fight club and soap making scheme. Together the two men spiral out of control and engage in competitive rivalry for love and power. Rhiannon A young man leads a pretty humdrum life assessing car crashes to determine if his automobile company should issue reca... </span>
                                                
                                                    <div class="collapse" id="movieLocationCollapsible">
                                                        <span id="metaPlotContent"class="additional-information"> lls to fix problems. He also suffers from insomnia and takes to attending group therapy sessions for people who have survived various diseases. There he meets Marla who like him attends these sessions though she is neither a victim nor a survivor. His life changes when he meets Tyler Durden on a flight home. Tyler seems to be everything that he's not and together they create a men-only group for bare-knuckle fighting. It soon becomes all the rage with fight clubs springing up across the country and the group itself becoming an anti-capitalist domestic terrorist organization. Tyler and Marla develop a relationship leaving him often on the outside of what is going on. He soon finds that the group is out of control and after a major self-revelation decides there is only one way out. garykmcd An insomniac unnamed narrator needs a fantasy to escape from his deadly boring life, he tries joining a cancer support group however the only thing they do in the group is cry into each others chest, but then he is on a plane on his way back from what a viewer would assume is a business trip our unnamed narrator encounters Tyler Durden, a soap selling bad-ass who happens to run a secret fight club in the diner parking lot with his friend who follows 8 simple rules set out by Tyler, our unnamed narrator of course is taken into this scheme ran by Tyler. ahmetkozan Posing as a pitiful sufferer during fruitless late-night sessions in highly addictive support groups for terminal illnesses, an unhappy insomniac struggles to find meaning in his mundane and dysfunctional existence. Then, a fateful encounter with the anarchist philosopher and travelling soap salesman, Tyler Durden, changes his life, as--for the first time in a long while--the bored white-collar worker reconnects with his inner self. Much to his surprise, the formerly depressed loner finds himself deriving pleasure out of pain through bare-knuckle brawls in the Fight Club: an underground society of men who yearn to free themselves from the fetters of a cruel modern life. Now, he is ready to wage war. Are violence and freedom the two sides of the same coin? Nick Riganas A young urban professional who works for a major car manufacturer can't sleep. Although he doesn't have any of the associated afflictions, he stumbles across support groups as a means to let out whatever emotions he is feeling, which in turn allows him to sleep. But the use of these support groups is ruined when he meets a young woman named Marla Singer, who is also going to all these support group meetings. Because he knows she too is not afflicted with any of the maladies for which the groups exist, her presence has lessened the impact of the stories he hears. His life changes when he meets a soap manufacturer named Tyler Durden, who in many ways is the antithesis of the insomniac. Due to unusual circumstances with his own condo, the insomniac moves in with Tyler, who lives in a large dilapidated house in an otherwise abandoned part of town. After a bit of spontaneous roughhousing with Tyler in a bar parking lot, the insomniac finds it becomes a ritual between the two of them, which helps him cope with the other more difficult aspects of his life. The fights also attract a following, others who not only want to watch but join in. Understanding that there are other men like them, the insomniac and Tyler begin a secret fight club. As the fight club's popularity grows, so does its scope in all aspects. Marla becomes a circle not specifically of the fight clubs but of Tyler and the insomniac's collectives lives. As the nature of the fight clubs becomes out of control in the insomniac's view, the insomniac's life, in association, is one where he no longer understands what is happening around him, or how he can get out of it without harming himself. Huggo </span>
                                                    </div>
                                                    <p>
                                                        <a class="btn btn-link show-more-less collapsed"
                                                           id="myCollapsibleBtn"
                                                           role="button"></a>
                                                    </p>
                                                
                                            </p>
                                    </div>
                                </div>
                                <div class="col-md-4 justify-self-end">
                                        <img src="https://m.media-amazon.com/images/M/MV5BNDIzNDU0YzEtYzE5Ni00ZjlkLTk5ZjgtNjM3NWE4YzA3Nzk3XkEyXkFqcGdeQXVyMjUzOTY1NTc@.jpg"
                                             class="img-fluid rounded-start"
                                             alt="Fight Club"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="map-container">
                        <div id="map"></div>
                        <div id="loader">
                            <div class="spinner-border" role="status">
                                <span class="sr-only d-none">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr class="table__header">
                        <th class="table__cell">Location</th>
                        <th class="table__cell">Coordiantes</th>
                    </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">240 North Neptune Avenue, Wilmington, California 90744, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">33.773259</span>, <span class="lon">-118.268456</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">217 Figueroa Street, Los Angeles, California 90037, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.056268</span>, <span class="lon">-118.253413</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">325 W 8th St, Los Angeles, California 90014, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.04402</span>, <span class="lon">-118.2549</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">310 South Van Ness Avenue, Los Angeles, California 90020, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.0685</span>, <span class="lon">-118.31483</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">10201 West Pico Boulevard, Los Angeles, California 90064, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.04994</span>, <span class="lon">-118.41129</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">123 Figueroa Street, Los Angeles, California 90012, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.05758</span>, <span class="lon">-118.2532</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">1331 West C Street, Wilmington, California 90744, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">33.77064</span>, <span class="lon">-118.27834</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">802 Broadway, Santa Monica, California 90404, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.018158</span>, <span class="lon">-118.48982</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">421 East 8th Street, Los Angeles, California 90014, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.04046</span>, <span class="lon">-118.25048</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Melrose, Los Angeles, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.084915</span>, <span class="lon">-118.352571</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">505 North Avalon Boulevard, Wilmington, California 90744, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">33.77581</span>, <span class="lon">-118.262405</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">330 W 8th St, Los Angeles, California 90014, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.04406</span>, <span class="lon">-118.25532</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">150 World Way, Los Angeles, California 90045, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">33.94737</span>, <span class="lon">-118.40125</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">450 South Bixel Street, Los Angeles, California 90017, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.055789</span>, <span class="lon">-118.2609</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">313 East 8th Street, Los Angeles, California 90021, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.041007</span>, <span class="lon">-118.251351</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">N San Pedro St, Los Angeles, California 90012, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.05316</span>, <span class="lon">-118.23942</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">10201 West Pico Boulevard, Los Angeles, California 90064, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.04994</span>, <span class="lon">-118.41129</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">615 South Broadway, Los Angeles, California 90014, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.04634</span>, <span class="lon">-118.25255</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Hancock Park, Los Angeles, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.073678</span>, <span class="lon">-118.335055</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Century City, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.056663</span>, <span class="lon">-118.417739</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">4313 Melrose Avenue, Los Angeles, California 90046, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.083589</span>, <span class="lon">-118.294576</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Melrose, Los Angeles, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.084915</span>, <span class="lon">-118.352571</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">4323 Melrose Avenue, Los Angeles, California 90029, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.0837</span>, <span class="lon">-118.29472</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">South Wilmington Avenue, Compton, California 90220, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">33.87155</span>, <span class="lon">-118.23678</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Downtown, El Monte, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.06784</span>, <span class="lon">-118.034497</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Los Angeles, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.053691</span>, <span class="lon">-118.242766</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">37.0743595873</span>, <span class="lon">-119.699375153073</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">39.3812661305678</span>, <span class="lon">-97.9222112121185</span></a>
                            </td>
                        </tr>
                    </table>
            </div>
        </main>
        <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>
        <script type="text/javascript">
var locations =[{"bbox": [[33.77064, -118.27834], [33.773259, -118.268456], [33.77581, -118.262405]], "data": [{"lat": 33.773259, "lon": -118.268456, "name": "240 North Neptune Avenue, Wilmington, California 90744, United States"}, {"lat": 34.056268, "lon": -118.253413, "name": "217 Figueroa Street, Los Angeles, California 90037, United States"}, {"lat": 34.04402, "lon": -118.2549, "name": "325 W 8th St, Los Angeles, California 90014, United States"}, {"lat": 34.0685, "lon": -118.31483, "name": "310 South Van Ness Avenue, Los Angeles, California 90020, United States"}, {"lat": 34.04994, "lon": -118.41129, "name": "10201 West Pico Boulevard, Los Angeles, California 90064, United States"}, {"lat": 34.05758, "lon": -118.2532, "name": "123 Figueroa Street, Los Angeles, California 90012, United States"}, {"lat": 33.77064, "lon": -118.27834, "name": "1331 West C Street, Wilmington, California 90744, United States"}, {"lat": 34.018158, "lon": -118.48982, "name": "802 Broadway, Santa Monica, California 90404, United States"}, {"lat": 34.04046, "lon": -118.25048, "name": "421 East 8th Street, Los Angeles, California 90014, United States"}, {"lat": 34.084915, "lon": -118.352571, "name": "Melrose, Los Angeles, California, United States"}, {"lat": 33.77581, "lon": -118.262405, "name": "505 North Avalon Boulevard, Wilmington, California 90744, United States"}, {"lat": 34.04406, "lon": -118.25532, "name": "330 W 8th St, Los Angeles, California 90014, United States"}, {"lat": 33.94737, "lon": -118.40125, "name": "150 World Way, Los Angeles, California 90045, United States"}, {"lat": 34.055789, "lon": -118.2609, "name": "450 South Bixel Street, Los Angeles, California 90017, United States"}, {"lat": 34.041007, "lon": -118.251351, "name": "313 East 8th Street, Los Angeles, California 90021, United States"}, {"lat": 34.05316, "lon": -118.23942, "name": "N San Pedro St, Los Angeles, California 90012, United States"}, {"lat": 34.04994, "lon": -118.41129, "name": "10201 West Pico Boulevard, Los Angeles, California 90064, United States"}, {"lat": 34.04634, "lon": -118.25255, "name": "615 South Broadway, Los Angeles, California 90014, United States"}, {"lat": 34.073678, "lon": -118.335055, "name": "Hancock Park, Los Angeles, California, United States"}, {"lat": 34.056663, "lon": -118.417739, "name": "Century City, California, United States"}, {"lat": 34.083589, "lon": -118.294576, "name": "4313 Melrose Avenue, Los Angeles, California 90046, United States"}, {"lat": 34.084915, "lon": -118.352571, "name": "Melrose, Los Angeles, California, United States"}, {"lat": 34.0837, "lon": -118.29472, "name": "4323 Melrose Avenue, Los Angeles, California 90029, United States"}, {"lat": 33.87155, "lon": -118.23678, "name": "South Wilmington Avenue, Compton, California 90220, United States"}, {"lat": 34.06784, "lon": -118.034497, "name": "Downtown, El Monte, California, United States"}, {"lat": 34.053691, "lon": -118.242766, "name": "Los Angeles, California, United States"}, {"lat": 37.0743595873, "lon": -119.699375153073, "name": "California, United States"}, {"lat": 39.3812661305678, "lon": -97.9222112121185, "name": "United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                          
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
        </script>
    </body>
</html>