<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>
    <body class="film-location film-details">
        <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
<![endif]-->
        <noscript>
            <h3>Please enable JavaScript in order to view this site properly.</h3>
        </noscript>
        <%- include(`${partials}/nav`); -%>
        <main class="mb-4 mt-5">
            <div class="container px-4 px-lg-5">
                     <%- include(`${partials}/autocomplete`); -%>
                <div class="row align-items-md-stretch">
                    <div class="col-md-12">
                        <div class="card mb-3" id="film-details">
                            <div class="row g-0">
                                <div class="col-md-8 px-3 py-3">
                                    <div class="card-body">
                                        <h3 class="card-title">It Happened One Night</h3>
                                        <p class="card-text mb-0">
                                            <span id="mainPlotContent">A renegade reporter trailing a young runaway heiress for a big story joins her on a bus heading from Florida to New York, and they end up stuck with each other when the bus leaves them behind at one of the stops. Ellie Andrews has just tied the knot with society aviator King Westley when she is whisked away to her father's yacht and out of King's clutches. Ellie jumps ship and eventually winds up on a bus headed back to her husband. Reluctantly she must accept the help of out-of- work reporter Peter Warne. Actually, Warne doesn't give her any choice: either she sticks with him until he gets her back to her husband, or he'll blow the whistle on Ellie to her father. Either way, Peter gets what (he thinks!) he wants .... a really juicy newspap...</span>
                                                
                                                    <div class="collapse" id="movieLocationCollapsible">
                                                        <div id = "module"></div>
                                                        <span id="metaPlotContent"class="additional-information">er story. A.L.Beneteau <albl@inforamp.net> In Miami, the spoiled socialite Ellie Andrews is trapped in the yacht of her controller father, the Wall Street banker Andrews, who has just annulled her secret marriage with the snobbish aviator King Westley. Out of the blue, Ellie jumps overboard and swims to the shore. Andrews hires a detective agency to find her and offers a 10,000 dollars reward for any information about his daughter. But Ellie pawns her watch, buys some clothing and a bus ticket to New York to meet her lover. She seats side-by-side with the cynical reporter Peter Warne. However, when a thief steals her purse with her money in a bus stop and Ellie does not report to the police, Peter recognizes and blackmails Ellie, asking her to travel together with him. He promises to protect her and in return he would write her adventure to meet King Westley. Along their journey, Ellie falls in love for Peter; but when he vanishes from the motel where they are lodged and contacts her father later, she believes he was only interested in the reward. In the end, love triumphs and the wall of Jericho falls. Claudio Carvalho, Rio de Janeiro, Brazil Rich heiress Ellie Andrews has married against her father's wishes and manages to get away from him by jumping off the family yacht in Florida. While her father hires a detective agency to track her down, she tries to make her way to New York City. She starts out on a bus where she meets newly unemployed journalist Peter Warne. He's quickly onto her real identity and it's pretty obvious that she's a spoiled brat. She has no money and he decides to help her get to New York thinking he'll get a good story out of it. As they travel together however, they develop an appreciation and an understanding of one another. It soon turns to love. garykmcd Ellie Andrews is a spoiled heiress who has, against her father's will, eloped with fortune-hunting aviator  King  Westley. Jumping ship in Florida to reunite with her new spouse, her impromptu exit leads her to a bus traveling to New York City where she meets cheeky, charismatic news reporter Pete Warne. Warne, recognizing Ellie, agrees to help reunite the two lovers but with a special caveat: the heiress must give him an exclusive on her story. As the two travel northward together, they take part in a series of misadventures which gives rise to romantic feelings. Kyle Perez In Frank Capra's acclaimed romantic comedy, spoiled heiress Ellie Andrews impetuously marries the scheming King Westley, leading her tycoon father to spirit her away on his yacht. After jumping ship, Ellie falls in with cynical newspaper reporter Peter Warne, who offers to help her reunite with her new husband in exchange for an exclusive story. But during their travels, the reporter finds himself falling for the feisty young heiress. Jwelch5742 There is instant animosity when Ellen Andrews and Peter Warne are literally thrown together in meeting as passengers on the same Miami to New York City bus. Socialite heiress Ellie has led a pampered but sheltered life under the thumb of her banker father, Alexander Andrews, she, in the only time she managed to escape for some freedom, met and married in a civil ceremony, as an act of defiance, King Westley. Her father, in knowing King is only after her money, wants to get the marriage annulled. As such, Ellie, who managed to escape from her father for the second time, is traveling incognito to reunite with King back in New York City, while her father organizes a  manhunt  for her with a sizable cash reward to anyone for her return. Peter, a New York newspaper reporter, has just been fired for his chronic drunkenness. Despite their differences, Peter vows to help Ellie, who has lost her suitcase including most of her money - his help despite he only having limited funds himself - when he discovers who she is, he believing she solely his ticket to his old job in having an exclusive to her story. Beyond getting to New York on their limited funds, while evading her father's search party and/or anyone else who may discover who she is, and overcoming any other unforeseen problems such as cons and other criminal elements out to bilk unsuspecting travelers, Ellie and Peter arguably have to overcome the biggest obstacle of their dislike for each other, which they may be able to achieve in the bigger picture of their respective end goals, that is unless something else becomes priority. Huggo Rebellious socialite Ellie Andrews marries King Wesley but her wealthy father has it annulled. Tired of her father's control, she runs away by diving off the family yacht in Miami and heading for New York. On the bus she meets street-smart reporter Peter Warne. They end up traveling together as Warne hopes to get a great story, and Ellie needs his worldly help. Nearing New York, with their many adventures coming to an end, they find that they are reluctantly in love and afraid to admit it to each other. After she mistakenly thinks that Warne has run out on her Ellie returns to King Wesley, but for how long? Gary Jackson <garyjack5@cogeco.ca></span>
                                                    </div>
                                                    <p>
                                                        <a class="btn btn-link show-more-less collapsed"
                                                               id="myCollapsibleBtn"
                                                      
                                                           role="button"
                                                       >
                                                        </a>
                                                    </p>
                                                
                                            </p>
                                    </div>
                                </div>
                                <div class="col-md-4 justify-self-end">
                                        <img src="https://m.media-amazon.com/images/M/MV5BYzJmMWE5NjAtNWMyZS00NmFiLWIwMDgtZDE2NzczYWFhNzIzXkEyXkFqcGdeQXVyNjc1NTYyMjg@.jpg"
                                             class="img-fluid rounded-start"
                                             alt="It Happened One Night"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="map-container">
                        <div id="map"></div>
                        <div id="loader">
                            <div class="spinner-border" role="status">
                                <span class="sr-only d-none">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr class="table__header">
                        <th class="table__cell">Location</th>
                        <th class="table__cell">Coordiantes</th>
                    </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Santa Monica, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.01947</span>, <span class="lon">-118.491227</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Thousand Oaks, Berkeley, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">37.895323</span>, <span class="lon">-122.28141</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Los Angeles, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.053691</span>, <span class="lon">-118.242766</span></a>
                            </td>
                        </tr>
                    </tr>
            </table>
        </div>
    </div>
</main>
    <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>

<script type="text/javascript">
var locations =[{"bbox": null, "data": [{"lat": 34.01947, "lon": -118.491227, "name": "Santa Monica, California, United States"}, {"lat": 37.895323, "lon": -122.28141, "name": "Thousand Oaks, Berkeley, California, United States"}, {"lat": 34.053691, "lon": -118.242766, "name": "Los Angeles, California, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
</body>
</html>