<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>
    <body class="film-location film-details">
        <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
<![endif]-->
        <noscript>
            <h3>Please enable JavaScript in order to view this site properly.</h3>
        </noscript>
        <%- include(`${partials}/nav`); -%>
        <main class="mb-4 mt-5">
            <div class="container px-4 px-lg-5">
                <%- include(`${partials}/autocomplete`); -%>
                <div class="row align-items-md-stretch">
                    <div class="col-md-12">
                        <div class="card mb-3" id="film-details">
                            <div class="row g-0">
                                <div class="col-md-8 px-3 py-3">
                                    <div class="card-body">
                                        <h3 class="card-title">Rush</h3>
                                        <p class="card-text mb-0">
                                            <span id="mainPlotContent"> The merciless 1970s rivalry between Formula One rivals James Hunt and Niki Lauda. Set against the sexy, glamorous golden age of Formula 1 racing in the 1970s, the film is based on the true story of a great sporting rivalry between handsome English playboy James Hunt (Hemsworth), and his methodical, brilliant opponent, Austrian driver Niki Lauda (Bruhl). The story follows their distinctly-different personal styles on and off the track, their loves, and the astonishing 1976 season in which both drivers were willing to risk everything to become world champion in a sport with no margin for error: if you make a mistake, you die. P. Morgan Both on the track and off, Hunt (Hemsworth) and Lauda (Bruhl) couldn't have been more different. Yet as much... </span>
                                                
                                                    <div class="collapse" id="movieLocationCollapsible">
                                                        <span id="metaPlotContent"class="additional-information">  as Englishman Hunt's showy public persona clashed with Lauda's reputation for tightly-controlled perfectionism, both men remained bound together by one undeniable fact--they were both among the best drivers ever to grace the racetrack. But when a horrific crash during the 1976 Grand Prix at the Nürburgring nearly claims Lauda's life, a grudging respect develops between the two racers as Hunt realizes just how devoted his greatest adversary is to the sport they both love. </span>
                                                    </div>
                                                    <p>
                                                        <a class="btn btn-link show-more-less collapsed"
                                                           id="myCollapsibleBtn"
                                                           role="button"></a>
                                                    </p>
                                                
                                            </p>
                                    </div>
                                </div>
                                <div class="col-md-4 justify-self-end">
                                        <img src="https://m.media-amazon.com/images/M/MV5BOWEwODJmZDItYTNmZC00OGM4LThlNDktOTQzZjIzMGQxODA4XkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg"
                                             class="img-fluid rounded-start"
                                             alt="Rush"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="map-container">
                        <div id="map"></div>
                        <div id="loader">
                            <div class="spinner-border" role="status">
                                <span class="sr-only d-none">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr class="table__header">
                        <th class="table__cell">Location</th>
                        <th class="table__cell">Coordiantes</th>
                    </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Nürburgring, Nürburgring Boulevard 1, Müllenbach, Rhineland-Palatinate 53520, Germany</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">50.330861</span>, <span class="lon">6.940269</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Köln, North Rhine-Westphalia, Germany</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">50.938361</span>, <span class="lon">6.959974</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Kent, England, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.2245</span>, <span class="lon">0.7334</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Blackbushe Airport, Terminal Building, Camberley, England GU17 9LB, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.32262</span>, <span class="lon">-0.839338</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Chadwell, Leicestershire, England, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">52.812744</span>, <span class="lon">-0.838793</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Louth, Lincolnshire, England, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">53.367516</span>, <span class="lon">-0.002238</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Stanhope Road, Camberley, GU15 3BS, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.3320919</span>, <span class="lon">-0.7681924</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Louth, Lincolnshire, England, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">53.367516</span>, <span class="lon">-0.002238</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Towcester, Northamptonshire, England, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">52.135027</span>, <span class="lon">-0.994847</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Donington Park, Castle Donington, Derby, England DE74 2RP, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">52.826469</span>, <span class="lon">-1.369858</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Vienna, Austria</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">48.20833</span>, <span class="lon">16.37306</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Singerstraße, 1010 Innere Stadt, Austria</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">48.2069956</span>, <span class="lon">16.3741842348651</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">North Rhine-Westphalia, Germany</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.46667</span>, <span class="lon">7.55</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Norfolk, England, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">52.6667</span>, <span class="lon">1</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Chobham, Surrey, England, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.3481</span>, <span class="lon">-0.6038</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Chobham Lane, Chertsey, KT16 0EE, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.3816626</span>, <span class="lon">-0.5905694</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Trys Hill, Lyne, Chertsey, KT16 0DJ, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.3808904</span>, <span class="lon">-0.5507438</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Surrey, England, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.25</span>, <span class="lon">-0.3333</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">England, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">52.38145972</span>, <span class="lon">-0.676181762467007</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">54.2379333607472</span>, <span class="lon">-2.36966957036279</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Germany</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.1334813439932</span>, <span class="lon">10.0183432948567</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Austria</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">47.6077978292689</span>, <span class="lon">14.3001435907641</span></a>
                            </td>
                        </tr>
                    </table>
            </div>
        </main>
        <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>
        <script type="text/javascript">
var locations =[{"bbox": [[51.25, -0.3333], [51.32262, -0.839338], [51.3320919, -0.7681924]], "data": [{"lat": 50.330861, "lon": 6.940269, "name": "N\u00fcrburgring, N\u00fcrburgring Boulevard 1, M\u00fcllenbach, Rhineland-Palatinate 53520, Germany"}, {"lat": 50.938361, "lon": 6.959974, "name": "K\u00f6ln, North Rhine-Westphalia, Germany"}, {"lat": 51.2245, "lon": 0.7334, "name": "Kent, England, United Kingdom"}, {"lat": 51.32262, "lon": -0.839338, "name": "Blackbushe Airport, Terminal Building, Camberley, England GU17 9LB, United Kingdom"}, {"lat": 52.812744, "lon": -0.838793, "name": "Chadwell, Leicestershire, England, United Kingdom"}, {"lat": 53.367516, "lon": -0.002238, "name": "Louth, Lincolnshire, England, United Kingdom"}, {"lat": 51.3320919, "lon": -0.7681924, "name": "Stanhope Road, Camberley, GU15 3BS, United Kingdom"}, {"lat": 53.367516, "lon": -0.002238, "name": "Louth, Lincolnshire, England, United Kingdom"}, {"lat": 52.135027, "lon": -0.994847, "name": "Towcester, Northamptonshire, England, United Kingdom"}, {"lat": 52.826469, "lon": -1.369858, "name": "Donington Park, Castle Donington, Derby, England DE74 2RP, United Kingdom"}, {"lat": 48.20833, "lon": 16.37306, "name": "Vienna, Austria"}, {"lat": 48.2069956, "lon": 16.3741842348651, "name": "Singerstra\u00dfe, 1010 Innere Stadt, Austria"}, {"lat": 51.46667, "lon": 7.55, "name": "North Rhine-Westphalia, Germany"}, {"lat": 52.6667, "lon": 1, "name": "Norfolk, England, United Kingdom"}, {"lat": 51.3481, "lon": -0.6038, "name": "Chobham, Surrey, England, United Kingdom"}, {"lat": 51.3816626, "lon": -0.5905694, "name": "Chobham Lane, Chertsey, KT16 0EE, United Kingdom"}, {"lat": 51.3808904, "lon": -0.5507438, "name": "Trys Hill, Lyne, Chertsey, KT16 0DJ, United Kingdom"}, {"lat": 51.25, "lon": -0.3333, "name": "Surrey, England, United Kingdom"}, {"lat": 52.38145972, "lon": -0.676181762467007, "name": "England, United Kingdom"}, {"lat": 54.2379333607472, "lon": -2.36966957036279, "name": "United Kingdom"}, {"lat": 51.1334813439932, "lon": 10.0183432948567, "name": "Germany"}, {"lat": 47.6077978292689, "lon": 14.3001435907641, "name": "Austria"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                          
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
        </script>
    </body>
</html>