<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>
    <body class="film-location film-details">
        <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
<![endif]-->
        <noscript>
            <h3>Please enable JavaScript in order to view this site properly.</h3>
        </noscript>
        <%- include(`${partials}/nav`); -%>
        <main class="mb-4 mt-5">
            <div class="container px-4 px-lg-5">
                <%- include(`${partials}/autocomplete`); -%>
                <div class="row align-items-md-stretch">
                    <div class="col-md-12">
                        <div class="card mb-3" id="film-details">
                            <div class="row g-0">
                                <div class="col-md-8 px-3 py-3">
                                    <div class="card-body">
                                        <h3 class="card-title">12 Angry Men</h3>
                                        <p class="card-text mb-0">
                                            <span id="mainPlotContent"> The jury in a New York City murder trial is frustrated by a single member whose skeptical caution forces them to more carefully consider the evidence before jumping to a hasty verdict. The defense and the prosecution have rested, and the jury is filing into the jury room to decide if a young man is guilty or innocent of murdering his father. What begins as an open-and-shut case of murder soon becomes a detective story that presents a succession of clues creating doubt, and a mini-drama of each of the jurors' prejudices and preconceptions about the trial, the accused, AND each other. Based on the play, all of the action takes place on the stage of the jury room. pjk  When a young Puerto Rican boy is on trial for the alleged murder of his fat... </span>
                                                
                                                    <div class="collapse" id="movieLocationCollapsible">
                                                        <span id="metaPlotContent"class="additional-information"> her, 11 of the 12 jurors are quick to vote that he is guilty in an ostensibly straightforward case. The remaining juror seems skeptical about the evidence at hand, and demands a thorough deliberation of the facts from each juror before sentencing the boy to death: prove the defendant's guilt beyond a reasonable doubt. Kyle Perez The verdict of a seemingly open and shut case lies in the hands of twelve Jury members, the verdict is obvious, guilty. But to one, there's more than meets the eye. What else might be hiding in the details of the case? Will an innocent man be put to death? Or will a guilty man be spared? Seth Trojcak In need of a unanimous, cut-and-dried guilty verdict by the end of the session, twelve jurors crammed in a small New York City jury room during one scorching hot day have the fate of an impecunious eighteen-year-old man in their hands. However, in what seems like an open-and-shut case of first-degree murder, one man, Juror #8, harbours reasonable doubt about the young defendant's guilt, having a hunch that there is a lot more to it than meets the eye. After all, a man is innocent until proven guilty. Can concerned Juror #8 overcome the obstinate prejudices of the other eleven members of the jury and let truth shine? Nick Riganas  12 Angry Men  focuses on a jury's deliberations in a capital murder case. A 12-man jury is sent to begin deliberations in the first-degree murder trial of an 18-year old Puerto Rican boy accused in the stabbing death of his father, where a guilty verdict means an automatic death sentence. The case appears to be open-and-shut: The defendant has a weak alibi; a knife he claimed to have lost is found at the murder scene; and several witnesses either heard screaming, saw the killing or the boy fleeing the scene. Eleven of the jurors immediately vote guilty; only Juror No. 8 (Mr. Davis) casts a not guilty vote. At first Mr. Davis bases his vote more so for the sake of discussion; after all, the jurors must believe beyond a reasonable doubt that the defendant is guilty. That provides the backdrop to Mr. Davis' attempts in convincing the other jurors that a  not guilty  verdict might be appropriate. Brian Rathjen  </span>
                                                    </div>
                                                    <p>
                                                        <a class="btn btn-link show-more-less collapsed"
                                                           id="myCollapsibleBtn"
                                                           role="button"></a>
                                                    </p>
                                                
                                            </p>
                                    </div>
                                </div>
                                <div class="col-md-4 justify-self-end">
                                        <img src="https://m.media-amazon.com/images/M/MV5BMWU4N2FjNzYtNTVkNC00NzQ0LTg0MjAtYTJlMjFhNGUxZDFmXkEyXkFqcGdeQXVyNjc1NTYyMjg@.jpg"
                                             class="img-fluid rounded-start"
                                             alt="12 Angry Men"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="map-container">
                        <div id="map"></div>
                        <div id="loader">
                            <div class="spinner-border" role="status">
                                <span class="sr-only d-none">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr class="table__header">
                        <th class="table__cell">Location</th>
                        <th class="table__cell">Coordiantes</th>
                    </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Division Of Jurors, 60 Centre St, New York, New York 10278, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">40.714565</span>, <span class="lon">-74.002885</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">New York City Center, 131 W 55th St, New York, New York 10019, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">40.763908</span>, <span class="lon">-73.97975149999999</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Marriott Vacation Club Pulse, 33 West 37th Street, New York, New York 10018, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">40.751296</span>, <span class="lon">-73.984819</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">New York, New York, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">40.7306</span>, <span class="lon">-73.9866</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">39.3812661305678</span>, <span class="lon">-97.9222112121185</span></a>
                            </td>
                        </tr>
                    </table>
            </div>
        </main>
        <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>
        <script type="text/javascript">
var locations =[{"bbox": [[40.714565, -74.002885], [40.7306, -73.9866], [40.751296, -73.984819]], "data": [{"lat": 40.714565, "lon": -74.002885, "name": "Division Of Jurors, 60 Centre St, New York, New York 10278, United States"}, {"lat": 40.763908, "lon": -73.97975149999999, "name": "New York City Center, 131 W 55th St, New York, New York 10019, United States"}, {"lat": 40.751296, "lon": -73.984819, "name": "Marriott Vacation Club Pulse, 33 West 37th Street, New York, New York 10018, United States"}, {"lat": 40.7306, "lon": -73.9866, "name": "New York, New York, United States"}, {"lat": 39.3812661305678, "lon": -97.9222112121185, "name": "United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                          
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
        </script>
    </body>
</html>