<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>
    <body class="film-location film-details">
        <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
<![endif]-->
        <noscript>
            <h3>Please enable JavaScript in order to view this site properly.</h3>
        </noscript>
        <%- include(`${partials}/nav`); -%>
        <main class="mb-4 mt-5">
            <div class="container px-4 px-lg-5">
                <%- include(`${partials}/autocomplete`); -%>
                <div class="row align-items-md-stretch">
                    <div class="col-md-12">
                        <div class="card mb-3" id="film-details">
                            <div class="row g-0">
                                <div class="col-md-8 px-3 py-3">
                                    <div class="card-body">
                                        <h3 class="card-title">The Prestige</h3>
                                        <p class="card-text mb-0">
                                            <span id="mainPlotContent"> After a tragic accident, two stage magicians in 1890s London engage in a battle to create the ultimate illusion while sacrificing everything they have to outwit each other. In the end of the nineteenth century, in London, Robert Angier, his beloved wife Julia McCullough, and Alfred Borden are friends and assistants of a magician. When Julia accidentally dies during a performance, Robert blames Alfred for her death, and they become enemies. Both become famous and rival magicians, sabotaging the performance of the other on the stage. When Alfred performs a successful trick, Robert becomes obsessed trying to disclose the secret of his competitor with tragic consequences. Claudio Carvalho, Rio de Janeiro, Brazil Set in London in the 1800s, two ... </span>
                                                
                                                    <div class="collapse" id="movieLocationCollapsible">
                                                        <span id="metaPlotContent"class="additional-information"> rival magicians read each others diary containing the secrets of their magic tricks and personal life. As we go back in time when the diaries were written, both magicians become obsessed with their rival's best trick. The tricks, as shown to the audience, look the same, but neither magician can figure out how his opponent does it. gary Two magicians, who used to be partners, battle over years in order to create a flawless method for the ultimate disappearing trick,  the Transported Man , turns into an informal war between them, and soon, they will do anything to be able to preform the trick sooner and better than the other; which as time passes makes their friends and loved ones get away from them, and little-by-little destroys their lives until they eventually succeed to preform the trick, each by a very different way. J. S. Golden In nineteenth century London, illusionist Alfred Borden is on trial for the murder of fellow illusionist, Robert Angier. Borden's indictment is largely possible because of the eyewitness account of John Cutter, who saw Borden backstage in the area where Angier was killed. At the end of one of his shows, Angier fell through a trap door in the stage floor into a clear water-filled tank below, that tank which was a prop for one of Angier's tricks performed earlier in the show. Angier ended up drowning, as the tank was locked after he fell into it. Borden, Angier, and Cutter have a shared largely turbulent history, which also provides motive. Early in their magic careers, both Borden and Angier worked under  Milton the Magician , while Angier's wife Julia worked as his on-stage assistant, and Cutter as his ingénieur, staging the tricks and providing the apparatus required, work that he still does for others. Based on a specific incident during this stage of their relationship led to both Borden and Angier striking out, creating their own shows, and them having a feud, which was not only in the professional realm, but a personal one, where each man wanted to ruin the other. While Borden is arguably more accomplished in the technical aspects of the illusions, Angier is the more accomplished showman. In the professional realm, they tried to outdo each other, especially in the illusions considered either the most dangerous and/or mysterious, those two being catching-the-bullet trick, and more so, the transported man trick. In the process of their feud, they seemingly were not averse to any means, even with collateral damage of others. The question is if those means extend to murder, especially of the other. Huggo Illusionists Angier & Borden were once stage partners, but when a trick goes tragically wrong the pair form an intense rivalry which endangers the lives of their loved ones. The Prestige is an intricate tale of obsession, jealousy and deception. BecksyKane A mysterious story of two magicians, whose intense rivalry leads them on a life-long battle for supremacy, full of obsession, deceit, and jealousy, with dangerous and deadly consequences. From the time that they first met as young magicians on the rise, Robert Angier and Alfred Borden were competitors. However, their friendly competition evolves into a bitter rivalry making them fierce enemies-for-life, and consequently jeopardizing the lives of everyone around them. Set against the backdrop of turn-of-the-century London. RopeOfSilicone.com </span>
                                                    </div>
                                                    <p>
                                                        <a class="btn btn-link show-more-less collapsed"
                                                           id="myCollapsibleBtn"
                                                           role="button"></a>
                                                    </p>
                                                
                                            </p>
                                    </div>
                                </div>
                                <div class="col-md-4 justify-self-end">
                                        <img src="https://m.media-amazon.com/images/M/MV5BMjA4NDI0MTIxNF5BMl5BanBnXkFtZTYwNTM0MzY2.jpg"
                                             class="img-fluid rounded-start"
                                             alt="The Prestige"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="map-container">
                        <div id="map"></div>
                        <div id="loader">
                            <div class="spinner-border" role="status">
                                <span class="sr-only d-none">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr class="table__header">
                        <th class="table__cell">Location</th>
                        <th class="table__cell">Coordiantes</th>
                    </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Durango, Colorado, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">37.271395</span>, <span class="lon">-107.881598</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Telluride, Colorado, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">37.937494</span>, <span class="lon">-107.812285</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Downtown Santa Monica, Santa Monica, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.012209</span>, <span class="lon">-118.486493</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">650 North Spring Street, Los Angeles, California 90012, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.05862</span>, <span class="lon">-118.23834</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">905 Loma Vista Drive, Beverly Hills, California 90210, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.09167</span>, <span class="lon">-118.4015</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">1111 Broadway, Santa Monica, California 90401, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.02085</span>, <span class="lon">-118.48677</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Downey, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">33.942215</span>, <span class="lon">-118.123565</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Redstone Castle Dr, Redstone, Colorado 81623, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">39.17994</span>, <span class="lon">-107.24027</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">4000 Warner Boulevard, Burbank, California 91522, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.150955</span>, <span class="lon">-118.339232</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Koreatown, Los Angeles, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.061794</span>, <span class="lon">-118.305448</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Mount Wilson, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.226393</span>, <span class="lon">-118.06618</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Universal City Plz, Universal City, California 91608, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.1379</span>, <span class="lon">-118.3613</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">615 South Broadway, Los Angeles, California 90014, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.04634</span>, <span class="lon">-118.25255</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Universal City, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.137639</span>, <span class="lon">-118.36053</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Plaza, San Pedro, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">33.732466</span>, <span class="lon">-118.288909</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Downey, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">33.942215</span>, <span class="lon">-118.123565</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">802 Broadway, Santa Monica, California 90404, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.018158</span>, <span class="lon">-118.48982</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">1060 South Hill Street, Los Angeles, California 90015, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.040185</span>, <span class="lon">-118.2594</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Pasadena, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.147645</span>, <span class="lon">-118.144478</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">500 S Buena Vista St, Burbank, California 91521, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.19026</span>, <span class="lon">-118.30795</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Los Angeles, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.053691</span>, <span class="lon">-118.242766</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Los Angeles, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.053691</span>, <span class="lon">-118.242766</span></a>
                            </td>
                        </tr>
                    </table>
            </div>
        </main>
        <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>
        <script type="text/javascript">
var locations =[{"bbox": [[33.732466, -118.288909], [33.942215, -118.123565], [33.942215, -118.123565]], "data": [{"lat": 37.271395, "lon": -107.881598, "name": "Durango, Colorado, United States"}, {"lat": 37.937494, "lon": -107.812285, "name": "Telluride, Colorado, United States"}, {"lat": 34.012209, "lon": -118.486493, "name": "Downtown Santa Monica, Santa Monica, California, United States"}, {"lat": 34.05862, "lon": -118.23834, "name": "650 North Spring Street, Los Angeles, California 90012, United States"}, {"lat": 34.09167, "lon": -118.4015, "name": "905 Loma Vista Drive, Beverly Hills, California 90210, United States"}, {"lat": 34.02085, "lon": -118.48677, "name": "1111 Broadway, Santa Monica, California 90401, United States"}, {"lat": 33.942215, "lon": -118.123565, "name": "Downey, California, United States"}, {"lat": 39.17994, "lon": -107.24027, "name": "Redstone Castle Dr, Redstone, Colorado 81623, United States"}, {"lat": 34.150955, "lon": -118.339232, "name": "4000 Warner Boulevard, Burbank, California 91522, United States"}, {"lat": 34.061794, "lon": -118.305448, "name": "Koreatown, Los Angeles, California, United States"}, {"lat": 34.226393, "lon": -118.06618, "name": "Mount Wilson, California, United States"}, {"lat": 34.1379, "lon": -118.3613, "name": "Universal City Plz, Universal City, California 91608, United States"}, {"lat": 34.04634, "lon": -118.25255, "name": "615 South Broadway, Los Angeles, California 90014, United States"}, {"lat": 34.137639, "lon": -118.36053, "name": "Universal City, California, United States"}, {"lat": 33.732466, "lon": -118.288909, "name": "Plaza, San Pedro, California, United States"}, {"lat": 33.942215, "lon": -118.123565, "name": "Downey, California, United States"}, {"lat": 34.018158, "lon": -118.48982, "name": "802 Broadway, Santa Monica, California 90404, United States"}, {"lat": 34.040185, "lon": -118.2594, "name": "1060 South Hill Street, Los Angeles, California 90015, United States"}, {"lat": 34.147645, "lon": -118.144478, "name": "Pasadena, California, United States"}, {"lat": 34.19026, "lon": -118.30795, "name": "500 S Buena Vista St, Burbank, California 91521, United States"}, {"lat": 34.053691, "lon": -118.242766, "name": "Los Angeles, California, United States"}, {"lat": 34.053691, "lon": -118.242766, "name": "Los Angeles, California, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                          
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
        </script>
    </body>
</html>