<!DOCTYPE html>
<html lang="en" dir="ltr">

   <%- include(`${partials}/homeHead`, {pageTitle: 'Movies'}); -%>


<body>
  <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

  <noscript>
    <h3>Please enable JavaScript in order to view this site properly.</h3>
  </noscript>
    <%- include(`${partials}/nav`); -%>

    <main class="mb-4 mt-5">
      <div class="container px-4 px-lg-5">
            <%- include(`${partials}/autocomplete`); -%>
   

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 text-center g-3">
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0338013" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMTY4NzcwODg3Nl5BMl5BanBnXkFtZTcwNTEwOTMyMw@@.jpg" class="card-img-top" alt="Eternal Sunshine of the Spotless Mind" />
              <div class="card-body">
                <a href="/movie-locations/eternal-sunshine-of-the-spotless-mind-0338013" class="stretched-link">
                  <p class="card-text text-center">
                    Eternal Sunshine of the Spotless Mind
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0057565" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BOTI4NTNhZDMtMWNkZi00MTRmLWJmZDQtMmJkMGVmZTEzODlhXkEyXkFqcGdeQXVyNjc1NTYyMjg@.jpg" class="card-img-top" alt="High and Low" />
              <div class="card-body">
                <a href="/movie-locations/high-and-low-0057565" class="stretched-link">
                  <p class="card-text text-center">
                    High and Low
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0033467" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BYjBiOTYxZWItMzdiZi00NjlkLWIzZTYtYmFhZjhiMTljOTdkXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg" class="card-img-top" alt="Citizen Kane" />
              <div class="card-body">
                <a href="/movie-locations/citizen-kane-0033467" class="stretched-link">
                  <p class="card-text text-center">
                    Citizen Kane
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="8267604" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BY2Y3OWNkMTctYzNjYS00NWVkLTg4OWEtY2YxN2I3NDhlYzE0XkEyXkFqcGdeQXVyMTI3ODAyMzE2.jpg" class="card-img-top" alt="Capernaum" />
              <div class="card-body">
                <a href="/movie-locations/capernaum-8267604" class="stretched-link">
                  <p class="card-text text-center">
                    Capernaum
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0056172" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BYWY5ZjhjNGYtZmI2Ny00ODM0LWFkNzgtZmI1YzA2N2MxMzA0XkEyXkFqcGdeQXVyNjUwNzk3NDc@.jpg" class="card-img-top" alt="Lawrence of Arabia" />
              <div class="card-body">
                <a href="/movie-locations/lawrence-of-arabia-0056172" class="stretched-link">
                  <p class="card-text text-center">
                    Lawrence of Arabia
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0022100" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BODA4ODk3OTEzMF5BMl5BanBnXkFtZTgwMTQ2ODMwMzE@.jpg" class="card-img-top" alt="M" />
              <div class="card-body">
                <a href="/movie-locations/m-0022100" class="stretched-link">
                  <p class="card-text text-center">
                    M
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="2106476" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMTg2NDg3ODg4NF5BMl5BanBnXkFtZTcwNzk3NTc3Nw@@.jpg" class="card-img-top" alt="The Hunt" />
              <div class="card-body">
                <a href="/movie-locations/the-hunt-2106476" class="stretched-link">
                  <p class="card-text text-center">
                    The Hunt
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0053125" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BZDA3NDExMTUtMDlhOC00MmQ5LWExZGUtYmI1NGVlZWI4OWNiXkEyXkFqcGdeQXVyNjc1NTYyMjg@.jpg" class="card-img-top" alt="North by Northwest" />
              <div class="card-body">
                <a href="/movie-locations/north-by-northwest-0053125" class="stretched-link">
                  <p class="card-text text-center">
                    North by Northwest
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0052357" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BYTE4ODEwZDUtNDFjOC00NjAxLWEzYTQtYTI1NGVmZmFlNjdiL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyNjc1NTYyMjg@.jpg" class="card-img-top" alt="Vertigo" />
              <div class="card-body">
                <a href="/movie-locations/vertigo-0052357" class="stretched-link">
                  <p class="card-text text-center">
                    Vertigo
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0211915" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BNDg4NjM1YjMtYmNhZC00MjM0LWFiZmYtNGY1YjA3MzZmODc5XkEyXkFqcGdeQXVyNDk3NzU2MTQ@.jpg" class="card-img-top" alt="Amélie" />
              <div class="card-body">
                <a href="/movie-locations/amelie-0211915" class="stretched-link">
                  <p class="card-text text-center">
                    Amélie
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="10872600" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BZWMyYzFjYTYtNTRjYi00OGExLWE2YzgtOGRmYjAxZTU3NzBiXkEyXkFqcGdeQXVyMzQ0MzA0NTM@.jpg" class="card-img-top" alt="Spider-Man: No Way Home" />
              <div class="card-body">
                <a href="/movie-locations/spider-man-no-way-home-10872600" class="stretched-link">
                  <p class="card-text text-center">
                    Spider-Man: No Way Home
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0066921" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMTY3MjM1Mzc4N15BMl5BanBnXkFtZTgwODM0NzAxMDE@.jpg" class="card-img-top" alt="A Clockwork Orange" />
              <div class="card-body">
                <a href="/movie-locations/a-clockwork-orange-0066921" class="stretched-link">
                  <p class="card-text text-center">
                    A Clockwork Orange
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0091251" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BODM4Njg0NTAtYjI5Ny00ZjAxLTkwNmItZTMxMWU5M2U3M2RjXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg" class="card-img-top" alt="Come and See" />
              <div class="card-body">
                <a href="/movie-locations/come-and-see-0091251" class="stretched-link">
                  <p class="card-text text-center">
                    Come and See
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0093058" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BNzkxODk0NjEtYjc4Mi00ZDI0LTgyYjEtYzc1NDkxY2YzYTgyXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg" class="card-img-top" alt="Full Metal Jacket" />
              <div class="card-body">
                <a href="/movie-locations/full-metal-jacket-0093058" class="stretched-link">
                  <p class="card-text text-center">
                    Full Metal Jacket
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0036775" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BOTdlNjgyZGUtOTczYi00MDdhLTljZmMtYTEwZmRiOWFkYjRhXkEyXkFqcGdeQXVyNDY2MTk1ODk@.jpg" class="card-img-top" alt="Double Indemnity" />
              <div class="card-body">
                <a href="/movie-locations/double-indemnity-0036775" class="stretched-link">
                  <p class="card-text text-center">
                    Double Indemnity
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0053604" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BNzkwODFjNzItMmMwNi00MTU5LWE2MzktM2M4ZDczZGM1MmViXkEyXkFqcGdeQXVyNDY2MTk1ODk@.jpg" class="card-img-top" alt="The Apartment" />
              <div class="card-body">
                <a href="/movie-locations/the-apartment-0053604" class="stretched-link">
                  <p class="card-text text-center">
                    The Apartment
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0086250" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BNjdjNGQ4NDEtNTEwYS00MTgxLTliYzQtYzE2ZDRiZjFhZmNlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg" class="card-img-top" alt="Scarface" />
              <div class="card-body">
                <a href="/movie-locations/scarface-0086250" class="stretched-link">
                  <p class="card-text text-center">
                    Scarface
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0075314" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BM2M1MmVhNDgtNmI0YS00ZDNmLTkyNjctNTJiYTQ2N2NmYzc2XkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg" class="card-img-top" alt="Taxi Driver" />
              <div class="card-body">
                <a href="/movie-locations/taxi-driver-0075314" class="stretched-link">
                  <p class="card-text text-center">
                    Taxi Driver
                  </p>
                </a>
              </div>
            </div>
          </div>
          </div>
             <div class="row justify-content-center mt-3">

          <nav aria-label="Movie Locations Top 250">

            <ul class="pagination justify-content-center">
          
                  
              <li class="page-item">

                <a class="page-link" href="/movie-locations/5" aria-label="Previous">Previous <span
                    aria-hidden="true">&laquo;</span></a>
              </li>
              
            
              
              
              <li class="page-item">
                <a class="page-link" href="/movie-locations/4">4</a>
              </li>
              
         
              
              
              
              <li class="page-item">
                <a class="page-link" href="/movie-locations/5">5</a>
              </li>
              
         
              
              
              <li class="active page-item">
                <a class="page-link" href="/movie-locations/6">6</a>
              </li>
              
              
         
              
              
              
              <li class="page-item">
                <a class="page-link" href="/movie-locations/7">7</a>
              </li>
              
         
              
              
              
              <li class="page-item">
                <a class="page-link" href="/movie-locations/8">8</a>
              </li>
              
         
              
                   
              <li class="page-item">
                <a class="page-link" href="/movie-locations/7" aria-label="Next">Next<span
                    aria-hidden="true">&raquo;</span></a>
              </li>
              
         
            </ul>

          </nav>

        </div>
      </div>
    </main>
 <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>
</body>

</html>