<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>
    <body class="film-location film-details">
        <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
<![endif]-->
        <noscript>
            <h3>Please enable JavaScript in order to view this site properly.</h3>
        </noscript>
        <%- include(`${partials}/nav`); -%>
        <main class="mb-4 mt-5">
            <div class="container px-4 px-lg-5">
                <%- include(`${partials}/autocomplete`); -%>
                <div class="row align-items-md-stretch">
                    <div class="col-md-12">
                        <div class="card mb-3" id="film-details">
                            <div class="row g-0">
                                <div class="col-md-8 px-3 py-3">
                                    <div class="card-body">
                                        <h3 class="card-title">The Lives of Others</h3>
                                        <p class="card-text mb-0">
                                            <span id="mainPlotContent"> In 1984 East Berlin, an agent of the secret police, conducting surveillance on a writer and his lover, finds himself becoming increasingly absorbed by their lives. Gerd Wiesler is an officer with the Stasi, the East German secret police. The film begins in 1984 when Wiesler attends a play written by Georg Dreyman, who is considered by many to be the ultimate example of the loyal citizen. Wiesler has a gut feeling that Dreyman can't be as ideal as he seems, and believes surveillance is called for. The Minister of Culture agrees but only later does Wiesler learn that the Minister sees Dreyman as a rival and lusts after his partner Christa-Maria. The more time he spends listening in on them, the more he comes to care about them. The once rigid... </span>
                                                
                                                    <div class="collapse" id="movieLocationCollapsible">
                                                        <span id="metaPlotContent"class="additional-information">  Stasi officer begins to intervene in their lives, in a positive way, protecting them whenever possible. Eventually, Wiesler's activities catch up to him and while there is no proof of wrongdoing, he finds himself in menial jobs - until the unbelievable happens. garykmcd East Berlin, 1984. The Cold War is still raging and the communist bloc does not trust its own citizens. A secret police agent is tasked with conducting surveillance on a writer and his lover. Over time, rather than being coldly distant, he finds himself being absorbed by their private lives. grantss 1985, East Berlin: The Stasi (East German secret police) bugs the apartment of a famous writer. A staunch party-line Stasi officer is put in charge of the electronic eavesdropping. Gradually the intelligence officer becomes a silent accomplice . Wiedemann & Berg Film In the early 1980s, Georg Dreyman (a successful dramatist) and his longtime companion Christa-Maria Sieland (a popular actress), were huge intellectual stars in (former) East Germany, although they secretly don't always toe the party line. One day, the Minister of Culture becomes interested in Christa, so the secret service agent Wiesler is instructed to observe and sound out the couple, but their life fascinates him more and more. fippi2000 </span>
                                                    </div>
                                                    <p>
                                                        <a class="btn btn-link show-more-less collapsed"
                                                           id="myCollapsibleBtn"
                                                           role="button"></a>
                                                    </p>
                                                
                                            </p>
                                    </div>
                                </div>
                                <div class="col-md-4 justify-self-end">
                                        <img src="https://m.media-amazon.com/images/M/MV5BNmQyNmJjM2ItNTQzYi00ZjMxLWFjMDYtZjUyN2YwZDk5YWQ2XkEyXkFqcGdeQXVyMjUzOTY1NTc@.jpg"
                                             class="img-fluid rounded-start"
                                             alt="The Lives of Others"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="map-container">
                        <div id="map"></div>
                        <div id="loader">
                            <div class="spinner-border" role="status">
                                <span class="sr-only d-none">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr class="table__header">
                        <th class="table__cell">Location</th>
                        <th class="table__cell">Coordiantes</th>
                    </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Berlin-Hohenschönhausen Memorial, Genslerstr. 66, Berlin, 13055, Germany</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">52.541779500000004</span>, <span class="lon">13.5011875</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Karl-Marx-Allee, 10243 Berlin, Germany</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">52.51835345</span>, <span class="lon">13.4348328</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Zoo Palast, Hardenbergstr. 29A, Berlin, 10623, Germany</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">52.505652500000004</span>, <span class="lon">13.333452999999999</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Volksbühne, Linienstr. 227, Berlin, 10178, Germany</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">52.526887</span>, <span class="lon">13.411869</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Volkspark Schönholzer Heide, Germanenstr., Berlin, 13156, Germany</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">52.577478</span>, <span class="lon">13.3822545</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Frankfurter Tor, Frankfurter Allee, Berlin, 10243, Germany</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">52.51582425</span>, <span class="lon">13.454107749999999</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Hermann-Blankenstein-Park, Eldenaer Str., Berlin, 10247, Germany</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">52.521966</span>, <span class="lon">13.460827</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Altes Stadthaus, Jüdenstraße 34–42, Berlin, 10178, Germany</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">52.5164455</span>, <span class="lon">13.410912</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Berlin, Germany</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">52.51667</span>, <span class="lon">13.38333</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Hufelandstraße, 10407 Berlin, Germany</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">52.5314504</span>, <span class="lon">13.43338685</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Normannenstraße, 10367 Berlin, Germany</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">52.5157749</span>, <span class="lon">13.4844368</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Wedekindstraße, 10243 Berlin, Germany</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">52.5127699</span>, <span class="lon">13.4449697</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Germany</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.1334813439932</span>, <span class="lon">10.0183432948567</span></a>
                            </td>
                        </tr>
                    </table>
            </div>
        </main>
        <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>
        <script type="text/javascript">
var locations =[{"bbox": [[52.505652500000004, 13.333452999999999], [52.5127699, 13.4449697], [52.5157749, 13.4844368]], "data": [{"lat": 52.541779500000004, "lon": 13.5011875, "name": "Berlin-Hohensch\u00f6nhausen Memorial, Genslerstr. 66, Berlin, 13055, Germany"}, {"lat": 52.51835345, "lon": 13.4348328, "name": "Karl-Marx-Allee, 10243 Berlin, Germany"}, {"lat": 52.505652500000004, "lon": 13.333452999999999, "name": "Zoo Palast, Hardenbergstr. 29A, Berlin, 10623, Germany"}, {"lat": 52.526887, "lon": 13.411869, "name": "Volksb\u00fchne, Linienstr. 227, Berlin, 10178, Germany"}, {"lat": 52.577478, "lon": 13.3822545, "name": "Volkspark Sch\u00f6nholzer Heide, Germanenstr., Berlin, 13156, Germany"}, {"lat": 52.51582425, "lon": 13.454107749999999, "name": "Frankfurter Tor, Frankfurter Allee, Berlin, 10243, Germany"}, {"lat": 52.521966, "lon": 13.460827, "name": "Hermann-Blankenstein-Park, Eldenaer Str., Berlin, 10247, Germany"}, {"lat": 52.5164455, "lon": 13.410912, "name": "Altes Stadthaus, J\u00fcdenstra\u00dfe 34\u201342, Berlin, 10178, Germany"}, {"lat": 52.51667, "lon": 13.38333, "name": "Berlin, Germany"}, {"lat": 52.5314504, "lon": 13.43338685, "name": "Hufelandstra\u00dfe, 10407 Berlin, Germany"}, {"lat": 52.5157749, "lon": 13.4844368, "name": "Normannenstra\u00dfe, 10367 Berlin, Germany"}, {"lat": 52.5127699, "lon": 13.4449697, "name": "Wedekindstra\u00dfe, 10243 Berlin, Germany"}, {"lat": 51.1334813439932, "lon": 10.0183432948567, "name": "Germany"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                          
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
        </script>
    </body>
</html>