<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>
    <body class="film-location film-details">
        <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
<![endif]-->
        <noscript>
            <h3>Please enable JavaScript in order to view this site properly.</h3>
        </noscript>
        <%- include(`${partials}/nav`); -%>
        <main class="mb-4 mt-5">
            <div class="container px-4 px-lg-5">
                <%- include(`${partials}/autocomplete`); -%>
                <div class="row align-items-md-stretch">
                    <div class="col-md-12">
                        <div class="card mb-3" id="film-details">
                            <div class="row g-0">
                                <div class="col-md-8 px-3 py-3">
                                    <div class="card-body">
                                        <h3 class="card-title">The Battle of Algiers</h3>
                                        <p class="card-text mb-0">
                                            <span id="mainPlotContent"> In the 1950s, fear and violence escalate as the people of Algiers fight for independence from the French government. A film commissioned by the Algerian government that shows the Algerian revolution from both sides. The French foreign legion has left Vietnam in defeat and has something to prove. The Algerians are seeking independence. The two clash. The torture used by the French is contrasted with the Algerian's use of bombs in soda shops. A look at war as a nasty thing that harms and sullies everyone who participates in it. John Vogel  In 1954, the National Liberation Front of Algiers shots many French policemen beginning a movement for the independence of their country; in return, the Chief of Police plants a bomb in the Arab quarter, ki... </span>
                                                
                                                    <div class="collapse" id="movieLocationCollapsible">
                                                        <span id="metaPlotContent"class="additional-information"> lling many dwellers. The NLF sends three women with bombs to two bars and the Air France office in the European quarter, killing many people. The French government sends the military forces under the command of the abusive Colonel Mathieu that does not respect the human rights and uses torture to destroy the NLF command. In 1962, the Algerians finally achieve their aimed independence. Claudio Carvalho, Rio de Janeiro, Brazil 1954. France, after the independence of the nations comprising Indochina, turns its attention to incidents in French Algeria, which they have ruled for approximately one hundred thirty years. The National Liberation Front (FLN) is leading the resistance in Algeria against their colonial rulers, the FLN who the French authorities believe, or want to believe, comprise only a small minority of the Muslim Algerian population in wanting Algerian independence. Specific incidents in this battle in Algiers between 1954 and the time of independence in 1962 are presented. The FLN began their campaign in shooting military police in the Casbah, the predominantly Muslim quarter of the city, as they were able to blend back into the scene with the support of the populace. These initial one by one attacks escalated on both sides to mass killings, where collateral damage was seen as being acceptable. Both sides also worked toward the United Nations discussion on the issue, each wanting global support for their cause. The events largely focus on two people, one on each side. The first is Ali La Pointe, a lifelong petty criminal and illiterate who the FLN recruited after being politicized while in prison. The second is French paratrooper Colonel Mathieu, a lead French strategist whose main goal is to dismantle the FLN activities by  cutting off the head of the tapeworm . Huggo Filmed in a semi-documentary format, this film deals with the battle of Algiers (1956-57) part of the broader fight for Algerian independence (1954-62) from French colonial rule. The rebels began their attacks by shooting policeman and other government officials. When they start bombing public places in the European sector - cafés, restaurants, the Air France office - the authorities send in crack military units. Through large-scale arrests and torture, the colonel in charge focuses on locating and eliminating the leaders of the movement. garykmcd </span>
                                                    </div>
                                                    <p>
                                                        <a class="btn btn-link show-more-less collapsed"
                                                           id="myCollapsibleBtn"
                                                           role="button"></a>
                                                    </p>
                                                
                                            </p>
                                    </div>
                                </div>
                                <div class="col-md-4 justify-self-end">
                                        <img src="https://m.media-amazon.com/images/M/MV5BN2M4YTA4ZTEtN2EyNy00YTlmLWE4YzYtYjYyYjRkMWM4ZDM0XkEyXkFqcGdeQXVyMjUzOTY1NTc@.jpg"
                                             class="img-fluid rounded-start"
                                             alt="The Battle of Algiers"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="map-container">
                        <div id="map"></div>
                        <div id="loader">
                            <div class="spinner-border" role="status">
                                <span class="sr-only d-none">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr class="table__header">
                        <th class="table__cell">Location</th>
                        <th class="table__cell">Coordiantes</th>
                    </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Algiers, Algeria</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">36.7</span>, <span class="lon">3.21667</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Algeria</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">28.1632395923063</span>, <span class="lon">2.63238813336793</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Algiers, Algeria</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">36.7</span>, <span class="lon">3.21667</span></a>
                            </td>
                        </tr>
                    </table>
            </div>
        </main>
        <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>
        <script type="text/javascript">
var locations =[{"bbox": null, "data": [{"lat": 36.7, "lon": 3.21667, "name": "Algiers, Algeria"}, {"lat": 28.1632395923063, "lon": 2.63238813336793, "name": "Algeria"}, {"lat": 36.7, "lon": 3.21667, "name": "Algiers, Algeria"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                          
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
        </script>
    </body>
</html>