<!DOCTYPE html>
<html lang="en" dir="ltr">

  <%- include(`${partials}/homeHead`, {pageTitle: 'Movies'}); -%>


<body>
  <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

  <noscript>
    <h3>Please enable JavaScript in order to view this site properly.</h3>
  </noscript>
    <%- include(`${partials}/nav`); -%>

       <main class="mb-4 mt-5">
      <div class="container px-4 px-lg-5">
        <%- include(`${partials}/autocomplete`); -%>
        <div class="row justify-content-center">

        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 text-center g-3">
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0758758" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMTAwNDEyODU1MjheQTJeQWpwZ15BbWU2MDc3NDQwNw@@.jpg" class="card-img-top" alt="Into the Wild" />
              <div class="card-body">
                <a href="/movie-locations/into-the-wild-0758758" class="stretched-link">
                  <p class="card-text text-center">
                    Into the Wild
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="3315342" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BYzc5MTU4N2EtYTkyMi00NjdhLTg3NWEtMTY4OTEyMzJhZTAzXkEyXkFqcGdeQXVyNjc1NTYyMjg@.jpg" class="card-img-top" alt="Logan" />
              <div class="card-body">
                <a href="/movie-locations/logan-3315342" class="stretched-link">
                  <p class="card-text text-center">
                    Logan
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0032138" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BNjUyMTc4MDExMV5BMl5BanBnXkFtZTgwNDg0NDIwMjE@.jpg" class="card-img-top" alt="The Wizard of Oz" />
              <div class="card-body">
                <a href="/movie-locations/the-wizard-of-oz-0032138" class="stretched-link">
                  <p class="card-text text-center">
                    The Wizard of Oz
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="1895587" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMjIyOTM5OTIzNV5BMl5BanBnXkFtZTgwMDkzODE2NjE@.jpg" class="card-img-top" alt="Spotlight" />
              <div class="card-body">
                <a href="/movie-locations/spotlight-1895587" class="stretched-link">
                  <p class="card-text text-center">
                    Spotlight
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0074958" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BZGNjYjM2MzItZGQzZi00NmY3LTgxOGUtMTQ2MWQxNWQ2MmMwXkEyXkFqcGdeQXVyNzM0MTUwNTY@.jpg" class="card-img-top" alt="Network" />
              <div class="card-body">
                <a href="/movie-locations/network-0074958" class="stretched-link">
                  <p class="card-text text-center">
                    Network
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0107048" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BZWIxNzM5YzQtY2FmMS00Yjc3LWI1ZjUtNGVjMjMzZTIxZTIxXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg" class="card-img-top" alt="Groundhog Day" />
              <div class="card-body">
                <a href="/movie-locations/groundhog-day-0107048" class="stretched-link">
                  <p class="card-text text-center">
                    Groundhog Day
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0070047" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BYjhmMGMxZDYtMTkyNy00YWVmLTgyYmUtYTU3ZjcwNTBjN2I1XkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg" class="card-img-top" alt="The Exorcist" />
              <div class="card-body">
                <a href="/movie-locations/the-exorcist-0070047" class="stretched-link">
                  <p class="card-text text-center">
                    The Exorcist
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="1028532" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BNzE4NDg5OWMtMzg3NC00ZDRjLTllMDMtZTRjNWZmNjBmMGZlXkEyXkFqcGdeQXVyMTMxODk2OTU@.jpg" class="card-img-top" alt="Hachi: A Dog's Tale" />
              <div class="card-body">
                <a href="/movie-locations/hachi-a-dog-s-tale-1028532" class="stretched-link">
                  <p class="card-text text-center">
                    Hachi: A Dog's Tale
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0317705" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMTY5OTU0OTc2NV5BMl5BanBnXkFtZTcwMzU4MDcyMQ@@.jpg" class="card-img-top" alt="The Incredibles" />
              <div class="card-body">
                <a href="/movie-locations/the-incredibles-0317705" class="stretched-link">
                  <p class="card-text text-center">
                    The Incredibles
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0381681" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMTQ1MjAwNTM5Ml5BMl5BanBnXkFtZTYwNDM0MTc3.jpg" class="card-img-top" alt="Before Sunset" />
              <div class="card-body">
                <a href="/movie-locations/before-sunset-0381681" class="stretched-link">
                  <p class="card-text text-center">
                    Before Sunset
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0036868" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BY2RmNTRjYzctODI4Ni00MzQyLWEyNTAtNjU0N2JkMTNhNjJkXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg" class="card-img-top" alt="The Best Years of Our Lives" />
              <div class="card-body">
                <a href="/movie-locations/the-best-years-of-our-lives-0036868" class="stretched-link">
                  <p class="card-text text-center">
                    The Best Years of Our Lives
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0032976" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BYTcxYWExOTMtMWFmYy00ZjgzLWI0YjktNWEzYzJkZTg0NDdmL2ltYWdlXkEyXkFqcGdeQXVyNjc1NTYyMjg@.jpg" class="card-img-top" alt="Rebecca" />
              <div class="card-body">
                <a href="/movie-locations/rebecca-0032976" class="stretched-link">
                  <p class="card-text text-center">
                    Rebecca
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0476735" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BNjAzMzEwYzctNjc1MC00Nzg5LWFmMGItMTgzYmMyNTY2OTQ4XkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg" class="card-img-top" alt="My Father and My Son" />
              <div class="card-body">
                <a href="/movie-locations/my-father-and-my-son-0476735" class="stretched-link">
                  <p class="card-text text-center">
                    My Father and My Son
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0071411" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BYWY0OWJlZTgtMWUzNy00MGJhLTk5YzQtNmY5MDEwOTIxNjMyXkEyXkFqcGdeQXVyNjc1NTYyMjg@.jpg" class="card-img-top" alt="Dersu Uzala" />
              <div class="card-body">
                <a href="/movie-locations/dersu-uzala-0071411" class="stretched-link">
                  <p class="card-text text-center">
                    Dersu Uzala
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0061512" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BNjcwNTQ3Y2EtMjdmZi00ODBhLWFhNzQtOTc3MWU5NTZlMDViXkEyXkFqcGdeQXVyMjUzOTY1NTc@.jpg" class="card-img-top" alt="Cool Hand Luke" />
              <div class="card-body">
                <a href="/movie-locations/cool-hand-luke-0061512" class="stretched-link">
                  <p class="card-text text-center">
                    Cool Hand Luke
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0325980" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BNGYyZGM5MGMtYTY2Ni00M2Y1LWIzNjQtYWUzM2VlNGVhMDNhXkEyXkFqcGdeQXVyMTMxODk2OTU@.jpg" class="card-img-top" alt="Pirates of the Caribbean: The Curse of the Black Pearl" />
              <div class="card-body">
                <a href="/movie-locations/pirates-of-the-caribbean-the-curse-of-the-black-pearl-0325980" class="stretched-link">
                  <p class="card-text text-center">
                    Pirates of the Caribbean: The Curse of the Black Pearl
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0032551" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BNzJiOGI2MjctYjUyMS00ZjkzLWE2ZmUtOTg4NTZkOTNhZDc1L2ltYWdlXkEyXkFqcGdeQXVyNjc1NTYyMjg@.jpg" class="card-img-top" alt="The Grapes of Wrath" />
              <div class="card-body">
                <a href="/movie-locations/the-grapes-of-wrath-0032551" class="stretched-link">
                  <p class="card-text text-center">
                    The Grapes of Wrath
                  </p>
                </a>
              </div>
            </div>
          </div>
</div>
                <div class="row justify-content-center mt-3">

          <nav aria-label="Movie Locations Top 250">

            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a class="page-link" href="/movie-locations/12" aria-label="Previous">Previous <span
                    aria-hidden="true">&laquo;</span></a>
              </li>
              <li class="page-item">
                <a class="page-link" href="/movie-locations/10">10</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="/movie-locations/11">11</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="/movie-locations/12">12</a>
              </li>
              <li class="active page-item">
                <a class="page-link" href="/movie-locations/13">13</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="/movie-locations/14">14</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="/movie-locations/14" aria-label="Next">Next<span
                    aria-hidden="true">&raquo;</span></a>
              </li>
            </ul>

          </nav>

        </div>
      </div>
    </main>
 <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>
</body>

</html>
