<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>
    <body class="film-location film-details">
        <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
<![endif]-->
        <noscript>
            <h3>Please enable JavaScript in order to view this site properly.</h3>
        </noscript>
        <%- include(`${partials}/nav`); -%>
        <main class="mb-4 mt-5">
            <div class="container px-4 px-lg-5">
                <%- include(`${partials}/autocomplete`); -%>
                <div class="row align-items-md-stretch">
                    <div class="col-md-12">
                        <div class="card mb-3" id="film-details">
                            <div class="row g-0">
                                <div class="col-md-8 px-3 py-3">
                                    <div class="card-body">
                                        <h3 class="card-title">Terminator 2: Judgment Day</h3>
                                        <p class="card-text mb-0">
                                            <span id="mainPlotContent"> A cyborg, identical to the one who failed to kill Sarah Connor, must now protect her ten-year-old son John from a more advanced and powerful cyborg. Over 10 years have passed since the first machine called The Terminator tried to kill Sarah Connor and her unborn son, John. The man who will become the future leader of the human resistance against the Machines is now a healthy young boy. However, another Terminator, called the T-1000, is sent back through time by the supercomputer Skynet. This new Terminator is more advanced and more powerful than its predecessor and its mission is to kill John Connor when he's still a child. However, Sarah and John do not have to face the threat of the T-1000 alone. Another Terminator (identical to the same ... </span>
                                                
                                                    <div class="collapse" id="movieLocationCollapsible">
                                                        <span id="metaPlotContent"class="additional-information"> model that tried and failed to kill Sarah Connor in 1984) is also sent back through time to protect them. Now, the battle for tomorrow has begun. Eric ggg In 1995, one long decade after the Terminator's failed assassination mission in The Terminator (1984), a now-ten-year-old John Connor finds himself in foster care, after the imprisonment of his mother, Sarah, at a mental institution. To prevent John from changing the course of history and becoming the leader of the human Resistance Army, the self-aware computer system, Skynet, sends another cybernetic assassin; this time, a nearly indestructible, shape-shifting killer. Now, against the backdrop of an imminent nuclear Armageddon, two unstoppable cyborgs--the antiquated but lethal, T-800, and the far superior, liquid-metal model, T-1000--are after the same vulnerable target. Can Sarah and John avert the coming Judgment Day? Nick Riganas Nearly 10 years have passed since Sarah Connor was targeted for termination by a cyborg from the future. Now her son, John, the future leader of the resistance, is the target for a newer, more deadly terminator. Once again, the resistance has managed to send a protector back to attempt to save John and his mother Sarah. Colin Tinto  It has been about 10 long years since a Terminator failed to kill Sarah Connor and her unborn son, John. Now, Skynet has sent back another Terminator. This one being more advanced than the last one. John Connor, who is now about ten years old, is the target. The future John sends back a replica of the Terminator that tried to kill him back in time to 1994. It's Terminator vs. Terminator. Ricky Steck (rickysteck@sbcglobal.net) </span>
                                                    </div>
                                                    <p>
                                                        <a class="btn btn-link show-more-less collapsed"
                                                           id="myCollapsibleBtn"
                                                           role="button"></a>
                                                    </p>
                                                
                                            </p>
                                    </div>
                                </div>
                                <div class="col-md-4 justify-self-end">
                                        <img src="https://m.media-amazon.com/images/M/MV5BMGU2NzRmZjUtOGUxYS00ZjdjLWEwZWItY2NlM2JhNjkxNTFmXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg"
                                             class="img-fluid rounded-start"
                                             alt="Terminator 2: Judgment Day"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="map-container">
                        <div id="map"></div>
                        <div id="loader">
                            <div class="spinner-border" role="status">
                                <span class="sr-only d-none">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr class="table__header">
                        <th class="table__cell">Location</th>
                        <th class="table__cell">Coordiantes</th>
                    </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Bayside Parkway and Gateway Boulevard, Fremont, California 94538, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">37.476211</span>, <span class="lon">-121.937749</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">San Fernando, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.28497</span>, <span class="lon">-118.437652</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Kaiser, Fontana, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.0939</span>, <span class="lon">-117.488939</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Sherman Oaks, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.150872</span>, <span class="lon">-118.448987</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Fremont, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">37.54827</span>, <span class="lon">-121.988571</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Lake View Terrace, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.295365</span>, <span class="lon">-118.346245</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Lake View Terrace, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.295365</span>, <span class="lon">-118.346245</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Lancaster, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.698106</span>, <span class="lon">-118.136615</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Elysian Park, Los Angeles, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.077434</span>, <span class="lon">-118.23862</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">9301 Tampa Avenue, Northridge, California 91324, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.23895</span>, <span class="lon">-118.55707</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Terminal Island Freeway, Long Beach, California 90810, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">33.8008</span>, <span class="lon">-118.22259</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">San Jose, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">37.336191</span>, <span class="lon">-121.890583</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">46551 140th Street East, Lancaster, California 93535, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.73015</span>, <span class="lon">-117.88109</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">4th Street Grill, 1707 Fourth St, Santa Monica, California 90401, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.011695</span>, <span class="lon">-118.489295</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Lake View Terrace, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.295365</span>, <span class="lon">-118.346245</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">6th Street, Downey, California 90241, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">33.94506</span>, <span class="lon">-118.12944</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">El Mirage Dry Lake, 20471 Mountain View Rd, El Mirage, California 92301, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.624683</span>, <span class="lon">-117.547873</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Long Beach, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">33.769016</span>, <span class="lon">-118.191604</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Santa Clarita, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.445723</span>, <span class="lon">-118.523461</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Santa Fe, New Mexico, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">35.68761</span>, <span class="lon">-105.938457</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">19828 Valerio Street, Winnetka, California 91306, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.20461</span>, <span class="lon">-118.56521</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">14400 Roscoe Boulevard, Panorama City, California 91402, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.22126</span>, <span class="lon">-118.44756</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">6060 Wilshire Boulevard, Los Angeles, California 90036, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.0619</span>, <span class="lon">-118.36137</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">14224 Roscoe Blvd, Panorama City, California 91402, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.22152</span>, <span class="lon">-118.44336</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Tujunga Car Wash, 5553 Tujunga Ave, North Hollywood, California 91601, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.171866</span>, <span class="lon">-118.379074</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">600 Mesquit Street, Los Angeles, California 90021, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.03838</span>, <span class="lon">-118.22943</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Northridge, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.234562</span>, <span class="lon">-118.536932</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Valencia, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.413819</span>, <span class="lon">-118.561037</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Arcadia, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.136208</span>, <span class="lon">-118.04015</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">301 Baldwin Avenue, Arcadia, California 91007, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.14724</span>, <span class="lon">-118.05049</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Los Angeles, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.053691</span>, <span class="lon">-118.242766</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Sherman Oaks Plaza, 15030 Ventura Blvd, Sherman Oaks, California 91403, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.152709</span>, <span class="lon">-118.460469</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Sun Valley, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.217504</span>, <span class="lon">-118.370358</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Malibu, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.035591</span>, <span class="lon">-118.689423</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Mecca Avenue / Reseda Boulevard, Tarzana, California 91356, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.16209</span>, <span class="lon">-118.53733</span></a>
                            </td>
                        </tr>
                    </table>
            </div>
        </main>
        <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>
        <script type="text/javascript">
var locations =[{"bbox": [[33.769016, -118.191604], [33.8008, -118.22259], [33.94506, -118.12944]], "data": [{"lat": 37.476211, "lon": -121.937749, "name": "Bayside Parkway and Gateway Boulevard, Fremont, California 94538, United States"}, {"lat": 34.28497, "lon": -118.437652, "name": "San Fernando, California, United States"}, {"lat": 34.0939, "lon": -117.488939, "name": "Kaiser, Fontana, California, United States"}, {"lat": 34.150872, "lon": -118.448987, "name": "Sherman Oaks, California, United States"}, {"lat": 37.54827, "lon": -121.988571, "name": "Fremont, California, United States"}, {"lat": 34.295365, "lon": -118.346245, "name": "Lake View Terrace, California, United States"}, {"lat": 34.295365, "lon": -118.346245, "name": "Lake View Terrace, California, United States"}, {"lat": 34.698106, "lon": -118.136615, "name": "Lancaster, California, United States"}, {"lat": 34.077434, "lon": -118.23862, "name": "Elysian Park, Los Angeles, California, United States"}, {"lat": 34.23895, "lon": -118.55707, "name": "9301 Tampa Avenue, Northridge, California 91324, United States"}, {"lat": 33.8008, "lon": -118.22259, "name": "Terminal Island Freeway, Long Beach, California 90810, United States"}, {"lat": 37.336191, "lon": -121.890583, "name": "San Jose, California, United States"}, {"lat": 34.73015, "lon": -117.88109, "name": "46551 140th Street East, Lancaster, California 93535, United States"}, {"lat": 34.011695, "lon": -118.489295, "name": "4th Street Grill, 1707 Fourth St, Santa Monica, California 90401, United States"}, {"lat": 34.295365, "lon": -118.346245, "name": "Lake View Terrace, California, United States"}, {"lat": 33.94506, "lon": -118.12944, "name": "6th Street, Downey, California 90241, United States"}, {"lat": 34.624683, "lon": -117.547873, "name": "El Mirage Dry Lake, 20471 Mountain View Rd, El Mirage, California 92301, United States"}, {"lat": 33.769016, "lon": -118.191604, "name": "Long Beach, California, United States"}, {"lat": 34.445723, "lon": -118.523461, "name": "Santa Clarita, California, United States"}, {"lat": 35.68761, "lon": -105.938457, "name": "Santa Fe, New Mexico, United States"}, {"lat": 34.20461, "lon": -118.56521, "name": "19828 Valerio Street, Winnetka, California 91306, United States"}, {"lat": 34.22126, "lon": -118.44756, "name": "14400 Roscoe Boulevard, Panorama City, California 91402, United States"}, {"lat": 34.0619, "lon": -118.36137, "name": "6060 Wilshire Boulevard, Los Angeles, California 90036, United States"}, {"lat": 34.22152, "lon": -118.44336, "name": "14224 Roscoe Blvd, Panorama City, California 91402, United States"}, {"lat": 34.171866, "lon": -118.379074, "name": "Tujunga Car Wash, 5553 Tujunga Ave, North Hollywood, California 91601, United States"}, {"lat": 34.03838, "lon": -118.22943, "name": "600 Mesquit Street, Los Angeles, California 90021, United States"}, {"lat": 34.234562, "lon": -118.536932, "name": "Northridge, California, United States"}, {"lat": 34.413819, "lon": -118.561037, "name": "Valencia, California, United States"}, {"lat": 34.136208, "lon": -118.04015, "name": "Arcadia, California, United States"}, {"lat": 34.14724, "lon": -118.05049, "name": "301 Baldwin Avenue, Arcadia, California 91007, United States"}, {"lat": 34.053691, "lon": -118.242766, "name": "Los Angeles, California, United States"}, {"lat": 34.152709, "lon": -118.460469, "name": "Sherman Oaks Plaza, 15030 Ventura Blvd, Sherman Oaks, California 91403, United States"}, {"lat": 34.217504, "lon": -118.370358, "name": "Sun Valley, California, United States"}, {"lat": 34.035591, "lon": -118.689423, "name": "Malibu, California, United States"}, {"lat": 34.16209, "lon": -118.53733, "name": "Mecca Avenue / Reseda Boulevard, Tarzana, California 91356, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                          
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
        </script>
    </body>
</html>