<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>
    <body class="film-location film-details">
        <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
<![endif]-->
        <noscript>
            <h3>Please enable JavaScript in order to view this site properly.</h3>
        </noscript>
        <%- include(`${partials}/nav`); -%>
        <main class="mb-4 mt-5">
            <div class="container px-4 px-lg-5">
                <%- include(`${partials}/autocomplete`); -%>
                <div class="row align-items-md-stretch">
                    <div class="col-md-12">
                        <div class="card mb-3" id="film-details">
                            <div class="row g-0">
                                <div class="col-md-8 px-3 py-3">
                                    <div class="card-body">
                                        <h3 class="card-title">Once Upon a Time in the West</h3>
                                        <p class="card-text mb-0">
                                            <span id="mainPlotContent"> A mysterious stranger with a harmonica joins forces with a notorious desperado to protect a beautiful widow from a ruthless assassin working for the railroad. Jill McBain travels to the wild frontier, Utah, where she and her new husband planned to settle down, but upon arrival, she finds him and his children dead. There's a lot of land, and potential, but there are also those who want to take it--at any cost. Even if it means killing a man and his kids. DrGoodBeat The sprawling railways are reaching the far west, and somewhere along its way, in a small border town, the paths of four characters will cross and clash: a young woman looking for a fresh start, an outlaw on the run for a crime he didn't commit (this time), a ruthless killer on th... </span>
                                                
                                                    <div class="collapse" id="movieLocationCollapsible">
                                                        <span id="metaPlotContent"class="additional-information"> e payroll of a railroad tycoon, and a mysterious man with no name who plays a couple of sad chords on a harmonica and a few cadences on his revolver. Azeitonascomchantili Jill McBain travels to the wild frontier, Utah, where she and her new husband planned to settle down. Upon arrival, she finds him and his children dead. There's a lot of land, and potential, but there are also those want to take it--at any cost. Even if it means killing a man and his children. garykmcd A young woman leaves her old life behind for her new husband and a new future out West. When her train arrives, she finds that he and his children have been murdered. A man known only as Harmonica knows Frank did it and goes after him. Just then, another outlaw, Cheyenne, appears intent on tracking down Frank. As good pursuit of Frank gets closer to him, Cheyenne leaves none of Frank's associates alive. J. S. Golden Nestled deep in the middle of nowhere, suddenly Irishman Brett McBain's dusty settlement, the Sweetwater, becomes a pole of attraction for beautiful widows in black and notorious desperadoes alike. As Frank, the unscrupulous gun-for-hire, tries every trick in the book to fulfill the aspiration of his terminally ill boss, railroad magnate Morton, another visitor, Harmonica, the taciturn stranger with the lighting-fast right hand, enters the picture. Now, greed and ambition put everyone's already fragile allegiances to the test, as hidden personal agendas seem to rule them all. However, the past always comes back to haunt us. Can there be redemption in revenge? Nick Riganasa </span>
                                                    </div>
                                                    <p>
                                                        <a class="btn btn-link show-more-less collapsed"
                                                           id="myCollapsibleBtn"
                                                           role="button"></a>
                                                    </p>
                                                
                                            </p>
                                    </div>
                                </div>
                                <div class="col-md-4 justify-self-end">
                                        <img src="https://m.media-amazon.com/images/M/MV5BODQ3NDExOGYtMzI3Mi00NWRlLTkwNjAtNjc4MDgzZGJiZTA1XkEyXkFqcGdeQXVyMjUzOTY1NTc@.jpg"
                                             class="img-fluid rounded-start"
                                             alt="Once Upon a Time in the West"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="map-container">
                        <div id="map"></div>
                        <div id="loader">
                            <div class="spinner-border" role="status">
                                <span class="sr-only d-none">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr class="table__header">
                        <th class="table__cell">Location</th>
                        <th class="table__cell">Coordiantes</th>
                    </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">The Monument Valley, Page, Arizona 86040, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">36.917952</span>, <span class="lon">-111.462945</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Tabernas, Almería, Spain</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">37.049888</span>, <span class="lon">-2.391377</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Monument Valley, Utah, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">37.01549</span>, <span class="lon">-110.294671</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Calle Calahorra, 18220 Albolote, Granada, Spain</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">37.2225409475203</span>, <span class="lon">-3.64270536340856</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Guadix, Granada, Spain</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">37.300691</span>, <span class="lon">-3.135196</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Moab Way, Draper, Utah 84020, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">40.47621</span>, <span class="lon">-111.88778</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Teec Nos Pos, Arizona, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">36.92111</span>, <span class="lon">-109.085658</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Kayenta, Arizona, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">36.721846</span>, <span class="lon">-110.253872</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Cinecittà Studios, Via Tuscolana, 1055, Roma, Rome 00173, Italy</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">41.852854</span>, <span class="lon">12.575212</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Bavispe, Sonora, Mexico</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">30.48001</span>, <span class="lon">-108.9405</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Red Mesa, Arizona, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">36.964955</span>, <span class="lon">-109.364619</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Tabernas, Almería, Spain</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">37.049888</span>, <span class="lon">-2.391377</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Desierto De Tabernas, Tabernas, Almería 04212, Spain</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">37.090023</span>, <span class="lon">-2.379403</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Mexican Water, Arizona, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">36.966946</span>, <span class="lon">-109.63789</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">5555 Melrose Avenue, Los Angeles, California 90038, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.08363</span>, <span class="lon">-118.32191</span></a>
                            </td>
                        </tr>
                    </table>
            </div>
        </main>
        <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>
        <script type="text/javascript">
var locations =[{"bbox": [[36.92111, -109.085658], [36.964955, -109.364619], [36.966946, -109.63789]], "data": [{"lat": 36.917952, "lon": -111.462945, "name": "The Monument Valley, Page, Arizona 86040, United States"}, {"lat": 37.049888, "lon": -2.391377, "name": "Tabernas, Almer\u00eda, Spain"}, {"lat": 37.01549, "lon": -110.294671, "name": "Monument Valley, Utah, United States"}, {"lat": 37.2225409475203, "lon": -3.64270536340856, "name": "Calle Calahorra, 18220 Albolote, Granada, Spain"}, {"lat": 37.300691, "lon": -3.135196, "name": "Guadix, Granada, Spain"}, {"lat": 40.47621, "lon": -111.88778, "name": "Moab Way, Draper, Utah 84020, United States"}, {"lat": 36.92111, "lon": -109.085658, "name": "Teec Nos Pos, Arizona, United States"}, {"lat": 36.721846, "lon": -110.253872, "name": "Kayenta, Arizona, United States"}, {"lat": 41.852854, "lon": 12.575212, "name": "Cinecitt\u00e0 Studios, Via Tuscolana, 1055, Roma, Rome 00173, Italy"}, {"lat": 30.48001, "lon": -108.9405, "name": "Bavispe, Sonora, Mexico"}, {"lat": 36.964955, "lon": -109.364619, "name": "Red Mesa, Arizona, United States"}, {"lat": 37.049888, "lon": -2.391377, "name": "Tabernas, Almer\u00eda, Spain"}, {"lat": 37.090023, "lon": -2.379403, "name": "Desierto De Tabernas, Tabernas, Almer\u00eda 04212, Spain"}, {"lat": 36.966946, "lon": -109.63789, "name": "Mexican Water, Arizona, United States"}, {"lat": 34.08363, "lon": -118.32191, "name": "5555 Melrose Avenue, Los Angeles, California 90038, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                          
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
        </script>
    </body>
</html>