<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>
    <body class="film-location film-details">
        <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
<![endif]-->
        <noscript>
            <h3>Please enable JavaScript in order to view this site properly.</h3>
        </noscript>
        <%- include(`${partials}/nav`); -%>
        <main class="mb-4 mt-5">
            <div class="container px-4 px-lg-5">
                <%- include(`${partials}/autocomplete`); -%>
                <div class="row align-items-md-stretch">
                    <div class="col-md-12">
                        <div class="card mb-3" id="film-details">
                            <div class="row g-0">
                                <div class="col-md-8 px-3 py-3">
                                    <div class="card-body">
                                        <h3 class="card-title">Alien</h3>
                                        <p class="card-text mb-0">
                                            <span id="mainPlotContent"> The crew of a commercial spacecraft encounter a deadly lifeform after investigating an unknown transmission. In the distant future, the crew of the commercial spaceship Nostromo are on their way home when they pick up a distress call from a distant moon. The crew are under obligation to investigate and the spaceship descends on the moon afterwards. After a rough landing, three crew members leave the spaceship to explore the area on the moon. At the same time as they discover a hive colony of some unknown creature, the ship's computer deciphers the message to be a warning, not a distress call. When one of the eggs is disturbed, the crew realizes that they are not alone on the spaceship and they must deal with the consequences. blazesnakes9 I... </span>
                                                
                                                    <div class="collapse" id="movieLocationCollapsible">
                                                        <span id="metaPlotContent"class="additional-information"> n the far reaches of space, a crew on-board the ship Nostromo are returning to Earth until they receive a distress call, an alien one. Unknown to them, they will soon take back with them the most terrifying creature in the universe: The Xenomorph, a killing machine that bleeds corrosive acid whenever anyone tries to hurt it. All alone in space, no one can hear them scream: trying to warn the rest of the galaxy of the terror that is the Xenomorph. Johnny In the depths of the cold, boundless space, Mother, the state-of-the-art AI super-computer aboard the commercial towing vehicle, USCSS Nostromo, detects a possible distress signal from the nearby barren, inhospitable moon, Acheron, and awakens the seven-member crew from cryosleep. To investigate the mysterious transmission, Captain Arthur Dallas, along with the executive officer, Thomas Kane, and navigator, Joan Lambert, descend to the dim-lit celestial body known as LV-426, only to discover a downed but relatively intact extraterrestrial spacecraft, and its bizarre cargo. But, was this cryptic signal, indeed, a desperate SOS, or was it a warning? Either way, somehow, something else, too, has found its way into the Nostromo, and now, its silent, dark corridors will never be safe again. Who dares to confront the formidable Alien, the unwanted eighth passenger? Nick Riganas In the distant future, during her return to Earth, the commercial spaceship Nostromo intercepts a distress call from a distant moon. The seven-member crew are awakened from hypersleep and the spaceship subsequently descends on the moon. While exploring the moon, a three-member team of the crew discover a derelict spaceship and a huge chamber inside her containing thousands of eggs. When a curious team member goes near the egg, the parasite inside the egg attacks him, rendering him unconscious. He is brought back aboard and the spaceship takes off. After a little while, the parasite dies and his host wakes up seemingly unruffled. Everything soon returns to normal, but not for long. Soumitra </span>
                                                    </div>
                                                    <p>
                                                        <a class="btn btn-link show-more-less collapsed"
                                                           id="myCollapsibleBtn"
                                                           role="button"></a>
                                                    </p>
                                                
                                            </p>
                                    </div>
                                </div>
                                <div class="col-md-4 justify-self-end">
                                        <img src="https://m.media-amazon.com/images/M/MV5BOGQzZTBjMjQtOTVmMS00NGE5LWEyYmMtOGQ1ZGZjNmRkYjFhXkEyXkFqcGdeQXVyMjUzOTY1NTc@.jpg"
                                             class="img-fluid rounded-start"
                                             alt="Alien"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="map-container">
                        <div id="map"></div>
                        <div id="loader">
                            <div class="spinner-border" role="status">
                                <span class="sr-only d-none">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr class="table__header">
                        <th class="table__cell">Location</th>
                        <th class="table__cell">Coordiantes</th>
                    </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Shepperton Studios, Studios Rd, Shepperton, England TW17 0QD, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.407444</span>, <span class="lon">-0.465177</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">England, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">52.38145972</span>, <span class="lon">-0.676181762467007</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">England, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">52.38145972</span>, <span class="lon">-0.676181762467007</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Shepperton Studios, Studios Rd, Shepperton, England TW17 0QD, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.407444</span>, <span class="lon">-0.465177</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Shepperton Studios, Studios Rd, Shepperton, England TW17 0QD, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.407444</span>, <span class="lon">-0.465177</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Shepperton Studios, Studios Rd, Shepperton, England TW17 0QD, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.407444</span>, <span class="lon">-0.465177</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Shepperton Studios, Studios Rd, Shepperton, England TW17 0QD, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.407444</span>, <span class="lon">-0.465177</span></a>
                            </td>
                        </tr>
                    </table>
            </div>
        </main>
        <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>
        <script type="text/javascript">
var locations =[{"bbox": [[51.407444, -0.465177], [51.407444, -0.465177], [51.407444, -0.465177]], "data": [{"lat": 51.407444, "lon": -0.465177, "name": "Shepperton Studios, Studios Rd, Shepperton, England TW17 0QD, United Kingdom"}, {"lat": 52.38145972, "lon": -0.676181762467007, "name": "England, United Kingdom"}, {"lat": 52.38145972, "lon": -0.676181762467007, "name": "England, United Kingdom"}, {"lat": 51.407444, "lon": -0.465177, "name": "Shepperton Studios, Studios Rd, Shepperton, England TW17 0QD, United Kingdom"}, {"lat": 51.407444, "lon": -0.465177, "name": "Shepperton Studios, Studios Rd, Shepperton, England TW17 0QD, United Kingdom"}, {"lat": 51.407444, "lon": -0.465177, "name": "Shepperton Studios, Studios Rd, Shepperton, England TW17 0QD, United Kingdom"}, {"lat": 51.407444, "lon": -0.465177, "name": "Shepperton Studios, Studios Rd, Shepperton, England TW17 0QD, United Kingdom"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                          
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
        </script>
    </body>
</html>