<!DOCTYPE html>
<html lang="en" dir="ltr">

  <%- include(`${partials}/homeHead`, {pageTitle: 'Movies'}); -%>


<body>
  <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

  <noscript>
    <h3>Please enable JavaScript in order to view this site properly.</h3>
  </noscript>
    <%- include(`${partials}/nav`); -%>

       <main class="mb-4 mt-5">
      <div class="container px-4 px-lg-5">
        <%- include(`${partials}/autocomplete`); -%>
        <div class="row justify-content-center">

        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 text-center g-3">
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="1305806" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BY2FhZGI5M2QtZWFiZS00NjkwLWE4NWQtMzg3ZDZjNjdkYTJiXkEyXkFqcGdeQXVyMTMxODk2OTU@.jpg" class="card-img-top" alt="The Secret in Their Eyes" />
              <div class="card-body">
                <a href="/movie-locations/the-secret-in-their-eyes-1305806" class="stretched-link">
                  <p class="card-text text-center">
                    The Secret in Their Eyes
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0050212" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BOGY5NmNlMmQtYzRlYy00NGQ5LWFkYjYtNzExZmQyMTg0ZDA0XkEyXkFqcGdeQXVyNDIzMzcwNjc@.jpg" class="card-img-top" alt="The Bridge on the River Kwai" />
              <div class="card-body">
                <a href="/movie-locations/the-bridge-on-the-river-kwai-0050212" class="stretched-link">
                  <p class="card-text text-center">
                    The Bridge on the River Kwai
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0117951" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMzA5Zjc3ZTMtMmU5YS00YTMwLWI4MWUtYTU0YTVmNjVmODZhXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg" class="card-img-top" alt="Trainspotting" />
              <div class="card-body">
                <a href="/movie-locations/trainspotting-0117951" class="stretched-link">
                  <p class="card-text text-center">
                    Trainspotting
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="5027774" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMjI0ODcxNzM1N15BMl5BanBnXkFtZTgwMzIwMTEwNDI@.jpg" class="card-img-top" alt="Three Billboards Outside Ebbing, Missouri" />
              <div class="card-body">
                <a href="/movie-locations/three-billboards-outside-ebbing-missouri-5027774" class="stretched-link">
                  <p class="card-text text-center">
                    Three Billboards Outside Ebbing, Missouri
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="1291584" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMTk4ODk5MTMyNV5BMl5BanBnXkFtZTcwMDMyNTg0Ng@@.jpg" class="card-img-top" alt="Warrior" />
              <div class="card-body">
                <a href="/movie-locations/warrior-1291584" class="stretched-link">
                  <p class="card-text text-center">
                    Warrior
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="1205489" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMTc5NTk2OTU1Nl5BMl5BanBnXkFtZTcwMDc3NjAwMg@@.jpg" class="card-img-top" alt="Gran Torino" />
              <div class="card-body">
                <a href="/movie-locations/gran-torino-1205489" class="stretched-link">
                  <p class="card-text text-center">
                    Gran Torino
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0116282" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BNDJiZDgyZjctYmRjMS00ZjdkLTkwMTEtNGU1NDg3NDQ0Yzk1XkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg" class="card-img-top" alt="Fargo" />
              <div class="card-body">
                <a href="/movie-locations/fargo-0116282" class="stretched-link">
                  <p class="card-text text-center">
                    Fargo
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="1392214" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMTg0NTIzMjQ1NV5BMl5BanBnXkFtZTcwNDc3MzM5OQ@@.jpg" class="card-img-top" alt="Prisoners" />
              <div class="card-body">
                <a href="/movie-locations/prisoners-1392214" class="stretched-link">
                  <p class="card-text text-center">
                    Prisoners
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0405159" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMTkxNzA1NDQxOV5BMl5BanBnXkFtZTcwNTkyMTIzMw@@.jpg" class="card-img-top" alt="Million Dollar Baby" />
              <div class="card-body">
                <a href="/movie-locations/million-dollar-baby-0405159" class="stretched-link">
                  <p class="card-text text-center">
                    Million Dollar Baby
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0083658" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BNzQzMzJhZTEtOWM4NS00MTdhLTg0YjgtMjM4MDRkZjUwZDBlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg" class="card-img-top" alt="Blade Runner" />
              <div class="card-body">
                <a href="/movie-locations/blade-runner-0083658" class="stretched-link">
                  <p class="card-text text-center">
                    Blade Runner
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0264464" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMTY5MzYzNjc5NV5BMl5BanBnXkFtZTYwNTUyNTc2.jpg" class="card-img-top" alt="Catch Me If You Can" />
              <div class="card-body">
                <a href="/movie-locations/catch-me-if-you-can-0264464" class="stretched-link">
                  <p class="card-text text-center">
                    Catch Me If You Can
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0015864" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BZjEyOTE4MzMtNmMzMy00Mzc3LWJlOTQtOGJiNDE0ZmJiOTU4L2ltYWdlXkEyXkFqcGdeQXVyNTAyODkwOQ@@.jpg" class="card-img-top" alt="The Gold Rush" />
              <div class="card-body">
                <a href="/movie-locations/the-gold-rush-0015864" class="stretched-link">
                  <p class="card-text text-center">
                    The Gold Rush
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0047296" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BY2I0MWFiZDMtNWQyYy00Njk5LTk3MDktZjZjNTNmZmVkYjkxXkEyXkFqcGdeQXVyNjc1NTYyMjg@.jpg" class="card-img-top" alt="On the Waterfront" />
              <div class="card-body">
                <a href="/movie-locations/on-the-waterfront-0047296" class="stretched-link">
                  <p class="card-text text-center">
                    On the Waterfront
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="1201607" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMGVmMWNiMDktYjQ0Mi00MWIxLTk0N2UtN2ZlYTdkN2IzNDNlXkEyXkFqcGdeQXVyODE5NzE3OTE@.jpg" class="card-img-top" alt="Harry Potter and the Deathly Hallows: Part 2" />
              <div class="card-body">
                <a href="/movie-locations/harry-potter-and-the-deathly-hallows-part-2-1201607" class="stretched-link">
                  <p class="card-text text-center">
                    Harry Potter and the Deathly Hallows: Part 2
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0041959" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BYjE2OTdhMWUtOGJlMy00ZDViLWIzZjgtYjZkZGZmMDZjYmEyXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg" class="card-img-top" alt="The Third Man" />
              <div class="card-body">
                <a href="/movie-locations/the-third-man-0041959" class="stretched-link">
                  <p class="card-text text-center">
                    The Third Man
                  </p>
                </a>
              </div>
            </div>
          </div>
</div>
                <div class="row justify-content-center mt-3">

          <nav aria-label="Movie Locations Top 250">

            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a class="page-link" href="/movie-locations/9" aria-label="Previous">Previous <span
                    aria-hidden="true">&laquo;</span></a>
              </li>
              <li class="page-item">
                <a class="page-link" href="/movie-locations/8">8</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="/movie-locations/9">9</a>
              </li>
              <li class="active page-item">
                <a class="page-link" href="/movie-locations/10">10</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="/movie-locations/11">11</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="/movie-locations/12">12</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="/movie-locations/11" aria-label="Next">Next<span
                    aria-hidden="true">&raquo;</span></a>
              </li>
            </ul>

          </nav>

        </div>
      </div>
    </main>
 <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>
</body>

</html>
