<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>
    <body class="film-location film-details">
        <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
<![endif]-->
        <noscript>
            <h3>Please enable JavaScript in order to view this site properly.</h3>
        </noscript>
        <%- include(`${partials}/nav`); -%>
        <main class="mb-4 mt-5">
            <div class="container px-4 px-lg-5">
                <%- include(`${partials}/autocomplete`); -%>
                <div class="row align-items-md-stretch">
                    <div class="col-md-12">
                        <div class="card mb-3" id="film-details">
                            <div class="row g-0">
                                <div class="col-md-8 px-3 py-3">
                                    <div class="card-body">
                                        <h3 class="card-title">Monty Python and the Holy Grail</h3>
                                        <p class="card-text mb-0">
                                            <span id="mainPlotContent"> King Arthur and his Knights of the Round Table embark on a surreal, low-budget search for the Holy Grail, encountering many, very silly obstacles. History is turned on its comic head when, in tenth-century England, King Arthur travels the countryside to find knights who will join him at the Round Table in Camelot. Gathering up the men is a tale in itself but after a bit of a party at Camelot, many decide to leave only to be stopped by God, who sends them on a quest: to find the Holy Grail. After a series of individual adventures, the knights are reunited but must face a wizard named Tim the Enchanter, killer rabbits and lessons in the use of holy hand grenades. Their quest comes to an end however when the Police intervene - just what you wo... </span>
                                                
                                                    <div class="collapse" id="movieLocationCollapsible">
                                                        <span id="metaPlotContent"class="additional-information"> uld expect in a Monty Python movie. garykmcd In search of brave and faithful supporters to join the Knights of the Round Table, the legendary British leader, King Arthur of Camelot, rides around Britain's countryside atop his noble steed. Before long, a handful of good men answer his call; however, after careful consideration, they decide to go their separate ways, only to provoke the wrath of the omnipotent being in the clouds, who commands Arthur and his followers to find the fabled Holy Grail. Now, on a mission from God himself, five men must brave taunting French soldiers; confront sexually obsessed virgins; do battle with the notorious Black Knight; face a mysterious enchanter named  Tim , and slay a vicious furry protector. But, are King Arthur's knights up to the task? Nick Riganas Arthur, King of the Britons, is looking for knights to sit with him at Camelot. He finds many knights including Sir Galahad the Pure, Sir Launcelot the Brave, the quiet Sir Bedevere, and Sir Robin the Not-Quite-So-Brave-as-Sir Launcelot. Through satire of certain events in history, they find Camelot, but after literally a quick song and dance they decide that they do not want to go there. While walking away, God comes to them from a cloud and tells them to find the Holy Grail. They agree and begin their search. Throughout their search, they meet interesting people and knights along the way. Zucco </span>
                                                    </div>
                                                    <p>
                                                        <a class="btn btn-link show-more-less collapsed"
                                                           id="myCollapsibleBtn"
                                                           role="button"></a>
                                                    </p>
                                                
                                            </p>
                                    </div>
                                </div>
                                <div class="col-md-4 justify-self-end">
                                        <img src="https://m.media-amazon.com/images/M/MV5BN2IyNTE4YzUtZWU0Mi00MGIwLTgyMmQtMzQ4YzQxYWNlYWE2XkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg"
                                             class="img-fluid rounded-start"
                                             alt="Monty Python and the Holy Grail"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="map-container">
                        <div id="map"></div>
                        <div id="loader">
                            <div class="spinner-border" role="status">
                                <span class="sr-only d-none">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr class="table__header">
                        <th class="table__cell">Location</th>
                        <th class="table__cell">Coordiantes</th>
                    </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Castle Stalker, Loch Laich, Appin, Scotland PA38 4BL, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">56.575782</span>, <span class="lon">-5.379336</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Bodiam Castle, Robertsbridge, England TN32 5UD, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.0014295</span>, <span class="lon">0.5425235</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Doune Castle, Castle Rd, Doune, Scotland FK16 6EA, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">56.185445</span>, <span class="lon">-4.0501295</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Epping Forest, Epping New Rd, Loughton, England IG10 1SF, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.665768</span>, <span class="lon">0.054631</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Highland, Scotland, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">57.5066</span>, <span class="lon">-5.0038</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Stirling, Stirling, Scotland, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">56.118124</span>, <span class="lon">-3.936001</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Highland, Scotland, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">57.5066</span>, <span class="lon">-5.0038</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Stirling, Stirling, Scotland, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">56.118124</span>, <span class="lon">-3.936001</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Mount Buffalo, Victoria, Australia</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">-36.7178</span>, <span class="lon">146.818</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Highland, Scotland, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">57.5066</span>, <span class="lon">-5.0038</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Appin, Argyll And Bute, Scotland, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">56.562214</span>, <span class="lon">-5.360599</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Crathes Castle, Crathes, Banchory, Scotland AB31 5QJ, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">57.0616965</span>, <span class="lon">-2.439794</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Bracklinn Falls, Callander, Scotland FK17 8EU, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">56.249048</span>, <span class="lon">-4.187068</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Stirling, Stirling, Scotland, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">56.118124</span>, <span class="lon">-3.936001</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Wakehurst Place, Selsfield Rd, Haywards Heath, England RH17 6TN, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.067426499999996</span>, <span class="lon">-0.0887355</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Twickenham Film Studios, The Barons, Twickenham, TW1 2AW, Twickenham, England TW1 2AA, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.45515</span>, <span class="lon">-0.319064</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Doune, Stirling, Scotland, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">56.19058</span>, <span class="lon">-4.05594</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Highland, Scotland, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">57.5066</span>, <span class="lon">-5.0038</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Stirling, Stirling, Scotland, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">56.118124</span>, <span class="lon">-3.936001</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Appin, Argyll And Bute, Scotland, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">56.562214</span>, <span class="lon">-5.360599</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Killin, Stirling, Scotland, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">56.466702</span>, <span class="lon">-4.319611</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">London, Greater London, England, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.515618</span>, <span class="lon">-0.091998</span></a>
                            </td>
                        </tr>
                    </table>
            </div>
        </main>
        <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>
        <script type="text/javascript">
var locations =[{"bbox": [[51.067426499999996, -0.0887355], [51.45515, -0.319064], [51.515618, -0.091998]], "data": [{"lat": 56.575782, "lon": -5.379336, "name": "Castle Stalker, Loch Laich, Appin, Scotland PA38 4BL, United Kingdom"}, {"lat": 51.0014295, "lon": 0.5425235, "name": "Bodiam Castle, Robertsbridge, England TN32 5UD, United Kingdom"}, {"lat": 56.185445, "lon": -4.0501295, "name": "Doune Castle, Castle Rd, Doune, Scotland FK16 6EA, United Kingdom"}, {"lat": 51.665768, "lon": 0.054631, "name": "Epping Forest, Epping New Rd, Loughton, England IG10 1SF, United Kingdom"}, {"lat": 57.5066, "lon": -5.0038, "name": "Highland, Scotland, United Kingdom"}, {"lat": 56.118124, "lon": -3.936001, "name": "Stirling, Stirling, Scotland, United Kingdom"}, {"lat": 57.5066, "lon": -5.0038, "name": "Highland, Scotland, United Kingdom"}, {"lat": 56.118124, "lon": -3.936001, "name": "Stirling, Stirling, Scotland, United Kingdom"}, {"lat": -36.7178, "lon": 146.818, "name": "Mount Buffalo, Victoria, Australia"}, {"lat": 57.5066, "lon": -5.0038, "name": "Highland, Scotland, United Kingdom"}, {"lat": 56.562214, "lon": -5.360599, "name": "Appin, Argyll And Bute, Scotland, United Kingdom"}, {"lat": 57.0616965, "lon": -2.439794, "name": "Crathes Castle, Crathes, Banchory, Scotland AB31 5QJ, United Kingdom"}, {"lat": 56.249048, "lon": -4.187068, "name": "Bracklinn Falls, Callander, Scotland FK17 8EU, United Kingdom"}, {"lat": 56.118124, "lon": -3.936001, "name": "Stirling, Stirling, Scotland, United Kingdom"}, {"lat": 51.067426499999996, "lon": -0.0887355, "name": "Wakehurst Place, Selsfield Rd, Haywards Heath, England RH17 6TN, United Kingdom"}, {"lat": 51.45515, "lon": -0.319064, "name": "Twickenham Film Studios, The Barons, Twickenham, TW1 2AW, Twickenham, England TW1 2AA, United Kingdom"}, {"lat": 56.19058, "lon": -4.05594, "name": "Doune, Stirling, Scotland, United Kingdom"}, {"lat": 57.5066, "lon": -5.0038, "name": "Highland, Scotland, United Kingdom"}, {"lat": 56.118124, "lon": -3.936001, "name": "Stirling, Stirling, Scotland, United Kingdom"}, {"lat": 56.562214, "lon": -5.360599, "name": "Appin, Argyll And Bute, Scotland, United Kingdom"}, {"lat": 56.466702, "lon": -4.319611, "name": "Killin, Stirling, Scotland, United Kingdom"}, {"lat": 51.515618, "lon": -0.091998, "name": "London, Greater London, England, United Kingdom"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                          
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
        </script>
    </body>
</html>