<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/head`, {pageTitle: 'page'}); -%>

  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->
    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>
    <%- include(`${partials}/nav`); -%>
    <!--   !! MAIN -------------------------->
     <main class="flex-shrink-0 mt-2">
      <div class="container px-3">
        <div class=" py-3 pb-md-4 mx-auto text-left">
          <h3 class=" fw-normal">Latitude Longitude to Address</h3>
          <p class="fs-5 text-muted">Quickly find an Address from a set of coordinates.</p>
        </div>



        <div
          class="row g-3 "
        >
           <%- include(`${partials}/form/inputs`,{
  inputName: [
    { name: 'Latitude', id: 'latInputField', type: 'number' },
    { name: 'Longitude', id: 'lonInputField', type: 'number' },
  ], 
 formid: "latlonForm",
 button: {name: 'Submit', type: 'submit', id: 'latlonGeocoderBtn'},
 output: [{name: 'Address', type: 'text', id: 'addressInput'}]
}); -%>

           <%- include(`${partials}/map/map-Container.ejs`); -%>
        </div>
        <%- include(`${partials}/comment-section.ejs`); -%>

      </div>
    </main>

    <!-- Footer-->

    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/page-scripts/lat-lon-to-address-scripts.ejs`); -%>
  </body>
</html>

