<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/head`, {pageTitle: 'page'}); -%>
<body>
  <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->
  <noscript>
    <h3>Please enable JavaScript in order to view this site properly.</h3>
  </noscript>
  <%- include(`${partials}/nav`); -%>
  <!--   !! MAIN -------------------------->
  <main class="flex-shrink-0 mt-5">
    <div class="container px-3">
      <div class="row g-3 ">
        <div class="col-md-4">
          <%- include(`${partials}/general/header`, {title: 'Quick Tool', subtitle: 'Quickly convert Addresses, coordinates, and DMS data.'}); -%>
          <%- include(`${partials}/form/inputs`,{
                  inputName: [
                    { name: 'Address',  type: 'search' }
                  ], 
                formid: "addressForm",
                button: {name: 'Convert', type: 'submit', id: 'getRoute' },
                output: null
                }); -%>
                <hr class="mt-2">
          <%- include(`${partials}/form/inputs`,{
                  inputName: [
                    { name: 'Latitude',type: 'number' },
                    { name: 'Longitude',type: 'number' },
                  ], 
                formid: "latlonForm",
                     button: {name: 'Convert', type: 'submit' },
                output: null
                }); -%>
                <hr class="mt-3">
          <form class="row g-3 mb-3" id="myDmsForm">
            <%- include(`${partials}/form/dmsInput`); -%>
            <div class="col-12 text-start">
              <button class="btn btn-primary" id="latlonGeocoderBtn" type="submit">
                Convert
              </button>
            </div>
          </form>
        </div>
        <%- include(`${partials}/map/map-Container.ejs`); -%>
      </div>
      <%- include(`${partials}/comment-section.ejs`); -%>
    </div>
  </main>
  <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/page-scripts/converter-scripts.ejs`); -%>
</body>
</html>
<!-- IE needs 512+ bytes: http://blogs.msdn.com/b/ieinternals/archive/2010/08/19/http-error-pages-in-internet-explorer.aspx -->