<!DOCTYPE html>
<html lang="en" dir="ltr">

   <%- include(`${partials}/homeHead`, {pageTitle: 'Movies'}); -%>


<body>
  <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

  <noscript>
    <h3>Please enable JavaScript in order to view this site properly.</h3>
  </noscript>
    <%- include(`${partials}/nav`); -%>

    <main class="mb-4 mt-5">
      <div class="container px-4 px-lg-5">
            <%- include(`${partials}/autocomplete`); -%>
   

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 text-center g-3">
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0017925" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BYmRiMDFlYjYtOTMwYy00OGY2LWE0Y2QtYzQxOGNhZmUwNTIxXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg" class="card-img-top" alt="The General" />
              <div class="card-body">
                <a href="/movie-locations/the-general-0017925" class="stretched-link">
                  <p class="card-text text-center">
                    The General
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="2024544" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMjExMTEzODkyN15BMl5BanBnXkFtZTcwNTU4NTc4OQ@@.jpg" class="card-img-top" alt="12 Years a Slave" />
              <div class="card-body">
                <a href="/movie-locations/12-years-a-slave-2024544" class="stretched-link">
                  <p class="card-text text-center">
                    12 Years a Slave
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0050986" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BYWQxYzdhMDMtNjAyZC00NzE0LWFjYmQtYjk0YzMyYjA5NzZkXkEyXkFqcGdeQXVyMjUzOTY1NTc@.jpg" class="card-img-top" alt="Wild Strawberries" />
              <div class="card-body">
                <a href="/movie-locations/wild-strawberries-0050986" class="stretched-link">
                  <p class="card-text text-center">
                    Wild Strawberries
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="2267998" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMTk0MDQ3MzAzOV5BMl5BanBnXkFtZTgwNzU1NzE3MjE@.jpg" class="card-img-top" alt="Gone Girl" />
              <div class="card-body">
                <a href="/movie-locations/gone-girl-2267998" class="stretched-link">
                  <p class="card-text text-center">
                    Gone Girl
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0077416" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BNDhmNTA0ZDMtYjhkNS00NzEzLWIzYTItOGNkMTVmYjE2YmI3XkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg" class="card-img-top" alt="The Deer Hunter" />
              <div class="card-body">
                <a href="/movie-locations/the-deer-hunter-0077416" class="stretched-link">
                  <p class="card-text text-center">
                    The Deer Hunter
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0112471" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BZDdiZTAwYzAtMDI3Ni00OTRjLTkzN2UtMGE3MDMyZmU4NTU4XkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg" class="card-img-top" alt="Before Sunrise" />
              <div class="card-body">
                <a href="/movie-locations/before-sunrise-0112471" class="stretched-link">
                  <p class="card-text text-center">
                    Before Sunrise
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="1201607" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMGVmMWNiMDktYjQ0Mi00MWIxLTk0N2UtN2ZlYTdkN2IzNDNlXkEyXkFqcGdeQXVyODE5NzE3OTE@.jpg" class="card-img-top" alt="Harry Potter and the Deathly Hallows: Part 2" />
              <div class="card-body">
                <a href="/movie-locations/harry-potter-and-the-deathly-hallows-part-2-1201607" class="stretched-link">
                  <p class="card-text text-center">
                    Harry Potter and the Deathly Hallows: Part 2
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0107207" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMmYyOTgwYWItYmU3Ny00M2E2LTk0NWMtMDVlNmQ0MWZiMTMxXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg" class="card-img-top" alt="In the Name of the Father" />
              <div class="card-body">
                <a href="/movie-locations/in-the-name-of-the-father-0107207" class="stretched-link">
                  <p class="card-text text-center">
                    In the Name of the Father
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0031679" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BZTYwYjYxYzgtMDE1Ni00NzU4LWJlMTEtODQ5YmJmMGJhZjI5L2ltYWdlXkEyXkFqcGdeQXVyMDI2NDg0NQ@@.jpg" class="card-img-top" alt="Mr. Smith Goes to Washington" />
              <div class="card-body">
                <a href="/movie-locations/mr-smith-goes-to-washington-0031679" class="stretched-link">
                  <p class="card-text text-center">
                    Mr. Smith Goes to Washington
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="2278388" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMzM5NjUxOTEyMl5BMl5BanBnXkFtZTgwNjEyMDM0MDE@.jpg" class="card-img-top" alt="The Grand Budapest Hotel" />
              <div class="card-body">
                <a href="/movie-locations/the-grand-budapest-hotel-2278388" class="stretched-link">
                  <p class="card-text text-center">
                    The Grand Budapest Hotel
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0046268" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BZDdkNzMwZmUtY2Q5MS00ZmM2LWJhYjItYTBjMWY0MGM4MDRjXkEyXkFqcGdeQXVyNTA4NzY1MzY@.jpg" class="card-img-top" alt="The Wages of Fear" />
              <div class="card-body">
                <a href="/movie-locations/the-wages-of-fear-0046268" class="stretched-link">
                  <p class="card-text text-center">
                    The Wages of Fear
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0015324" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BZWFhOGU5NDctY2Q3YS00Y2VlLWI1NzEtZmIwY2ZiZjY4OTA2XkEyXkFqcGdeQXVyMDI2NDg0NQ@@.jpg" class="card-img-top" alt="Sherlock Jr." />
              <div class="card-body">
                <a href="/movie-locations/sherlock-jr-0015324" class="stretched-link">
                  <p class="card-text text-center">
                    Sherlock Jr.
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="3170832" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMjE4NzgzNzEwMl5BMl5BanBnXkFtZTgwMTMzMDE0NjE@.jpg" class="card-img-top" alt="Room" />
              <div class="card-body">
                <a href="/movie-locations/room-3170832" class="stretched-link">
                  <p class="card-text text-center">
                    Room
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0072684" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BNmY0MWY2NDctZDdmMi00MjA1LTk0ZTQtZDMyZTQ1NTNlYzVjXkEyXkFqcGdeQXVyMjUzOTY1NTc@.jpg" class="card-img-top" alt="Barry Lyndon" />
              <div class="card-body">
                <a href="/movie-locations/barry-lyndon-0072684" class="stretched-link">
                  <p class="card-text text-center">
                    Barry Lyndon
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0353969" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BOGViNTg4YTktYTQ2Ni00MTU0LTk2NWUtMTI4OTc1YTM0NzQ2XkEyXkFqcGdeQXVyMDM2NDM2MQ@@.jpg" class="card-img-top" alt="Memories of Murder" />
              <div class="card-body">
                <a href="/movie-locations/memories-of-murder-0353969" class="stretched-link">
                  <p class="card-text text-center">
                    Memories of Murder
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0050976" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BOWM3MmE0OGYtOGVlNC00OWE1LTk5ZTAtYmUwMDIwM2ZlNWJiXkEyXkFqcGdeQXVyMjUzOTY1NTc@.jpg" class="card-img-top" alt="The Seventh Seal" />
              <div class="card-body">
                <a href="/movie-locations/the-seventh-seal-0050976" class="stretched-link">
                  <p class="card-text text-center">
                    The Seventh Seal
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="2119532" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMjQ1NjM3MTUxNV5BMl5BanBnXkFtZTgwMDc5MTY5OTE@.jpg" class="card-img-top" alt="Hacksaw Ridge" />
              <div class="card-body">
                <a href="/movie-locations/hacksaw-ridge-2119532" class="stretched-link">
                  <p class="card-text text-center">
                    Hacksaw Ridge
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="4729430" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMWYwOThjM2ItZGYxNy00NTQwLWFlZWEtM2MzM2Q5MmY3NDU5XkEyXkFqcGdeQXVyMTkxNjUyNQ@@.jpg" class="card-img-top" alt="Klaus" />
              <div class="card-body">
                <a href="/movie-locations/klaus-4729430" class="stretched-link">
                  <p class="card-text text-center">
                    Klaus
                  </p>
                </a>
              </div>
            </div>
          </div>
          </div>
             <div class="row justify-content-center mt-3">

          <nav aria-label="Movie Locations Top 250">

            <ul class="pagination justify-content-center">
          
                  
              <li class="page-item">

                <a class="page-link" href="/movie-locations/10" aria-label="Previous">Previous <span
                    aria-hidden="true">&laquo;</span></a>
              </li>
              
            
              
              
              <li class="page-item">
                <a class="page-link" href="/movie-locations/9">9</a>
              </li>
              
         
              
              
              
              <li class="page-item">
                <a class="page-link" href="/movie-locations/10">10</a>
              </li>
              
         
              
              
              <li class="active page-item">
                <a class="page-link" href="/movie-locations/11">11</a>
              </li>
              
              
         
              
              
              
              <li class="page-item">
                <a class="page-link" href="/movie-locations/12">12</a>
              </li>
              
         
              
              
              
              <li class="page-item">
                <a class="page-link" href="/movie-locations/13">13</a>
              </li>
              
         
              
                   
              <li class="page-item">
                <a class="page-link" href="/movie-locations/12" aria-label="Next">Next<span
                    aria-hidden="true">&raquo;</span></a>
              </li>
              
         
            </ul>

          </nav>

        </div>
      </div>
    </main>
 <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>
</body>

</html>