<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>
    <body class="film-location film-details">
        <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
<![endif]-->
        <noscript>
            <h3>Please enable JavaScript in order to view this site properly.</h3>
        </noscript>
        <%- include(`${partials}/nav`); -%>
        <main class="mb-4 mt-5">
            <div class="container px-4 px-lg-5">
                <%- include(`${partials}/autocomplete`); -%>
                <div class="row align-items-md-stretch">
                    <div class="col-md-12">
                        <div class="card mb-3" id="film-details">
                            <div class="row g-0">
                                <div class="col-md-8 px-3 py-3">
                                    <div class="card-body">
                                        <h3 class="card-title">The Sting</h3>
                                        <p class="card-text mb-0">
                                            <span id="mainPlotContent"> Two grifters team up to pull off the ultimate con. Johnny Hooker, a small time grifter, unknowingly steals from Doyle Lonnegan, a big time crime boss, when he pulls a standard street con. Lonnegan demands satisfaction for the insult. After his partner, Luther, is killed, Hooker flees, and seeks the help of Henry Gondorff, one of Luther's contacts, who is a master of the long con. Hooker wants to use Gondorff's expertise to take Lonnegan for an enormous sum of money to even the score, since he admits he  doesn't know enough about killing to kill him.  They devise a complicated scheme and amass a talented group of other con artists who want their share of the reparations. The stakes are high in this game, and our heroes must not only deal wit... </span>
                                                
                                                    <div class="collapse" id="movieLocationCollapsible">
                                                        <span id="metaPlotContent"class="additional-information"> h Lonnegan's murderous tendencies, but also other side players who want a piece of the action. To win, Hooker and Gondorff will need all their skills...and a fair amount of confidence. headlessannie Following the murder of a mutual friend, aspiring con man Johnny Hooker teams up with old pro Henry Gondorff to take revenge on the ruthless crime boss responsible, Doyle Lonnegan. Hooker and Gondorff set about implementing an elaborate scheme, one so crafty that Lonnegan won't even know he's been swindled. As their big con unfolds, however, things don't go according to plan, requiring some last-minute improvisation by the undaunted duo. Jwelch5742 When the gang are coming up with a way to get Lonnegan, Kid Twist mentions that Riley and Cole are the only torpedoes they know of. Then how did they know that Loretta Salino was also a torpedo after she was shot by the guy sent by Gondorff? Frank Johnny Hooker is a young con-man who is being taught by Luther. One day they pull one of their con jobs and net themselves a huge roll. What they don't know is that the man they conned is the courier for a numbers runner. And it turns out that the boss, Doyle Lonigan, considers it an attack on him and orders all the people involved terminated. Hooker is shaken down by a crooked cop, Snyder, who threatens to turn him over to Lonigan unless he pays him off. Hooker pays him, he then tries to warn Luther but is too late. He then goes to see Henry Gondorf, a friend of Luther's and a one time great con-man, who has had a bit of bad luck. After hearing what happened to Luther and seeing how hungry Hooker is for payback, he assembles a gang and decides to con Lonigan. While everything seems to be going ok, there is just the problem of the hit on Hooker and Snyder, whom Hooker paid off with counterfeit money. rcs0411@yahoo.com It's September, 1936. The place: Joliet, Illinois. Luther Coleman, his apprentice Johnny Hooker, and their underling Joe Erie's latest swindle has netted them $11,000, enough for an aged Luther to contemplate retiring from grifting. They are unaware however that that money belonged to ruthless racketeer Doyle Lonnegan, whose thugs kill Luther in retaliation. Before Luther's death, he suggested to Hooker that he contact Henry Gondorff, his old friend in Chicago to learn the art of the big con. Hooker does contact Gondorff, who has retired after being burned in his last big con. Gondorff decides to come out of retirement solely to help Hooker get back at Lonnegan for Luther's murder. In pulling off the big con, Gondorff and Hooker require the assistance of a number of Gondorff's old associates as well as a number of small time grifters. In the latter group includes Erie, who wants to do his small part in revenging Luther's death. Beyond Lonnegan or anyone else finding out about the con, there are many potential obstacles in pulling off the sting, such as a controlling and overly cautious Lonnegan wanting to do things his own way, and a number of people chasing after Hooker, including a crooked Joliet vice cop named Snyder, Lonnegan's lower level thugs and a hired hit man. Through the process, Hooker, who sees himself as being a wheeler dealer, may come across a better deal than that provided to him by Gondorff. Huggo </span>
                                                    </div>
                                                    <p>
                                                        <a class="btn btn-link show-more-less collapsed"
                                                           id="myCollapsibleBtn"
                                                           role="button"></a>
                                                    </p>
                                                
                                            </p>
                                    </div>
                                </div>
                                <div class="col-md-4 justify-self-end">
                                        <img src="https://m.media-amazon.com/images/M/MV5BNGU3NjQ4YTMtZGJjOS00YTQ3LThmNmItMTI5MDE2ODI3NzY3XkEyXkFqcGdeQXVyMjUzOTY1NTc@.jpg"
                                             class="img-fluid rounded-start"
                                             alt="The Sting"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="map-container">
                        <div id="map"></div>
                        <div id="loader">
                            <div class="spinner-border" role="status">
                                <span class="sr-only d-none">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr class="table__header">
                        <th class="table__cell">Location</th>
                        <th class="table__cell">Coordiantes</th>
                    </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Chicago, Illinois, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">41.875562</span>, <span class="lon">-87.624421</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Santa Monica Pier, 200 Santa Monica Pier, Santa Monica, California 90401, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.0084455</span>, <span class="lon">-118.49869375</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Chicago, Illinois, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">41.875562</span>, <span class="lon">-87.624421</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">East 43rd Street, Chicago, Illinois 60653, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">41.816425</span>, <span class="lon">-87.611045</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Universal City Plz, Universal City, California 91608, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.1379</span>, <span class="lon">-118.3613</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Universal City, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.137639</span>, <span class="lon">-118.36053</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Pasadena, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.147645</span>, <span class="lon">-118.144478</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Hugus Alley, Pasadena, California 91103, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.1464847</span>, <span class="lon">-118.151731</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Miller Alley, Pasadena, California 91103, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.14618</span>, <span class="lon">-118.15194</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">506 Grand Avenue, South Pasadena, California 91030, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.119935</span>, <span class="lon">-118.163184</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Near West Side, Chicago, Illinois, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">41.880066</span>, <span class="lon">-87.666762</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Universal City Plz, Universal City, California 91608, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.1379</span>, <span class="lon">-118.3613</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Universal City Plz, Universal City, California 91608, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.1379</span>, <span class="lon">-118.3613</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">506 Grand Avenue, South Pasadena, California 91030, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.119935</span>, <span class="lon">-118.163184</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Universal City Plz, Universal City, California 91608, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.1379</span>, <span class="lon">-118.3613</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Winston Street and S Werdin Pl, Los Angeles, California 90013, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.0471306</span>, <span class="lon">-118.2473546</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Santa Monica Pier, 200 Santa Monica Pier, Santa Monica, California 90401, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.0084455</span>, <span class="lon">-118.49869375</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Near West Side, Chicago, Illinois, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">41.880066</span>, <span class="lon">-87.666762</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">CTCA Outpatient Care Center, 160 E Illinois St, Chicago, Illinois 60611, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">41.891212</span>, <span class="lon">-87.622842</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Chicago, Illinois, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">41.875562</span>, <span class="lon">-87.624421</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Illinois, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">40.1492928594</span>, <span class="lon">-89.2749461071049</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Downtown, El Monte, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.06784</span>, <span class="lon">-118.034497</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Los Angeles, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.053691</span>, <span class="lon">-118.242766</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">37.0743595873</span>, <span class="lon">-119.699375153073</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">39.3812661305678</span>, <span class="lon">-97.9222112121185</span></a>
                            </td>
                        </tr>
                    </table>
            </div>
        </main>
        <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>
        <script type="text/javascript">
var locations =[{"bbox": [[34.0084455, -118.49869375], [34.0084455, -118.49869375], [34.0471306, -118.2473546]], "data": [{"lat": 41.875562, "lon": -87.624421, "name": "Chicago, Illinois, United States"}, {"lat": 34.0084455, "lon": -118.49869375, "name": "Santa Monica Pier, 200 Santa Monica Pier, Santa Monica, California 90401, United States"}, {"lat": 41.875562, "lon": -87.624421, "name": "Chicago, Illinois, United States"}, {"lat": 41.816425, "lon": -87.611045, "name": "East 43rd Street, Chicago, Illinois 60653, United States"}, {"lat": 34.1379, "lon": -118.3613, "name": "Universal City Plz, Universal City, California 91608, United States"}, {"lat": 34.137639, "lon": -118.36053, "name": "Universal City, California, United States"}, {"lat": 34.147645, "lon": -118.144478, "name": "Pasadena, California, United States"}, {"lat": 34.1464847, "lon": -118.151731, "name": "Hugus Alley, Pasadena, California 91103, United States"}, {"lat": 34.14618, "lon": -118.15194, "name": "Miller Alley, Pasadena, California 91103, United States"}, {"lat": 34.119935, "lon": -118.163184, "name": "506 Grand Avenue, South Pasadena, California 91030, United States"}, {"lat": 41.880066, "lon": -87.666762, "name": "Near West Side, Chicago, Illinois, United States"}, {"lat": 34.1379, "lon": -118.3613, "name": "Universal City Plz, Universal City, California 91608, United States"}, {"lat": 34.1379, "lon": -118.3613, "name": "Universal City Plz, Universal City, California 91608, United States"}, {"lat": 34.119935, "lon": -118.163184, "name": "506 Grand Avenue, South Pasadena, California 91030, United States"}, {"lat": 34.1379, "lon": -118.3613, "name": "Universal City Plz, Universal City, California 91608, United States"}, {"lat": 34.0471306, "lon": -118.2473546, "name": "Winston Street and S Werdin Pl, Los Angeles, California 90013, United States"}, {"lat": 34.0084455, "lon": -118.49869375, "name": "Santa Monica Pier, 200 Santa Monica Pier, Santa Monica, California 90401, United States"}, {"lat": 41.880066, "lon": -87.666762, "name": "Near West Side, Chicago, Illinois, United States"}, {"lat": 41.891212, "lon": -87.622842, "name": "CTCA Outpatient Care Center, 160 E Illinois St, Chicago, Illinois 60611, United States"}, {"lat": 41.875562, "lon": -87.624421, "name": "Chicago, Illinois, United States"}, {"lat": 40.1492928594, "lon": -89.2749461071049, "name": "Illinois, United States"}, {"lat": 34.06784, "lon": -118.034497, "name": "Downtown, El Monte, California, United States"}, {"lat": 34.053691, "lon": -118.242766, "name": "Los Angeles, California, United States"}, {"lat": 37.0743595873, "lon": -119.699375153073, "name": "California, United States"}, {"lat": 39.3812661305678, "lon": -97.9222112121185, "name": "United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                          
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
        </script>
    </body>
</html>