<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">The Godfather</h3>
                        <p class="card-text">
                          The aging patriarch of an organized crime dynasty in postwar New York City transfers control of his clandestine empire to his reluctant youngest son.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BM2MyNjYxNmUtYTAwNi00MTYxLWJmNWYtYzZlODY3ZTk3OTFlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Godfather"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                Forza d'Agrò, Messina, Sicily, Italy 
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.914901</span>, <span class="lon">15.334347750000001</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                110 Longfellow Road, Staten Island, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.60658</span>, <span class="lon">-74.09788</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Old St Patrick's Cathedral   264 Mulberry Street, Little Italy, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.720271</span>, <span class="lon">-73.996992</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Mitchell Field, Garden City, Long Island, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.7266</span>, <span class="lon">-73.6343</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Castello Degli Schiavi, Fiumefreddo di Sicilia, Catania, Sicily, Italy 
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.791703</span>, <span class="lon">15.223449</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                3531 White Plains Road, Bronx, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.87837</span>, <span class="lon">-73.866375</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Jack Dempsey's Restaurant   Broadway & 49th Street, Manhattan, New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.70554</span>, <span class="lon">-74.0044</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Savoca, Sicily, Italy 
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.23769</span>, <span class="lon">14.521768</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Beverly House   1011 N. Beverly Drive, Beverly Hills, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.08872</span>, <span class="lon">-118.41394</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                5th Avenue, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.750144</span>, <span class="lon">-73.983532</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Mott Street, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.719495</span>, <span class="lon">-73.996495</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                NY Eye and Ear Infirmary, 2nd Avenue & East 13th Street, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.716999</span>, <span class="lon">-74.005608</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                120 Longfellow Road, Emerson Hill, Staten Island, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.606845</span>, <span class="lon">-74.09761</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                1 Allen Ave, Ross, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.96186</span>, <span class="lon">-122.55873</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Old Lincoln Hospital, Southern Blvd. and East 141 Street, Bronx, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.8501</span>, <span class="lon">-73.8662</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Fieldstone Mansion, Riverdale, Bronx, New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.9006</span>, <span class="lon">-73.9064</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Sands Point, Long Island, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.8518</span>, <span class="lon">-73.7187</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Staten Island, New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.5834</span>, <span class="lon">-74.1496</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Calvary Cemetery, Woodside, Queens, New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.736162</span>, <span class="lon">-73.915226</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                St Regis Sheraton Hotel   2 East 55th Street, Fifth Avenue, Manhattan, New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.7903</span>, <span class="lon">-73.9597</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Little Italy, Manhattan, New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.718629</span>, <span class="lon">-73.997176</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Sicily, Italy
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.23769</span>, <span class="lon">14.521768</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                1999 East 5th Street Brooklyn, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.60171</span>, <span class="lon">-73.96736</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                59th Street Bridge, Manhattan, New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.757533499999994</span>, <span class="lon">-73.9557415</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Federal Reserve Bank   33 Liberty Street, Financial District, Manhattan, New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.70829</span>, <span class="lon">-74.00883</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Las Vegas, Nevada, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.1663</span>, <span class="lon">-115.1492</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.0544</span>, <span class="lon">-118.2439</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Queensboro Bridge, Manhattan, New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.757533499999994</span>, <span class="lon">-73.9557415</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Radio City Music Hall   1260 6th Avenue, Rockefeller Center, Manhattan, New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.759786</span>, <span class="lon">-73.9792555</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Woodside, Queens, New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.7454</span>, <span class="lon">-73.9054</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Liberty State Park   Morris Pesin Drive, Jersey City, New Jersey, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.69923</span>, <span class="lon">-74.065755</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Hollywood United Methodist Church   6817 Franklin Avenue, Hollywood, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.1044225</span>, <span class="lon">-118.338932</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Edison Hotel   228 West 47th Street, Manhattan, New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.75972</span>, <span class="lon">-73.98612</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Filmways Studios   246 East 127th Street, East Harlem, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.804318</span>, <span class="lon">-73.933263</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Jersey City, New Jersey, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.7282</span>, <span class="lon">-74.0776</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Manhattan, New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.68917359673309</span>, <span class="lon">-73.9826731487689</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Queens, New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.7498</span>, <span class="lon">-73.7976</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Riverdale, Bronx, New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.9006</span>, <span class="lon">-73.9064</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Santo Domingo, Dominican Republic 
            </td>   
                <td class="table__cell">
                <span class="lat"> 18.49333</span>, <span class="lon">-69.86667</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                The Basilica of St. Patrick's Old Cathedral, 263 Mulberry St, New York, NY 10012, United States
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.723486</span>, <span class="lon">-73.995119</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Mineola, Long Island, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.747127</span>, <span class="lon">-73.700988</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Long Beach, Long Island, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.5885</span>, <span class="lon">-73.6579</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Long Island, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.583986</span>, <span class="lon">-73.686923</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.751296</span>, <span class="lon">-73.984819</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                New York County Courthouse   60 Centre Street, New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.714565</span>, <span class="lon">-74.002885</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Hollywood, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.095884</span>, <span class="lon">-118.370965</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Royce Hall   340 Royce Drive, UCLA, Westwood, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.0544</span>, <span class="lon">-118.2439</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                NYC Health + Hospitals / Bellevue, 462 1st Avenue, New York, NY 10016, United States 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.7393765</span>, <span class="lon">-73.97518125</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                1999 East 5th Street, Brooklyn, NY 11223, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.60171</span>, <span class="lon">-73.96736</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
        <%- include(`${partials}/modal`); -%> 
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>