<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/page-scripts/head/bookmarks-head`, {pageTitle:
  'Bookmarks'}); -%>
  <body class="d-flex flex-column">
    <style>
  body { margin:0; padding:0; }
  #map { position:absolute!important; top:0 !important; bottom:0 !important; width:100% !important; }
</style>
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->
    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>
    <%- include(`${partials}/nav`); -%>

    <!-- Main Content-->

    <main class="flex-shrink-0 mt-2">
      <div class="container px-4 px-lg-5 pb-5">
     
        <div class=" py-3 pb-md-4 mx-auto text-left">
 <div class="col-md-9">
    <div class=" py-3 pb-md-4 mx-auto text-left border-bottom">
          <h3 id="site-title"class=" fw-normal">My List</h3>
         
        </div>
  <div id="grid-wrapper"></div>
 </div>


              
        </div>
        <div
          class="row mb-3 justify-content-center"
      
        >
          <div class="col-md-11 align-self-start position-relative" style="max-width: 810px !important;min-height: 400px">
      
              <div id="map"></div>
            <div class="static-bookmark-map"></div>
            </div>
          </div>
        </div>
      </div>
      <%- include(`${partials}/modal.ejs`); -%>
    </main>

    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/page-scripts/bookmark-scripts`); -%>
  </body>
</html>
