<!DOCTYPE html>
<html lang="en" dir="ltr">

  <%- include(`${partials}/homeHead`, {pageTitle: 'Movies'}); -%>


<body>
  <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

  <noscript>
    <h3>Please enable JavaScript in order to view this site properly.</h3>
  </noscript>
    <%- include(`${partials}/nav`); -%>

       <main class="mb-4 mt-5">
      <div class="container px-4 px-lg-5">
        <%- include(`${partials}/autocomplete`); -%>
        <div class="row justify-content-center">

        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 text-center g-3">
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0082971" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMjA0ODEzMTc1Nl5BMl5BanBnXkFtZTcwODM2MjAxNA@@.jpg" class="card-img-top" alt="Indiana Jones and the Raiders of the Lost Ark" />
              <div class="card-body">
                <a href="/movie-locations/indiana-jones-and-the-raiders-of-the-lost-ark-0082971" class="stretched-link">
                  <p class="card-text text-center">
                    Indiana Jones and the Raiders of the Lost Ark
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="1853728" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMjIyNTQ5NjQ1OV5BMl5BanBnXkFtZTcwODg1MDU4OA@@.jpg" class="card-img-top" alt="Django Unchained" />
              <div class="card-body">
                <a href="/movie-locations/django-unchained-1853728" class="stretched-link">
                  <p class="card-text text-center">
                    Django Unchained
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0910970" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMjExMTg5OTU0NF5BMl5BanBnXkFtZTcwMjMxMzMzMw@@.jpg" class="card-img-top" alt="WALL·E" />
              <div class="card-body">
                <a href="/movie-locations/wall-e-0910970" class="stretched-link">
                  <p class="card-text text-center">
                    WALL·E
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0405094" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BOTQyZGFjNWMtYWFiYy00OWU1LTlhMjAtYTBiNmU5NjJiNTAzXkEyXkFqcGdeQXVyMTI3ODAyMzE2.jpg" class="card-img-top" alt="The Lives of Others" />
              <div class="card-body">
                <a href="/movie-locations/the-lives-of-others-0405094" class="stretched-link">
                  <p class="card-text text-center">
                    The Lives of Others
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0043014" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMTU0NTkyNzYwMF5BMl5BanBnXkFtZTgwMDU0NDk5MTI@.jpg" class="card-img-top" alt="Sunset Blvd." />
              <div class="card-body">
                <a href="/movie-locations/sunset-blvd-0043014" class="stretched-link">
                  <p class="card-text text-center">
                    Sunset Blvd.
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0081505" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BZWFlYmY2MGEtZjVkYS00YzU4LTg0YjQtYzY1ZGE3NTA5NGQxXkEyXkFqcGdeQXVyMTQxNzMzNDI@.jpg" class="card-img-top" alt="The Shining" />
              <div class="card-body">
                <a href="/movie-locations/the-shining-0081505" class="stretched-link">
                  <p class="card-text text-center">
                    The Shining
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0050825" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BNjViMmRkOTEtM2ViOS00ODg0LWJhYWEtNTBlOGQxNDczOGY3XkEyXkFqcGdeQXVyMDI2NDg0NQ@@.jpg" class="card-img-top" alt="Paths of Glory" />
              <div class="card-body">
                <a href="/movie-locations/paths-of-glory-0050825" class="stretched-link">
                  <p class="card-text text-center">
                    Paths of Glory
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0032553" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMmExYWJjNTktNGUyZS00ODhmLTkxYzAtNWIzOGEyMGNiMmUwXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg" class="card-img-top" alt="The Great Dictator" />
              <div class="card-body">
                <a href="/movie-locations/the-great-dictator-0032553" class="stretched-link">
                  <p class="card-text text-center">
                    The Great Dictator
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="4154756" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMjMxNjY2MDU1OV5BMl5BanBnXkFtZTgwNzY1MTUwNTM@.jpg" class="card-img-top" alt="Avengers: Infinity War" />
              <div class="card-body">
                <a href="/movie-locations/avengers-infinity-war-4154756" class="stretched-link">
                  <p class="card-text text-center">
                    Avengers: Infinity War
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0090605" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BZGU2OGY5ZTYtMWNhYy00NjZiLWI0NjUtZmNhY2JhNDRmODU3XkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg" class="card-img-top" alt="Aliens" />
              <div class="card-body">
                <a href="/movie-locations/aliens-0090605" class="stretched-link">
                  <p class="card-text text-center">
                    Aliens
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0169547" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BNTBmZWJkNjctNDhiNC00MGE2LWEwOTctZTk5OGVhMWMyNmVhXkEyXkFqcGdeQXVyMTMxODk2OTU@.jpg" class="card-img-top" alt="American Beauty" />
              <div class="card-body">
                <a href="/movie-locations/american-beauty-0169547" class="stretched-link">
                  <p class="card-text text-center">
                    American Beauty
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="1345836" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMTk4ODQzNDY3Ml5BMl5BanBnXkFtZTcwODA0NTM4Nw@@.jpg" class="card-img-top" alt="The Dark Knight Rises" />
              <div class="card-body">
                <a href="/movie-locations/the-dark-knight-rises-1345836" class="stretched-link">
                  <p class="card-text text-center">
                    The Dark Knight Rises
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0057012" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BZWI3ZTMxNjctMjdlNS00NmUwLWFiM2YtZDUyY2I3N2MxYTE0XkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg" class="card-img-top" alt="Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb" />
              <div class="card-body">
                <a href="/movie-locations/dr-strangelove-or-how-i-learned-to-stop-worrying-and-love-the-bomb-0057012" class="stretched-link">
                  <p class="card-text text-center">
                    Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="7286456" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BNGVjNWI4ZGUtNzE0MS00YTJmLWE0ZDctN2ZiYTk2YmI3NTYyXkEyXkFqcGdeQXVyMTkxNjUyNQ@@.jpg" class="card-img-top" alt="Joker" />
              <div class="card-body">
                <a href="/movie-locations/joker-7286456" class="stretched-link">
                  <p class="card-text text-center">
                    Joker
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0364569" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMTI3NTQyMzU5M15BMl5BanBnXkFtZTcwMTM2MjgyMQ@@.jpg" class="card-img-top" alt="Oldboy" />
              <div class="card-body">
                <a href="/movie-locations/oldboy-0364569" class="stretched-link">
                  <p class="card-text text-center">
                    Oldboy
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0112573" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMzkzMmU0YTYtOWM3My00YzBmLWI0YzctOGYyNTkwMWE5MTJkXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg" class="card-img-top" alt="Braveheart" />
              <div class="card-body">
                <a href="/movie-locations/braveheart-0112573" class="stretched-link">
                  <p class="card-text text-center">
                    Braveheart
                  </p>
                </a>
              </div>
            </div>
          </div>
</div>
                <div class="row justify-content-center mt-3">

          <nav aria-label="Movie Locations Top 250">

            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a class="page-link" href="/movie-locations/3" aria-label="Previous">Previous <span
                    aria-hidden="true">&laquo;</span></a>
              </li>
              <li class="page-item">
                <a class="page-link" href="/movie-locations/2">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="/movie-locations/3">3</a>
              </li>
              <li class="active page-item">
                <a class="page-link" href="/movie-locations/4">4</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="/movie-locations/5">5</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="/movie-locations/6">6</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="/movie-locations/5" aria-label="Next">Next<span
                    aria-hidden="true">&raquo;</span></a>
              </li>
            </ul>

          </nav>

        </div>
      </div>
    </main>
 <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>
</body>

</html>
