<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>
    <body class="film-location film-details">
        <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
<![endif]-->
        <noscript>
            <h3>Please enable JavaScript in order to view this site properly.</h3>
        </noscript>
        <%- include(`${partials}/nav`); -%>
        <main class="mb-4 mt-5">
            <div class="container px-4 px-lg-5">
                     <%- include(`${partials}/autocomplete`); -%>
                <div class="row align-items-md-stretch">
                    <div class="col-md-12">
                        <div class="card mb-3" id="film-details">
                            <div class="row g-0">
                                <div class="col-md-8 px-3 py-3">
                                    <div class="card-body">
                                        <h3 class="card-title">Se7en</h3>
                                        <p class="card-text mb-0">
                                            <span id="mainPlotContent">Two detectives, a rookie and a veteran, hunt a serial killer who uses the seven deadly sins as his motives. A film about two homicide detectives' (Morgan Freeman and Brad Pitt) desperate hunt for a serial killer who justifies his crimes as absolution for the world's ignorance of the Seven Deadly Sins. The movie takes us from the tortured remains of one victim to the next as the sociopathic  John Doe  (Kevin Spacey) sermonizes to Detectives Somerset and Mills -- one sin at a time. The sin of Gluttony comes first and the murderer's terrible capacity is graphically demonstrated in the dark and subdued tones characteristic of film noir. The seasoned and cultured but jaded Somerset researches the Seven Deadly Sins in an effort to understand the ...</span>
                                                
                                                    <div class="collapse" id="movieLocationCollapsible">
                                                        <div id = "module"></div>
                                                        <span id="metaPlotContent"class="additional-information">killer's modus operandi while the bright but green and impulsive Detective Mills (Pitt) scoffs at his efforts to get inside the mind of a killer... Mark Fleetwood <mfleetwo@mail.coin.missouri.edu> Taking place in a nameless city, Se7en follows the story of two homicide detectives tracking down a sadistic serial killer (Kevin Spacey) who chooses his victims according to the seven deadly sins. Brad Pitt stars as Detective David Mills, a hopeful but naive rookie who finds himself partnered with veteran Detective William Somerset (Morgan Freeman). Together they trace the killer's every step, witnessing the aftermath of his horrific crimes one by one as the victims pile up in rapid succession, all the while moving closer to a gruesome fate neither of them could have predicted. David Foyer Two police detectives - one, Somerset, about to retire and the other, Mills, just transferred into the precinct - investigate the murder of an obese man. On his wall was written the word  Gluttony . Then they are alerted to the murder of a lawyer. On his floor was written the word  Greed . Somerset suspects that the murders were the work of the same man, a man murdering people who have committed the seven deadly sins. grantss Two detectives, one about to leave and one entering find themselves following a series of murders, they find clues linking the deaths and the seven sins. The movie follows the cops, their family and tracking down the mass murderer who delivers an unforgettable ending. This thriller portrays the exploits of a deranged serial killer. His twisted agenda involves choosing seven victims who represent egregious examples of transgressions of each of the Seven Deadly Sins. He then views himself as akin to the Sword of God, handing out horrific punishment to these sinners. Two cops, an experienced veteran of the streets (Morgan Freeman) who is about to retire and the ambitious young homicide detective (Brad Pitt) hired to replace him, team up to capture the perpetrator of these gruesome killings. Unfortunately, they too become ensnared in his diabolical plan.... Tad Dibbern <DIBBERN_D@a1.mscf.upenn.edu></span>
                                                    </div>
                                                    <p>
                                                        <a class="btn btn-link show-more-less collapsed"
                                                               id="myCollapsibleBtn"
                                                      
                                                           role="button"
                                                       >
                                                        </a>
                                                    </p>
                                                
                                            </p>
                                    </div>
                                </div>
                                <div class="col-md-4 justify-self-end">
                                        <img src="https://m.media-amazon.com/images/M/MV5BOTUwODM5MTctZjczMi00OTk4LTg3NWUtNmVhMTAzNTNjYjcyXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg"
                                             class="img-fluid rounded-start"
                                             alt="Se7en"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="map-container">
                        <div id="map"></div>
                        <div id="loader">
                            <div class="spinner-border" role="status">
                                <span class="sr-only d-none">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr class="table__header">
                        <th class="table__cell">Location</th>
                        <th class="table__cell">Coordiantes</th>
                    </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Los Angeles, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.053691</span>, <span class="lon">-118.242766</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">123 E 6th St, Los Angeles, California 90013, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.045</span>, <span class="lon">-118.24938</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Downtown, El Monte, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.06784</span>, <span class="lon">-118.034497</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">501 North Spring Street, Los Angeles, California 90012, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.054192</span>, <span class="lon">-118.243308</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">112 West 5th Street, Los Angeles, California 90013, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.04687</span>, <span class="lon">-118.24902</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Mojave, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">35.05247</span>, <span class="lon">-118.173965</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Downtown, El Segundo, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">33.921171</span>, <span class="lon">-118.414058</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">650 North Spring Street, Los Angeles, California 90012, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.05862</span>, <span class="lon">-118.23834</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Hollywood, Los Angeles, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.105196</span>, <span class="lon">-118.329921</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">746 San Pedro Street, Los Angeles, California 90014, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.03952</span>, <span class="lon">-118.24772</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">3400 Wilshire Boulevard, Los Angeles, California 90010, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.06159</span>, <span class="lon">-118.29758</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">117 East 6th Street, Los Angeles, California 90014, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.04499</span>, <span class="lon">-118.2493</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">530 Grand Avenue, Pasadena, California 91105, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.13656</span>, <span class="lon">-118.161755</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Los Angeles, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.053691</span>, <span class="lon">-118.242766</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">673 Mateo Street, Los Angeles, California 90021, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.035513</span>, <span class="lon">-118.232398</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Los Angeles, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.053691</span>, <span class="lon">-118.242766</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">4000 Warner Boulevard, Burbank, California 91522, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.150955</span>, <span class="lon">-118.339232</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Lancaster, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.698106</span>, <span class="lon">-118.136615</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Los Angeles, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.053691</span>, <span class="lon">-118.242766</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">37.0743595873</span>, <span class="lon">-119.699375153073</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">501 South Spring Street, Los Angeles, California 90013, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.047375</span>, <span class="lon">-118.249924</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">39.3812661305678</span>, <span class="lon">-97.9222112121185</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Lancaster, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.698106</span>, <span class="lon">-118.136615</span></a>
                            </td>
                        </tr>
                    </tr>
            </table>
        </div>
    </div>
</main>
    <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>

<script type="text/javascript">
var locations =[{"bbox": [[33.921171, -118.414058], [34.035513, -118.232398], [34.03952, -118.24772]], "data": [{"lat": 34.053691, "lon": -118.242766, "name": "Los Angeles, California, United States"}, {"lat": 34.045, "lon": -118.24938, "name": "123 E 6th St, Los Angeles, California 90013, United States"}, {"lat": 34.06784, "lon": -118.034497, "name": "Downtown, El Monte, California, United States"}, {"lat": 34.054192, "lon": -118.243308, "name": "501 North Spring Street, Los Angeles, California 90012, United States"}, {"lat": 34.04687, "lon": -118.24902, "name": "112 West 5th Street, Los Angeles, California 90013, United States"}, {"lat": 35.05247, "lon": -118.173965, "name": "Mojave, California, United States"}, {"lat": 33.921171, "lon": -118.414058, "name": "Downtown, El Segundo, California, United States"}, {"lat": 34.05862, "lon": -118.23834, "name": "650 North Spring Street, Los Angeles, California 90012, United States"}, {"lat": 34.105196, "lon": -118.329921, "name": "Hollywood, Los Angeles, California, United States"}, {"lat": 34.03952, "lon": -118.24772, "name": "746 San Pedro Street, Los Angeles, California 90014, United States"}, {"lat": 34.06159, "lon": -118.29758, "name": "3400 Wilshire Boulevard, Los Angeles, California 90010, United States"}, {"lat": 34.04499, "lon": -118.2493, "name": "117 East 6th Street, Los Angeles, California 90014, United States"}, {"lat": 34.13656, "lon": -118.161755, "name": "530 Grand Avenue, Pasadena, California 91105, United States"}, {"lat": 34.053691, "lon": -118.242766, "name": "Los Angeles, California, United States"}, {"lat": 34.035513, "lon": -118.232398, "name": "673 Mateo Street, Los Angeles, California 90021, United States"}, {"lat": 34.053691, "lon": -118.242766, "name": "Los Angeles, California, United States"}, {"lat": 34.150955, "lon": -118.339232, "name": "4000 Warner Boulevard, Burbank, California 91522, United States"}, {"lat": 34.698106, "lon": -118.136615, "name": "Lancaster, California, United States"}, {"lat": 34.053691, "lon": -118.242766, "name": "Los Angeles, California, United States"}, {"lat": 37.0743595873, "lon": -119.699375153073, "name": "California, United States"}, {"lat": 34.047375, "lon": -118.249924, "name": "501 South Spring Street, Los Angeles, California 90013, United States"}, {"lat": 39.3812661305678, "lon": -97.9222112121185, "name": "United States"}, {"lat": 34.698106, "lon": -118.136615, "name": "Lancaster, California, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
</body>
</html>