<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>
    <body class="film-location film-details">
        <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
<![endif]-->
        <noscript>
            <h3>Please enable JavaScript in order to view this site properly.</h3>
        </noscript>
        <%- include(`${partials}/nav`); -%>
        <main class="mb-4 mt-5">
            <div class="container px-4 px-lg-5">
                <%- include(`${partials}/autocomplete`); -%>
                <div class="row align-items-md-stretch">
                    <div class="col-md-12">
                        <div class="card mb-3" id="film-details">
                            <div class="row g-0">
                                <div class="col-md-8 px-3 py-3">
                                    <div class="card-body">
                                        <h3 class="card-title">Star Wars: Episode V - The Empire Strikes Back</h3>
                                        <p class="card-text mb-0">
                                            <span id="mainPlotContent"> After the Rebels are brutally overpowered by the Empire on the ice planet Hoth, Luke Skywalker begins Jedi training with Yoda, while his friends are pursued across the galaxy by Darth Vader and bounty hunter Boba Fett. Luke Skywalker, Han Solo, Princess Leia and Chewbacca face attack by the Imperial forces and its AT-AT walkers on the ice planet Hoth. While Han and Leia escape in the Millennium Falcon, Luke travels to Dagobah in search of Yoda. Only with the Jedi Master's help will Luke survive when the Dark Side of the Force beckons him into the ultimate duel with Darth Vader. Jwelch5742 Fleeing the evil Galactic Empire, the Rebels abandon their new base Zac Thru off saw in an assault with the Imperial AT-AT walkers on the ice world of Hot... </span>
                                                
                                                    <div class="collapse" id="movieLocationCollapsible">
                                                        <span id="metaPlotContent"class="additional-information"> h. Ed Princess Leia, Han Solo, Chewbacca, and C-3PO escape in the Millennium Falcon, but are later captured by Darth Vader on Bespin. Meanwhile, Luke Skywalker and R2-D2 follow Obi-wan Kenobi's posthumous command, and receives Jedi trainingWe W from Master Yoda on the swamp world of Dagobah. Will Skywalker manage seeduee e to rescue his friends from the Dark Lord? James Pearce  The story of Luke Skywalker, Han Solo, Princess Leia, and the others did not end with the destruction of the Death Star, it continues in this movie. Imperial forces have since driven the Rebels to hide on the ice world of Hoth. But even on such an icy, backwater world, they cannot escape the evil Darth Vader's eyes for long, and he devastates the Rebel base in an assault with the Imperial AT-AT walkers. Luke flees to Dagobah to begin Jedi training with Master Yoda, while Han Solo, Chewbacca, Princess Leia, and C-3PO run the blockade of Imperial Star Destroyers in the Millennium Falcon. The Imperials pursue them across the galaxy and eventually catch up with them on Bespin. Now Darth Vader plans to use them as bait to lure Luke Skywalker to him, and turns Han Solo over to Boba Fett as a prize to be delivered to crime lord Jabba the Hutt. Luke learns a terrible family secret after losing a swordfight with the Dark Lord. Will he, and the others, escape the Empire's clutches? medic249a2 </span>
                                                    </div>
                                                    <p>
                                                        <a class="btn btn-link show-more-less collapsed"
                                                           id="myCollapsibleBtn"
                                                           role="button"></a>
                                                    </p>
                                                
                                            </p>
                                    </div>
                                </div>
                                <div class="col-md-4 justify-self-end">
                                        <img src="https://m.media-amazon.com/images/M/MV5BYmU1NDRjNDgtMzhiMi00NjZmLTg5NGItZDNiZjU5NTU4OTE0XkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                             class="img-fluid rounded-start"
                                             alt="Star Wars: Episode V - The Empire Strikes Back"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="map-container">
                        <div id="map"></div>
                        <div id="loader">
                            <div class="spinner-border" role="status">
                                <span class="sr-only d-none">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr class="table__header">
                        <th class="table__cell">Location</th>
                        <th class="table__cell">Coordiantes</th>
                    </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Glacier, Eitrheimsvegen 9, Odda, Vestland 5750, Norway</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">60.069069</span>, <span class="lon">6.545947</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.657803</span>, <span class="lon">-0.269703</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Wembley, Greater London, England, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.553155</span>, <span class="lon">-0.295756</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Elstree Film Studios, Borehamwood, WD6 1JG, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.6596497</span>, <span class="lon">-0.258105</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Elstree Film Studios, Borehamwood, WD6 1JG, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.6596497</span>, <span class="lon">-0.258105</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.657803</span>, <span class="lon">-0.269703</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Elstree Film Studios, Borehamwood, WD6 1JG, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.6596497</span>, <span class="lon">-0.258105</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Elstree Film Studios, Borehamwood, WD6 1JG, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.6596497</span>, <span class="lon">-0.258105</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Elstree Film Studios, Borehamwood, WD6 1JG, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.6596497</span>, <span class="lon">-0.258105</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Elstree Film Studios, Borehamwood, WD6 1JG, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.6596497</span>, <span class="lon">-0.258105</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">1800 Mission Street, San Francisco, California 94103, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">37.76784</span>, <span class="lon">-122.42038</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">San Francisco, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">37.779026</span>, <span class="lon">-122.419906</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Norway</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">61.2483331493152</span>, <span class="lon">8.80482073895072</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Borehamwood, Hertfordshire, England, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.660486</span>, <span class="lon">-0.270651</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Hertfordshire, England, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.8333</span>, <span class="lon">-0.25</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Wembley, HA0 4AH, Brent, Wembley, Greater London, England, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.5524</span>, <span class="lon">-0.2969</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">London, Greater London, England, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">51.515618</span>, <span class="lon">-0.091998</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">37.0743595873</span>, <span class="lon">-119.699375153073</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">39.3812661305678</span>, <span class="lon">-97.9222112121185</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">England, United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">52.38145972</span>, <span class="lon">-0.676181762467007</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">United Kingdom</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">54.2379333607472</span>, <span class="lon">-2.36966957036279</span></a>
                            </td>
                        </tr>
                    </table>
            </div>
        </main>
        <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>
        <script type="text/javascript">
var locations =[{"bbox": [[51.515618, -0.091998], [51.5524, -0.2969], [51.553155, -0.295756]], "data": [{"lat": 60.069069, "lon": 6.545947, "name": "Glacier, Eitrheimsvegen 9, Odda, Vestland 5750, Norway"}, {"lat": 51.657803, "lon": -0.269703, "name": "Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom"}, {"lat": 51.553155, "lon": -0.295756, "name": "Wembley, Greater London, England, United Kingdom"}, {"lat": 51.6596497, "lon": -0.258105, "name": "Elstree Film Studios, Borehamwood, WD6 1JG, United Kingdom"}, {"lat": 51.6596497, "lon": -0.258105, "name": "Elstree Film Studios, Borehamwood, WD6 1JG, United Kingdom"}, {"lat": 51.657803, "lon": -0.269703, "name": "Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom"}, {"lat": 51.6596497, "lon": -0.258105, "name": "Elstree Film Studios, Borehamwood, WD6 1JG, United Kingdom"}, {"lat": 51.6596497, "lon": -0.258105, "name": "Elstree Film Studios, Borehamwood, WD6 1JG, United Kingdom"}, {"lat": 51.6596497, "lon": -0.258105, "name": "Elstree Film Studios, Borehamwood, WD6 1JG, United Kingdom"}, {"lat": 51.6596497, "lon": -0.258105, "name": "Elstree Film Studios, Borehamwood, WD6 1JG, United Kingdom"}, {"lat": 37.76784, "lon": -122.42038, "name": "1800 Mission Street, San Francisco, California 94103, United States"}, {"lat": 37.779026, "lon": -122.419906, "name": "San Francisco, California, United States"}, {"lat": 61.2483331493152, "lon": 8.80482073895072, "name": "Norway"}, {"lat": 51.660486, "lon": -0.270651, "name": "Borehamwood, Hertfordshire, England, United Kingdom"}, {"lat": 51.8333, "lon": -0.25, "name": "Hertfordshire, England, United Kingdom"}, {"lat": 51.5524, "lon": -0.2969, "name": "Wembley, HA0 4AH, Brent, Wembley, Greater London, England, United Kingdom"}, {"lat": 51.515618, "lon": -0.091998, "name": "London, Greater London, England, United Kingdom"}, {"lat": 37.0743595873, "lon": -119.699375153073, "name": "California, United States"}, {"lat": 39.3812661305678, "lon": -97.9222112121185, "name": "United States"}, {"lat": 52.38145972, "lon": -0.676181762467007, "name": "England, United Kingdom"}, {"lat": 54.2379333607472, "lon": -2.36966957036279, "name": "United Kingdom"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                          
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
        </script>
    </body>
</html>