<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>
    <body class="film-location film-details">
        <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
<![endif]-->
        <noscript>
            <h3>Please enable JavaScript in order to view this site properly.</h3>
        </noscript>
        <%- include(`${partials}/nav`); -%>
        <main class="mb-4 mt-5">
            <div class="container px-4 px-lg-5">
                <%- include(`${partials}/autocomplete`); -%>
                <div class="row align-items-md-stretch">
                    <div class="col-md-12">
                        <div class="card mb-3" id="film-details">
                            <div class="row g-0">
                                <div class="col-md-8 px-3 py-3">
                                    <div class="card-body">
                                        <h3 class="card-title">The Great Dictator</h3>
                                        <p class="card-text mb-0">
                                            <span id="mainPlotContent"> Dictator Adenoid Hynkel tries to expand his empire while a poor Jewish barber tries to avoid persecution from Hynkel's regime. 20 years after the end of WWI, in which the nation of Tomainia was on the losing side, Adenoid Hynkel has risen to power as the ruthless dictator of the country. He believes in a pure Aryan state and the decimation of the Jews. This situation is unknown to a simple Jewish Tomainian barber who has been hospitalized since a WWI battle. Upon his release the barber, who had been suffering from memory loss about the war, is shown the new persecuted life of the Jews by many living in the Jewish ghetto, including a washerwoman named Hannah with whom he begins a relationship. The barber is ultimately spared such persecution... </span>
                                                
                                                    <div class="collapse" id="movieLocationCollapsible">
                                                        <span id="metaPlotContent"class="additional-information">  by Commander Schultz, whom he saved in that WWI battle. The lives of all Jews in Tomainia are eventually spared with a policy shift by Hynkel himself, who is doing so for ulterior motives. But those motives include a desire for world domination, starting with the invasion of neighboring Osterlich, which may be threatened by Benzino Napaloni, the dictator of neighboring Bacteria. Ultimately Schultz, who has turned traitor against Hynkel's regime, and the barber may be able to join forces to take control of the situation, using Schultz's inside knowledge of the regime's workings and the barber's uncanny resemblance to one of those in power. Huggo During the last days of the First World War, a clumsy soldier saves the life of devoted military pilot Schultz. Unfortunately, their flight from the advancing enemy ends in a severe crash with the clumsy soldier losing his memory. After many years in the hospital, the amnesia patient gets released and reopens his old barber shop in the Jewish ghetto. But times have changed in the country of Tomania: Dictator Adenoid Hynkel, who accidentally looks very similar to the barber, has imposed his merciless grip on the country, and Jewish people are discriminated against. One day the barber gets in trouble and is brought before a commanding officer, who turns out to be his old comrade Schultz. The ghetto enjoys protection from then on. Meanwhile, Dictator Hynkel develops big plans: he wants to become Dictator of the whole world and needs a scapegoat for the public. Soon Schultz is being arrested for being too Jewish-friendly, and all Jews except those who managed to flee are transported into Concentration Camps. Hynkel is planning to march into Osterlich to show off against Napaloni, Dictator of Bacteria, who has already deployed his troops along the small country's other border. Meanwhile, Schultz and the barber manage to escape, disguised in military uniforms. Luckily, Schultz and the barber are picked up by Tomanian forces and the barber is mixed up with Hynkel himself. The small barber now gets the once-in-a-lifetime chance to speak to the people of Osterlich and all of Tomania, who listen eagerly on the radio. Julian Reischl  </span>
                                                    </div>
                                                    <p>
                                                        <a class="btn btn-link show-more-less collapsed"
                                                           id="myCollapsibleBtn"
                                                           role="button"></a>
                                                    </p>
                                                
                                            </p>
                                    </div>
                                </div>
                                <div class="col-md-4 justify-self-end">
                                        <img src="https://m.media-amazon.com/images/M/MV5BMmExYWJjNTktNGUyZS00ODhmLTkxYzAtNWIzOGEyMGNiMmUwXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg"
                                             class="img-fluid rounded-start"
                                             alt="The Great Dictator"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="map-container">
                        <div id="map"></div>
                        <div id="loader">
                            <div class="spinner-border" role="status">
                                <span class="sr-only d-none">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr class="table__header">
                        <th class="table__cell">Location</th>
                        <th class="table__cell">Coordiantes</th>
                    </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Santa Monica Mountains Conservancy, Studio City, California 91604, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.127796</span>, <span class="lon">-118.388317</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">1416 La Brea Avenue, Los Angeles, California 90019, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.04724</span>, <span class="lon">-118.34451</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Pasadena, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.147645</span>, <span class="lon">-118.144478</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Malibu Lane, Huntington Beach, California 92646, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">33.641535</span>, <span class="lon">-117.965895</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Mulholland Highway, Malibu, California 90265, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.09644</span>, <span class="lon">-118.807865</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">San Fernando Valley Academy, 17601 Lassen St, Northridge, California 91325, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.251081</span>, <span class="lon">-118.518444</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Agoura Hills, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.14791</span>, <span class="lon">-118.765704</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Holly Street, Pasadena, California 91103, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.14782</span>, <span class="lon">-118.14707</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Lake Vista Drive, Agoura Hills, California 91301, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.10412</span>, <span class="lon">-118.7509</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Hollywood Hills West, Studio City, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.13852</span>, <span class="lon">-118.348503</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Malibu, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.035591</span>, <span class="lon">-118.689423</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Hollywood Hills West, Studio City, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.13852</span>, <span class="lon">-118.348503</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">The Standard, 8300 W Sunset Blvd, Los Angeles, California 90069, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.095892</span>, <span class="lon">-118.37094</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Los Angeles, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.053691</span>, <span class="lon">-118.242766</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Pasadena, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.147645</span>, <span class="lon">-118.144478</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">37.0743595873</span>, <span class="lon">-119.699375153073</span></a>
                            </td>
                        </tr>
                    </table>
            </div>
        </main>
        <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>
        <script type="text/javascript">
var locations =[{"bbox": [[33.641535, -117.965895], [34.035591, -118.689423], [34.04724, -118.34451]], "data": [{"lat": 34.127796, "lon": -118.388317, "name": "Santa Monica Mountains Conservancy, Studio City, California 91604, United States"}, {"lat": 34.04724, "lon": -118.34451, "name": "1416 La Brea Avenue, Los Angeles, California 90019, United States"}, {"lat": 34.147645, "lon": -118.144478, "name": "Pasadena, California, United States"}, {"lat": 33.641535, "lon": -117.965895, "name": "Malibu Lane, Huntington Beach, California 92646, United States"}, {"lat": 34.09644, "lon": -118.807865, "name": "Mulholland Highway, Malibu, California 90265, United States"}, {"lat": 34.251081, "lon": -118.518444, "name": "San Fernando Valley Academy, 17601 Lassen St, Northridge, California 91325, United States"}, {"lat": 34.14791, "lon": -118.765704, "name": "Agoura Hills, California, United States"}, {"lat": 34.14782, "lon": -118.14707, "name": "Holly Street, Pasadena, California 91103, United States"}, {"lat": 34.10412, "lon": -118.7509, "name": "Lake Vista Drive, Agoura Hills, California 91301, United States"}, {"lat": 34.13852, "lon": -118.348503, "name": "Hollywood Hills West, Studio City, California, United States"}, {"lat": 34.035591, "lon": -118.689423, "name": "Malibu, California, United States"}, {"lat": 34.13852, "lon": -118.348503, "name": "Hollywood Hills West, Studio City, California, United States"}, {"lat": 34.095892, "lon": -118.37094, "name": "The Standard, 8300 W Sunset Blvd, Los Angeles, California 90069, United States"}, {"lat": 34.053691, "lon": -118.242766, "name": "Los Angeles, California, United States"}, {"lat": 34.147645, "lon": -118.144478, "name": "Pasadena, California, United States"}, {"lat": 37.0743595873, "lon": -119.699375153073, "name": "California, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                          
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
        </script>
    </body>
</html>