<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>
    <body class="film-location film-details">
        <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
<![endif]-->
        <noscript>
            <h3>Please enable JavaScript in order to view this site properly.</h3>
        </noscript>
        <%- include(`${partials}/nav`); -%>
        <main class="mb-4 mt-5">
            <div class="container px-4 px-lg-5">
                <%- include(`${partials}/autocomplete`); -%>
                <div class="row align-items-md-stretch">
                    <div class="col-md-12">
                        <div class="card mb-3" id="film-details">
                            <div class="row g-0">
                                <div class="col-md-8 px-3 py-3">
                                    <div class="card-body">
                                        <h3 class="card-title">American History X</h3>
                                        <p class="card-text mb-0">
                                            <span id="mainPlotContent"> A former neo-nazi skinhead tries to prevent his younger brother from going down the same wrong path that he did. Derek Vineyard is paroled after serving 3 years in prison for brutally killing two black men who tried to break into/steal his truck. Through his brother's, Danny Vineyard, narration, we learn that before going to prison, Derek was a skinhead and the leader of a violent white supremacist gang that committed acts of racial crime throughout L.A. and his actions greatly influenced Danny. Reformed and fresh out of prison, Derek severs contact with the gang and becomes determined to keep Danny from going down the same violent path as he did. Nitesh D.(nmxpa7@msn.com) Edward Norton plays, Derek Vineyard, an ex neo-nazi ex-con that was ... </span>
                                                
                                                    <div class="collapse" id="movieLocationCollapsible">
                                                        <span id="metaPlotContent"class="additional-information"> a real product of his subtle upbringing and environment. When he gets out of jail he tries to convince his little brother (who he actually introduced to the same hateful life) that he can make better choices. ahmetkozan Derek Vinyard is a skinhead and the leader of a white supremacist gang. After killing two black men who tried to steal his truck he is sent to prison for three years. Prison gives him a time to think about his life and when he comes out he decides to avoid the hate and prejudice of his past. He leaves the gang and attempts to live a normal life. However, his previous actions and prejudices may have influenced his younger brother. grantss Derek Vinyard returns from prison to find his younger brother, Danny, caught in the same web of racism and hatred that landed him in prison. After Derek's father is killed in the line of duty by a minority, Derek's view of mankind is altered, but while in prison, he discovers that there is good and bad in every race. The task before him now is to convince Danny of his newfound enlightenment. Robin  A brutal Neo Nazi skinhead named Derek Vinyard is tried and sent to prison for three years for the murder of two black guys who tried to steal his truck. When he returns from prison reformed, his younger brother Daniel Vinyard who idolizes him is on the brink of becoming a Neo Nazi himself. Derek must save his younger brother from a similar fate. Emphinix </span>
                                                    </div>
                                                    <p>
                                                        <a class="btn btn-link show-more-less collapsed"
                                                           id="myCollapsibleBtn"
                                                           role="button"></a>
                                                    </p>
                                                
                                            </p>
                                    </div>
                                </div>
                                <div class="col-md-4 justify-self-end">
                                        <img src="https://m.media-amazon.com/images/M/MV5BZTJhN2FkYWEtMGI0My00YWM4LWI2MjAtM2UwNjY4MTI2ZTQyXkEyXkFqcGdeQXVyNjc3MjQzNTI@.jpg"
                                             class="img-fluid rounded-start"
                                             alt="American History X"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="map-container">
                        <div id="map"></div>
                        <div id="loader">
                            <div class="spinner-border" role="status">
                                <span class="sr-only d-none">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr class="table__header">
                        <th class="table__cell">Location</th>
                        <th class="table__cell">Coordiantes</th>
                    </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Venice, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">33.995044</span>, <span class="lon">-118.466888</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Fairfax, Los Angeles, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.079156</span>, <span class="lon">-118.352284</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Los Angeles, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.053691</span>, <span class="lon">-118.242766</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">7500 Lankershim Boulevard, North Hollywood, California 91605, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.20684</span>, <span class="lon">-118.38758</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">2206 Meade Place, Venice, California 90291, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">33.99305</span>, <span class="lon">-118.45575</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Venice Beach, Venice, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">33.99111</span>, <span class="lon">-118.475402</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">North Hollywood, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.172904</span>, <span class="lon">-118.374037</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Fairfax, Los Angeles, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.079156</span>, <span class="lon">-118.352284</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">37.0743595873</span>, <span class="lon">-119.699375153073</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">1250 Gordon Street, Los Angeles, California 90038, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.09392</span>, <span class="lon">-118.31997</span></a>
                            </td>
                        </tr>
                    </table>
            </div>
        </main>
        <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>
        <script type="text/javascript">
var locations =[{"bbox": [[33.99111, -118.475402], [33.99305, -118.45575], [33.995044, -118.466888]], "data": [{"lat": 33.995044, "lon": -118.466888, "name": "Venice, California, United States"}, {"lat": 34.079156, "lon": -118.352284, "name": "Fairfax, Los Angeles, California, United States"}, {"lat": 34.053691, "lon": -118.242766, "name": "Los Angeles, California, United States"}, {"lat": 34.20684, "lon": -118.38758, "name": "7500 Lankershim Boulevard, North Hollywood, California 91605, United States"}, {"lat": 33.99305, "lon": -118.45575, "name": "2206 Meade Place, Venice, California 90291, United States"}, {"lat": 33.99111, "lon": -118.475402, "name": "Venice Beach, Venice, California, United States"}, {"lat": 34.172904, "lon": -118.374037, "name": "North Hollywood, California, United States"}, {"lat": 34.079156, "lon": -118.352284, "name": "Fairfax, Los Angeles, California, United States"}, {"lat": 37.0743595873, "lon": -119.699375153073, "name": "California, United States"}, {"lat": 34.09392, "lon": -118.31997, "name": "1250 Gordon Street, Los Angeles, California 90038, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                          
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
        </script>
    </body>
</html>