<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>
    <body class="film-location film-details">
        <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
<![endif]-->
        <noscript>
            <h3>Please enable JavaScript in order to view this site properly.</h3>
        </noscript>
        <%- include(`${partials}/nav`); -%>
        <main class="mb-4 mt-5">
            <div class="container px-4 px-lg-5">
                     <%- include(`${partials}/autocomplete`); -%>
                <div class="row align-items-md-stretch">
                    <div class="col-md-12">
                        <div class="card mb-3" id="film-details">
                            <div class="row g-0">
                                <div class="col-md-8 px-3 py-3">
                                    <div class="card-body">
                                        <h3 class="card-title">Three Billboards Outside Ebbing, Missouri</h3>
                                        <p class="card-text mb-0">
                                            <span id="mainPlotContent">A mother personally challenges the local authorities to solve her daughter's murder when they fail to catch the culprit. THREE BILLBOARDS OUTSIDE EBBING, MISSOURI is a darkly comic drama from Academy Award nominee Martin McDonagh (In Bruges). After months have passed without a culprit in her daughter's murder case, Mildred Hayes (Academy Award winner Frances McDormand) makes a bold move, painting three signs leading into her town with a controversial message directed at William Willoughby (Academy Award nominee Woody Harrelson), the town's revered chief of police. When his second-in-command Officer Dixon (Academy Award winner Sam Rockwell), an immature mother's boy with a penchant for violence, gets involved, the battle between Mildred and ...</span>
                                                
                                                    <div class="collapse" id="movieLocationCollapsible">
                                                        <div id = "module"></div>
                                                        <span id="metaPlotContent"class="additional-information">Ebbing's law enforcement is only exacerbated. Fox Searchlight Pictures In an effort to track down who raped and murdered her daughter, Mildred Hayes has three billboards erected outside her town of Ebbing, Missouri. They accuse the Sheriff of doing nothing to catch the killer. This causes a largely adverse, and diverse, reaction amongst the town's folk, not least of all the sheriff's deputy, the hot-headed, irascible Jason Dixon. grantss It's been already seven months since her daughter's hideous murder, and the divorced mother, Mildred Hayes, is still grieving, refusing to come to terms with her loss. In Mildred's case, nothing seems to be able to take away the gut-wrenching pain only a mother feels when she loses a child; however, in one of those spur-of-the-moment decisions, the plucky parent will rent three derelict billboards on the outskirts of her town, Ebbing, to declare war against the local police for failing to find the killer. No one is spared in this brave crusade, not even the ailing police chief, Willoughby, as Mildred's bold black-on-red statements demand answers and the culprit's head on a platter. Just how far is Mildred willing to go to appease her rage? Nick Riganas The story takes place entirely in the small town of Ebbing, Missouri, where a girl was raped and murdered a few months ago. The mother, Mildred Hayes, believes that the local police did nothing to find the killer, so she rents three billboards in order to challenge them to search deeper. This leads to many complex situations that involve tragedy, anger, hate, love, redemption and broken characters. Chris Makrozahopoulos <makzax@hotmail.com> Mildred Hayes, a hard-nosed mother is seeking justice for her murdered daughter. With no arrests after seven months, Mildred puts up three roadside signs to goad Ebbing police chief into action. But the law - and especially Sam Rockwell's hot-headed deputy - don't take kindly to the provocation. And the townsfolk are on their side. But Mildred doesn't care about ruffling a few feathers. In fact, she's happy to pluck the whole bird. Jwelch5742 It's been seven months since Angela Hayes was discovered raped and murdered outside her small hometown of Ebbing, Missouri. Because of what she believes is the police inaction on the case, frustrated and angry Mildred Hayes, Angela's divorced working class mother, rents the three no longer used billboards, despite the cost of the rental which she really cannot afford, on a local road just outside of town for one year, the billboards to have messages in simple, bold faced text highlighting that police inaction on the case. Mildred, via the billboards, names Chief Bill Willoughby directly as although not the lead investigator, he is the chief and the  buck stops with him . Using his name is also despite Mildred knowing what is probably the worst kept secret in town: that he is suffering from a terminal case of pancreatic cancer, his eventually passing which would leave him survived by his loving wife and two adolescent daughters. The police's lead investigator in Angela's case, Jason Dixon, is openly racist, misogynistic, homophobic and a mama's boy, who prefers to read comic books than do any meaningful work. With the billboards the highest profile action on the matter in months, the rhetoric and associated actions ratchets up on both sides with each having his or her supporters who are not afraid to show that support largely through intimidation on their own initiative. Any support Mildred gets, which does not include from her abusive ex-husband Charlie who is in a relationship with nineteen year old Penelope, is despite she not being easy to like outside of this situation, she and Angela who did not have the best of mother/daughter relationships. As both sides try to protect their position, the fact of Angela herself may get lost in the process. Huggo</span>
                                                    </div>
                                                    <p>
                                                        <a class="btn btn-link show-more-less collapsed"
                                                               id="myCollapsibleBtn"
                                                      
                                                           role="button"
                                                       >
                                                        </a>
                                                    </p>
                                                
                                            </p>
                                    </div>
                                </div>
                                <div class="col-md-4 justify-self-end">
                                        <img src="https://m.media-amazon.com/images/M/MV5BMjI0ODcxNzM1N15BMl5BanBnXkFtZTgwMzIwMTEwNDI@.jpg"
                                             class="img-fluid rounded-start"
                                             alt="Three Billboards Outside Ebbing, Missouri"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="map-container">
                        <div id="map"></div>
                        <div id="loader">
                            <div class="spinner-border" role="status">
                                <span class="sr-only d-none">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr class="table__header">
                        <th class="table__cell">Location</th>
                        <th class="table__cell">Coordiantes</th>
                    </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">North Carolina, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">35.5568849207</span>, <span class="lon">-79.3896838690365</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">39.3812661305678</span>, <span class="lon">-97.9222112121185</span></a>
                            </td>
                        </tr>
                    </tr>
            </table>
        </div>
    </div>
</main>
    <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>

<script type="text/javascript">
var locations =[{"bbox": null, "data": [{"lat": 35.5568849207, "lon": -79.3896838690365, "name": "North Carolina, United States"}, {"lat": 39.3812661305678, "lon": -97.9222112121185, "name": "United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
</body>
</html>