<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>
    <body class="film-location film-details">
        <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
<![endif]-->
        <noscript>
            <h3>Please enable JavaScript in order to view this site properly.</h3>
        </noscript>
        <%- include(`${partials}/nav`); -%>
        <main class="mb-4 mt-5">
            <div class="container px-4 px-lg-5">
                <%- include(`${partials}/autocomplete`); -%>
                <div class="row align-items-md-stretch">
                    <div class="col-md-12">
                        <div class="card mb-3" id="film-details">
                            <div class="row g-0">
                                <div class="col-md-8 px-3 py-3">
                                    <div class="card-body">
                                        <h3 class="card-title">Shutter Island</h3>
                                        <p class="card-text mb-0">
                                            <span id="mainPlotContent"> In 1954, a U.S. Marshal investigates the disappearance of a murderer who escaped from a hospital for the criminally insane. In 1954, up-and-coming U.S. marshal Teddy Daniels is assigned to investigate the disappearance of a patient from Boston's Shutter Island Ashecliffe Hospital. He's been pushing for an assignment on the island for personal reasons, but before long he thinks he's been brought there as part of a twisted plot by hospital doctors whose radical treatments range from unethical to illegal to downright sinister. Teddy's shrewd investigating skills soon provide a promising lead, but the hospital refuses him access to records he suspects would break the case wide open. As a hurricane cuts off communication with the mainland, more ... </span>
                                                
                                                    <div class="collapse" id="movieLocationCollapsible">
                                                        <span id="metaPlotContent"class="additional-information"> dangerous criminals  escape  in the confusion, and the puzzling, improbable clues multiply, Teddy begins to doubt everything - his memory, his partner, even his own sanity. alfiehitchie Federal Marshall Teddy Daniels and his new partner Chuck Aule travel to a government-run institution for the criminally insane on Shutter Island, near Boston, when there is a report that a prisoner has gone missing. Daniels, weighed down with his own baggage, has his own reasons for wanting to get to the island. He is still traumatized from what he saw when his army unit liberated one of the Nazi concentration camps at the end of World War II, and still haunted by his wife's more-recent death in a fire. The head of the hospital, Dr. John Cawley, treats him decently, but others give the agents a cooler reception. Daniels particularly wants to find out what goes on in the ward that's reserved for the most serious offenders. As he begins to peel away the layers of deceit, it becomes obvious that not all is as it seems. garykmcd Assigned the thorny task of investigating the incomprehensible disappearance of a deranged child-murderess, troubled U.S. Marshal Teddy Daniels and his new partner, Chuck Aule, travel to Ashecliffe Hospital: Shutter Island's impregnable asylum for the criminally insane. Soon, within the dark purgatory's thick stone walls, indescribable nuances of medical malpractice suggest that the institution's cryptic senior psychiatrists must be hiding something. Then, a raging tempest traps patients and investigators alike in the dark off-shore prison, triggering Teddy's crippling migraines and gruesome flashbacks of a haunting past. Is the already perplexed detective losing his grip on reality? Nick Riganas In 1954, Federal Marshal Teddy Daniels and his new partner Chuck Aule travel from Seattle to Shutter Island to investigate the disappearance of a patient there, Rachel Solando. She had been sectioned at the institution for dangerous criminals at Ashcliffe Hospital because she drowned her three kids. Teddy is a veteran WWII soldier, traumatized by the war experience in the liberation of the Dachau concentration camp and the loss of his beloved wife in a criminal fire. Teddy is unable to access the records of employees and patients and feels that the management by the Federal facility are obstructing his investigations. Severe migraines hit Teddy as a storm hits the island, and he and Chuck discover that they're stranded. Teddy interviews the internees and follows a lead to the lighthouse, where he discloses the mystery of Shutter Island. Claudio Carvalho, Rio de Janeiro, Brazil </span>
                                                    </div>
                                                    <p>
                                                        <a class="btn btn-link show-more-less collapsed"
                                                           id="myCollapsibleBtn"
                                                           role="button"></a>
                                                    </p>
                                                
                                            </p>
                                    </div>
                                </div>
                                <div class="col-md-4 justify-self-end">
                                        <img src="https://m.media-amazon.com/images/M/MV5BYzhiNDkyNzktNTZmYS00ZTBkLTk2MDAtM2U0YjU1MzgxZjgzXkEyXkFqcGdeQXVyMTMxODk2OTU@.jpg"
                                             class="img-fluid rounded-start"
                                             alt="Shutter Island"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="map-container">
                        <div id="map"></div>
                        <div id="loader">
                            <div class="spinner-border" role="status">
                                <span class="sr-only d-none">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr class="table__header">
                        <th class="table__cell">Location</th>
                        <th class="table__cell">Coordiantes</th>
                    </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Boston, Massachusetts, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">42.360253</span>, <span class="lon">-71.058291</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Acadia National Park, Mount Desert Island, Bar Harbor, Maine 04609, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">44.352142</span>, <span class="lon">-68.2296585</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Medfield State Hospital, 45 Hospital Rd, Medfield, Massachusetts 02052, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">42.2125115</span>, <span class="lon">-71.3354305</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Borderland State Park, 259 Massapoag Ave., North Easton, Massachusetts 02356, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">42.062417</span>, <span class="lon">-71.164669</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">437 Whittenton Street, Taunton, Massachusetts 02780, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">41.92357</span>, <span class="lon">-71.10641</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Medfield, Massachusetts, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">42.186561</span>, <span class="lon">-71.30546</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Taunton, Massachusetts, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">41.894611</span>, <span class="lon">-71.11113</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Boston, Massachusetts, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">42.360253</span>, <span class="lon">-71.058291</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Wilson Mountain Reservation, Dedham, Massachusetts 02026, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">42.259005</span>, <span class="lon">-71.197654</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Hull, Massachusetts, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">42.289074</span>, <span class="lon">-70.878923</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Hyde Park Avenue, Hyde Park, Massachusetts 02136, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">42.26614</span>, <span class="lon">-71.12149</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Nahant, Massachusetts, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">42.426486</span>, <span class="lon">-70.918937</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">San Simeon, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">35.613316</span>, <span class="lon">-121.144235</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Boston Harbor, 34 Drydock Ave, Boston, Massachusetts 02210, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">42.34359</span>, <span class="lon">-71.03137</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Ipswich, Massachusetts, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">42.679273</span>, <span class="lon">-70.841158</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">433 S Spring St, Los Angeles, California 90013, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.04841</span>, <span class="lon">-118.24881</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Massachusetts, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">42.3204700602</span>, <span class="lon">-71.9603257607071</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">39.3812661305678</span>, <span class="lon">-97.9222112121185</span></a>
                            </td>
                        </tr>
                    </table>
            </div>
        </main>
        <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>
        <script type="text/javascript">
var locations =[{"bbox": [[41.894611, -71.11113], [41.92357, -71.10641], [42.062417, -71.164669]], "data": [{"lat": 42.360253, "lon": -71.058291, "name": "Boston, Massachusetts, United States"}, {"lat": 44.352142, "lon": -68.2296585, "name": "Acadia National Park, Mount Desert Island, Bar Harbor, Maine 04609, United States"}, {"lat": 42.2125115, "lon": -71.3354305, "name": "Medfield State Hospital, 45 Hospital Rd, Medfield, Massachusetts 02052, United States"}, {"lat": 42.062417, "lon": -71.164669, "name": "Borderland State Park, 259 Massapoag Ave., North Easton, Massachusetts 02356, United States"}, {"lat": 41.92357, "lon": -71.10641, "name": "437 Whittenton Street, Taunton, Massachusetts 02780, United States"}, {"lat": 42.186561, "lon": -71.30546, "name": "Medfield, Massachusetts, United States"}, {"lat": 41.894611, "lon": -71.11113, "name": "Taunton, Massachusetts, United States"}, {"lat": 42.360253, "lon": -71.058291, "name": "Boston, Massachusetts, United States"}, {"lat": 42.259005, "lon": -71.197654, "name": "Wilson Mountain Reservation, Dedham, Massachusetts 02026, United States"}, {"lat": 42.289074, "lon": -70.878923, "name": "Hull, Massachusetts, United States"}, {"lat": 42.26614, "lon": -71.12149, "name": "Hyde Park Avenue, Hyde Park, Massachusetts 02136, United States"}, {"lat": 42.426486, "lon": -70.918937, "name": "Nahant, Massachusetts, United States"}, {"lat": 35.613316, "lon": -121.144235, "name": "San Simeon, California, United States"}, {"lat": 42.34359, "lon": -71.03137, "name": "Boston Harbor, 34 Drydock Ave, Boston, Massachusetts 02210, United States"}, {"lat": 42.679273, "lon": -70.841158, "name": "Ipswich, Massachusetts, United States"}, {"lat": 34.04841, "lon": -118.24881, "name": "433 S Spring St, Los Angeles, California 90013, United States"}, {"lat": 42.3204700602, "lon": -71.9603257607071, "name": "Massachusetts, United States"}, {"lat": 39.3812661305678, "lon": -97.9222112121185, "name": "United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                          
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
        </script>
    </body>
</html>