<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>
    <body class="film-location film-details">
        <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
<![endif]-->
        <noscript>
            <h3>Please enable JavaScript in order to view this site properly.</h3>
        </noscript>
        <%- include(`${partials}/nav`); -%>
        <main class="mb-4 mt-5">
            <div class="container px-4 px-lg-5">
                     <%- include(`${partials}/autocomplete`); -%>
                <div class="row align-items-md-stretch">
                    <div class="col-md-12">
                        <div class="card mb-3" id="film-details">
                            <div class="row g-0">
                                <div class="col-md-8 px-3 py-3">
                                    <div class="card-body">
                                        <h3 class="card-title">Double Indemnity</h3>
                                        <p class="card-text mb-0">
                                            <span id="mainPlotContent">A Los Angeles insurance representative lets an alluring housewife seduce him into a scheme of insurance fraud and murder that arouses the suspicion of his colleague, an insurance investigator. In 1938, Walter Neff, an experienced salesman of the Pacific All Risk Insurance Co., meets the seductive wife of one of his clients, Phyllis Dietrichson, and they have an affair. Phyllis proposes to kill her husband to receive the proceeds of an accident insurance policy and Walter devises a scheme to receive twice the amount based on a double indemnity clause. When Mr. Dietrichson is found dead on a train track, the police accept the determination of accidental death. However, the insurance analyst and Walter's best friend Barton Keyes does not buy t...</span>
                                                
                                                    <div class="collapse" id="movieLocationCollapsible">
                                                        <div id = "module"></div>
                                                        <span id="metaPlotContent"class="additional-information">he story and suspects that Phyllis has murdered her husband with the help of another man. Claudio Carvalho, Rio de Janeiro, Brazil Walter Neff, the Pacific All Risk Insurance Company's top salesman, returns to his office late one evening, bleeding from a gunshot wound, and dictates a memo to colleague Barton Keyes. It all started the previous May, when he stopped at a client's home for a routine renewal inquiry and instead met the client's wife, Phyllis Dietrichson. She asked about buying accident insurance for her husband without his knowledge, and Neff understood that she intended to kill him. Neff and Phyllis were soon lovers, with Neff taking charge of the killing. Initially their plan went off without a hitch, but then Neff realized that he had been played and decided to do something about it. garykmcd and Copy Editor Alone in his company's Los Angeles offices late one evening and under some distress, insurance salesman Walter Neff dictates an inter-office memo to his colleague, claims manager Barton Keyes, about killing one of his clients, a Mr. Dietrichson. Barton suspected that Dietrichson was murdered by his wife, Phyllis Dietrichson, who was claiming the double indemnity on her husband's accident insurance policy. Walter met Phyllis innocently enough - he was dropping off auto insurance renewal papers for her husband - but quickly fell under her seductive charms. They were obvious to each other in their mutual attraction. After deducing that she was planning on killing her husband since she stated he was abusive and claiming the insurance moneys on a policy her husband would have no idea existed, Walter decided to go into cahoots with her so that he could help her craft and execute the  perfect  insurance policy, and plan and execute the  perfect  murder beyond Keyes' scrutiny, leading to them living in bliss together and with money. Beyond any slip-up in the plan, Keyes and Dietrichson's disgruntled daughter, Phyllis' step-daughter Lola Dietrichson, factored into their ability to pull off the plan successfully. Walter concludes his memo for its reason, which he considers more a confession. Huggo Walter Neff is an insurance salesman whose life is largely devoid of any excitement and thrill. All of that changes when he meets Phyllis Dietrichson, the callous wife of a man whom she plans to murder and cash out on his accidental death claim ( double indemnity ). When he is seduced by Dietrichson into murdering her husband, the two plot a murder scheme that will not go as planned. Suddenly, the motives of each become unclear and the plan becomes further complicated when Neff's boss begins to investigate the murder. Kyle Perez Smooth-talking insurance salesman Walter Neff meets attractive Phyllis Dietrichson when he calls to renew her husband's automobile policy. The couple are immediately drawn to each other and an affair begins. They cook up a scheme to murder Mr. Dietrichson for life insurance money with a double indemnity clause. Unfortunately, all does not go to plan... Col Needham <col@imdb.com></span>
                                                    </div>
                                                    <p>
                                                        <a class="btn btn-link show-more-less collapsed"
                                                               id="myCollapsibleBtn"
                                                      
                                                           role="button"
                                                       >
                                                        </a>
                                                    </p>
                                                
                                            </p>
                                    </div>
                                </div>
                                <div class="col-md-4 justify-self-end">
                                        <img src="https://m.media-amazon.com/images/M/MV5BOTdlNjgyZGUtOTczYi00MDdhLTljZmMtYTEwZmRiOWFkYjRhXkEyXkFqcGdeQXVyNDY2MTk1ODk@.jpg"
                                             class="img-fluid rounded-start"
                                             alt="Double Indemnity"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="map-container">
                        <div id="map"></div>
                        <div id="loader">
                            <div class="spinner-border" role="status">
                                <span class="sr-only d-none">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr class="table__header">
                        <th class="table__cell">Location</th>
                        <th class="table__cell">Coordiantes</th>
                    </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">6301 Quebec Drive, Los Angeles, California 90068, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.11337</span>, <span class="lon">-118.32599</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">1825 North Kingsley Drive, Los Angeles, California 90027, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.1043</span>, <span class="lon">-118.30395</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Olvera Street, Los Angeles, California 90012, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.05756</span>, <span class="lon">-118.23812</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">5330 Melrose Avenue, Los Angeles, California 90046, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.083503</span>, <span class="lon">-118.316861</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Burbank, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.181648</span>, <span class="lon">-118.325855</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Glendale, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.146942</span>, <span class="lon">-118.247847</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">5555 Melrose Avenue, Los Angeles, California 90038, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.08363</span>, <span class="lon">-118.32191</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Venice Canals, Venice, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">33.984733</span>, <span class="lon">-118.468349</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Los Angeles, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.053691</span>, <span class="lon">-118.242766</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Palos Verdes Peninsula, Palos Verdes Peninsula, California 90275, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">33.748874</span>, <span class="lon">-118.407091</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Glendale, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.146942</span>, <span class="lon">-118.247847</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Hollywood Hills West, Studio City, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.13852</span>, <span class="lon">-118.348503</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Los Angeles, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.053691</span>, <span class="lon">-118.242766</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">The Standard, 8300 W Sunset Blvd, Los Angeles, California 90069, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.095892</span>, <span class="lon">-118.37094</span></a>
                            </td>
                        </tr>
                    </tr>
            </table>
        </div>
    </div>
</main>
    <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>

<script type="text/javascript">
var locations =[{"bbox": [[33.748874, -118.407091], [33.984733, -118.468349], [34.053691, -118.242766]], "data": [{"lat": 34.11337, "lon": -118.32599, "name": "6301 Quebec Drive, Los Angeles, California 90068, United States"}, {"lat": 34.1043, "lon": -118.30395, "name": "1825 North Kingsley Drive, Los Angeles, California 90027, United States"}, {"lat": 34.05756, "lon": -118.23812, "name": "Olvera Street, Los Angeles, California 90012, United States"}, {"lat": 34.083503, "lon": -118.316861, "name": "5330 Melrose Avenue, Los Angeles, California 90046, United States"}, {"lat": 34.181648, "lon": -118.325855, "name": "Burbank, California, United States"}, {"lat": 34.146942, "lon": -118.247847, "name": "Glendale, California, United States"}, {"lat": 34.08363, "lon": -118.32191, "name": "5555 Melrose Avenue, Los Angeles, California 90038, United States"}, {"lat": 33.984733, "lon": -118.468349, "name": "Venice Canals, Venice, California, United States"}, {"lat": 34.053691, "lon": -118.242766, "name": "Los Angeles, California, United States"}, {"lat": 33.748874, "lon": -118.407091, "name": "Palos Verdes Peninsula, Palos Verdes Peninsula, California 90275, United States"}, {"lat": 34.146942, "lon": -118.247847, "name": "Glendale, California, United States"}, {"lat": 34.13852, "lon": -118.348503, "name": "Hollywood Hills West, Studio City, California, United States"}, {"lat": 34.053691, "lon": -118.242766, "name": "Los Angeles, California, United States"}, {"lat": 34.095892, "lon": -118.37094, "name": "The Standard, 8300 W Sunset Blvd, Los Angeles, California 90069, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
</body>
</html>