<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>
    <body class="film-location film-details">
        <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
<![endif]-->
        <noscript>
            <h3>Please enable JavaScript in order to view this site properly.</h3>
        </noscript>
        <%- include(`${partials}/nav`); -%>
        <main class="mb-4 mt-5">
            <div class="container px-4 px-lg-5">
                     <%- include(`${partials}/autocomplete`); -%>
                <div class="row align-items-md-stretch">
                    <div class="col-md-12">
                        <div class="card mb-3" id="film-details">
                            <div class="row g-0">
                                <div class="col-md-8 px-3 py-3">
                                    <div class="card-body">
                                        <h3 class="card-title">Rocky</h3>
                                        <p class="card-text mb-0">
                                            <span id="mainPlotContent">A small-time Philadelphia boxer gets a supremely rare chance to fight the world heavyweight champion in a bout in which he strives to go the distance for his self-respect. Rocky Balboa is a struggling boxer trying to make the big time, working as a debt collector for a pittance. When heavyweight champion Apollo Creed visits Philadelphia, his managers want to set up an exhibition match between Creed and a struggling boxer, touting the fight as a chance for a  nobody  to become a  somebody . The match is supposed to be easily won by Creed, but someone forgot to tell Rocky, who sees this as his only shot at the big time. Murray Chapman <muzzle@cs.uq.oz.au> Rocky Balboa is a struggling boxer failing to make it big time. Despite his true talent ...</span>
                                                
                                                    <div class="collapse" id="movieLocationCollapsible">
                                                        <div id = "module"></div>
                                                        <span id="metaPlotContent"class="additional-information">and his inability to admit defeat, his friends and his coach, Micky, never give him the time of day. When Apollo Creed, the Heavyweight Champion of the World visits Rocky's home town asking for a lesser man to fight, Apollo chooses him based on his nickname, 'The Italian Stallion'. With his shot at glory in front of him, Rocky trains harder than he thought was possible in order to earn his own self-respect and go the distance. nalimradek Rocky Balboa, a small-time boxer from working-class Philadelphia, is arbitrarily chosen to take on the reigning world heavyweight champion, Apollo Creed, when the undefeated fighter's scheduled opponent is injured. While training with feisty former bantamweight contender Mickey Goldmill, Rocky tentatively begins a relationship with Adrian, the wallflower sister of his meat-packer pal Paulie. Jwelch5742</span>
                                                    </div>
                                                    <p>
                                                        <a class="btn btn-link show-more-less collapsed"
                                                               id="myCollapsibleBtn"
                                                      
                                                           role="button"
                                                       >
                                                        </a>
                                                    </p>
                                                
                                            </p>
                                    </div>
                                </div>
                                <div class="col-md-4 justify-self-end">
                                        <img src="https://m.media-amazon.com/images/M/MV5BNTBkMjg2MjYtYTZjOS00ODQ0LTg0MDEtM2FiNmJmOGU1NGEwXkEyXkFqcGdeQXVyMjUzOTY1NTc@.jpg"
                                             class="img-fluid rounded-start"
                                             alt="Rocky"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="map-container">
                        <div id="map"></div>
                        <div id="loader">
                            <div class="spinner-border" role="status">
                                <span class="sr-only d-none">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr class="table__header">
                        <th class="table__cell">Location</th>
                        <th class="table__cell">Coordiantes</th>
                    </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">1818 East Tusculum Street, Philadelphia, Pennsylvania 19134, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">39.989915</span>, <span class="lon">-75.12405</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Pat's King of Steaks, 1301 E Passyunk Ave, Philadelphia, Pennsylvania 19147, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">39.933260000000004</span>, <span class="lon">-75.15919199999999</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">2822-2824 Rosehill Street, Philadelphia, Pennsylvania 19134, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">39.992385</span>, <span class="lon">-75.12534</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Fairmount Park, Philadelphia, Pennsylvania, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">39.971604</span>, <span class="lon">-75.188013</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Philadelphia, Pennsylvania, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">39.952724</span>, <span class="lon">-75.163526</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">1114 South Lorena Street, Los Angeles, California 90023, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.023285</span>, <span class="lon">-118.203436</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">1124 Jackson Street, Philadelphia, Pennsylvania 19148, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">39.922405</span>, <span class="lon">-75.16553</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">South 12th Street and Cantrell Street, Philadelphia, Pennsylvania 19148, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">39.9234651</span>, <span class="lon">-75.1661144</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">South Main, Santa Ana, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">33.734125</span>, <span class="lon">-117.855247</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">3461 East Vernon Avenue, Vernon, California 90058, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.00678</span>, <span class="lon">-118.20895</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">3939 North Figueroa Street, Los Angeles, California 90065, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.0921</span>, <span class="lon">-118.21073</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">North Christopher Columbus Boulevard, Pennsylvania, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">39.9545</span>, <span class="lon">-75.13822</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">South 9th Street and Washington Avenue, Philadelphia, Pennsylvania 19147, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">39.9363562</span>, <span class="lon">-75.1584044</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Santa Monica, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.01947</span>, <span class="lon">-118.491227</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Philadelphia, Pennsylvania, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">39.952724</span>, <span class="lon">-75.163526</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">2146 North Front Street, Philadelphia, Pennsylvania 19122, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">39.982865</span>, <span class="lon">-75.132845</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">1801 Grand Avenue, Pasadena, California 91030, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.124076</span>, <span class="lon">-118.163214</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">2147 N Front St, Philadelphia, Pennsylvania 19122, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">39.9824</span>, <span class="lon">-75.13259</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Kensington, Philadelphia, Pennsylvania, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">39.985946</span>, <span class="lon">-75.131843</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Philadelphia, Pennsylvania, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">39.952724</span>, <span class="lon">-75.163526</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">320 East Gurney Street, Philadelphia, Pennsylvania 19134, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">39.990806</span>, <span class="lon">-75.126172</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Vernon, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.007135</span>, <span class="lon">-118.22525</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Santa Monica, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.01947</span>, <span class="lon">-118.491227</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Downtown, El Monte, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.06784</span>, <span class="lon">-118.034497</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Los Angeles, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.053691</span>, <span class="lon">-118.242766</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">37.0743595873</span>, <span class="lon">-119.699375153073</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Pennsylvania, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">41.0911397651</span>, <span class="lon">-78.2907462468837</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">39.3812661305678</span>, <span class="lon">-97.9222112121185</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">3390 South Robertson Boulevard, Culver City, California 90034, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.0283</span>, <span class="lon">-118.390355</span></a>
                            </td>
                        </tr>
                    <tr class="table__row">
                            <td class="table__cell">
                                <a href="#">Culver City, California, United States</a>
                            </td>
                            <td class="table__cell">
                                <a href="#"><span class="lat">34.021122</span>, <span class="lon">-118.396466</span></a>
                            </td>
                        </tr>
                    </tr>
            </table>
        </div>
    </div>
</main>
    <%- include(`${partials}/footer`); -%> <%- include(`${partials}/page-scripts/movie-location-scripts`); -%>

<script type="text/javascript">
var locations =[{"bbox": [[33.734125, -117.855247], [34.00678, -118.20895], [34.007135, -118.22525]], "data": [{"lat": 39.989915, "lon": -75.12405, "name": "1818 East Tusculum Street, Philadelphia, Pennsylvania 19134, United States"}, {"lat": 39.933260000000004, "lon": -75.15919199999999, "name": "Pat\u0027s King of Steaks, 1301 E Passyunk Ave, Philadelphia, Pennsylvania 19147, United States"}, {"lat": 39.992385, "lon": -75.12534, "name": "2822-2824 Rosehill Street, Philadelphia, Pennsylvania 19134, United States"}, {"lat": 39.971604, "lon": -75.188013, "name": "Fairmount Park, Philadelphia, Pennsylvania, United States"}, {"lat": 39.952724, "lon": -75.163526, "name": "Philadelphia, Pennsylvania, United States"}, {"lat": 34.023285, "lon": -118.203436, "name": "1114 South Lorena Street, Los Angeles, California 90023, United States"}, {"lat": 39.922405, "lon": -75.16553, "name": "1124 Jackson Street, Philadelphia, Pennsylvania 19148, United States"}, {"lat": 39.9234651, "lon": -75.1661144, "name": "South 12th Street and Cantrell Street, Philadelphia, Pennsylvania 19148, United States"}, {"lat": 33.734125, "lon": -117.855247, "name": "South Main, Santa Ana, California, United States"}, {"lat": 34.00678, "lon": -118.20895, "name": "3461 East Vernon Avenue, Vernon, California 90058, United States"}, {"lat": 34.0921, "lon": -118.21073, "name": "3939 North Figueroa Street, Los Angeles, California 90065, United States"}, {"lat": 39.9545, "lon": -75.13822, "name": "North Christopher Columbus Boulevard, Pennsylvania, United States"}, {"lat": 39.9363562, "lon": -75.1584044, "name": "South 9th Street and Washington Avenue, Philadelphia, Pennsylvania 19147, United States"}, {"lat": 34.01947, "lon": -118.491227, "name": "Santa Monica, California, United States"}, {"lat": 39.952724, "lon": -75.163526, "name": "Philadelphia, Pennsylvania, United States"}, {"lat": 39.982865, "lon": -75.132845, "name": "2146 North Front Street, Philadelphia, Pennsylvania 19122, United States"}, {"lat": 34.124076, "lon": -118.163214, "name": "1801 Grand Avenue, Pasadena, California 91030, United States"}, {"lat": 39.9824, "lon": -75.13259, "name": "2147 N Front St, Philadelphia, Pennsylvania 19122, United States"}, {"lat": 39.985946, "lon": -75.131843, "name": "Kensington, Philadelphia, Pennsylvania, United States"}, {"lat": 39.952724, "lon": -75.163526, "name": "Philadelphia, Pennsylvania, United States"}, {"lat": 39.990806, "lon": -75.126172, "name": "320 East Gurney Street, Philadelphia, Pennsylvania 19134, United States"}, {"lat": 34.007135, "lon": -118.22525, "name": "Vernon, California, United States"}, {"lat": 34.01947, "lon": -118.491227, "name": "Santa Monica, California, United States"}, {"lat": 34.06784, "lon": -118.034497, "name": "Downtown, El Monte, California, United States"}, {"lat": 34.053691, "lon": -118.242766, "name": "Los Angeles, California, United States"}, {"lat": 37.0743595873, "lon": -119.699375153073, "name": "California, United States"}, {"lat": 41.0911397651, "lon": -78.2907462468837, "name": "Pennsylvania, United States"}, {"lat": 39.3812661305678, "lon": -97.9222112121185, "name": "United States"}, {"lat": 34.0283, "lon": -118.390355, "name": "3390 South Robertson Boulevard, Culver City, California 90034, United States"}, {"lat": 34.021122, "lon": -118.396466, "name": "Culver City, California, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
</body>
</html>