<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/head`, {pageTitle: 'page'}); -%>

  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->
    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>
    <%- include(`${partials}/nav`); -%>
    <!--   !! MAIN -------------------------->
        <main class="flex-shrink-0 mt-5" >
    <div class="container px-3">
      <div class="row g-3 ">
        <div class="col-md-4">

        <%- include(`${partials}/general/header`, {title: 'Latitude Longitude to DMS ', subtitle: 'Quickly convert a set of coordinates to DMS.'}); -%>

        <%- include(`${partials}/form/inputs`,{
                  inputName: [
                    { name: 'Latitude',type: 'number' },
                    { name: 'Longitude',type: 'number' },
                  ], 
                formid: "latlonForm",
                button: {name: 'Get DMS', type: 'submit' },
          output: null
                }); -%>
<hr class="mb-3">
    <%- include(`${partials}/form/dmsInput`); -%>
             </div>
             <%- include(`${partials}/map/map-Container.ejs`); -%>
      </div>
      <%- include(`${partials}/comment-section.ejs`); -%>

    </div>
  </main>
   
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/page-scripts/latlon-to-dms-scripts.ejs`); -%>
  </body>
</html>
<!-- IE needs 512+ bytes: http://blogs.msdn.com/b/ieinternals/archive/2010/08/19/http-error-pages-in-internet-explorer.aspx -->
